[2021-06-21 13:32] ayush2011 commented on #1322
I want to solve this issue using C++.
Please assign this issue to me under LGM-SOC'21
Want to contribute @Ayush7614

[2021-06-21 13:54] ghost opened #1332 "Code Chef's Too Much XOR (Hard)"
Code chef's Too Much XOR question with the difficulty of Hard and the contest is over today 12:00 am.

[2021-06-21 13:56] rakesh419s commented on #1332
please assign me the above problem statement under LGM-SOC'21
I can solve in Python Language.

[2021-06-21 13:57] Palak2801 opened #1333 "Merge two sorted linked lists"
**Is your feature request related to a problem? Please describe.**
Merge two sorted linked lists

**Describe the solution you'd like**
Implementation of merge two sorted linked list using C++

For example,
Linked list a : 5->10->15-> NULL
Linked list b : 2->3->20->NULL
Merge list will be: 2->3->5->10->15->20->NULL

**Describe alternatives you've considered**
A clear and concise description of any

[2021-06-21 13:57] Palak2801 commented on #1333
@Amit366 @Ayush7614 @ravikr126 @Saurabh4626 , Kindly assign me this issue using C++ under LGMSOC

[2021-06-21 14:00] rakesh419s opened #1334 "[Code Chef] ICPC BALLONS Problem"
# Aim

- Code chef's ICPC BALLONS Problem
- [https://www.codechef.com/problems/BALLOON](url)

# Details

- What features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- .Python

[2021-06-21 14:00] rakesh419s commented on #1334
I want to solve the above Problem in Python, please assign me.

[2021-06-21 14:04] TasnimAnas commented on #1331
I want to solve this in C++

[2021-06-21 14:16] kamleshjoshi8102 commented on #1249
@Ayush7614 sir what about C ? 😅

[2021-06-21 14:25] kamleshjoshi8102 commented on #1333
@Amit366 @Ayush7614 @ravikr126 @Saurabh4626  , Kindly assign me this issue using java under LGMSOC

[2021-06-21 14:25] kamleshjoshi8102 commented on #1332
please assign me the above problem statement under LGM-SOC'21 in C++

[2021-06-21 14:26] kamleshjoshi8102 commented on #1331
please assign me the above problem statement under LGM-SOC'21 in C++ or java

[2021-06-21 14:26] kamleshjoshi8102 commented on #1322
I want to solve this issue using java
Please assign this issue to me under HCSSoC (Hack Club SRM Summer of Code) .

[2021-06-21 14:27] kamleshjoshi8102 commented on #1295
hi, I want to solve this issue using C or python
Please assign this issue to me under HCSSoC (Hack Club SRM Summer of Code) .

@Ayush7614

[2021-06-21 14:28] Deep06-11 commented on #1287
@Ayush7614 @Amit366 @Saurabh4626 @ravikr126 I would like to solve this issue under LGM-SOC'21. Please assign it to me.

[2021-06-21 14:29] kamleshjoshi8102 commented on #1210
hi, I want to solve this issue using java
Please assign this issue to me under LGMSOC'21
@Saurabh4626 @Amit366

[2021-06-21 14:29] Deep06-11 commented on #1247
I would like to solve this issue in c++ under LGM-SOC'21. Please assign it to me.

[2021-06-21 14:31] kamleshjoshi8102 commented on #1208
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will solve it in C.
LGM-SOC'21

[2021-06-21 14:32] kamleshjoshi8102 commented on #1166
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will solve it in java.
LGM-SOC'21

[2021-06-21 14:33] kamleshjoshi8102 commented on #918
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will solve it in java Or C++ or C
LGM-SOC'21

[2021-06-21 14:35] kamleshjoshi8102 commented on #1334
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will solve it in C++.
LGM-SOC'21

[2021-06-21 14:35] kamleshjoshi8102 commented on #1329
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will solve it in C++.
LGM-SOC'21

[2021-06-21 14:36] kamleshjoshi8102 commented on #1321
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will solve it in java.
LGM-SOC'21

[2021-06-21 14:37] kamleshjoshi8102 commented on #1318
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will solve it in java.
LGM-SOC'21

[2021-06-21 14:37] kamleshjoshi8102 commented on #1312
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will solve it in java.
LGM-SOC'21

[2021-06-21 14:37] kamleshjoshi8102 commented on #1306
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will solve it in java.
LGM-SOC'21

[2021-06-21 14:37] kamleshjoshi8102 commented on #1308
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will solve it in java.
LGM-SOC'21

[2021-06-21 14:38] kamleshjoshi8102 commented on #1292
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will solve it in java.or c
LGM-SOC'21

[2021-06-21 14:38] kamleshjoshi8102 commented on #1289
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will solve it in java.
LGM-SOC'21

[2021-06-21 15:18] Rajspeaks commented on #1321
This is already solved with corresponding output in c++.

[2021-06-21 15:28] siddhi-244 commented on #1331
Can I try in python

[2021-06-21 16:04] #625 closed

[2021-06-21 16:09] Aastha863 commented on #1167
Sir can I try this issue in C++, sir please assign me this.

[2021-06-21 18:17] AvneetSingh2001 opened #1342 "Print All Nodes At distance - K In Binary Tree [Leetcode (Medium)]"
## Aim
#### Want to add solution of "All Nodes Distance K in Binary Tree" from Leetcode.
Kindly assign me this problem. I would like to add my solution to this problem in C++ in an efficient approach.
## Details
Leetcode Problem Link :  [https://leetcode.com/problems/all-nodes-distance-k-in-binary-tree/](https://leetcode.com/problems/all-nodes-distance-k-in-binary-tree/)
#### Difficulty : Medium

[2021-06-21 18:47] geetika1723 opened #1344 "[Leetcode] TREE : Construct Binary Tree from Preorder and Inorder Traversal in JAVA"
**Explanation**
Given two integer arrays preorder and inorder where preorder is the preorder traversal of a binary tree and inorder is the inorder traversal of the same tree, construct and return the binary tree.

**Example 1**
Input: preorder = [3,9,20,15,7], inorder = [9,3,15,20,7]
Output: [3,9,20, null, null, 15,7]

**Example 2:**
Input: preorder = [-1], inorder = [-1]
Output: [-1]

**Additiona

[2021-06-21 19:08] kamleshjoshi8102 commented on #1342
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will solve it in java or C under LGM-SOC'21

[2021-06-21 19:13] ravikr126 commented on #1329
Start work on it @PalakDua-work

[2021-06-21 20:02] mitali-1703 commented on #758
@ravikr126 sorry to say but i was assigned this issue in C then why did you close this PR??

[2021-06-21 21:00] PawandeepKaur2405 opened #1348 "Median of running stream data [Leetcode HARD]"
# Aim
Want to add solution of **"Find Median from Data Stream"** from Leetcode.
Kindly assign me this problem. I would like to add my solution to this problem in **C++**.

# Details
Leetcode Problem Link : https://leetcode.com/problems/find-median-from-data-stream/

Difficulty : **Hard**

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-22 01:33] light1515 commented on #1312
@Saurabh4626 @ravikr126 @Ayush7614 I can solve this problem in Python. Please assign me this issue. Thank you very much!

[2021-06-22 03:21] anusham14 opened #1352 "Intersection of two sorted Linked lists"
**Is your feature request related to a problem? Please describe.**
Intersection of two sorted Linked lists

**Describe the solution you'd like**
I want to work on this issue in C++.

Input:
L1 = 1->2->3->4->5
L2 = 1->3->5
Output: 1 3 5
Explanation: For the given first two linked list, 1, 3 and 5 are the elements in the intersection.

**Describe alternatives you've considered**
A clear and concise

[2021-06-22 03:24] anusham14 commented on #1352
@Amit366 @Ayush7614 @ravikr126 @Saurabh4626 Kindly assign me this issue for C++ ,under LGM'SOC

[2021-06-22 05:12] Arushi247 commented on #1099
@Ayush7614 @ravikr126 @Saurabh4626 I'd like to work on this issue in C language under HCSSoC. Please assign me this issue.

[2021-06-22 05:17] #1231 closed

[2021-06-22 05:17] Arushi247 commented on #990
@Ayush7614 @ravikr126 @Saurabh4626 I'd like to work on this issue in C language under HCSSoC. Please assign me this issue.

[2021-06-22 05:17] #1312 closed

[2021-06-22 05:19] #682 closed

[2021-06-22 05:19] #923 closed

[2021-06-22 05:21] Arushi247 commented on #963
@Ayush7614 @ravikr126 @Saurabh4626 I'd like to work on this issue in C language under HCSSoC. Please assign me this issue.

[2021-06-22 05:21] #1225 closed

[2021-06-22 05:25] #1000 closed

[2021-06-22 05:27] priyaastha commented on #1292
@Saurabh4626 @ravikr126 @Ayush7614 Please assign me this issue under LGMSOC21.

[2021-06-22 07:06] siddhi-244 commented on #1329
Can I work in python ?

[2021-06-22 07:10] Wittty-Panda commented on #458
@Amit366 Please take a look at pr and accept or give me feedback for LMGSOC with appropriate lable

[2021-06-22 07:11] #1247 closed

[2021-06-22 07:26] priyaastha commented on #1292
Please assign this issue to me @ravikr126

[2021-06-22 07:35] ravikr126 commented on #1292
You can work now @priyaastha

[2021-06-22 08:14] #757 closed

[2021-06-22 08:17] #1119 closed

[2021-06-22 08:17] #872 closed

[2021-06-22 08:18] #1237 closed

[2021-06-22 08:22] siddhi-244 commented on #1237
Plzz assign me this in python

[2021-06-22 08:22] #551 closed

[2021-06-22 08:28] kumarshobhit commented on #1025
Would like to contribute in java language

[2021-06-22 08:34] #1226 closed

[2021-06-22 08:59] sejal1430 commented on #1292
@Amit366 , @Ayush7614 Can you assign this issue to me under LGMSOC'21, I'll code this in Java.

[2021-06-22 09:08] sejal1430 commented on #1213
@Ayush7614 , @Amit366 Can I work on this issue in Java?

[2021-06-22 09:12] agamgupta2015 commented on #1292
@Amit366 @Ayush7614 @ravikr126 may I work on this issue in python

[2021-06-22 09:33] agamgupta2015 opened #1358 "Krishnamurthy_Number"
@Ayush7614 @Amit366 Please assign this issue to me I want to work on it

### Programming language

- [x] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-22 09:36] agamgupta2015 opened #1359 "[Cryptography]Hill Cipher"
### It is a polygraphic substitution cipher.
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python
@Amit366 Please assign this issue to me I want to work on it

[2021-06-22 09:40] agamgupta2015 commented on #1267
@Amit366 @ravikr126 Please assign this issue

[2021-06-22 09:41] agamgupta2015 commented on #1128
@Ayush7614 please assign this issue to me

[2021-06-22 09:42] Arushi247 commented on #1352
@Ayush7614 @ravikr126 @Saurabh4626 I'd like to work on this issue in C language under HCSSoC. Please assign me this issue.

[2021-06-22 09:43] Arushi247 commented on #1333
@Ayush7614 @ravikr126 @Saurabh4626 I'd like to work on this issue in C language under HCSSoC. Please assign me this issue.

[2021-06-22 09:51] Arushi247 commented on #1305
@Ayush7614 @ravikr126 @Saurabh4626 I'd like to work on this issue in C language under HCSSoC. Please assign me this issue.

[2021-06-22 09:57] Arushi247 commented on #1285
@Ayush7614 @ravikr126 @Saurabh4626 I'd like to work on this issue in C language under HCSSoC. Please assign me this issue.

[2021-06-22 10:06] sakinanomi opened #1360 "Dividing Stamps codechef"
# Aim
solving codechef DividingStamps problem
link:https://www.codechef.com/problems/DIVIDING

# Details

Solution of the problem in c language

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [ ] Python

I would like to add solution of this problem
@Ayush7614 @Saurabh4626 @ravikr126  Please assign this issue to me under LGMsoc

[2021-06-22 10:10] Mugdha-Hazra opened #1361 ""Too Much Xor" problem in CodeChef (June CookOff 2021)."
### Aim
I want to add the code for the "Too Much Xor" problem in CodeChef (June CookOff 2021).

### Details
Problem name: Too Much Xor
Problem Code: TOOXOR
Problem link: https://www.codechef.com/COOK130B/problems/TOOXOR/

Please assign me this issue
LGM-SOC Participant

### Programming language

C++
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

Hello @prudhvirajstark @cmulay @VinayakMohite4040 @shant

[2021-06-22 10:15] Mugdha-Hazra opened #1362 ""Optimal Xor Set" problem in CodeChef (June Challenge 2021)."
### Aim
I want to add the code for the "Optimal Xor Set" problem in CodeChef (June Challenge 2021).

### Details
Problem name: Optimal Xor Set
Problem Code: OPTSET
Problem link: https://www.codechef.com/JUNE21C/problems/OPTSET

Please assign me this issue
LGM-SOC Participant

### Programming language

C++
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

Hello @prudhvirajstark @cmulay @VinayakMohite4040

[2021-06-22 10:16] ravikr126 commented on #1292
I don't think different languages for this question is good.
Make 1 relevant pr of a language is enough .No need to add more language for same question @agamgupta2015

[2021-06-22 10:17] ravikr126 commented on #1352
This is already in repository @anusham14

[2021-06-22 10:17] #1352 closed

[2021-06-22 10:22] ravikr126 commented on #1305
This is already in repository@PriyankaHotchandani

[2021-06-22 10:22] #1305 closed

[2021-06-22 10:30] Mugdha-Hazra opened #1363 "Code for the "Destroy the EMP Chip" problem in CodeChef"
### Aim
I want to add the code for the "Destroy the EMP Chip" problem in CodeChef.

### Details
Problem name: Destroy the EMP Chip
Problem Code: CHAOSEMP
Problem link: https://www.codechef.com/APRIL21C/problems/CHAOSEMP

Please assign me this issue
LGM-SOC Participant

### Programming language

C++
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

Hello @prudhvirajstark @cmulay @VinayakMohite4040 @shanta

[2021-06-22 11:10] kamleshjoshi8102 commented on #1231
@ravikr126 sir my pull request not merged

[2021-06-22 11:11] manuvarghese0603 opened #1364 ""Multiple of 3" Problem of Complexity Analysis + Basics Warm Up ( Codechef )"
# Aim

I want to add the code for "Multiple of 3" problem in codechef (DSA Learning Series)

# Details

Problem name : Multiple of 3
Problem Code : MULTHREE
Problem link : https://www.codechef.com/LRNDSA01/problems/MULTHREE

Please assign me this issue
LGM-SOC Participant

Programming language
C++

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-22 11:11] Aryan-Srivastava opened #1365 "Merge Sort on Linked List [GFG]"
# Aim

- Will be adding solution for **[Sort the given linked list using Merge Sort.](https://practice.geeksforgeeks.org/problems/sort-a-linked-list/1)**

# Details

- Topic - _Linked List._
- Difficulty level - _Medium_

- Given Pointer/Reference to the head of the linked list, the task is to **_**Sort the given linked list using Merge Sort.**_** **Note**: If the length of linked list is odd, the

[2021-06-22 11:14] Aryan-Srivastava commented on #1365
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will be solving it in java.
LGM-SOC'21

Thank You

[2021-06-22 11:21] 19bce502 opened #1366 "Shortest path from 1 to n"
Aim:
Consider a directed graph whose vertices are numbered from 1 to n. There is an edge from a vertex i to a vertex j if either j = i + 1 or j = 3 * i. The task is to find the minimum number of edges in a path in G from vertex 1 to vertex n.

Please Assign me under LGM SOC .I will be solving in C++.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-22 11:44] Aryan-Srivastava opened #1368 "Total Set Bits"
# Aim

- Will be adding solution for [Count total set bits.](https://practice.geeksforgeeks.org/problems/count-total-set-bits-1587115620/1)

# Details

- Topic - _Bit Manipulation._
- Difficulty Level - _Medium_.

- You are given a number N. Find the total count of set bits for all numbers from 1 to N(both inclusive).

### Programming language

- [ ] C
- [ ] C++
- [X] Java
- [ ] Python

[2021-06-22 11:45] Aryan-Srivastava commented on #1368
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will be solving it in java.
LGM-SOC'21

Thank You.

[2021-06-22 12:01] PadminiRai commented on #977
@Saurabh4626 , @Ayush7614
I'd like to work on this issue in **python** language. Under HCSSoC21 label.
**Time complexity** :  O(V+E)
**Space Complexity** : O(V)

[2021-06-22 12:31] Ashu-1309 commented on #1163
Can it do the same code in C ????

[2021-06-22 12:44] Isha307 commented on #1274
Please assign me this under LGMSOC'21 ?  @Ayush7614 @Saurabh4626 @ravikr126

[2021-06-22 12:48] kumarshobhit opened #1369 "Count Sub Islands Leetcode"
**Is your feature request related to a problem? Please describe.**
I want to add a solution to the problem of Count Sub Islands from leetcode which is a medium-level problem.
[Link]https://leetcode.com/contest/weekly-contest-246/problems/count-sub-islands/

**Describe the solution you'd like**
I would like to use the recursive approach that is the DFS algorithm.

**Describe alternatives you've con

[2021-06-22 12:49] kumarshobhit commented on #1368
I would like to contribute in C++

[2021-06-22 13:11] PadminiRai commented on #1020
@ravikr126 , @Ayush7614
I'd like to work on this issue in **java** language. Under **LGMSOC21** label.
Adjacency List is used for graph , **Time Complexity** : O(V+E) where _V_ is vertices and _E_ is edges in the graph.

[2021-06-22 13:19] geetika1723 commented on #1344
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will be solving it in java.
LGM-SOC'21

Thank You.

[2021-06-22 14:02] Aastha863 commented on #1318
I would I like to add solution of this problem under LGM-SOC'21. Language - C++
Pls assign this to me

[2021-06-22 14:04] rajat1701 opened #1372 "Triplets with zero sum problem"
**Is your feature request related to a problem? Please describe.**
Finding all triplets with zero sum

**Describe the solution you'd like**
Finding triplets in an array of distinct elements whose sum is zero in C++

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or

[2021-06-22 14:06] rajat1701 commented on #1372
@Ayush7614 @Amit366 @Saurabh4626 @ravikr126
Kindly assign me this issue, I will do it in C++.

[2021-06-22 14:09] sardonicankita commented on #718
@admins please look at the pr #1242

[2021-06-22 14:10] ravikr126 commented on #1372
You can work on it @rajat1701

[2021-06-22 14:14] PawandeepKaur2405 commented on #1348
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will be solving it in C++.

[2021-06-22 14:49] #709 closed

[2021-06-22 14:55] Amit366 commented on #1065
@Shaishav0507 sorry but cpp is already done.If u want please try with java

[2021-06-22 15:16] #306 closed

[2021-06-22 15:19] #1024 closed

[2021-06-22 17:11] UG-SEP opened #1375 "Reverse a LinkedList in a group of given size"
# Aim

Create a Program that reverses the node of the LinkedList in a given size.
Ex:
Input: `1,2,3,4,5,6,7,8` size for reverse in a group:3
Output: `3,2,1,6,5,4,8,7`
# Details

It contain the reverse function,printList function and the main function
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python
## Additional Context
This is a GFG Medium Level Question [Link](https://practice

[2021-06-22 17:15] Umesh-01 commented on #1263
@Ayush7614 @ananya123-gif should I make these changes??

[2021-06-22 18:11] kumarshobhit opened #1376 "Deleting Divisors (Problem D from codeforces round 726)"
**Is your feature request related to a problem? Please describe.**
I want to add the solution for the problem [link]https://codeforces.com/contest/1537/problem/D

Description:
Alice and Bob are playing a game.
They start with a positive integer n and take alternating turns doing operations on it. Each turn a player can subtract from n one of its divisors that isn't 11 or n. The player who cannot m

[2021-06-22 18:14] kumarshobhit commented on #1376
@Ayush7614 @Amit366 @Saurabh4626 @ravikr126 kindly assign me this issue.

[2021-06-22 18:14] kumarshobhit commented on #1369
@Ayush7614 @Amit366 @Saurabh4626 @ravikr126 Kindly assign me this issue

[2021-06-22 18:14] kumarshobhit commented on #1257
@Ayush7614 @Amit366 @Saurabh4626 @ravikr126 kindly assign me this issue.

[2021-06-22 18:17] abhib074 opened #1377 "A. Chat room (CodeForces)"
Vasya has recently learned to type and log on to the Internet. He immediately entered a chat room and decided to say hello to everybody. Vasya typed the word s. It is considered that Vasya managed to say hello if several letters can be deleted from the typed word so that it resulted in the word "hello". For example, if Vasya types the word "ahhellllloou", it will be considered that he said hello,

[2021-06-22 18:18] abhib074 commented on #1377
I am a participant of LGM SoC 21.  I want to solve this issue in C++ Language.

[2021-06-22 18:54] #150 closed

[2021-06-22 18:54] #147 closed

[2021-06-22 19:03] Rajspeaks opened #1378 "Added Print Ancestors of a given node in Binary Tree"

[2021-06-22 19:03] #1378 closed

[2021-06-22 19:06] Rajspeaks opened #1379 "Added Print Ancestors of a given node in Binary Tree"
https://github.com/Ayush7614/Daily-Coding-DS-ALGO-Practice/blob/1cd530d119dd9dcc028d959c29b982ede9951422/Gfg/Print%20Ancestors%20of%20a%20given%20node%20in%20Binary%20Tree.cpp#L1-L82

[2021-06-22 19:06] #1321 closed

[2021-06-22 20:10] Karnika06 opened #1380 "Find all possible Permutations of a String"
# Aim

- In this problem all the possible permutations of a string will be printed as output.

# Details

- **Algorithm Paradigm** - I will be using Backtracking for this problem.

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

I wish to work on this problem in JAVA language.
Please assign this to me.

[2021-06-22 23:33] AvneetSingh2001 commented on #1342
Please assign me this issue @ravikr126

[2021-06-23 02:23] #1372 closed

[2021-06-23 02:24] #1368 closed

[2021-06-23 02:26] #741 closed

[2021-06-23 02:27] #1047 closed

[2021-06-23 02:28] #653 closed

[2021-06-23 02:30] #669 closed

[2021-06-23 02:31] #740 closed

[2021-06-23 02:33] Ayush7614 commented on #1329
go Ahead @siddhi-244

[2021-06-23 02:41] ravikr126 commented on #1366
You can work on it @19bce502

[2021-06-23 05:07] Harikrishnaa3131 commented on #1322
@Ayush7614 @Amit366
I want to solve this issue using C
Please assign this issue to me under HCSSoC (Hack Club SRM Summer of Code) .

[2021-06-23 05:07] nekkantimadhu commented on #1331
please assign me the above problem statement under LGM-SOC'21 in C++ or C or Python

[2021-06-23 05:40] rakesh419s commented on #1210
please assign me the above statement in Python Under LGM-SOC'21

[2021-06-23 06:39] Arushi247 commented on #1377
@Ayush7614 I'd like to work on this issue in C language under HCSSoC. Please assign me this issue.

[2021-06-23 07:45] kamleshjoshi8102 commented on #1329
Can i try in java or C++ @Ayush7614  ?? under LGMSOC'21

[2021-06-23 07:57] #1082 closed

[2021-06-23 08:06] shruti29s commented on #1233
Can I work on this issue ?

[2021-06-23 08:06] viki4545 commented on #84
we have to wait for issue to assigned or we can free to solve and add problems in this repositeries on our own.

[2021-06-23 08:15] harsh6768-svg commented on #1233
But I m already working @shruti29s

[2021-06-23 08:16] shruti29s commented on #1233
I can do this in java.

[2021-06-23 08:18] harsh6768-svg commented on #1233
okkk please confirm with @Ayush7614 bhaiya

[2021-06-23 08:25] shruti29s commented on #1233
Yes, sure. I will work on this only when someone assign me this issue.

[2021-06-23 08:28] siddhi-244 commented on #1376
Can I try in python ?

[2021-06-23 08:29] siddhi-244 commented on #1333
I would like to try in python under lgmsoc

[2021-06-23 08:46] sakinanomi opened #1387 "Strong Language CodeChef"
# Aim

Solution of problem Strong Language of codechef April long challenge
link to question:https://www.codechef.com/APRIL21C/problems/SSCRIPT

# Details

code of the question with proper comments and explanation

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-23 08:48] sakinanomi commented on #1387
@ravikr126  please assign this issue to me under LGM SOC.

[2021-06-23 10:25] kalash-kala opened #1388 "Contest Start (problem : 1539A) codeforces"
# Aim

- To provide solution for the problem contest start (1539A) in c++
# Details

- This problem is based on combinatorics, maths, greedy algorithm and geometry
-  @ravikr126 @Ayush7614 @Saurabh4626 Please Assign me under LGM SOC .I will be solving in C++.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-23 10:31] kalash-kala opened #1389 "challenging cliffs (problem : 1537C) codeforces"
# Aim

- To provide solution for the problem challenging cliffs codeforces in C++

# Details

- This problem is based on greedy algorithms, constructive algorithms , math and implementation
- @ravikr126 @Ayush7614 @Saurabh4626 Please assign me this under LGMSOC21 for C++
### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-23 11:02] Arushi247 commented on #1387
@Ayush7614 @ravikr126 I'd like to work on this issue in C language under HCSSoC. Please assign me this issue.

[2021-06-23 11:07] ravikr126 commented on #1389
Start ur work @kalash-kala

[2021-06-23 11:07] ravikr126 commented on #1388
Add the question name @kalash-kala

[2021-06-23 11:08] ravikr126 commented on #1333
Start ur work @Arushi247

[2021-06-23 11:08] ravikr126 commented on #1376
@kumarshobhit you can start your work

[2021-06-23 11:09] #610 closed

[2021-06-23 11:10] siddhi-244 commented on #1376
@ravikr126 assign me in python

[2021-06-23 11:11] ravikr126 commented on #1376
Raise a new issue I will assign you

[2021-06-23 11:16] Ayush7614 commented on #1376
@ravikr126 don't say for raise new issue we were assigned this one

[2021-06-23 11:17] Harikrishnaa3131 opened #1390 "Validate an IP Address(GFG)"
Hi, I want to solve this issue using C++
Please assign this issue to me under HCSSoC (Hack Club SRM Summer of Code) .
Looking forward to contribute here...

Question link: https://practice.geeksforgeeks.org/problems/validate-an-ip-address-1587115621/0/?difficulty[]=1&difficulty[]=2&page=1&sortBy=submissions&query=difficulty[]1difficulty[]2page1sortBysubmissions
@Ayush7614
### Programming language

[2021-06-23 11:17] ravikr126 commented on #1376
But only one will get marks so how the second one will get marks??

[2021-06-23 11:27] kalash-kala commented on #1388
@ravikr126 "Contest start" is the name of the problem

[2021-06-23 11:35] kumarjeetray opened #1391 "Breadth First Search in C"
# Aim

- To provide solution for the problem of Breadth First Search in Graph using C

# Details

- It will have the approach to visit all the nodes from Breadth First Search using a adjacency matrix

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-23 11:44] Harikrishnaa3131 opened #1392 "Sort an array of 0’s, 1’s, and 2’s (Dutch National Flag Problem)"
Hi, I want to solve this issue using C++
Please assign this issue to me under HCSSoC (Hack Club SRM Summer of Code) .
Looking forward to contribute !!

Question : Given an array of 0s, 1s and 2s sort it in linear time and using constant space.

Input : { 0, 1, 2, 2, 1, 0, 0, 2, 0, 1, 1, 0 }

Output : { 0, 0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2 }

@Ayush7614

### Programming language

- [ ] C
- [x] C++
-

[2021-06-23 12:33] surbhi594 opened #1394 "Reverse sublist of linked list[LEETCODE]"
Reverse Linked List II
I would like to give the solution in C++.
Please assign this issue to me under LGMSOC'21.

![Screenshot (109)](https://user-images.githubusercontent.com/71223742/123096574-e042a880-d44c-11eb-84b7-6ca245b40126.png)

[2021-06-23 13:28] Sonichigo commented on #1044
Assign me this. Under LGMSOC21

[2021-06-23 13:30] Jagannath8 commented on #1391
Can I implement in Java? I'm a participant of LGM Soc21.

[2021-06-23 14:31] #248 closed

[2021-06-23 14:34] Amit366 commented on #1081
@PriyankaHotchandani have u created a separate issue on this problem??

[2021-06-23 14:46] #1097 closed

[2021-06-23 14:50] #747 closed

[2021-06-23 14:54] #1236 closed

[2021-06-23 14:57] #1125 closed

[2021-06-23 15:03] #1187 closed

[2021-06-23 15:15] Sathwika-02 commented on #1387
Hi,
I want to implement this in python as apart of LGM-SOC'21.
@Ayush7614 @ravikr126  Please assign it to me. Thankyou!!

[2021-06-23 15:20] Sathwika-02 commented on #1334
Hi,
I want to implement this in java as apart of LGM-SOC'21.
@ravikr126  @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-23 15:22] Sathwika-02 commented on #1329
Hi,
I want to implement this in java as apart of LGM-SOC'21.
@Ayush7614 Please assign it to me. Thankyou!!

[2021-06-23 15:28] saloni32 commented on #1002
I want to add this code in Gfg folder . please assign me this issue. @Ayush7614  @Amit366 @Saurabh4626 @ravikr126

[2021-06-23 15:30] #1002 closed

[2021-06-23 15:30] ravikr126 commented on #1002
It already in repository.@saloni32

[2021-06-23 15:31] ravikr126 commented on #1334
Start your work @rakesh419s

[2021-06-23 15:49] thejaswin123 opened #1395 "Is palindrome or not"
# Aim

- To write a recursive function that tests if the array is a palindrome and returns a Boolean value.

![image](https://user-images.githubusercontent.com/52855622/123126655-31f82c80-d467-11eb-986e-4083252d8e4a.png)

# Details

-  I want to solve this problem using C++
    Please assign this issue to [me](https://github.com/thejaswin123) under HCSSoC (Hack Club SRM Summer of Code)  .
    @Ayu

[2021-06-23 15:53] #1387 closed

[2021-06-23 15:55] thejaswin123 opened #1396 "Piyush and Magical Park"
# Aim

- To Print "Yes" or "No" depending on whether Piyush can escape or not. If the answer is "Yes", also print the amount of strength he escaped with.

![image](https://user-images.githubusercontent.com/52855622/123129014-3d4c5780-d469-11eb-85ae-2b80635e9114.png)
![image](https://user-images.githubusercontent.com/52855622/123129039-43dacf00-d469-11eb-86b8-d05757ea9f41.png)

# Details

- I want

[2021-06-23 15:58] #782 closed

[2021-06-23 16:37] saloni32 opened #1398 "Diagonal Traversal of Binary Tree"
I want to provide a C++ code for printing diagonal traversal of a binary tree.
![diagonal](https://user-images.githubusercontent.com/51365808/123135378-56f09d80-d46f-11eb-9726-de3884062fd3.png)

Diagonal Traversal of binary tree :
 8 10 14 3 6 7 13 1 4

I am LGM SOC'21 participant and want to provide this code with proper comments and explanation.

@Ayush7614 @Amit366 @Saurabh4626 @ravikr126 Pleas

[2021-06-23 16:38] saloni32 commented on #1398
I want to add the code in gfg folder

[2021-06-23 17:04] neha030 opened #1400 "Contains Duplicate [LeetCode]"
I want to provide the C++ solution for the below question.
I am a LGM-SOC participant
https://leetcode.com/problems/contains-duplicate/

Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.
Input: nums = [1,2,3,1]
Output: true
I want to solve this question using Hashing

[2021-06-23 17:11] Arushi247 commented on #1400
@Ayush7614 I'd like to work on this issue in C language under HCSSoC. Please assign me this issue.

[2021-06-23 17:15] Arushi247 commented on #1394
@Ayush7614 I'd like to work on this issue in C language under HCSSoC. Please assign me this issue.

[2021-06-23 17:21] AvneetSingh2001 opened #1401 "Vertical Order Traversal of a Binary Tree [ LEETCODE - HARD ]"
## Aim
#### Want to add solution of " Vertical Order Traversal of a Binary Tree" from Leetcode.
Kindly assign me this problem. I would like to add my solution to this problem in C++ in an efficient approach.
## Details
Input: root = [1,2,3,4,6,5,7]
Output: [[4],[2],[1,5,6],[3],[7]]
Explanation:
As represented in the image below,
1st column  : 4
1st column  : 4
1st column  : 4
1st column  : 4
![](h

[2021-06-23 17:46] Khushi-agarwal commented on #1289
@Ayush7614 @Amit366 kindly assign me this issue.

[2021-06-23 19:40] Ananya-Misra opened #1403 "Subarray sum equals to k"
# Aim

Given an array of integers and an integer k, return the total number of continuous subarrays whose sum equals to k

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-23 19:52] harshita9621 commented on #1403
Can I work on this issue?

[2021-06-23 19:52] harshita9621 commented on #1401
Can I work on this issue?

[2021-06-23 19:53] harshita9621 commented on #1400
Can I work on this issue

[2021-06-23 19:53] harshita9621 commented on #1391
Can I work on this issue

[2021-06-23 20:23] Ananya-Misra commented on #1403
@harshita9621 I created this issue so that it could be assigned to me.

[2021-06-24 03:52] mrkc2303 opened #1408 "Power of 4 (using BIT MANIPULATION)"
# Aim

Want to add a solution of "Power of Four".
Kindly assign me this problem. I would like to add my solution to this problem in C++ in an efficient approach.

# Details

Given an integer n, return true if it is a power of four. Otherwise, return false.

An integer n is a power of four, if there exists an integer x such that n == 4x.

Example 1:
Input: n = 16
Output: true

Example 2:
Input: n =

[2021-06-24 04:40] sakinanomi opened #1409 "Chef and Dice Codechef"
# Aim

Solution of codechef problem Chef and Dice from April long challenge
Problem Code: SDICE
Link to problem: https://www.codechef.com/APRIL21C/problems/SDICE

# Details

Solution of the problem with proper comments.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-24 04:41] sakinanomi commented on #1409
@ravikr126  Please assign this issue to me under LGM-SOC

[2021-06-24 05:02] manognyaa opened #1410 "Bellman Ford's Algorithm"
**Is your feature request related to a problem? Please describe.**
Bellman Ford algorithm is a algorithm where in this will help us to code and it will find the shortest path from a vertex(root) to all other vertices of a weighted graph.

**Describe the solution you'd like**
I will be using C++ for this algorithm. sir, actually I used graph for this algorithm.

### Programming language

- [ ] C
-

[2021-06-24 05:07] manognyaa opened #1411 "Dijkstra algorithm"
**Is your feature request related to a problem? Please describe.**
How much difficult it is to find the shortest paths between nodes in a graph ? but, in there is a algorithm called
`Dijkstra Algorithm` it will help us to find the shortest paths between nodes in a graph.
there are some key notes we need to keep in mind
- All edges must have None-Negative weights.
- Graph must be connected.

**Desc

[2021-06-24 06:21] sakinanomi opened #1415 "Discrepancies in the Voters List"
# Aim

Solution to codechef problem Discrepancies in the Voters List
problem code:VOTERS
link: https://www.codechef.com/problems/VOTERS

# Details

Solution to the problem.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-24 06:22] sakinanomi commented on #1415
@ravikr126 please assign this issue to me under LGM-SOC.

[2021-06-24 06:29] pranjay-poddar opened #1416 "Addition, Deletion , Reverse operations In Singly, Double and circular Linked List"
### Problem Statement
Addition, deletion of a number after a particular number or a particular index in the given linked list and reverse operation in singly, double and circular linked list.

**Describe the solution you'd like**
I would like to work on this problem statement in C and C++ languages.

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [ ] Python

Please assign this task to me

[2021-06-24 07:09] mrkc2303 commented on #1408
@ravikr126 Please Assign this issue to me under LGM-SOC'21.

[2021-06-24 07:12] mrkc2303 opened #1418 "Best Time to Buy and Sell Stock - LeetCode"
# Aim

Want to add a solution of "Best Time to Buy and Sell Stock".
Kindly assign me this problem. I would like to add my solution to this problem in C++ in an efficient approach.

# Details

You are given an array of prices where prices[i] is the price of a given stock on an ith day.
You want to maximize your profit by choosing a single day to buy one stock and choosing a different day in the fut

[2021-06-24 07:12] mrkc2303 commented on #1418
@ravikr126  Please Assign this issue to me under LGM-SOC'21.

[2021-06-24 09:05] Arushi247 commented on #1418
@Ayush7614 I'd like to add my solution in C language under HSSoC. Kindly assign me the issue.

[2021-06-24 10:20] Ananya-Misra commented on #1403
@ravikr126 Please Assign this issue to me under LGM-SOC'21.

[2021-06-24 10:23] Ananya-Misra opened #1421 "Banker's Algorithm"
# Aim

I want to add banker's algorithm that is deadlock prevention algorithm.
@ravikr126  Please Assign this issue to me under LGM-SOC'21.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-24 10:24] ravikr126 commented on #1421
This is available in repository@Ananya-Misra

[2021-06-24 10:24] #1421 closed

[2021-06-24 10:24] ravikr126 commented on #1403
Already in repository @Ananya-Misra

[2021-06-24 10:24] #1403 closed

[2021-06-24 10:27] Ananya-Misra commented on #1421
okay.

[2021-06-24 10:39] Ananya-Misra opened #1422 "Median of two sorted arrays (LEETCODE HARD)"
# Aim

![image](https://user-images.githubusercontent.com/70848031/123249273-68d14f80-d506-11eb-83d1-b39550a28a08.png)

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-24 10:41] Ananya-Misra commented on #1422
@ravikr126 Please Assign this issue to me under LGM-SOC'21.

[2021-06-24 12:00] Khushi-agarwal commented on #1289
@ravikr126 @Saurabh4626 kindly assign me this issue.

[2021-06-24 12:09] ravikr126 commented on #1289
Without assign you can't create pr .

[2021-06-24 12:34] manuvarghese0603 commented on #1289
Sir I didn't made any PR , the above PR was made by @suy1968

[2021-06-24 12:44] Pradeep45911 commented on #1422
@ravikr126 assign this issue to me under LGM-SOC'21

[2021-06-24 13:04] kamleshjoshi8102 commented on #1289
Respected sir, I asked before @Khushi-agarwal why I wasn't given?
: )

[2021-06-24 13:07] Ayush7614 commented on #1411
Already in the repo

[2021-06-24 13:07] #1411 closed

[2021-06-24 13:08] Ayush7614 commented on #1392
Already in the repo

[2021-06-24 13:08] #1392 closed

[2021-06-24 13:08] Pradeep45911 commented on #1409
@ravikr126 Please assign this issue to me under LGM-SOC'21

[2021-06-24 13:10] #179 closed

[2021-06-24 13:13] ravikr126 commented on #1409
This question is already available@sakinanomi @Pradeep45911

[2021-06-24 13:13] #1409 closed

[2021-06-24 13:15] Amit366 commented on #1289
@manuvarghese0603 this issue is created by khushi

[2021-06-24 13:15] Amit366 commented on #1289
@Khushi-agarwal u can do in 2 languages. Mention the languages u wanna do in.

[2021-06-24 13:40] Khushi-agarwal commented on #1289
C++ and java

[2021-06-24 13:48] #206 closed

[2021-06-24 14:02] TasnimAnas commented on #1377
I would like to solve this in JAVA.
I'm a LGMSOC participant

[2021-06-24 15:03] Ashu-1309 opened #1431 "Binary Search"
# Aim :- Binary Search

- Write Binary Search Algorithm in Python
-

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

Please Assign me this Task under LGM-Soc-21

[2021-06-24 15:07] nidhi3108 commented on #1431
hi i am participating in LGM-SOC.I  can solve it through c++. please assign me this issue.

[2021-06-24 15:09] nidhi3108 commented on #1365
Please Assign me this issue. I will be solving it in c++. I am participating in LGM-SOC.

[2021-06-24 15:39] Karnika06 opened #1432 "The Wave Codechef June Cook-off problem"
Hello!!

I wish to work on The Wave problem from CodeChef June Cook-off 2021 Division 2.

**Problem Statement**
https://www.codechef.com/COOK130B/problems/WAV2/

I would like to use Java language for this issue.
Please assign this issue to me under LGM-SoC'21.

[2021-06-24 15:52] anishamurmu13 commented on #1395
I want to solve this problem using python.
I'm a participant of LGM-SOC21

[2021-06-24 16:05] Srit20 commented on #1431
I'm participantnof LGM-SOC21. I can solve it through java . Please assign me this issue

[2021-06-24 16:07] Srit20 commented on #1395
I want to solve this problem using java.
I'm a participant of LGM-SOC21

[2021-06-24 16:09] Srit20 commented on #1410
I want to solve this problem using java.
I'm a participant of LGM-SOC21

[2021-06-24 16:14] Srit20 commented on #1359
Please Assign me this issue. I will be solving it in JAVA. I am participating in LGM-SOC.

[2021-06-24 16:47] manognyaa opened #1435 "split the linked list"
**Is your feature request related to a problem? Please describe.**
my aim is : to divide or split the linked list into two parts sir.
`note`
as we all know,
If it's number of nodes in the linked list is even(2n) then both the lists contains n nodes.
If the original list contains odd number of nodes(2n+1) then 1st list contains n+1 nodes and 2nd contains n nodes.

**Describe the solution you'd like

[2021-06-24 17:04] manognyaa opened #1436 "finding the largest rectangle using stacks"
**Is your feature request related to a problem? Please describe.**
aim : to find the largest rectangle

**Describe the solution you'd like**
I will be using divide and conquer approach sir. and the language is c++.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python
please assign this issue to me sir, I would like to work on this @Ayush7614 sir.

[2021-06-24 17:17] manuvarghese0603 opened #1438 ""ICPC Balloons" Problem of Codechef"
# Aim

I want to add the code for "ICPC Balloons" problem in codechef (June Cook-Off 2021)

# Details

Problem name : ICPC Balloons
Problem Code : BALLOON
Problem link : https://www.codechef.com/COOK130C/problems/BALLOON

Please assign me this issue
LGM-SOC Participant

Programming language
C++

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-24 17:20] manuvarghese0603 opened #1439 ""XOR Folding" Problem of Codechef"
# Aim

I want to add the code for "XOR Folding" problem in codechef (June Cook-Off 2021)

# Details

Problem name : XOR Folding
Problem Code : XORFOLD
Problem link : https://www.codechef.com/COOK130C/problems/XORFOLD

Please assign me this issue
LGM-SOC Participant

Programming language
C++

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-24 18:01] Khushi-agarwal commented on #1439
I would like to add it in java.
Please assign it to me under lgm-soc.

[2021-06-24 18:56] manuvarghese0603 commented on #1432
I would like to solve it in c++.
Please assign this issue to me under LGM-SoC'21.

[2021-06-24 18:59] #937 closed

[2021-06-24 18:59] #1241 closed

[2021-06-24 21:54] 7saikat7 commented on #1395
please assign me i will solve it in c++

[2021-06-24 21:55] 7saikat7 commented on #1435
I am new to c++ ds/algo though i would like to try please assign me ! and these are also be counted as a contribution right ?

[2021-06-25 00:27] ShivanshuVishnoi commented on #992
@Amit366 @Ayush7614 @Saurabh4626 Please Assign me this Issue. I will solve this problem in C++.
I have explained above why i am trying to solve this issue.
LGM-SOC'21

Thank You

[2021-06-25 01:31] sakinanomi commented on #1409
oh! Sorry

[2021-06-25 02:08] ShivanshuVishnoi opened #1442 "Add all operation of Binary Search Tree"
# Aim

- I would like to add all operations of Binary search Tree in Data Structure Folder.
- All Operations are Given Below:
-  1.  Insert Element into Binary Search Tree
   2. Search Element in Tree
   3. Preorder Traversal
   4. Maximum Element in Tree
   5. Minimum Element in Tree
   6. Delete Element from Tree
   7. Find Maximum Height of Tree
   8. Find Total Number of nodes in Tree
- LGM-SO

[2021-06-25 02:10] ShivanshuVishnoi commented on #1442
@Amit366 @Ayush7614 @Saurabh4626 @ravikr126 Please Assign me this Issue. I will Solve it in C++.
LGM-SOC'21

Thank You

[2021-06-25 02:29] thejaswin123 commented on #1395
Please assign this issue to me under HCSSoC (Hack Club SRM Summer of Code).
@Ayush7614

[2021-06-25 03:37] mrkc2303 opened #1443 "First Missing Positive - LeetCode"
# Aim

Want to add a solution of "First Missing Positive"
Kindly assign me this problem. I would like to add my solution to this problem in C++ in an easy way.
Link to Problem: https://leetcode.com/problems/first-missing-positive/

# Details

Given an unsorted integer array nums, find the smallest missing positive integer.
You must implement an algorithm that runs in O(n) time and uses constant ex

[2021-06-25 03:37] mrkc2303 commented on #1443
Please assign me this issue under LGMSOC'21

[2021-06-25 04:31] Harikrishnaa3131 opened #1444 "Sort an array of 0s, 1s, 2s in Linear time"
## Aim
To sort an array of 0s, 1s, 2s in Linear time (i.e.) O(n) time.

## Input:
7
0 1 2 0 1 1 2

## Output:
0 0 1 1 1 2 2

## Details
I want to solve this problem using C, C++
Please assign this issue to me under HCSSoC (Hack Club SRM Summer of Code) .
@Ayush7614

### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-25 06:24] TasnimAnas opened #1445 "HackerRank Day of the Programmer"
**Is your feature request related to a problem? Please describe.**
problem link- https://www.hackerrank.com/challenges/day-of-the-programmer/problem

**Describe the solution you'd like**
HackerRank Day of the Programmer problem solution in C++

**Additional context**
I'm  participant in LGMSOC

### Programming language

- [ ] C
- [X] C++
- [ ] Java
- [ ] Python

[2021-06-25 06:53] rakesh419s commented on #1025
I'd like to solve it in python assign it to me!

[2021-06-25 07:15] viki4545 commented on #1011
i would like to work on this issue in java

[2021-06-25 07:17] viki4545 commented on #322
i would like to work on this issue in java

[2021-06-25 07:18] viki4545 commented on #297
i can use to work on this issue using java

[2021-06-25 07:19] viki4545 commented on #238
Hey @Amit366 can i work on this issue using java

[2021-06-25 07:23] viki4545 commented on #429
Hey @Amit366 can i work on this issue using java

[2021-06-25 07:25] viki4545 commented on #707
Hey @Amit366 can i work on this using java

[2021-06-25 07:37] aviral14112001 commented on #1176
Please assign me this task  I am a participant in " LGM SoC 21 "
I would like to write a solution to this problem in C and C++ language

[2021-06-25 08:43] shruti29s commented on #1422
Can I work on this issue ?

[2021-06-25 09:08] Arushi247 commented on #1445
@Ayush7614 I'd like to solve this issue in C language under HCSSoC. Kindly assign me this issue.

[2021-06-25 09:38] AKSHATNEMA commented on #319
@Amit366 Sir, I want to add the solution to this problem in C++, under LGM-SOC. Please assign me for this.

[2021-06-25 09:40] viki4545 commented on #707
Lapindromes problems of codechef in java added #1446

[2021-06-25 11:40] sakinanomi opened #1448 "Impartial Offerings Solution"
Solution to problem Impartial Offerings  asked in Code Jam to I/O for Women 2021
link to problem: https://codingcompetitions.withgoogle.com/codejamio/round/00000000004360f2/0000000000777098

# Details
I think including solutions of problems asked in code jam and like can be helpful for everyone searching for solution so I want to add Solution to the above mentioned problem.

### Programming langua

[2021-06-25 11:41] sakinanomi commented on #1448
@ravikr126 please assign this issue to me under LGM SOC

[2021-06-25 12:02] ravikr126 commented on #1448
Start your work@sakinanomi

[2021-06-25 12:05] #1334 closed

[2021-06-25 12:07] #1149 closed

[2021-06-25 13:03] ChetasShree commented on #1295
@ravikr126 ,my code hasn't been merged??

[2021-06-25 13:09] #1065 closed

[2021-06-25 13:38] ravikr126 commented on #1422
if @Ananya-Misra not work on this issue then i will assign the next one .

[2021-06-25 13:53] Ananya-Misra commented on #1422
@ravikr126 I am working on this issue.

[2021-06-25 14:47] 19bce502 opened #1449 "Add two numbers as LinkedList"
**Aim**
You are given two non-empty linked lists representing two non-negative integers. The digits are stored in reverse order, and each of their nodes contains a single digit. Add the two numbers and return the sum as a linked list.

You may assume the two numbers do not contain any leading zero, except the number 0 itself.

Please Assign me under LGM SOC . I will be doing in C++ Language.

###

[2021-06-25 14:54] 19bce502 opened #1450 "Delete a given Node when a node is given"
AIM :
Write a function to delete a node in a singly-linked list. You will not be given access to the head of the list, instead you will be given access to the node to be deleted directly.

It is guaranteed that the node to be deleted is not a tail node in the list.

Please Assign me this problem under LGMSOC'21 .I will be doing in C++Language.
### Programming language

- [ ] C
- [ ] C++
- [ ] Java

[2021-06-25 15:05] #530 closed

[2021-06-25 15:06] #1006 closed

[2021-06-25 15:22] #912 closed

[2021-06-25 15:22] #1110 closed

[2021-06-25 15:34] Amit366 commented on #1230
@harshita9621 mention the language

[2021-06-25 15:39] #739 closed

[2021-06-25 15:42] #1210 closed

[2021-06-25 15:53] Ayush7614 commented on #1303
Go Ahead all of you

[2021-06-25 15:56] #1003 closed

[2021-06-25 16:01] 31081998 commented on #1230
can I resolve this issue in java and c language?

[2021-06-25 16:10] harshita9621 commented on #1230
@Amit366 I try in C++

[2021-06-25 16:19] ShivanshuVishnoi commented on #1203
@Amit366 Please Check the PR I have Created and merge it. I solve the Problem in C++.
LGM-SOC'21

Thank You

[2021-06-25 16:22] Amit366 commented on #1230
@harshita9621 cpp is already done.

[2021-06-25 16:22] Amit366 commented on #1230
If u want u can work in java or c

[2021-06-25 16:24] harshita9621 commented on #1230
@Amit366 In java

[2021-06-25 16:25] Amit366 commented on #1230
@31081998 do in c

[2021-06-25 16:28] manuvarghese0603 commented on #1289
@Amit366
Sir I would like to solve it in C++ too.
Please assign me this issue under lgm-soc

[2021-06-25 17:27] thejaswin123 opened #1453 "minimum-swaps-to-group-all-1s-together"
# Aim

Given an array of 0’s and 1’s, we need to write a program to find the minimum number of swaps required to group all 1’s present in the array together.

# Input
arr[] = {1, 0, 1, 0, 1, 1}

# Output
1

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-25 17:35] kumarshobhit commented on #1376
@ravikr126  please don't close this issue as I am working on it.

[2021-06-25 17:44] Sakshi1007 commented on #226
Please assign this to me.

[2021-06-25 17:45] Sakshi1007 commented on #226
@Ayush7614

[2021-06-25 17:51] Sakshi1007 opened #1455 "0/1 Knapsack problem"
# 0/1 Knapsack Problem

- I will add a very interesting problem of 0/1 knapsack problem.

# Details

- It is a problem that will follow Dynamic Programming approach. There will be some weights and respected value. We will try to find max value with less weight.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-25 17:52] Sakshi1007 commented on #1455
@Ayush7614 plz assign this issue to me.

[2021-06-25 19:14] harshita9621 commented on #1410
I want to solve this problem in C

[2021-06-25 19:16] harshita9621 commented on #1365
Please Assign me this issue. I will be solving it in C. I am participating in LGM-SOC.

[2021-06-25 21:38] Sanskriti2401 opened #1459 "First negative integer in every window of size k (GFG)"
# Aim

![Screenshot 2021-06-26 030022](https://user-images.githubusercontent.com/75210337/123487028-c78fe980-d62a-11eb-824d-b3b9f2e4ce1d.png)

# Details

- I want to solve this question in C++ language using the sliding window technique.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-25 21:39] Sanskriti2401 commented on #1459
Please assign this issue to me under LGM-SOC'21 .

[2021-06-25 23:53] Pratik57 commented on #1025
I'd like to solve in c under LGMSOC21

[2021-06-25 23:56] Pratik57 commented on #1376
Assign me in c under LGMSOC21 @ravikr126

[2021-06-26 02:32] sakinanomi commented on #1448
@ravikr126  Should I make a new directory for Code Jam to I/O or add the file in Miscellaneous directory??

[2021-06-26 03:05] ravikr126 commented on #1448
Add new directory for codejam @sakinanomi

[2021-06-26 03:06] ravikr126 commented on #1365
Already in repo @Aryan-Srivastava

[2021-06-26 03:06] #1365 closed

[2021-06-26 03:27] Harikrishnaa3131 opened #1460 "Magic Spells [Hackerrank-Hard]"
### Aim

I would like to add the solution for Magic Spells[Hard level] from Hackerrank.

### Details

Link to the problem: https://www.hackerrank.com/challenges/magic-spells/problem
I would like to add my solution to this problem in C++ in an efficient approach.
Please assign this issue to me under HCSSoC (Hack Club SRM Summer of Code) .
@Ayush7614

### Programming language

- [ ] C
- [ ] C++
- [

[2021-06-26 04:07] sakinanomi commented on #1448
ohk!

[2021-06-26 04:21] thejaswin123 opened #1461 "1-based index of Lucky number n [CodeForces]"
# Aim

I would like to add the optimized solution for this problem which is in CodeForces.

# Details
Link to the problem: https://codeforces.com/contest/535/problem/B
I would like to add my solution to this problem in C++ in an optimized approach.
Please assign this issue to me under HCSSoC (Hack Club SRM Summer of Code).
@Ayush7614

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Py

[2021-06-26 05:02] priyanshi5 commented on #1460
I would like to solve this problem in C++. Please assign me this issue under LGM-SOC'21.

[2021-06-26 05:07] priyanshi5 commented on #1453
I would like to solve this problem in C++. Please assign me this issue under LGM-SOC'21.

[2021-06-26 06:01] Amit366 commented on #1244
@harshita9621 mention the language

[2021-06-26 06:04] Amit366 commented on #1244
@harshita9621 mention the language

[2021-06-26 06:09] #847 closed

[2021-06-26 06:14] UG-SEP opened #1463 "Police and Thieves in c++"
# Aim
create a function catch thieves() that take n, k, and arr[ ] as input parameters and returns the maximum number of thieves that can be caught by the police.
# Details
Given an array of size n such that each element contains either a 'P' for a policeman or a 'T' for a thief. Find the maximum number of thieves that can be caught by the police.
Keep in mind the following conditions :

1. Each p

[2021-06-26 06:18] viki4545 commented on #429
Hey @Amit366 i would like to work on this issue using java and I'm an LGM SOC participant, I would like to work on this . Please assign it to me.

[2021-06-26 06:20] Amit366 commented on #429
@viki4545 this issue is already assigned

[2021-06-26 06:25] breeze37 commented on #753
Hi,
I want to implement this in python and C, C++ as a part of LGM-SOC'21.
@Amit366 @Ayush7614  Please assign it to me. Thank you!!

[2021-06-26 06:25] AastikSharma05 commented on #753
Hi,
I want to implement this in C++ as apart of LGM-SOC'21.
@Amit366 @Ayush7614  Please assign it to me. Thankyou!!

[2021-06-26 06:27] harshita9621 commented on #1244
@Amit366 In C++

[2021-06-26 06:28] breeze37 commented on #1044
Hi,
I want to implement this in python as a part of LGM-SOC'21.
@rahulsrivastava1  @Ayush7614 Please assign it to me. Thank you!!

[2021-06-26 06:29] AastikSharma05 commented on #1044
Hi,
I want to implement this in C++ as apart of LGM-SOC'21.
@rahulsrivastava1  @Ayush7614  Please assign it to me. Thankyou!!

[2021-06-26 06:34] Amit366 commented on #1244
@harshita9621 it is already assigned in cpp

[2021-06-26 06:40] harshita9621 commented on #1244
@Amit366 In C

[2021-06-26 06:49] viki4545 commented on #429
you have reopened this issue that is why i was asking to do in java

[2021-06-26 06:51] Amit366 commented on #429
@viki4545 it is already assigned please see

[2021-06-26 06:51] Aiswarika opened #1466 "Orderly Queue Leetcode Hard"
A string s of lowercase letters is given.  Then, we may make any number of moves.
In each move, we choose one of the first k letters (starting from the left), remove it, and place it at the end of the string.

Return the lexicographically smallest string we could have after any number of moves.

Example 1:
Input: s = "cba", k = 1
Output: "acb"

@Ayush7614  @Amit366  I would like to work on this is

[2021-06-26 07:01] viki4545 commented on #821
Hey @Amit366 i m a LGM-Soc Participant, i would like to work on this issue using java, would you like to assign me

[2021-06-26 07:06] viki4545 commented on #429
Sry, its ok no problem

[2021-06-26 07:29] breeze37 opened #1469 "Find all symmetric pairs in an array of pairs"
Given an array of pairs of integers, find all symmetric pairs, i.e., pairs that mirror each other. For instance, pairs (x, y) and (y, x) are mirrors of each other.

For example

Input:  {3, 4}, {1, 2}, {5, 2}, {7, 10}, {4, 3}, {2, 5}

Output:

{4, 3} | {3, 4}
{2, 5} | {5, 2}

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-26 07:37] UG-SEP opened #1471 "Java"

[2021-06-26 07:37] #1471 closed

[2021-06-26 07:41] ChetasShree opened #1472 "Help Vasilisa the Wise 2 on Codeforces"
hi, I want to solve this issue using C++
Please assign this issue to me under HCSSoC (Hack Club SRM Summer of Code) .
Looking forward to contribute here...

Question link: https://codeforces.com/contest/143/problem/A
@Ayush7614

[2021-06-26 07:52] siddhi-244 commented on #1422
Can I try in python?

[2021-06-26 08:21] harshita9621 commented on #1244
Can I work on this using C.

[2021-06-26 09:30] neha030 opened #1474 "Maximum XOR of Two Array"
INPUT/OUTPUT
 Enter the vector size
 6
 Enter the elements in the vector
 3 10 5 25 2 8
 The Maximum XOR of two numbers in the array/vector is : 28

 I am a LGM-SOC Participant and want to provide the C++ code for the above Program in the Data Structure folder.
Please assign me this issue.

[2021-06-26 10:21] utkarsh1311 opened #1476 "Add CodingBat solutions for Java section."
I want to add the solutions for Java section of the Coding Bat website.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

Please assign this issue to me.

[2021-06-26 11:14] sejal1430 opened #1478 "Leetcode: 315. Count of smaller numbers after self (Hard)"
You are given an integer array nums and you have to return a new counts array. The counts array has the property where counts[i] is the number of smaller elements to the right of nums[i].

Input: nums = [5,2,6,1]
Output: [2,1,1,0]

Input: nums = [-1]
Output: [0]

Problem link: https://leetcode.com/problems/count-of-smaller-numbers-after-self/

### Programming Language

Java

As a participant of LG

[2021-06-26 11:17] 1218muskan commented on #1064
Please assign me this issue under LGM SOC'21 . I would like to code in python.

[2021-06-26 12:01] 1218muskan commented on #730
Kindly assign me this issue under LGM SOC'21. I want to implement it in python.

[2021-06-26 12:38] Palak2801 opened #1481 "Sum replacement in binary tree"
Replace each node in binary tree with the sum of its right and left subtree
Example,

<img width="127" alt="ex" src="https://user-images.githubusercontent.com/85724197/123513582-91467e80-d6ab-11eb-9a5f-c5d49946a909.PNG">

**Describe the solution you'd like**
Implementation using C++

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or feature

[2021-06-26 12:40] Khushi-agarwal commented on #1439
@ravikr126 is it assigned to me or not?

[2021-06-26 12:41] Amit366 commented on #1439
@Khushi-agarwal u can go ahead

[2021-06-26 12:47] #1410 closed

[2021-06-26 12:48] Palak2801 commented on #1481
@Ayush7614 @Amit366 @ravikr126 @Saurabh4626 , Kindly assign me this issue under LGMSOC using C++

[2021-06-26 13:11] surajm-333 commented on #1244
Can I work on this issue in Java?

[2021-06-26 13:51] Karnika06 opened #1485 "Forming a Magic Square (Hackerrank)"
I would like to add the solution to this problem from Hackerrank.
Link to the problem is https://www.hackerrank.com/challenges/magic-square-forming/problem.

I would like to add my solution to this problem in Java language.
Please assign this issue to me under LGM-SoC'21.

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-06-26 13:52] sakshiisaxena opened #1486 "Median of Two Sorted Arrays"
# Aim

- Find the median of the two sorted arrays.

# Details

- Given two sorted arrays nums1 and nums2 of size m and n respectively, return the median of the two sorted arrays.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

@Amit366 please assign me this issue under LGMSOC21

[2021-06-26 14:05] Khushi-agarwal opened #1487 "JAVA BigDecimal Program from hacker rank"
**Is your feature request related to a problem? Please describe.**
I would like to add the solution of this problem- https://www.hackerrank.com/challenges/java-bigdecimal/problem

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-06-26 14:06] Khushi-agarwal commented on #1487
@ravikr126 @Amit366 kindly assign me this issue under lgm-soc.

[2021-06-26 16:31] Ananya-Misra opened #1490 "HTML Tags (Codechef LunchTime)"
# Aim
![image](https://user-images.githubusercontent.com/70848031/123519630-2fe1d800-d6ca-11eb-824f-7c635e35f714.png)
@ravikr126 Please assign this issue to me.

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-26 16:34] Ananya-Misra opened #1491 "False Numbers(Codechef Lunchtime)"
# Aim

![image](https://user-images.githubusercontent.com/70848031/123519707-94049c00-d6ca-11eb-97ca-c43b2dbd791a.png)
@ravikr126 Please assign this issue to me.

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-26 17:21] Ananya-Misra opened #1494 "Unpleasant ones (Codechef Lunchtime)"
# Aim

![image](https://user-images.githubusercontent.com/70848031/123520932-16905a00-d6d1-11eb-9654-61ee8db4fd93.png)
@ravikr126 Please assign this issue to me.
# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-26 17:24] Ananya-Misra opened #1495 "From Rational to Binary (Codechef Lunchtime)"
# Aim

- What is the objective of the Script
![image](https://user-images.githubusercontent.com/70848031/123521007-961e2900-d6d1-11eb-90ed-c92ca613c96c.png)
@ravikr126 please assign this issue to me.
# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-26 17:24] Palak2801 commented on #1491
@ravikr126 , Kindly assign me this issue using C++

[2021-06-26 17:26] Palak2801 commented on #1494
@ravikr126 , Kindly assign me this issue using c++

[2021-06-26 17:51] Khushi-agarwal commented on #1487
@ravikr126 please assign me this issue.

[2021-06-26 19:14] Ananya-Misra opened #1500 "Tic Tac Toe (Codechef Lunchtime)"
# Aim

![image](https://user-images.githubusercontent.com/70848031/123523436-1ac47380-d6e1-11eb-8ae5-8fb0630e9da5.png)
@ravikr126 Please assign this issue to me.
# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-26 19:15] Sanskriti2401 commented on #1459
@ravikr126 kindly assign me this issue under LGM-SOC.

[2021-06-27 06:18] neha030 opened #1505 "Klee's Algorithm"
Description: Given a Point with x and y coordinates ,this algorithm finds the union of the
                    lengths covered by all these line segments.

Sample Input: Enter the desired number of points:
			  4
			  Enter the x and y coordinates for the points with a space:
			  2 4
			  5 6
			  3 7
			  1 6
Sample Output: The union of the length of the line segments is:
			  6

I am a LGM-SOC

[2021-06-27 06:24] neha030 opened #1506 "Center of Star Graph"
A star graph is an undirected graph that has n nodes in which one is center node and  has exactly n - 1 edges.
    4
    |
    2
   / \
  1   3

 Here 2 is the answer.

I am a LGM-SOC Participant and want to provide C++ code for the above program in the Data Structure Folder.
Please assign me this issue.

[2021-06-27 06:25] #1506 closed

[2021-06-27 06:27] neha030 opened #1507 "Center of Star Graph"
A star graph is an undirected graph that has n nodes in which one is center node and has exactly n - 1 edges.

                      4
                      |
                      2
                     / \
                   1   3
Here 2 is the answer.

I am a LGM-SOC Participant and want to provide C++ code for the above program in the Data Structure Folder.
Please assign me this issue.

[2021-06-27 07:42] Sanskriti2401 opened #1508 "Group Anagrams (Leetcode Medium)"
# Aim

![Screenshot 2021-06-27 130543](https://user-images.githubusercontent.com/75210337/123536611-01571200-d749-11eb-9107-63da055dd6fe.png)

# Details

- I would like to solve this question in C++ under LGMSOC'21.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-27 07:42] Sanskriti2401 commented on #1508
@ravikr126 Please assign this issue to me under LGMSOC'21 .

[2021-06-27 10:17] khushboo2202 commented on #216
@Ayush7614 can you assign me this issue under lgm-soc21

[2021-06-27 10:18] #1459 closed

[2021-06-27 10:50] Rounak-chauhan commented on #1474
INPUT/OUTPUT
Enter the Arraylist size
6
Enter the elements in the Arraylist
3 10 5 25 2 8
The Maximum XOR of two numbers in the array/ArrayList is : 28
I am LGM_SOC participant and want to provide java code for this program please assign me this issue

[2021-06-27 10:52] Rounak-chauhan commented on #1449
please assign me this under LGM SOC i will be doing in java language

[2021-06-27 10:58] Rounak-chauhan commented on #1431
I am Participant of LGM_SOC21 i can solve it through java in TWO ways which clearly tell the difference between time complexity
first  way by recursion
second way by itration

[2021-06-27 11:00] Rounak-chauhan commented on #1416
I AM LGM SOC 21 PARTICIPANT I WILL LIKE TO CONTRIBUTE THE PROBLEM CODE IN JAVA PLEASE ASSIGN ME THIS UNDER LGMSOC21

[2021-06-27 11:11] Sidrahsheikh commented on #1431
I am a participant in LGM-SoC21. I can solve it using Python. Please assign me this issue

[2021-06-27 11:31] radhikaaojha commented on #216
@ayush7614 @Amit366  @ravikr126  I commented Jun11,2021.Can you please assign this to me for C language?

[2021-06-27 11:33] #216 closed

[2021-06-27 11:57] rakesh419s commented on #1494
please assign me in python under LGM-SOC'21

[2021-06-27 11:59] Rounak-chauhan commented on #184
i will like to work in java language please assign me this problem under LGMSOC21

[2021-06-27 12:05] rakesh419s commented on #1508
please assign me in python

[2021-06-27 12:51] Karnika06 commented on #1508
Please assign this problem to me under LGM-SoC'21 in JAVA language.

[2021-06-27 12:52] Ananya-Misra opened #1510 "Total Correct Submissions (Codechef Starters)"
# Aim
![image](https://user-images.githubusercontent.com/70848031/123545351-282b3d80-d775-11eb-905d-db43e0e43d0b.png)
@ravikr126 Please asign this to me.

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-27 12:53] Ananya-Misra opened #1511 "Sleep Cycle (Codechef Starters)"
![image](https://user-images.githubusercontent.com/70848031/123545300-f9ad6280-d774-11eb-846d-bd10852d390f.png)
@ravikr126 Please assign this issue to me.
- What is the objective of the Script

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-27 12:54] Ananya-Misra opened #1512 "Chess Match (Codechef Starters)"
![image](https://user-images.githubusercontent.com/70848031/123545380-51e46480-d775-11eb-9117-71737e33b83b.png)
@ravikr126 Please aaign this issue to me.

- What is the objective of the Script

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-27 12:54] Palak2801 opened #1513 "Segregate even and odd numbers in a linked list"
Segregate odd and even numbers in linked list. In this problem we need to place all even data nodes before odd data nodes following same order.

Example,
Linked List is :
-->1-->6-->8-->7-->9-->NULL
Linked List after segregation :
-->6-->8-->1-->7-->9->NULL

**Describe the solution you'd like**
Implementation using C

**Describe alternatives you've considered**
A clear and concise description of a

[2021-06-27 12:55] Palak2801 commented on #1513
@Ayush7614 @Amit366 @ravikr126 @Saurabh4626 , Kindly assign me this issue using C under LGMSOC

[2021-06-27 12:55] mrkc2303 commented on #1443
@ravikr126 Please Assign me this issue!

[2021-06-27 12:56] Khushi-agarwal opened #1514 "Total Correct Submission from code chef"
**Is your feature request related to a problem? Please describe.**

I would like to add the solution to the problem total correct submission from code chef.
Link to the problem- https://www.codechef.com/START5C/problems/TOTCRT

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-27 12:56] Khushi-agarwal commented on #1514
@ravikr126 please assign me this issue.

[2021-06-27 13:00] Ananya-Misra commented on #1500
@ravikr126 Please assign this issue to me.

[2021-06-27 13:06] Khushi-agarwal opened #1515 "Chef and Queries"
**Is your feature request related to a problem? Please describe.**
I would like to add the solution to chef and queries from code chef
Link to the problem-https://www.codechef.com/START5C/problems/CHEFQUER
### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

[2021-06-27 13:38] ravikr126 commented on #1500
It already in issue

[2021-06-27 13:59] Karnika06 opened #1520 "Flappy Bird (CodeChef June Starters)"
This issue is from CodeChef Starters June 2021.
I wish to work on this issue in Java language.

**Problem statement**
https://www.codechef.com/START5C/problems/FLAPPYBD/

Please assign this issue to me under LGM-SoC'21.

[2021-06-27 14:06] Surajvatsya opened #1521 "Topological Sorting"
# Aim

linear ordering of vertices

# Details

Topological sorting for Directed Acyclic Graph (DAG) is a linear ordering of vertices such that for every directed edge u v, vertex u comes before v in the ordering.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-27 14:08] harshita9621 commented on #1478
@Ayush7614 Can I work on this issue.

[2021-06-27 14:09] harshita9621 commented on #1455
@Ayush7614 Can I work on this issue.

[2021-06-27 14:14] akash435 opened #1522 "Solution of problem Shower Line in codeforces"
Want to add solution of Shower Line question in codeforces.
The question code  for this is 413 B.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-27 14:15] akash435 commented on #1522
@Ayush7614 , please assign this to me under LGM SOC, will add this problem solution in codeforces.

[2021-06-27 14:19] Ananya-Misra commented on #1500
@ravikr126 Sir this problem is different and was in CodeChef June lunchtime. The existing code in the repo belongs to May long challenges and is a different question. Both the problems have the same name but the problem statements are different.

[2021-06-27 14:26] #1418 closed

[2021-06-27 14:44] pranjay-poddar opened #1525 "Solutions To Codechef June Lunch time 21"
Solutions To Codechef June Lunchtime 21

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-27 14:44] Khushi-agarwal commented on #1515
@ravikr126 please assign me this issue.

[2021-06-27 15:15] Amit366 commented on #184
@Aman-Dhimann do u want to implement in java??

[2021-06-27 15:20] #892 closed

[2021-06-27 15:23] #1122 closed

[2021-06-27 15:26] #865 closed

[2021-06-27 15:29] #204 closed

[2021-06-27 15:32] #932 closed

[2021-06-27 15:37] #304 closed

[2021-06-27 15:40] #792 closed

[2021-06-27 15:41] #716 closed

[2021-06-27 15:47] Surajvatsya opened #1528 "Detect cycle in an undirected graph"
# Aim

Given an undirected graph, how to check if there is a cycle in the graph?

# Details

Run a DFS from every unvisited node. Depth First Traversal can be used to detect a cycle in a Graph. DFS for a connected graph produces a tree. There is a cycle in a graph only if there is a back edge present in the graph. A back edge is an edge that is joining a node to itself (self-loop) or one of its an

[2021-06-27 15:50] #773 closed

[2021-06-27 16:47] #1443 closed

[2021-06-27 17:25] Rounak-chauhan commented on #184
yes i will love to implement in java

[2021-06-27 17:31] rajeshkumar2024 commented on #1490
@ravikr126 i want to add solution of this in Java under LGMSOC'21. Please assign me this.

[2021-06-27 18:08] rajeshkumar2024 commented on #1445
@Ayush7614 i would like to add solution for this in Java under LGMSOC'21. Please assign me this issue.

[2021-06-27 18:14] menakinako opened #1536 "Prisoners Escape"
Description:
![prisoners escape](https://user-images.githubusercontent.com/72397937/123555024-bbc63380-d7a0-11eb-9276-89e195d28994.png)

@ravikr126 Please assign this issue to me under  LGMSOC'21 and I would like to add solution to this problem in C++ language in the folder-Graphs.

[2021-06-27 18:16] rajeshkumar2024 commented on #1400
@Ayush7614 @ravikr126 I'd like to work on this issue in Java. Please assign me this.

[2021-06-27 18:33] rajeshkumar2024 opened #1537 "Check if Sentence is Pangram (Leetcode) in Java Under LGMSOC'21"
# Aim

- Want to add solution for Check if the Sentence is Pangram in Java Under LGMSOC'21.

# Details

- Problem link - https://leetcode.com/problems/check-if-the-sentence-is-pangram/

## Language Used - Java.

@Ayush7614 @ravikr126 please assign me this.

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-06-27 18:53] rajeshkumar2024 opened #1538 "Solution of Pow(x,n) (Leetcode) in Python under LGMSOC'21."
# Aim

- Want to add solution of Pow(x,n) in Python under LGMSOC'21.

# Details

- Problem Link - https://leetcode.com/problems/powx-n/

### Language used - Python

@Ayush7614 @ravikr126 please assign me this issue.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

[2021-06-27 18:55] rajeshkumar2024 opened #1539 "Solution of Reverse Integer (Leetcode) in Python under LGMSOC'21."
# Aim

- Want to add Solution of Reverse Integer (Leetcode) in Python under LGMSOC'21.

# Details

- Problem link - https://leetcode.com/problems/reverse-integer/

### Language used - Python

@Ayush7614 @ravikr126 please assign me this.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

[2021-06-27 18:57] rajeshkumar2024 opened #1540 "Solution of Multiply Strings (Leetcode) in python under LGMSOC'21."
# Aim

- Want to add solution of Multiply Strings in python under LGMSOC'21.

# Details

- Problem link - https://leetcode.com/problems/multiply-strings/

### Language used - Python

@Ayush7614 @ravikr126 please assign me this issue.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

[2021-06-27 19:26] pranjay-poddar opened #1542 "Solution to Zero Problem - GFG Coding Challenge"
Solution to the Zero Problem - GFG Coding Challenge

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

Please assign this task to me.

[2021-06-27 19:36] Ananya-Misra commented on #1512
@ravikr126 Please assign this issue to me.

[2021-06-27 19:37] Ananya-Misra commented on #1510
@ravikr126 Please assign this issue to me.

[2021-06-27 19:49] 19bce502 opened #1544 "Linked List Cycle"
Aim :
Given head, the head of a linked list, determine if the linked list has a cycle in it.

There is a cycle in a linked list if there is some node in the list that can be reached again by continuously following the next pointer. Internally, pos is used to denote the index of the node that tail's next pointer is connected to. Note that pos is not passed as a parameter.

Return true if there is a

[2021-06-27 20:17] nagasaisriya opened #1545 "Solution to Total Correct Submissions"
**Is your feature request related to a problem? Please describe.**
I would like to add the solution to *Total Correct Submissions* from code chef
Link to the problem: https://www.codechef.com/START5C/problems/TOTCRT

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-27 20:48] Sanskriti2401 opened #1546 "The Celebrity Problem ( GFG Medium)"
# Aim
![Screenshot 2021-06-28 021327](https://user-images.githubusercontent.com/75210337/123558935-b83da700-d7b6-11eb-9a2f-04b0ddd79e8b.png)

## Details
I would like to solve this question in C++ under LGMSOC'21.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-27 20:48] 19bce502 opened #1547 "Check if a LinkedList is palindrome or not."
AIM :
Given the head of a singly linked list, return true if it is a [palindrome.]

Please Assign me this problem under LGMSOC'21 .I will be doing in C++.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-27 20:49] Sanskriti2401 commented on #1546
@ravikr126 Please assign this issue to me under LGMSOC'21 .

[2021-06-27 21:15] rajeshkumar2024 opened #1548 "Solution of Check if Two String Arrays are equivalent (Leetcode) in Java under LGMSOC'21."
# Aim

- Want to add Solution of Check if Two String Arrays are equivalent (Leetcode) in Java under LGMSOC'21.

# Details

- Problem link - https://leetcode.com/problems/check-if-two-string-arrays-are-equivalent/

### Language used - Java

@Ayush7614 @ravikr126 please assign me this.

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-06-28 03:47] Ayush7614 opened #1549 "Website For The Project"
Website for the Project with HTML, CSS, JS and with Firebase

[2021-06-28 05:10] mrkc2303 opened #1550 "Trapping Rain Water - LeetCode (Hard)"
# Aim

Want to add a solution of "Trapping Rain Water"
Kindly assign me this problem. I would like to add my solution to this problem in C++ in an easy and efficient way.
Link to the problem: https://leetcode.com/problems/trapping-rain-water/

# Details

Given n non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it can trap after raining.

[2021-06-28 05:11] mrkc2303 commented on #1550
Please assign me this issue under LGMSOC'21

[2021-06-28 05:22] rajeshkumar2024 opened #1551 "Solution of Create Target Array in the Given Order (Leetcode) in Java under LGMSOC'21."
# Aim

- Want to add solution of Create Target Array in the Given Order.

# Details

- Problem link - https://leetcode.com/problems/create-target-array-in-the-given-order/

### Language Used - Java

@Ayush7614 @ravikr126 please assign me this issue.

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-06-28 05:30] Amit366 commented on #1289
@manuvarghese0603 go ahead

[2021-06-28 05:39] Khushi-agarwal commented on #1289
@Amit366 the code is already present in c++

[2021-06-28 05:41] #1203 closed

[2021-06-28 05:42] Amit366 commented on #1289
@Khushi-agarwal where is it present??

[2021-06-28 05:44] Khushi-agarwal commented on #1289
Pr 1350

[2021-06-28 05:44] Amit366 commented on #357
@AnkitaKataria22 @jayant766 mention the language in which u wanna do

[2021-06-28 05:49] Amit366 commented on #1289
Ok so it's already done.

[2021-06-28 05:49] #1289 closed

[2021-06-28 06:09] Soumyadeep-rick opened #1552 "Level order insertion in binary tree"
A menu-driven program for Level order insertion in a binary tree and for displaying iterative preorder, inorder, postorder traversals, and level-order traversal. Also, for displaying the no. of nodes and height of the tree.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-28 06:10] Amit366 commented on #821
@viki4545 add test case

[2021-06-28 06:11] manuvarghese0603 commented on #1289
@Amit366
Sir should I add the c++ code?
Since I didn't created the issue I can't reopen it.

[2021-06-28 06:16] #1439 closed

[2021-06-28 06:18] #1490 closed

[2021-06-28 06:20] #1435 closed

[2021-06-28 06:23] Amit366 commented on #1289
@manuvarghese0603 cpp is already present so don't add

[2021-06-28 06:27] #1201 closed

[2021-06-28 06:30] #237 closed

[2021-06-28 06:34] #393 closed

[2021-06-28 06:40] Ananya-Misra commented on #1510
@Amit366 Please assign this issue to me.

[2021-06-28 06:40] #1436 closed

[2021-06-28 06:40] Ananya-Misra commented on #1512
@Amit366 Please assign this issue to me.

[2021-06-28 06:44] #1444 closed

[2021-06-28 06:45] #652 closed

[2021-06-28 06:46] #821 closed

[2021-06-28 06:57] manuvarghese0603 commented on #1511
I would like to solve it in C++ too.
Please assign me this issue under lgm-soc

[2021-06-28 06:58] manuvarghese0603 commented on #1510
I would like to solve it in C++ .
Please assign me this issue under lgm-soc

[2021-06-28 06:59] manuvarghese0603 commented on #1512
I would like to solve it in C++ .
Please assign me this issue under lgm-soc

[2021-06-28 06:59] manuvarghese0603 commented on #1514
I would like to solve it in C++ .
Please assign me this issue under lgm-soc

[2021-06-28 07:02] harshita9621 commented on #1244
@Amit-45 Pascal triangle get updated Kindly review.

[2021-06-28 07:11] harshita9621 commented on #1537
@Ayush7614 Can I work on this issue, Language - Cpp.

[2021-06-28 07:13] harshita9621 commented on #1486
@Amit366 Can I work on this issue.

[2021-06-28 07:15] harshita9621 commented on #1333
@Amit366 @ravikr126 @Ayush7614 @Saurabh4626 Kindly assign me this issue using python under LGMSOC

[2021-06-28 07:16] harshita9621 commented on #1318
@Ayush7614 @Saurabh4626 @Amit366 Kindly assign me this issue using C++ under LGMSOC

[2021-06-28 07:17] harshita9621 commented on #1287
@Amit366 @Saurabh4626 @Ayush7614 @ravikr126 Kindly assign me this issue using C++ under LGMSOC

[2021-06-28 07:30] Sakshi1007 commented on #1455
@Ayush7614 plz assign this to me

[2021-06-28 07:32] Sakshi1007 commented on #1121
@Ayush7614  assign this to me

[2021-06-28 07:34] manognyaa opened #1556 "Searching in Binary Search Tree (BST)"
**Is your feature request related to a problem? Please describe.**

when we search a number, what we’ll do is we’ll start at the root, and then we will compare  the value to be searched with the value of the root if it’s equal we are done with the search if it’s lesser  we know that we need to go to the left subtree because in a binary search tree all the elements in the left subtree are lesser an

[2021-06-28 07:55] Khushi-agarwal commented on #1514
@Amit366 kindly assign me this issue.

[2021-06-28 09:02] Hanesh-Jogani opened #1558 "Updated README.md"
**Is your feature request related to a problem? Please describe.**
Updating **README.md** file.
The [earlier file](https://github.com/Ayush7614/Daily-Coding-DS-ALGO-Practice/blob/main/README.md) had some grammatical mistakes as well as some incorrect words, so I have made the necessary changes.

**Additional context**
![image](https://user-images.githubusercontent.com/62371149/123609049-f372c100-d

[2021-06-28 09:17] khushboo2202 commented on #1513
@Ayush7614 @ravikr126 kindly assign me this issue using c++  under lgmsoc21

[2021-06-28 09:19] khushboo2202 commented on #1450
plzzz assign me this issue in c under lgmsoc

[2021-06-28 09:22] khushboo2202 commented on #1223
can i try in c?

[2021-06-28 09:29] khushboo2202 commented on #902
can i do this in c?participant of lgmsoc

[2021-06-28 09:51] Suryadipsinh opened #1560 "Sieve of Eratorthenes Algorithm problem-GFG"
Problem : Find number of prime numbers less than given number using Sieve of Eratorthenes Algorithm.
Source: GFG

Language : C

I would like to add more efficient solution using Sieve of Eratorthenes Algorithm in C++ language.

Thank you.

[2021-06-28 09:57] khushboo2202 opened #1561 "dining philosopher problem"
there are 5 Philosophers who are engaged in two activities Thinking and Eating. Meals are taken communally in a table with five plates and five forks in a cyclic manner as shown in the figure.

Constraints and Condition for the problem :

1. Every Philosopher needs two forks in order to eat.
2. Every Philosopher may pick up the forks on the left or right but only one fork at once.
3. Philosophers

[2021-06-28 10:02] Hanesh-Jogani commented on #1549
Sir, what do you want to store into the DB? name of the users or something else like issues or PR's

[2021-06-28 10:23] Isha307 opened #1562 "Solution for Combination Sum of LeetCode"
# Aim

Solution for Combination Sum of LeetCode

# Details

Solution for Combination Sum of LeetCode

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-28 13:04] rakesh419s opened #1566 "Codechef's Total Correct Submissions"
# Aim

Codechef's Total Correct Submissions  a Question from CodeChef contest which is completed 1day ago
https://www.codechef.com/START5B/problems/TOTCRT

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- . Python

[2021-06-28 13:04] rakesh419s commented on #1566
please assign me in Python , LGM-SOC'21

[2021-06-28 13:07] rakesh419s opened #1567 "Chess Match"
# Aim

Chess Match at https://www.codechef.com/START5B/problems/BLITZ3_2

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- . Python

[2021-06-28 13:07] rakesh419s commented on #1567
please assign me in python

[2021-06-28 13:09] tanvi355 opened #1568 "Codechef Chess Match in C++"
Problem link : https://www.codechef.com/START5C/problems/BLITZ3_2

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

Additional context: LGM-SoC'21 participant

[2021-06-28 13:10] tanvi355 commented on #1568
Please assign this to me @ravikr126 @Saurabh4626

[2021-06-28 13:10] rakesh419s opened #1569 "Cyclic Quadrilateral"
# Aim

-Cyclic Quadrilateral at https://www.codechef.com/START5A/problems/CYCLICQD

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- . Python

[2021-06-28 13:11] rakesh419s commented on #1569
please assign me in python

[2021-06-28 14:16] AastikSharma05 commented on #1569
@Ayush7614 @ravikr126  please assign me in C++

[2021-06-28 14:17] breeze37 commented on #1569
@Ayush7614 @ravikr126 please assign me this in C

[2021-06-28 14:17] Anshika-Srivastava opened #1573 "Matrix Chain Multiplication - DP Algorithm"
I would like to provide my C++ code for this very famous problem, often asked in placements and contests. I would be writing the top-down approach for this.

Folder I will be adding this program to is algorithms.
Please assign me this under LGMSOC'21.
Thank You

[2021-06-28 14:17] breeze37 commented on #1469
@Ayush7614 @ravikr126  please assign me this in python under LGM Soc 21

[2021-06-28 14:18] AastikSharma05 commented on #1469
@Ayush7614 @ravikr126 please assign me this in C++ under LGM Soc 21.

[2021-06-28 14:22] breeze37 commented on #1567
Please assign me this is C

[2021-06-28 14:23] AastikSharma05 commented on #1567
please assign me this in  C++

[2021-06-28 14:46] Aryan-Srivastava opened #1575 "Add 1 to a number represented as linked list."
# Aim

- will be adding question in GFG folder [Add 1 to a number represented as linked list.](https://practice.geeksforgeeks.org/problems/add-1-to-a-number-represented-as-linked-list/1)

# Details

- A number N is represented in Linked List such that each digit corresponds to a node in linked list. You need to add 1 to it.

Input:
LinkedList: 4->5->6
Output: 457

Input:
LinkedList: 1->2->3
Output

[2021-06-28 14:50] Subhradeep10 commented on #1568
@tanvi355 Can I work on it?

[2021-06-28 15:20] Aryan-Srivastava opened #1577 "Wave Array"
# Aim

- will be adding wave array question in GFG folder.

# Details

- Given a sorted array arr[] of distinct integers. Sort the array into a wave-like array and return it. In other words, arrange the elements into a sequence such that a1 >= a2 <= a3 >= a4 <= a5..... (considering the increasing lexicographical order).

- Input:
n = 5
arr[] = {1,2,3,4,5}
Output: 2 1 4 3 5
Explanation: Array eleme

[2021-06-28 15:28] Aryan-Srivastava opened #1578 "Bitonic Point."
# Aim

- Will be adding solution for Bitonic Point problem  in GFG folder.

# Details

- Given an array arr of n elements which is first increasing and then may be decreasing, find the maximum element in the array.
Note: If the array is increasing then just print then last element will be the maximum value.

- Input:
n = 9
arr[] = {1,15,25,45,42,21,17,12,11}
Output: 45
Explanation: Maximum element

[2021-06-28 15:28] Surajvatsya opened #1579 "Detect Cycle in a Directed Graph"
# Aim

To Detect Cycle in a given Directed Graph.

# Details
Given a directed graph, check whether the graph contains a cycle or not. Your function should return true if the given graph contains at least one cycle, else return false.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

@Ayush7614 bhiya please assign this issue to me.

[2021-06-28 16:21] manuvarghese0603 commented on #1578
I would like to solve it in C++ .
Please assign me this issue under lgm-soc

[2021-06-28 16:25] abhisheks008 commented on #1123
@Amit-45 I have created separate PRs for this issue. Please check that

[2021-06-28 17:23] Rounak-chauhan commented on #184
#1587 @Amit366 operation in linked list in java is done please review my code

[2021-06-28 17:51] hv65616 commented on #1333
Hello Community, I  Himanshu Verma, and i would like to work on this issue so kindly please assign me this issue.
Language in which I will write code is C++

[2021-06-28 17:53] hv65616 commented on #1044
Hello, I  Himanshu Verma, and I would like to work on this issue. I will write code in C++.
Kindly @rahulsrivastava1 please assign me this issue

[2021-06-28 21:11] Myself-Rohit-Dey opened #1590 "Dense Graph(DENSEGRP) Codechef"
# Aim
I wish to work on Dense Graph problem from Codechef March Long Challenge under LGM-SoC'21.

# Details
Problem Code: DENSEGRP
Problem Statement: [https://www.codechef.com/MARCH21C/problems/DENSEGRP/](url)

![image](https://user-images.githubusercontent.com/75258734/123703950-b50fed00-d882-11eb-9f7e-ba8180369826.png)

![image](https://user-images.githubusercontent.com/75258734/123704118-f1434d

[2021-06-28 21:14] Myself-Rohit-Dey commented on #1590
@Ayush7614 @Amit366 @ravikr126 @Saurabh4626 Please Assign me this issue. I work on this problem in C++.

[2021-06-29 04:37] Arushi247 commented on #1577
@Ayush7614 I'd like to work on this issue in C language under HCSSoC. Please assign me this issue.

[2021-06-29 04:38] Arushi247 commented on #1575
@Ayush7614 I'd like to work on this issue in C language under HCSSoC. Kindly assign me this issue.

[2021-06-29 05:55] priyanshi5 commented on #1455
@Ayush7614  Please assign this task to me under LGM-SOC'21. I will implement using C++.

[2021-06-29 06:03] priyanshi5 commented on #1485
@Ayush7614 Please assign it to me under LGM-SOC'21, I will implement it in C++

[2021-06-29 06:09] #1250 closed

[2021-06-29 06:10] #1569 closed

[2021-06-29 06:13] #1491 closed

[2021-06-29 06:16] #1408 closed

[2021-06-29 06:42] SrihariTadala commented on #1540
Kindly assign this issue to me

[2021-06-29 06:46] SrihariTadala commented on #1547
Kindly assign this issue to me

[2021-06-29 06:51] SrihariTadala commented on #1481
Im preparing for my internships and it would really help me if you assign this question to me
Kindly assign me this issue under LGMSOC

[2021-06-29 06:52] SrihariTadala commented on #1521
Im preparing for my internships and it would really help me if you assign this question to me
Kindly assign me this issue under LGMSOC

[2021-06-29 06:52] SrihariTadala commented on #1538
Im preparing for my internships and it would really help me if you assign this question to me
Kindly assign me this issue under LGMSOC

[2021-06-29 06:52] SrihariTadala commented on #1539
Im preparing for my internships and it would really help me if you assign this question to me
Kindly assign me this issue under LGMSOC

[2021-06-29 06:52] SrihariTadala commented on #1486
Im preparing for my  coding interviews and it would really help me if you assign this question to me
Kindly assign me this issue under LGMSOC

[2021-06-29 06:57] SrihariTadala commented on #1575
Im preparing for my  coding interviews and it would really help me if you assign this question to me
Kindly assign me this issue under LGMSOC

[2021-06-29 06:57] SrihariTadala commented on #835
Im preparing for my  coding interviews and it would really help me if you assign this question to me
Kindly assign me this issue under LGMSOC using pyhton or C++

[2021-06-29 06:58] SrihariTadala commented on #1395
Im preparing for my  coding interviews and it would really help me if you assign this question to me
Kindly assign me this issue under LGMSOC

[2021-06-29 06:58] SrihariTadala commented on #1391
Im preparing for my  coding interviews and it would really help me if you assign this question to me
Kindly assign me this issue under LGMSOC

[2021-06-29 06:58] SrihariTadala commented on #1380
Im preparing for my  coding interviews and it would really help me if you assign this question to me
Kindly assign me this issue under LGMSOC

[2021-06-29 06:58] SrihariTadala commented on #1318
Im preparing for my  coding interviews and it would really help me if you assign this question to me
Kindly assign me this issue under LGMSOC

[2021-06-29 06:58] SrihariTadala commented on #1322
Im preparing for my  coding interviews and it would really help me if you assign this question to me
Kindly assign me this issue under LGMSOC

[2021-06-29 06:58] SrihariTadala commented on #1102
Im preparing for my  coding interviews and it would really help me if you assign this question to me
Kindly assign me this issue under LGMSOC

[2021-06-29 07:04] SrihariTadala commented on #836
Im preparing for my  coding interviews and it would really help me if you assign this question to me
Kindly assign me this issue under LGMSOC

[2021-06-29 07:05] SrihariTadala commented on #1074
Im preparing for my  coding interviews and it would really help me if you assign this question to me
Kindly assign me this issue under LGMSOC

[2021-06-29 07:05] SrihariTadala commented on #1081
Im preparing for my  coding interviews and it would really help me if you assign this question to me
Kindly assign me this issue under LGMSOC

[2021-06-29 09:37] Sanskriti2401 commented on #1546
@ravikr126 @Ayush7614 @Saurabh4626 Please assign this issue to me under LGMSOC'21 .

[2021-06-29 10:36] hoopinwhoopin commented on #1562
### **AIM**
Given an array of distinct integers candidates and a target integer target, return a list of all unique combinations of candidates where the chosen numbers sum to target. You may return the combinations in any order.

The same number may be chosen from candidates an unlimited number of times. Two combinations are unique if the frequency of at least one of the chosen numbers is differen

[2021-06-29 11:07] hoopinwhoopin commented on #1562
i would like to work on this issue under LGMSOC-21 (C++), please assign it to me @Isha307

[2021-06-29 12:06] hoopinwhoopin commented on #1508
please assign me this problem in c++

[2021-06-29 12:06] hoopinwhoopin commented on #1485
please assign it to me under LGM-SOC21 , in java

[2021-06-29 12:13] hoopinwhoopin commented on #1577
can you assign this to me in c++

[2021-06-29 13:03] 19bce502 opened #1593 "Flattening a Linked List"
AIM
Given a Linked List of size N, where every node represents a sub-linked-list and contains two pointers:
(i) a next pointer to the next node,
(ii) a bottom pointer to a linked list where this node is head.
Each of the sub-linked-list is in sorted order.
Flatten the Link List such that all the nodes appear in a single level while maintaining the sorted order.
Note: The flattened list will be pri

[2021-06-29 13:35] 31081998 commented on #1230
@Amit366  can I generate a pull request for the First missing positive in Java, as the issue previously assigned to me is submitted by another participant, and the java code is still pending?

[2021-06-29 13:44] rakesh419s opened #1594 "Irreducibility using Eisenstein’s Irreducibility Criterion"
# Aim

- Program to check for irreducibility using Eisenstein’s Irreducibility Criterion

# Details

- Difficulty Level: Expert at https://www.geeksforgeeks.org/program-to-check-for-irreducibility-using-eisensteins-irreducibility-criterion/

### Programming language

- [ ] C
- . C++
- [ ] Java
- [ ] Python

[2021-06-29 13:44] rakesh419s commented on #1594
please assign me the above problem statement in ++

[2021-06-29 13:59] Amit366 commented on #1230
Ok @31081998 do in java

[2021-06-29 14:58] Karnika06 opened #1595 "Detect negative weight cycle"
# Aim

- We are given a directed graph. We need to detect whether the graph has a negative cycle or not. A negative cycle is one in which the overall sum of the cycle becomes negative.

# Details

- I will be solving this problem using Bellman Ford's Algorithm.
- Bellman Ford algorithm is a algorithm which help us to find the shortest path from a starting vertex to all other vertices of a weighted

[2021-06-29 15:04] #1508 closed

[2021-06-29 15:42] jahnvisrivastava100 commented on #985
@Ayush7614 @Amit-45 Kindly assign this to me in C

[2021-06-29 16:49] Surajvatsya opened #1599 "number of nodes and connected Components in an undirected graph"
# Aim

To find out the number of nodes and components in an undirected graph
# Details

Given an undirected graph, find out the number of nodes and components in an undirected graph.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python
@Ayush7614 bhiya, kindly assign me this issue to work on, in c++.

[2021-06-29 17:18] geekySapien opened #1600 "Max Consecutive Ones III - LeetCode Problem (Medium)"
# Max Consecutive Ones III  - LeetCode Problem (Medium)
# Link to the Problem: [Link](https://leetcode.com/explore/challenge/card/june-leetcoding-challenge-2021/607/week-5-june-29th-june-30th/3796/)
# The Problem Statement is as follows:
## Given a binary array `nums` and an integer `k`, return the maximum number of consecutive 1's in the array if you can flip at most `k` `0`'s.

### Example Test

[2021-06-29 17:38] 31081998 commented on #1230
@Amit366  kindly assign me write permission
![image](https://user-images.githubusercontent.com/30019483/123842824-d75f4480-d92e-11eb-9271-aa3d0f963002.png)

[2021-06-29 17:40] Amit366 commented on #1230
@31081998 check whether u have cloned the forked repo or not

[2021-06-29 17:45] 31081998 commented on #1230
@Amit366 sir I have cloned the forked repo

[2021-06-29 18:25] eg7409 commented on #1044
Hey
I want to implement Quick sort in C++, Java as apart of LGM-SOC'21.
@rahulsrivastava1 @Ayush7614 Please assign it to me.

[2021-06-29 18:26] Rounak-chauhan commented on #184
@Ayush7614  please review my request on linked list operation in java and let me know if its okay or  not

[2021-06-29 18:27] eg7409 commented on #1494
@Ayush7614 @Amit366 @Saurabh4626 @ravikr126
 Kindly assign me this issue using C++ || Java under LGM-SOC'21

[2021-06-29 19:00] SrihariTadala commented on #1595
Im preparing for my coding interviews and it would really help me if you assign this question to me
Kindly assign me this
I have immense intrest  in coding

[2021-06-29 19:00] SrihariTadala commented on #1599
Im preparing for my coding interviews and it would really help me if you assign this question to me
Kindly assign me this
I have immense intrest  in coding

[2021-06-29 19:01] SrihariTadala commented on #1556
Im preparing for my coding interviews and it would really help me if you assign this question to me
Kindly assign me this
I have immense intrest  in coding

[2021-06-29 19:01] SrihariTadala commented on #1552
Im preparing for my coding interviews and it would really help me if you assign this question to me
Kindly assign me this
I have immense intrest  in coding

[2021-06-29 19:01] SrihariTadala commented on #1544
Im preparing for my coding interviews and it would really help me if you assign this question to me
Kindly assign me this
I have immense intrest  in coding

[2021-06-29 19:01] SrihariTadala commented on #1481
Im preparing for my coding interviews and it would really help me if you assign this question to me
Kindly assign me this
I have immense intrest  in coding

[2021-06-29 19:01] SrihariTadala commented on #1455
Im preparing for my coding interviews and it would really help me if you assign this question to me
Kindly assign me this
I have immense intrest  in coding

[2021-06-29 19:01] SrihariTadala commented on #1398
Im preparing for my coding interviews and it would really help me if you assign this question to me
Kindly assign me this
I have immense intrest  in coding

[2021-06-29 19:01] SrihariTadala commented on #1400
Im preparing for my coding interviews and it would really help me if you assign this question to me
Kindly assign me this
I have immense intrest  in coding

[2021-06-29 19:01] SrihariTadala commented on #1431
Im preparing for my coding interviews and it would really help me if you assign this question to me
Kindly assign me this
I have immense intrest  in coding

[2021-06-29 19:01] SrihariTadala commented on #1007
Im preparing for my coding interviews and it would really help me if you assign this question to me
Kindly assign me this
I have immense intrest  in coding

[2021-06-29 19:01] SrihariTadala commented on #985
Im preparing for my coding interviews and it would really help me if you assign this question to me
Kindly assign me this
I have immense intrest  in coding

[2021-06-29 19:02] SrihariTadala commented on #1164
Im preparing for my coding interviews and it would really help me if you assign this question to me
Kindly assign me this
I have immense intrest  in coding

[2021-06-29 19:02] SrihariTadala commented on #1134
Im preparing for my coding interviews and it would really help me if you assign this question to me
Kindly assign me this
I have immense intrest  in coding

[2021-06-29 19:03] SrihariTadala commented on #1579
Im preparing for my coding interviews and it would really help me if you assign this question to me
Kindly assign me this
I have immense interest  in coding

[2021-06-29 19:03] SrihariTadala commented on #1560
Im preparing for my coding interviews and it would really help me if you assign this question to me
Kindly assign me this
I have immense interest  in codin

[2021-06-29 19:03] SrihariTadala commented on #1537
Im preparing for my coding interviews and it would really help me if you assign this question to me
Kindly assign me this
I have immense interest  in codin

[2021-06-29 19:03] SrihariTadala commented on #1538
Im preparing for my coding interviews and it would really help me if you assign this question to me
Kindly assign me this
I have immense interest  in codin

[2021-06-29 19:38] Rounak-chauhan commented on #1550
please assign me this issue under LGMSOC'21 i will like to do this in java with minimum time complexity @Ayush7614 @Amit366

[2021-06-29 19:40] Rounak-chauhan commented on #1548
please assign me this issue i will like to do this  in java language
@Ayush7614 @ravikr126

[2021-06-29 19:46] Rounak-chauhan opened #1601 "kadane's algorithm"
# Aim

- Given nums = [-2, 1, -3, 4].
Compare all elements with the cumulative sum stored in the previous index.

Since -2 < 0, value -2 doesn't contribute to the sum. Thus, ignore it and proceed to the next index.
Since 1 > 0, value 1 does contribute. Hence, compute -3+1 = -2 and store it in index 2.
The result vector is so far: [-2, 1, -2, 4]. Last element to evaluate is 4.
Since -2 < 0, -2 does

[2021-06-29 19:47] Rounak-chauhan commented on #1601
please assign me this under java under LGMSOC'21

[2021-06-29 21:31] Aryan-Srivastava opened #1603 "Remove Duplicate Element from Unsorted Linked List"
# Aim

- Solution for remove duplicate element from sorted linked list is already in the repository, hence

- will be adding solution for Remove Duplicate Element from Unsorted Linked List.

# Details

- Given an unsorted linked list of N nodes. The task is to remove duplicate elements from this unsorted Linked List. When a value appears in multiple nodes, the node which appeared first should be k

[2021-06-29 22:41] 31081998 commented on #1547
@Saurabh4626  kindly assign me this issue in python and java

[2021-06-29 23:11] 31081998 commented on #1303
@Ayush7614  kindly assign this issue to me for python

[2021-06-30 00:22] Sakshi1007 commented on #226
@Ayush7614 assign this to me.

[2021-06-30 00:23] Sakshi1007 commented on #226
No PR is merged and issue is also open so plz assign this to me.

[2021-06-30 00:25] Sakshi1007 commented on #1455
Assign this to me under LGM SOC'21

[2021-06-30 05:29] #746 closed

[2021-06-30 05:30] #318 closed

[2021-06-30 05:32] #898 closed

[2021-06-30 05:43] #1232 closed

[2021-06-30 05:53] #1415 closed

[2021-06-30 05:55] #1213 closed

[2021-06-30 06:00] #1487 closed

[2021-06-30 06:05] #1495 closed

[2021-06-30 06:06] #1448 closed

[2021-06-30 06:08] #1375 closed

[2021-06-30 06:12] Amit366 commented on #1514
@Khushi-agarwal this issue is already opened #1510

[2021-06-30 06:12] #1514 closed

[2021-06-30 06:13] Amit366 commented on #1525
@pranjay-poddar this is already done

[2021-06-30 06:13] #1525 closed

[2021-06-30 06:14] #1054 closed

[2021-06-30 06:14] #106 closed

[2021-06-30 06:18] #1515 closed

[2021-06-30 06:31] Ananya-Misra commented on #1494
@Amit366 I haven't visited this site for the code solution even once. I made the code myself and I haven't copied it from anywhere so please merge my PR.

[2021-06-30 09:56] chicken-biryani opened #1607 "Panagram"
# Aim
This program aims at implementing panagram in python

[2021-06-30 09:56] chicken-biryani commented on #1607
Please assign me the issue.

[2021-06-30 10:34] srisatya1197 opened #1608 "Label commenting bot"
**Is your feature request related to a problem? Please describe.**
I would like it to generate different messages for following labels:-

**Describe the solution you'd like**
The bot gives tags such as:
lgmsoc21
level0
level1
level2
level3
under review
changes requested
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consi

[2021-06-30 14:38] KimtVak8143 opened #1610 "Converting No of days into Years, Weeks, Remaining days using functions in C"
# Aim

- To Convert No. of days into Years, Weeks, and Remaining Days using Functions in C Language.

# Details

- Simple Algorithm used for conversion

### Programming language

- [x] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-30 14:53] Khushi-agarwal opened #1613 "The skyline Problem (hard)"
**Is your feature request related to a problem? Please describe.**
I would like to add the solution to the skyline problem from leetcode
Link to the problem -
https://leetcode.com/problems/the-skyline-problem/

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

[2021-06-30 14:53] Khushi-agarwal commented on #1613
@ravikr126 please assign me this issue under lgm-soc.

[2021-06-30 14:53] Karnika06 opened #1614 "Lowest Common Ancestor of a Binary Tree"
# Aim

- Given a binary tree, find the lowest common ancestor (LCA) of two given nodes in the tree.

# Details

- “The lowest common ancestor is defined between two nodes p and q as the lowest node in T that has both p and q as descendants (where we allow a node to be a descendant of itself).”

I would very much like to work on this issue.
Its a question from LeetCode June challenge and also often

[2021-06-30 16:24] Aryan-Srivastava opened #1615 "Rotate array by K(medium) LeetCode"
# Aim

- will be adding solution for [Rotate array by k](https://leetcode.com/problems/rotate-array/) in leetcode folder.

# Details

- Given an array, rotate the array to the right by k steps, where k is non-negative.

- Input: nums = [1,2,3,4,5,6,7], k = 3
Output: [5,6,7,1,2,3,4]
Explanation:
rotate 1 steps to the right: [7,1,2,3,4,5,6]
rotate 2 steps to the right: [6,7,1,2,3,4,5]
rotate 3 steps

[2021-06-30 16:33] Sathwika-02 commented on #1601
Hi,
I want to implement this in C++ as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-30 16:35] Aryan-Srivastava commented on #1593
I guess this one is already present in the GFG folder.

[2021-06-30 16:36] Sathwika-02 commented on #1615
Hi,
I want to implement this in python as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-30 17:13] Arushi247 commented on #1603
@Ayush7614 I'd like to work on this issue in C language under HCSSoC. Kindly assign me this issue.

[2021-06-30 17:27] neha030 opened #1616 "To Check Collinearity of three points"
SAMPLE INPUT AND OUTPUT

Enter the first co-ordinates:  1 1
Enter the second co-ordinates: 2 2
Enter the third co-ordinates:  3 3
The given points are collinear

I am a LGM-SOC Participant and want to provide C++ solution for this in Data Structure folder.
Please assign me this issue

[2021-06-30 18:13] khushboo2202 commented on #1616
i want to try this problem in c under lgmsoc plzz assign me this issue @Ayush7614

[2021-06-30 18:54] codingninja11 opened #1618 "Majority Element(Leetcode)"
## AIM
I will be adding a question in the Leetcode folder [Majority Element](https://leetcode.com/problems/majority-element/).

## Details

-  Given an array nums of size n, return the majority element.
The majority element is the element that appears more than ⌊n / 2⌋ times. You may assume that the majority element always exists in the array.

Input: nums = [3,2,3]
Output: 3
Input: nums = [2,2,1,

[2021-06-30 19:03] Rounak-chauhan commented on #1615
i want to implement this in java as a part of LGM_SOC21
@Ayush7614 @Amit366  please assign it to me

[2021-06-30 20:56] ravikr126 commented on #1615
Already raised issue

[2021-06-30 20:56] #1615 closed

[2021-07-01 03:11] Ayush7614 commented on #1560
You can do in which langauge

[2021-07-01 04:49] surbhi594 commented on #1394
@Ayush7614 @Amit366 please assign this issue to me in c++ language under LGMSOC'21.

[2021-07-01 04:50] surbhi594 commented on #1280
@Ayush7614 @Amit366 please assign this to me in c++ language under LGMSOC'21.

[2021-07-01 04:50] apran-vs commented on #1613
I would like to work on this issue with python under LGMSoC'21.

[2021-07-01 05:07] Sidrahsheikh commented on #1431
Hi I am participant at LGM-SOC21 .I can solve it using C . please assign me this issue

[2021-07-01 05:30] ij007 commented on #1607
I would like to work on this.

[2021-07-01 05:33] hoopinwhoopin commented on #1500
can i get this assigned in c++

[2021-07-01 05:33] hoopinwhoopin commented on #1463
can i get this assigned

[2021-07-01 05:38] #674 closed

[2021-07-01 05:58] #1244 closed

[2021-07-01 06:03] Arushi247 commented on #1618
@Ayush7614 I'd like to work on this issue in C language under HCSSoC. Kindly assign me this issue.

[2021-07-01 06:03] Soham-Official opened #1621 "Egg Dropping Puzzle(GFG)"
##AIM

I will be adding a question in the GFG folder Egg Dropping Puzzle

##Problem Statement

Suppose you have N eggs and you want to determine from which floor in a K-floor building you can drop an egg such that it doesn't break. You have to determine the minimum number of attempts you need in order find the critical floor in the worst case while using the best strategy. There are few rules give

[2021-07-01 06:09] #1286 closed

[2021-07-01 06:19] Arushi247 commented on #1601
@Ayush7614 I'd like to work on this issue in C language under HCSSoC. Kindly assign me this issue.

[2021-07-01 06:24] viki4545 commented on #1560
Hey @Ayush7614 can i solve this issue using java would you like to assign me

[2021-07-01 06:45] #1442 closed

[2021-07-01 06:46] banshita209 opened #1622 "Want to add ReverSort under CodeJam Section"
# Aim

- What is the objective of the Script
I want to add the solution of reversort that was asked in code jam 2021.
link to the problems: [https://codingcompetitions.withgoogle.com/codejam/round/000000000043580a/00000000006d0a5c](https://codingcompetitions.withgoogle.com/codejam/round/000000000043580a/00000000006d0a5c)

thus I like to provide the solution in java to this problem under LGM-SOC

#

[2021-07-01 06:46] mrkc2303 opened #1623 "Permutations - LeetCode"
# Aim

Want to add a solution of "Permutations"
Kindly assign me this problem. I would like to add my solution to this problem in C++ easily and efficiently using recursion.
Link to the problem: https://leetcode.com/problems/permutations/

# Details

Given an array nums of distinct integers, return all the possible permutations. You can return the answer in any order.

Example 1:
Input: nums = [1,

[2021-07-01 06:47] #1505 closed

[2021-07-01 06:47] mrkc2303 commented on #1623
Please assign me this issue under LGM-SOC'21

[2021-07-01 07:04] #1123 closed

[2021-07-01 07:10] yellowberard opened #1624 "Product of Array Except Self-Leetcode"
AIM
Want to add solution the "Product of array except self".
Kindly assign me this problem I want to add solution to this problem in C++.
Link To the problem:-https://leetcode.com/problems/product-of-array-except-self/

DETAILS

Given an integer array nums, return an array answer such that answer[i] is equal to the product of all the elements of nums except nums[i].

Example 1:

Input: nums = [1,2

[2021-07-01 07:10] yellowberard commented on #1624
Please assign me this issue under LGM-SOC'21

[2021-07-01 07:26] #1558 closed

[2021-07-01 07:29] Soham-Official commented on #1621
Please assign me to this issue under LGMSoC'21.

[2021-07-01 08:37] UG-SEP opened #1628 "Merge K sorted Linked List (Leetcode: Hard)"
# Aim

To create a function that solves the problem
# Details

Given a pointer of Linked List Merge all of them in ascending order
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

## Leetcode Hard Difficulty Problem [Link](https://leetcode.com/problems/merge-k-sorted-lists/)
Approach used: using Priority Queue

[2021-07-01 10:08] sonamgupta136 commented on #1601
Please assign me this issue in python language under LGMSOC'21 @Ayush7614

[2021-07-01 10:28] sonamgupta136 commented on #1618
@ravikr126  I like to work in this issue in Python under LGMSOC21

[2021-07-01 11:07] chicken-biryani opened #1631 "Rabin - Karp"
In python

[2021-07-01 11:25] Sanskriti2401 opened #1633 "Minimize the Heights II (GFG Medium)"
# Aim
![Screenshot 2021-07-01 164450](https://user-images.githubusercontent.com/75210337/124116590-c298c300-da8c-11eb-9b19-e3a94e281529.png)

# Details

I would like to solve Minimize the Heights II in C++ language under LGMSOC'21.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-07-01 11:27] Sanskriti2401 commented on #1633
@ravikr126 @Amit366 Kindly assign me this issue under LGMSOC'21.

[2021-07-01 11:30] #1546 closed

[2021-07-01 12:06] Soham-Official opened #1635 "Palindromic partitioning (HARD)(GFG)"
I would like to add a Question Palindromic Partitioning
problem link https://practice.geeksforgeeks.org/problems/palindromic-patitioning4845/1/?track=md-dp&batchId=144

Problem Statement
Given a string str, a partitioning of the string is a palindrome partitioning if every sub-string of the partition is a palindrome. Determine the fewest cuts needed for palindrome partitioning of given string.

Te

[2021-07-01 12:07] Soham-Official commented on #1635
@ravikr126  @Amit366  Kindly assign me this issue under LGMSOC'21.

[2021-07-01 12:47] Amit366 commented on #597
Reopened since @nidhi3108 is working

[2021-07-01 14:15] yellowberard opened #1638 "Reversing words in a String-leetcode"
AIM
Want to add solution the "Reversing words in  a String".
Kindly assign me this problem I want to add solution to this problem in C++.
Link To the problem:-https://leetcode.com/problems/reverse-words-in-a-string/

DETAILS
Given an input string s, reverse the order of the words.

A word is defined as a sequence of non-space characters. The words in s will be separated by at least one space.

Ret

[2021-07-01 14:15] yellowberard commented on #1638
Please assign me this issue under LGM-SOC'21

[2021-07-01 14:24] neha030 opened #1639 "Cheapest flights within k stops [LEETCODE]"
https://leetcode.com/problems/cheapest-flights-within-k-stops/

Example :
	Input:
	n = 3, edges = [[0,1,100],[1,2,100],[0,2,500]]
	src = 0, dst = 2, k = 1
	Output: 200

I am a LGM-SOC Participant and want to provide C++ code for this
Please assign me this issue

[2021-07-01 14:32] sonamgupta136 commented on #1635
@ravikr126 @Amit366 please assign me this under LGMSOC'21.I will like to do this task in Python and c++ both

[2021-07-01 14:34] sonamgupta136 commented on #1638
Kindly assign me this issue under LGMSOC'21

[2021-07-01 14:37] #1635 closed

[2021-07-01 15:05] Palak2801 commented on #1599
@Amit366 @Ayush7614,  I want implement the same using C under LGM-SOC'21, Kindly assign me this issue

[2021-07-01 15:09] Palak2801 commented on #1546
@Amit366 @Ayush7614 @ravikr126 I want to implement the same using C under LGM-SOC'21, kindly assign me this issue

[2021-07-01 15:23] Palak2801 opened #1640 "Find a peak element"
We need to find index of peak element from given array.
https://practice.geeksforgeeks.org/problems/peak-element/1
Ex,
INPUT: arr[ ]=[1, 3, 20, 4, 1, 0]
OUTPUT: index of peak element is 2

**Describe the solution you'd like**
I want to implement it using C++

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**A

[2021-07-01 15:25] Palak2801 commented on #1640
@Ayush7614 @Amit366 @ravikr126 @Saurabh4626 . Kindly assign me this issue using C++

[2021-07-01 15:25] sonamgupta136 commented on #1614
Please assign me this issue under LGMSOC'21
I would like to contribute in c++ language.

[2021-07-01 15:31] sonamgupta136 commented on #1628
Please assign me this issue under LGMSOC'21
I will like to contribute in Python language

[2021-07-01 15:40] Palak2801 opened #1641 "Maximum number of Perfect Numbers in a subarray"
A number is a perfect number if is equal to sum of its proper divisors. We need to find maximum number of Perfect no. in subarray.

Example,
Input: arr[ ] = {28, 2, 3, 6, 496, 99, 8128, 24}, K = 4
Output: 3
Explanation: The sub-array {6, 496, 99, 8128} has 3 perfect numbers which is maximum.

**Describe the solution you'd like**
Implementation using C++

**Describe alternatives you've considered**

[2021-07-01 15:41] Palak2801 commented on #1641
@Ayush7614 @Amit366 @ravikr126 @Saurabh4626 . Kindly assign me this issue using C++

[2021-07-01 16:42] akash435 opened #1643 "Regular Expression Matching (Hard)"
Want to add solution of this leetcode question

Input: s = "aa", p = "a"
Output: false
Explanation: "a" does not match the entire string "aa".

Input: s = "aa", p = "a*"
Output: true
Explanation: '*' means zero or more of the preceding element, 'a'. Therefore, by repeating 'a' once, it becomes "aa".

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-01 16:43] akash435 commented on #1643
@Ayush7614 please assign this to me under LGM SOC.

[2021-07-01 17:57] sonamgupta136 commented on #1621
Kindly assign me this issue under LGMSOC'21

[2021-07-01 17:59] sonamgupta136 commented on #1486
Please assign me this issue under LGMSOC'21

[2021-07-01 18:15] #1274 closed

[2021-07-01 18:33] Palak2801 opened #1646 "Construct Binary Tree from Inorder and Postorder Traversal"
I want to give code for solution of this problem-
https://practice.geeksforgeeks.org/problems/tree-from-postorder-and-inorder/1

**Describe the solution you'd like**
Implementation using C++

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the f

[2021-07-01 18:34] Palak2801 commented on #1646
@Ayush7614 @Amit366 @ravikr126 @Saurabh4626 . Kindly assign me this issue using C++

[2021-07-01 18:54] #1646 closed

[2021-07-01 18:54] ravikr126 commented on #1646
Duplicate issue

[2021-07-01 19:07] MDivakarPal commented on #1628
I want to solve this problem using java. Kindly assign me this issue.

[2021-07-01 19:10] MDivakarPal commented on #1600
I want to work on it and solve this issue. I will solve using Java.

[2021-07-01 20:16] Anshika-Srivastava opened #1647 "Rotate a Linked List _GFG"
**Question**
Given a singly linked list of size N. The task is to rotate the linked list counter-clockwise by k nodes, where k is a given positive integer smaller than or equal to length of the linked list.

Accuracy: 33.33% (Medium)

**Example 1:**

Input:
N = 5
value[] = {2, 4, 7, 8, 9}
k = 3
Output: 8 9 2 4 7
Explanation:
Rotate 1: 4 -> 7 -> 8 -> 9 -> 2
Rotate 2: 7 -> 8 -> 9 -> 2 -> 4
Rotate 3:

[2021-07-01 20:30] Anshika-Srivastava opened #1648 "Delete without head pointer_GFG"
**Question:**
You are given a pointer/ reference to the node which is to be deleted from the linked list of N nodes. The task is to delete the node. Pointer/ reference to head node is not given.
Note: No head reference is given to you. It is guaranteed that the node to be deleted is not a tail node in the linked list.

Accuracy: 69.01%

Please assign me under LGMSOC'21.
Thank You!

[2021-07-02 01:51] Palak2801 commented on #1646
@ravikr126 Earlier issue was created to construct binary tree from preorder and inorder but I have created issue to construct binary tree from postorder and inorder

[2021-07-02 02:54] Palak2801 commented on #1646
@ravikr126 Earlier issue was created to construct binary tree from preorder and inorder but I have created issue to construct binary tree from postorder and inorder.
Could you please assign this issue to me

[2021-07-02 03:04] suy1968 commented on #1621
Please assign me this issue as I am a participant of LGMSOC'21.

I used Python3

[2021-07-02 03:49] sonamgupta136 commented on #1322
Please assign me this issue under LGMSOC'21.
I will like to solve this in python

[2021-07-02 04:38] sonamgupta136 commented on #1285
Please assign me this issue under LGMSOC'21.
@Ayush7614 @ravikr126 @Saurabh4626

[2021-07-02 05:05] Amit366 commented on #1547
@SrihariTadala mention the language u want to do in?

[2021-07-02 05:07] Amit366 commented on #1318
@SrihariTadala mention the language

[2021-07-02 05:10] Amit366 commented on #1322
This code is already present in the repo

[2021-07-02 05:10] #1322 closed

[2021-07-02 05:11] #1332 closed

[2021-07-02 05:14] Amit366 commented on #1362
This is already solved

[2021-07-02 05:14] #1362 closed

[2021-07-02 05:14] sonamgupta136 commented on #1647
Please assign me this issue under LGMSOC'21.
I would like to solve this in c++

[2021-07-02 05:16] Amit366 commented on #1380
@SrihariTadala language??

[2021-07-02 05:19] Amit366 commented on #1395
This issue is solved

[2021-07-02 05:19] #1395 closed

[2021-07-02 05:29] Amit366 commented on #1494
@Ananya-Misra u can send the PR again without any plagiarism.

[2021-07-02 05:33] Amit366 commented on #1539
@rajeshkumar2024 and @SrihariTadala first finish ur pending issues

[2021-07-02 05:35] Amit366 commented on #1566
@rakesh419s this is already done

[2021-07-02 05:35] #1566 closed

[2021-07-02 05:36] Amit366 commented on #1567
This issue is already solved

[2021-07-02 05:36] #1567 closed

[2021-07-02 05:36] Amit366 commented on #1568
This issue is already solved

[2021-07-02 05:36] #1568 closed

[2021-07-02 05:40] #1593 closed

[2021-07-02 05:41] Amit366 commented on #1601
This is already done

[2021-07-02 05:41] #1601 closed

[2021-07-02 05:43] Amit366 commented on #1607
#1537 is the same issue

[2021-07-02 05:43] #1607 closed

[2021-07-02 05:46] Amit366 commented on #1621
Mention the language u wanna do in

[2021-07-02 05:47] sonamgupta136 commented on #1621
I will solve in c++ language.

[2021-07-02 06:10] Ayush7614 opened #1653 "Website for the project"
with HTML CSS JS

[2021-07-02 06:11] #539 closed

[2021-07-02 06:12] #1653 closed

[2021-07-02 06:24] 19bce502 opened #1656 "Job Sequencing Problem"
AIM
Given a set of N jobs where each job i has a deadline and profit associated to it. Each job takes 1 unit of time to complete and only one job can be scheduled at a time. We earn the profit if and only if the job is completed by its deadline. The task is to find the maximum profit and the number of jobs done.

Note: Jobs will be given in the form (Job id, Deadline, Profit) associated to that Jo

[2021-07-02 06:33] Sakshi1007 commented on #1455
@Ayush7614 review my PR

[2021-07-02 06:33] Soham-Official commented on #1621
@Amit366 i can do in all the four languages.. what to do?
also please assign the label to it.

[2021-07-02 06:38] Sakshi1007 commented on #329
Assign this to me @Ayush7614 under LGM SOC

[2021-07-02 06:39] priyanshi5 commented on #1656
@Ayush7614 I would like to solve this issue in Python. Please assign me this under LGM-SOC'21

[2021-07-02 06:39] Sakshi1007 commented on #1023
Assign this to me under LGMSOC

[2021-07-02 06:40] Sakshi1007 commented on #813
Assign this to me @Ayush7614 . I would like to work on this in cpp

[2021-07-02 06:45] Rounak-chauhan commented on #1623
i will like to contribute the solution in java using recursion please assign me underLGMSOC21

[2021-07-02 06:46] Rounak-chauhan commented on #1614
please assign me this issue i would like to contribute in java

[2021-07-02 06:49] SrihariTadala commented on #1380
I would like to do in Java

[2021-07-02 06:49] SrihariTadala commented on #1547
I would like to do in Java

[2021-07-02 06:51] SrihariTadala commented on #1560
I would like to do in Java

[2021-07-02 07:10] Simar05519 commented on #329
This issue is created by me
I will complete it by sunday

On Fri, 2 Jul, 2021, 12:08 pm sakshi(P), ***@***.***> wrote:

[2021-07-02 07:12] KushagraJain58-cmd opened #1666 "Grid And Phrase"
# Aim

Want to add a solution of "Grid And Phrase"
Kindly assign me this problem. I would like to add my solution to this problem in C++ easily and efficiently using recursion.
Link to the problem: https://www.hackerearth.com/practice/data-structures/arrays/multi-dimensional/practice-problems/algorithm/jadvaliioo-62280ff6/

# Details
You are given an n*m grid which contains lower case English lett

[2021-07-02 07:13] KushagraJain58-cmd commented on #1666
Please assign me this issue under LGM-SOC'21

[2021-07-02 07:16] rajeshkumar2024 commented on #1539
@Amit366 I have raised a pull request for all my previous task. Please assign me this issue.

[2021-07-02 07:16] 31081998 commented on #1547
@Amit366  I ll do it in python #1547

[2021-07-02 07:19] KushagraJain58-cmd opened #1668 "Union And Intersection"
# Aim

Want to add a solution of "Union and Intersection"
Kindly assign me this problem. I would like to add my solution to this problem in C++ easily and efficiently using sorting.
Link to the problem: https://www.geeksforgeeks.org/union-and-intersection-of-two-sorted-arrays-2/

# Details

Given two sorted arrays, find their union and intersection.
Example:

Input : arr1[] = {1, 3, 4, 5, 7}

[2021-07-02 07:19] KushagraJain58-cmd commented on #1668
Please assign me this issue under LGM-SOC'21

[2021-07-02 07:25] KushagraJain58-cmd opened #1669 "Fixed Parities"
# Aim

Want to add a solution of "Fixed Parities"
Kindly assign me this problem. I would like to add my solution to this problem in C++ easily and efficiently using 2D Matrix.
Link to the problem: https://www.hackerearth.com/practice/data-structures/arrays/1-d/practice-problems/algorithm/fixed-parity-440254c0/

# Details

Alice and Bob are playing a board game. They have n×n boards and two arrays

[2021-07-02 07:25] KushagraJain58-cmd commented on #1669
Please assign me this issue under LGM-SOC'21

[2021-07-02 07:27] #1550 closed

[2021-07-02 07:39] apran-vs commented on #1633
I would Like to solve this issue with python under LGMSoC'21.

[2021-07-02 08:38] singhmansi25 commented on #1159
When I will be assigned the issue ?? I haven't got any updates yet !!!

[2021-07-02 09:14] tanvi355 opened #1681 "Restructuring the repository"
**Is your feature request related to a problem? Please describe.**
Navigating through the repository is difficult due to repetitive codes to the same problem in one folder.

**Describe the solution you'd like**
Arranging the codes as:
CodeChef:
    |- C
    |- C++
    |- Java
    |-Python

Hackerrank:
    |- C
    |- C++
    |- Java
    |-Python
and so on for all the websites.

**Additional contex

[2021-07-02 09:14] tanvi355 commented on #1681
@Amit366

[2021-07-02 10:16] PrathmeshMutke opened #1682 "Add Hackerrank Solution of Java static initializer block"
Aim -
 Addition of Hackerrank Problem Solution

 Details -
Problem Name - Java Static Initializer Block

An efficient solution of Problem.

Link of Hackerrank Solution -
https://www.hackerrank.com/challenges/java-static-initializer block/submissions/code/219468339

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-07-02 10:19] PrathmeshMutke commented on #1682
@Ayush7614
LGM SOC'2021

[2021-07-02 10:23] akash435 opened #1684 "Sudoku Solver LeetCode (Hard)"
Want to add solution to this leetcode problem.

# test case
Input: board = [["5","3",".",".","7",".",".",".","."],
                         ["6",".",".","1","9","5",".",".","."],
                         [".","9","8",".",".",".",".","6","."],
                         ["8",".",".",".","6",".",".",".","3"],
                         ["4",".",".","8",".","3",".",".","1"],
                         ["7"

[2021-07-02 10:23] akash435 commented on #1684
@Amit366 please assign this to me under LGM SOC.

[2021-07-02 10:25] siddhi-244 commented on #1560
Can I try in python ?

[2021-07-02 10:26] siddhi-244 commented on #1549
I can try the frontend !

[2021-07-02 10:27] Ananya-Misra opened #1685 "Maximum Production(July Long Challenge)"
# Aim

![image](https://user-images.githubusercontent.com/70848031/124260907-d8ba8800-db4d-11eb-8717-f30c33dae2df.png)

@ravikr126 Please assign this issue to me

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-07-02 10:27] Ananya-Misra opened #1686 "Relativity (July Long Challenge)"
# Aim

![image](https://user-images.githubusercontent.com/70848031/124261051-fc7dce00-db4d-11eb-997f-41256ff191a6.png)

@ravikr126 Please assign this issue to me
# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-07-02 10:27] Ananya-Misra opened #1687 "XxOoRr (July Long Challenge)"
# Aim
![image](https://user-images.githubusercontent.com/70848031/124261180-20411400-db4e-11eb-8d27-18eff8791599.png)

@ravikr126 Please assign this issue to me

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-07-02 10:29] Ananya-Misra opened #1688 "Optimal Denomination (July Long Challenge)"
# Aim

![image](https://user-images.githubusercontent.com/70848031/124261394-5c747480-db4e-11eb-8e4d-98e39738f0f2.png)
@ravikr126 Please assign this issue to me.

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-07-02 10:30] siddhi-244 opened #1689 "First index of a number in the array"
Given an array of length N and an integer x, you need to find and return the first index of integer x present in the array. Return -1 if it is not present in the array.
First index means, the index of first occurrence of x in the input array.
Do this recursively. Indexing in the array starts from 0.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-07-02 10:30] siddhi-244 commented on #1689
Can I try in c++ under lgmsoc

[2021-07-02 10:30] girija0707 opened #1690 "last index of number in an array"
Given an array of length N and an integer x, you need to find and return the last index of integer x present in the array. Return -1 if it is not present in the array.
Last index means - if x is present multiple times in the array, return the index at which x comes last in the array.
You should start traversing your array from 0, not from (N - 1).
Do this recursively. Indexing in the array starts

[2021-07-02 10:30] girija0707 commented on #1690
can I try this in c++

[2021-07-02 10:31] siddhi-244 commented on #1690
Can I try in python

[2021-07-02 10:31] girija0707 commented on #1689
please assign this to me in python

[2021-07-02 10:33] girija0707 opened #1691 "All indices of number in an array"
Given an array of length N and an integer x, you need to find all the indexes where x is present in the input array. Save all the indexes in an array (in increasing order).
Do this recursively. Indexing in the array starts from 0.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-07-02 10:33] siddhi-244 commented on #1691
Can I try in python ?

[2021-07-02 10:33] girija0707 commented on #1691
please assign this to me in c++

[2021-07-02 10:56] siddhi-244 commented on #1613
Can I try in c++

[2021-07-02 10:57] Khushi-agarwal commented on #1613
I am doing it @siddhi-244 in c++ and java language.

[2021-07-02 10:59] siddhi-244 commented on #1613
Can I do in c ?

[2021-07-02 11:09] #1686 closed

[2021-07-02 11:09] #1640 closed

[2021-07-02 11:26] Kaavya-Saxena commented on #1685
please assign this issue to me i want to provide its answer in c++ @Amit366

[2021-07-02 11:33] Kaavya-Saxena commented on #1204
I would like to provide the solution to this problem in c++ please assign me this issue

[2021-07-02 11:35] Kaavya-Saxena commented on #1202
Please assign this issue to me . i would like to use c++ for this

[2021-07-02 11:40] Kaavya-Saxena commented on #1130
please assign this issue to me . I want to try in c++

[2021-07-02 11:42] Kaavya-Saxena commented on #1099
i would like to work on this in c++. please assign it

[2021-07-02 12:02] #1633 closed

[2021-07-02 12:12] Sanskriti2401 opened #1698 "Valid Sudoku (Leetcode)"
# Aim
![Screenshot 2021-07-02 173818](https://user-images.githubusercontent.com/75210337/124272524-7d43c680-db5c-11eb-83cc-a2dbf38822e2.png)

# Details

I would like to solve Valid Sudoku question in C++ language under LGMSOC'21.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-07-02 12:12] Sanskriti2401 commented on #1698
@ravikr126 Kindly assign me this issue under LGMSOC'21

[2021-07-02 12:14] radhikaaojha opened #1699 "Double Ended Queue Implementation in C"
**Is your feature request related to a problem? Please describe.**
Double Ended Queue Implementation in C

**Describe the solution you'd like**
Using structure queue in C

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-07-02 12:14] radhikaaojha commented on #1699
@ravikr126 @Ayush7614 @Amit366 Kidnly assign me this issue

[2021-07-02 12:18] pratyush-kr opened #1700 "Bug in a Data Structures program"
**Describe the bug**
The file 'Doubly-Linked-List.cpp' under folder 'Data Structures' contains array like indexing using maps but no where it updates the maps after Insertions or Deletions making the map useless after some operation

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Data\ Structures/ Doubly-Linked-List.cpp
2. Run the Program
3. Insert a few nodes linearly then print the

[2021-07-02 12:27] siddhi-244 commented on #1699
Can I try in c++

[2021-07-02 12:29] siddhi-244 commented on #1687
Can I try in c++ or python

[2021-07-02 12:42] ShivanshuVishnoi opened #1702 "Reverse an Array Using Stack Data Structure"
# Aim

- I would like to add code in data structure folder.
# Details

-  I would like to add Reverse an Array Using Stack Data Structure in data structure folder.
- LGM-SOC'21

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-02 12:43] ShivanshuVishnoi commented on #1702
@Saurabh4626 @Amit-45 @Ayush7614 @ravikr126 Please Assign me this issue. I will solve it in C++.
LGM-SOC'21

Thank You

[2021-07-02 12:44] geekySapien opened #1703 "A CPP solution for CodeChef Question - Point of Impact, Code: BILLARD"
# Problem Description
You are playing a Billiards-like game on an N×N table, which has its four corners at the points {(0,0),(0,N),(N,0), and (N,N)}. You start from a coordinate (x,y), (0<x<N,0<y<N) and shoot the ball at an angle 45∘ with the horizontal. On hitting the sides, the ball continues to move with the same velocity and ensuring that the angle of incidence is equal to the angle of reflect

[2021-07-02 12:50] ShivanshuVishnoi opened #1704 "All Queue Operation using Array and Linked List Implementation"
# Aim

- I would like to add it in a Data Structure Folder.
# Details

- I would like to add all **Queue** Operations like Enqueue, Dequeue, Display etc. using Array and Linked List Implementation in a Single Code.
- LGM-SOC'21
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-02 12:50] ShivanshuVishnoi commented on #1704
@Saurabh4626 @Amit-45 @Ayush7614 @ravikr126 Please Assign me this issue. I will solve it in C++.
LGM-SOC'21

Thank You

[2021-07-02 12:55] ShivanshuVishnoi opened #1705 "All Deque operation with Input Restricted and Output Restricted"
# Aim

- I would like to add it in Data Structure Folder.

# Details

- I would like to add all Deque Operation with both types in a single code.
 1. Input Restricted.
 2. Output Restricted
- LGM-SOC'21

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-02 12:55] ShivanshuVishnoi commented on #1705
@Saurabh4626 @Amit-45 @Ayush7614 @ravikr126 Please Assign me this issue. I will solve it in C++.
LGM-SOC'21

Thank You

[2021-07-02 13:28] ravikr126 commented on #1705
Already raised issue

[2021-07-02 13:29] #1705 closed

[2021-07-02 13:30] ravikr126 commented on #1704
Already raised issue .First check then raise

[2021-07-02 13:30] #1704 closed

[2021-07-02 13:30] ravikr126 commented on #1702
Already in repository please check first then raise issue

[2021-07-02 13:30] #1702 closed

[2021-07-02 13:50] #1623 closed

[2021-07-02 14:25] Himanshu-Shinde commented on #1689
Assign to me i will code it using JAVA or C++ under LGMSOC

[2021-07-02 15:13] goyal-Dushi commented on #1699
Hey @ravikr126, I want to address the issue, please assign me possible.

[2021-07-02 16:07] Rutikab12 commented on #930
Hey @Ayush7614  , I Haven't got any reply since 18 days. Can I work on this issue ?

[2021-07-02 17:00] #1641 closed

[2021-07-02 17:33] bindaldhara opened #1715 "Maximum Production(July long challenge)"
AIM:
Chefland has 7 days in a week. Chef is very conscious about his work done during the week.

There are two ways he can spend his energy during the week. The first way is to do x units of work every day and the second way is to do y (>x) units of work for the first d (<7) days and to do z (<x) units of work thereafter since he will get tired of working more in the initial few days.

Find the ma

[2021-07-02 17:33] bindaldhara commented on #1715
Please assign this issue to me

[2021-07-02 17:40] #1599 closed

[2021-07-02 17:46] nagasaisriya commented on #1545
Hey @Amit366 , I've made a pr. Do check it out and please add LGMSOC and corresponding level labels under this issue.
 Thank you :)

[2021-07-02 18:33] SnehaAgarwal361 opened #1721 "Task Scheduler of Leetcode under LGMSOC'21"
Aim
![Screenshot (1004)](https://user-images.githubusercontent.com/73896596/124361257-c757a580-dc4b-11eb-83e7-18d87a5ed0c9.png)

Details
I would like to work on this issue in C++ under LGMSOC'21 using the greedy approach using unordered maps and priority queues.
It's a problem on Leetcode problem number 1721.
Please assign me this issue.

[2021-07-02 19:04] akash435 commented on #1631
can i try it in Python?

[2021-07-02 19:05] chicken-biryani commented on #1631
@akash435 Yes go ahead

[2021-07-02 19:06] akash435 commented on #1631
thanks

[2021-07-02 19:14] #1624 closed

[2021-07-02 19:14] #1618 closed

[2021-07-02 19:14] chicken-biryani commented on #1715
@bindaldhara in which language would you like to do this?

[2021-07-02 19:21] chicken-biryani commented on #1700
Hey, @pratyush-kr
1) Never start working on an issue till the time it has not been assigned to you.
2) I am closing this PR, don't touch the already existing code in the repositry.
Make a separate file and name it 'doubly - linked - list -2 ' or something like that. Okay?

[2021-07-02 20:08] AtrikGit6174 opened #1725 "C++ Solution for "Add Binary" on LeetCode under LGM-SoC 2021."
Would like to add the C++ Solution for "Add Binary" on LeetCode, under LGM-SoC 2021.

[https://leetcode.com/explore/learn/card/array-and-string/203/introduction-to-string/1160/](https://leetcode.com/explore/learn/card/array-and-string/203/introduction-to-string/1160/)

![image](https://user-images.githubusercontent.com/64845750/124323649-4cd14c00-db9f-11eb-8c04-f62ca411486b.png)

Kindly assign thi

[2021-07-02 20:14] AtrikGit6174 opened #1726 "Suggestion: To re-organise the Data Structures folder"
Data Structures folder can be re-organised by adding a sub-folder for Linked Lists and collecting solutions of LL of  the folder into the new subfolder.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-07-02 20:50] chicken-biryani commented on #1726
@AtrikGit6174 structuring the files is something I was thinking about too...

Either it could be program wise or language wise.

Something that can be discussed.

[2021-07-02 20:51] chicken-biryani commented on #1726
@Ayush7614 thoughts?

[2021-07-03 02:32] sakinanomi commented on #1360
@Ayush7614  Please could you add the labels!
Thanks!

[2021-07-03 03:22] apran-vs commented on #1698
I would like to work on this issue in Python under LGMSoC'21.
Please assign me.

[2021-07-03 04:07] sonamgupta136 commented on #1698
Please assign me this issue under LGMSOC'21.
I will like to contribute in Java .

[2021-07-03 04:15] pratyush-kr commented on #1700
okay assign me i will be making a new file

[2021-07-03 04:29] Amit366 commented on #1688
@Ananya-Misra you cannot add solution to on going contest.

[2021-07-03 04:29] #1688 closed

[2021-07-03 04:29] #1687 closed

[2021-07-03 04:30] #1685 closed

[2021-07-03 04:30] #1715 closed

[2021-07-03 04:30] Amit366 commented on #1715
U cannot add solution to ongoing contest.

[2021-07-03 04:52] AtrikGit6174 commented on #1726
I think doing it program-wise will be better...
Actually many problems are found similar across the sites. If there would have been a way of linking shortcuts, then it would have been much beneficial to keep one copy of same problems across the various folders of CP-sites.

[2021-07-03 04:55] AtrikGit6174 commented on #1681
As a participant and a fellow problem solver, I feel the Algorithms or Problem solving parts can be skipped being classified into Languages.
However, for HackerRank, if it is a language based problem, then it would help being organised into individual languages.

[2021-07-03 05:40] AtrikGit6174 commented on #1725
@Amit366 @ravikr126 @Ayush7614

[2021-07-03 05:59] tanvi355 commented on #1681
Hey @AtrikGit6174, I get your point but I already discussed this with the mentor before raising an issue. I thought of classifying the code into languages so that it will be easier for contributors to check before making issues and also for further maintaining the project.
Let's please wait for the mentors and PA to respond.
Some classification is needed is what we both agree upon right?

[2021-07-03 06:03] Amit366 commented on #1726
@AtrikGit6174 I guess someone is already working on this issue. #1681

[2021-07-03 06:05] Amit366 commented on #1681
@tanvi355 it would be better if it is sorted according to language

[2021-07-03 06:09] tanvi355 commented on #1681
Yes, so should I start working on this?

[2021-07-03 06:10] Amit366 commented on #1681
Yes

[2021-07-03 06:14] bindaldhara opened #1735 "Count number of 1's in sorted array using Binary search"
Given a sorted binary array. We need to count number of 1's present in a array using binary search.
Leave it unchecked Owner will mark it :)
-->
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-07-03 06:15] bindaldhara commented on #1735
Can I solve this in cpp?

[2021-07-03 06:24] #1725 closed

[2021-07-03 07:09] AtrikGit6174 opened #1739 "C++ Solution for "Roman to Integer" on LeetCode under LGMSOC21"
Problem: "Roman to Integer" on LeetCode
[https://leetcode.com/problems/roman-to-integer/](https://leetcode.com/problems/roman-to-integer/)

![image](https://user-images.githubusercontent.com/64845750/124346263-7e780080-dbfb-11eb-8b79-be3f68b99063.png)

Would like to add the C++ solution.
@Amit366 @ravikr126 @Ayush7614

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-07-03 08:19] #1129 closed

[2021-07-03 08:20] #1295 closed

[2021-07-03 08:21] #1005 closed

[2021-07-03 08:22] #1118 closed

[2021-07-03 08:26] #1230 closed

[2021-07-03 08:34] #1726 closed

[2021-07-03 08:42] AtrikGit6174 opened #1745 "C++ Solution for "Integer to Roman" on LeetCode under LGMSOC21"
C++ Solution for "Integer to Roman" on LeetCode under LGMSOC21
[https://leetcode.com/problems/integer-to-roman/](https://leetcode.com/problems/integer-to-roman/)

![image](https://user-images.githubusercontent.com/64845750/124348621-81c5b900-dc08-11eb-9d4c-f70876e6f013.png)

@Amit366 @ravikr126 @Ayush7614

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-07-03 08:44] bindaldhara commented on #1735
Please assign me this issue

[2021-07-03 08:57] manognyaa opened #1746 "Taylor series"
**Describe the solution you'd like**
 Finding sum of Taylor Series of e^x, we Create 2 functions

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

please assign this issue to me sir @Amit366 @Ayush7614

[2021-07-03 09:03] manognyaa opened #1747 "Geek-onacci numbers"
**Is your feature request related to a problem? Please describe.**
Given four  integers x, y, z, N. x, y, z represents the first three numbers of geek-onacci series.
Geek created a random series and given a name geek-onacci series.

**Describe the solution you'd like**
I will be using C++ sir.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

@Amit366 @Ayush7614 please assign t

[2021-07-03 09:25] monishamandal02 commented on #1745
Can I contribute my solution in C++? I am kinda confused that they will assign us tasks or we have to pick questions ourselves?

[2021-07-03 09:28] monishamandal02 commented on #695
Can I contribute my solution in C++?

[2021-07-03 09:28] Amit366 commented on #1745
@monishamandal02 C++ is already assigned. If u want u can contribute in another language

[2021-07-03 09:32] AtrikGit6174 commented on #1745
@monishamandal02 You can pick your own questions, solve them. Then create an issue requesting to be assigned, generate the corresponding PR.

@Amit366 Please verify whether I am right or not.

[2021-07-03 09:41] Amit366 commented on #1745
@monishamandal02 yes atrik is right

But if u want to solve this question then u can choose another language.

[2021-07-03 09:43] AtrikGit6174 commented on #1739
This issue has been solved by PR #1750. For some referencing error, the issue isn't closed automatically yet.
Ca it be manually closed w/o any bugs?

[2021-07-03 09:48] #1739 closed

[2021-07-03 10:12] PalakDua-work opened #1753 "find all pairs on integer array whose sum is equal to given number in C language."
Input:
N = 4, K = 6
 {1, 5, 7, 1}
Output: 2
Here N is the number of elements in an array and K is the sum.
I want to give the solution in C language.
@Ayush7614 @Saurabh4626 @ravikr126 Please assign me this task under LGM-SOC'21

[2021-07-03 10:25] PalakDua-work opened #1754 "find common elements In 3 sorted arrays in C language"
Input:
n1 = 6; Arr1 = {1, 5, 10, 20, 40, 80}
n2 = 5; Arr2  = {6, 7, 20, 80, 100}
n3 = 8; Arr3  = {3, 4, 15, 20, 30, 70, 80, 120}
Output: 20 80
where Arr1 ,Arr2 ,Arr3 are the three different arrays and n1,n2,n3 are number of elements in each array.
I wan to give solution in C language.
@Ayush7614 @Saurabh4626 @ravikr126 Please assign me this task under LGM-SOC'21.

[2021-07-03 10:35] Mugdha-Hazra commented on #1361
@Amit366 thank you for assigning me this issue

[2021-07-03 10:37] NidhiChaurasia commented on #1699
Hello, @ravikr126 , Kindly assign me this issue as I can solve this in C .

[2021-07-03 10:41] NidhiChaurasia opened #1756 "Codechef June Long Challenge 2021 Division 3 rated"
The Codechef Contest Solutions in preferred language and contribute this project in every possible way in terms of Competitive Programming .

The main aim of mine is to make these cross-platforms more encouraging and interesting for Budding programmers.

The Sequential solution and least time-complexity codes will be accepted else the Partial Solutions would make no sense until an optimized soluti

[2021-07-03 11:45] KimtVak8143 opened #1760 "Converting Years into Minutes/Seconds/Hours/Days/Months upon choice of input"
# Aim

- Converting Years into Minutes/Seconds/Hours/Days/Months upon choice of input

# Details

- Converting Years into Minutes/Seconds/Hours/Days/Months upon the choice of input
- uses basic Arithmetic Manipulation for converison

### Programming language

- [x] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-07-03 11:48] KimtVak8143 commented on #1760
Please assign me this issue under HackClubSRM SOC 2021. @Ayush7614

[2021-07-03 12:24] jainapoorva40 commented on #1760
Sir,i would like to work on it @Ayush7614

[2021-07-03 12:41] #1669 closed

[2021-07-03 12:41] ShivanshuVishnoi commented on #1754
@Amit366 @Ayush7614 @Saurabh4626 @ravikr126 Please Assign me this issue. I will Solve this Problem in C++.
LGM-SOC'21

Thank you

[2021-07-03 12:43] ShivanshuVishnoi commented on #1754
@ravikr126 Also Assign me i am solving this in C++.
LGM-SOC'21

[2021-07-03 12:44] ShivanshuVishnoi commented on #1753
@Amit366 @Ayush7614 @Saurabh4626 @ravikr126 Please Assign me this issue. I will Solve this Problem in C++.
LGM-SOC'21

Thank you

[2021-07-03 12:44] ShivanshuVishnoi commented on #1760
@Amit366 @Ayush7614 @Saurabh4626 @ravikr126 Please Assign me this issue. I will Solve this Problem in C++.
LGM-SOC'21

Thank you

[2021-07-03 13:17] ShivanshuVishnoi opened #1763 "Codeforces Round 729 Problem A"
# Aim

- I would like to add in Codeforces Folder.
# Details

-
![image](https://user-images.githubusercontent.com/83551708/124355469-fb709d80-dc2e-11eb-93f8-26269de10164.png)
LGM-SOC'21

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-03 13:18] ShivanshuVishnoi commented on #1763
@Saurabh4626 @Amit366 @Ayush7614 @ravikr126 Please Assign me this problem. I would like to solve it in C++.
LGM-SOC'21

Thank You

[2021-07-03 13:32] 7JKaushal commented on #226
Interested!

[2021-07-03 13:37] 7JKaushal commented on #1449
I would love to try this in C

[2021-07-03 13:42] 7JKaushal commented on #323
I'd love to try this in C

[2021-07-03 13:50] KushagraJain58-cmd commented on #1668
Please assign this issue under LGM-SOC'21 @ravikr126

[2021-07-03 13:50] KushagraJain58-cmd commented on #1666
Please assign this issue under LGM-SOC'21 @ravikr126

[2021-07-03 13:58] sonamgupta136 commented on #1539
@Amit366 please assign me this under LGMSOC'21

[2021-07-03 14:43] drashtipatel2503 commented on #1735
Hii can I go with python?

[2021-07-03 14:45] drashtipatel2503 commented on #1647
Can I do this with python?

[2021-07-03 15:38] #1668 closed

[2021-07-03 15:48] sonamgupta136 commented on #1656
Please assign me this issue under LGMSOC'21.
I would like to solve in java.

[2021-07-03 15:49] KushagraJain58-cmd opened #1766 "Move all negative numbers to beginning"
# Aim

Want to add a solution of "Move all negative numbers to beginning"
Kindly assign me this problem. I would like to add my solution to this problem in C++ easily and efficiently using swapping.
Link to the problem: https://www.geeksforgeeks.org/move-negative-numbers-beginning-positive-end-constant-extra-space/

# Details

An array contains both positive and negative numbers in random order. R

[2021-07-03 15:49] KushagraJain58-cmd commented on #1766
Please assign me this issue under LGM-SOC'21

[2021-07-03 15:55] KushagraJain58-cmd opened #1768 "Sort an array of 0s,1s and 2s"
# Aim

Want to add a solution of "Sort an array of 0s,1s and 2s"
Kindly assign me this problem. I would like to add my solution to this problem in C++ easily and efficiently using DNF sorting.
Link to the problem: https://www.geeksforgeeks.org/sort-an-array-of-0s-1s-and-2s/

# Details
Given an array A[] consisting 0s, 1s and 2s. The task is to write a function that sorts the given array. The funct

[2021-07-03 15:55] KushagraJain58-cmd commented on #1768
Please assign me this issue under LGM-SOC'21

[2021-07-03 16:10] #1556 closed

[2021-07-03 16:38] SnehaAgarwal361 opened #1770 "C++ solution for Reorganize strings of leetcode under LGMSOC'21"
# Aim
![Screenshot (1003)](https://user-images.githubusercontent.com/73896596/124361182-64660e80-dc4b-11eb-9f29-c73919a7bc64.png)

# Details
I would like to solve Reorganize strings question in C++ language under LGMSOC'21.

Programming language
 C++

[2021-07-03 18:09] ShivanshuVishnoi commented on #1754
@Amit366 Please Assign me this issue. I will Solve it in C++.
LGM-SOC'21

Thank You

[2021-07-03 18:10] ShivanshuVishnoi commented on #1735
@Amit366 Please Assign me this issue . I will solve it in C++.
LGM-SOC'21

Thank You

[2021-07-03 18:21] 1218muskan commented on #1753
I would like to solve the issue using Python. Kindly, assign me the issue under LGM SoC'21

[2021-07-03 18:48] 1218muskan commented on #1638
I would like to code in Python. Kindly assign me this issue under LGM SoC'21

[2021-07-03 19:09] ANSHUL22122001 commented on #1766
Please assign me this issue

[2021-07-04 03:54] SnehaAgarwal361 commented on #1721
Please assign me this issue.

[2021-07-04 03:55] SnehaAgarwal361 commented on #1770
Please assign me this issue.

[2021-07-04 04:58] #1463 closed

[2021-07-04 05:01] #1746 closed

[2021-07-04 05:17] #247 closed

[2021-07-04 05:19] manognyaa opened #1774 "k array heap"
**Is your feature request related to a problem? Please describe.**
K-ary heaps are a generalization of binary heap(K=2) in which each node have K children instead of 2.

**Describe the solution you'd like**
I will be using C++ sir.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python
please assign this issue to me @Ayush7614 sir, I would like to work on this issue.

[2021-07-04 05:55] radhikaaojha commented on #1699
Hey! I am already doing it in C

[2021-07-04 06:28] Rounak-chauhan commented on #1768
please assign me this issue under LGM-soc21 i will like to contribute the code in java

[2021-07-04 06:29] Rounak-chauhan commented on #1766
Please assign me this issue under LGM-soc21 i will like to do it java

[2021-07-04 06:44] Vidhi6340 commented on #1690
Please assign me this issue under LGM-soc21. I will like to contribute the code in C.

[2021-07-04 06:45] #1485 closed

[2021-07-04 06:45] #1656 closed

[2021-07-04 06:50] Vidhi6340 commented on #1768
Please assign me this issue under LGM-SOC21. I will like to contribute in C.

[2021-07-04 06:54] KushagraJain58-cmd commented on #1768
Please assign this issue under LGM-SOC'21 @ravikr126

[2021-07-04 06:54] KushagraJain58-cmd commented on #1766
Please assign this issue under LGM-SOC'21 @ravikr126

[2021-07-04 06:57] Sanskriti2401 opened #1777 "Palindromic Substrings (Leetcode Medium)"
# Aim

![Screenshot 2021-07-04 122117](https://user-images.githubusercontent.com/75210337/124376112-fceba580-dcc2-11eb-8d36-0f8ae6b5ccec.png)

# Details

I would like to solve the Palindromic Substrings question in C++ under LGMSOC'21

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-04 06:57] Sanskriti2401 commented on #1777
@ravikr126 Kindly assign me this issue.

[2021-07-04 06:58] #796 closed

[2021-07-04 06:59] #1512 closed

[2021-07-04 07:05] AtrikGit6174 opened #1778 "Adding Contribution Guidelines to README for new contributors under LGMSOC21"
I would like to add guidelines for new contributors that I have learnt from the mentors in Discord channels and personal chat that I feel are absent in the README.md.

@Amit366 @ravikr126 @Ayush7614

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-07-04 07:06] #1510 closed

[2021-07-04 07:13] zaydmughal commented on #1690
can i try this in Java or c+?

[2021-07-04 07:37] Rounak-chauhan commented on #1548
@Amit366 sir in pull request of #1780 i had commit both the codes of the issue assigned to me please merge it and i also attached the output of the following

[2021-07-04 07:40] #1511 closed

[2021-07-04 07:47] #1522 closed

[2021-07-04 07:50] rajeshkumar2024 commented on #1548
@Amit366 please assign me this issue.

[2021-07-04 07:58] akash-rajak opened #1782 "Tree of Coprimes"
Want to add solution to this problem of leetcode

![1](https://user-images.githubusercontent.com/57003737/124377830-b6e70f80-dccb-11eb-9044-8e42da0fad75.jpg)

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-04 07:59] akash435 commented on #1782
@Amit366 , please assign this to me under LGM SOC

[2021-07-04 08:55] AtrikGit6174 commented on #341
I would like to add a recursive solution for this problem in the LeetCode folder. Can I be assigned please?

@Amit366 @ravikr126 @Ayush7614

[2021-07-04 10:33] #1745 closed

[2021-07-04 11:55] Sathwika-02 commented on #1540
Hi,
I want to implement this in java as apart of LGM-SOC'21.
@Ayush7614 Please assign it to me. Thankyou!!

[2021-07-04 12:00] Sathwika-02 commented on #1474
Hi,
I want to implement this in python as apart of LGM-SOC'21.
@Ayush7614 @Amit366 Please assign it to me. Thankyou!!

[2021-07-04 13:57] 31081998 commented on #1777
Sir ,Kindly assign me this issue in python.
@Amit366 @Ayush7614

[2021-07-04 14:54] AvanishCodes commented on #357
@Amit366 may I please work on it's Python code?

[2021-07-04 14:55] hoopinwhoopin commented on #1577
https://github.com/hoopinwhoopin/Wavearray.git  @Amit366 done

[2021-07-04 15:01] hoopinwhoopin commented on #1500
https://github.com/hoopinwhoopin/tic-tac-toe.git @Amit366

[2021-07-04 15:01] joydeepnandi opened #1790 "N/3 Repeat Number"
You’re given a read only array of n integers. Find out if any integer occurs more than n/3 times in the array in linear time and constant additional space.

If so, return the integer. If not, return -1.

If there are multiple solutions, return any one.

Sample Testcase:
Input : [1 2 3 1 1]
Output : 1
1 occurs 3 times which is more than 5/3 times.

Input:[2,2,3,3]
Output: - Any number that appears

[2021-07-04 15:02] joydeepnandi commented on #1790
Please assign this issue to me under LGM SOC'21  @Ayush7614

[2021-07-04 16:23] UG-SEP opened #1794 "Rearrange a LinkedList in C++"
# Aim

Create a Function that rearranges LinkedList as the given information below:
# Details
Given a singly linked list, the task is to rearrange it in a way that all odd position nodes are together and all even positions nodes are together.
Assume the first element to be at position 1 followed by the second element at position 2 and so on.

### Programming language

- [ ] C
- [x] C++
- [ ] Java

[2021-07-04 16:28] joydeepnandi opened #1795 "Word Ladder II (leetcode-126)"
A transformation sequence from word **beginWord** to word **endWord** using a dictionary **wordList** is a sequence of words **_beginWord -> s1 -> s2 -> ... -> sk_** such that:

Every adjacent pair of words differs by a single letter.
Every si for 1 <= i <= k is in wordList. Note that beginWord does not need to be in wordList.
sk == endWord
Given two words, **beginWord** and **endWord**, and a dic

[2021-07-04 16:29] joydeepnandi commented on #1795
I would like to solve this using Python under LGM SOC'21. Please assign this issue to me @Amit366 @Ayush7614

[2021-07-04 18:12] KushagraJain58-cmd commented on #1766
Please assign this issue under LGM-SOC'21 @chicken-biryani

[2021-07-04 18:12] KushagraJain58-cmd commented on #1768
Please assign this issue under LGM-SOC'21 @chicken-biryani

[2021-07-04 21:53] chicken-biryani commented on #1768
@KushagraJain58-cmd what language would you like to do this in?

[2021-07-04 22:37] chicken-biryani commented on #1766
@ANSHUL22122001 @KushagraJain58-cmd in what languages would you want to do it?

[2021-07-05 01:53] #1721 closed

[2021-07-05 04:29] Ayush7614 opened #1804 "Added Code of Conduct"

[2021-07-05 04:32] Ayush7614 opened #1805 "Added a Beautiful Poster for project using canva or any other software"
Added a Beautiful Poster for project using canva or any other software

[2021-07-05 04:48] KushagraJain58-cmd commented on #1768
I would like to use c++

[2021-07-05 04:49] KushagraJain58-cmd commented on #1766
I would like to  use c++

[2021-07-05 04:59] SnehaAgarwal361 opened #1806 "Deepest Leaves Sum of leetcode under LGMSOC'21"
# Aim
![Screenshot (1005)](https://user-images.githubusercontent.com/73896596/124419721-b443f300-dd7b-11eb-8d60-cbf9b2e1d728.png)
#Details
i would like to work on this issue using BFS in c++
### Programming language
- [x] C++

[2021-07-05 05:00] SnehaAgarwal361 commented on #1806
@Ayush7614 Please assign me this issue.

[2021-07-05 05:08] hiteshv01 commented on #1768
Please assign me this issue under LGM-SOC'21
I would like to contribute in all the given languages

[2021-07-05 05:34] #1560 closed

[2021-07-05 05:47] #1507 closed

[2021-07-05 05:55] #1287 closed

[2021-07-05 05:59] #1461 closed

[2021-07-05 06:05] #1364 closed

[2021-07-05 06:09] #1643 closed

[2021-07-05 06:13] #1390 closed

[2021-07-05 06:31] #1763 closed

[2021-07-05 06:40] ShivanshuVishnoi commented on #1703
@Amit366 please assign me this issue. I will solve it in C++.
LGM-SOC'21

Thank You

[2021-07-05 06:46] Isha307 opened #1811 "Solution for Combination Sum2 of LeetCode"
# Aim

 -  Solution for Combination Sum2 of LeetCode

# Details

 -  Solution for Combination Sum2 of LeetCode

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-05 06:53] Harikrishnaa3131 opened #1814 "Maximize It! [Hackerrank - Hard]"
Aim
I would like to add the solution for Maximize It![Hard level] from Hackerrank.

Details
Link to the problem: https://www.hackerrank.com/challenges/maximize-it/problem
I would like to add my solution to this problem in Python in an efficient approach.
Please assign this issue to me under HCSSoC (Hack Club SRM Summer of Code) .
@Ayush7614 @Amit366

### Programming language

- [ ] C
- [ ] C++
- [

[2021-07-05 07:07] geekySapien commented on #1703
Sir, I have Created this issue for providing solution in C++ itself.  (Mentioned the same  Issue Title)

Thank you.

[2021-07-05 07:53] geekySapien opened #1817 "A C++ solution for Merge Without Extra Space (GFG- Hard)"
# Description

### Given two sorted arrays arr1[] of size N and arr2[] of size M. Each array is sorted in non-decreasing order. Merge the two arrays into one sorted array in non-decreasing order without using any extra space.

# Link to the Problem Statement: [Link](https://practice.geeksforgeeks.org/problems/merge-two-sorted-arrays-1587115620/1)

# Test Case 1
# Input:
### N = 4, M = 5
### arr1[]

[2021-07-05 08:00] Pallvi12 opened #1818 "sieve of eratosthenes this algorithm is not preent and i want to add this algorithm with some good examples if you assign the issue to me"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-07-05 09:35] #1698 closed

[2021-07-05 09:38] chicken-biryani commented on #1768
@hiteshv01 you can't do it in all languages, as the rest are already doing it in C Java and C++. However, you can do it in Python.

[2021-07-05 09:54] Sanskriti2401 opened #1820 "Spiral Matrix (Leetcode Medium)"
# Aim
![Screenshot 2021-07-05 152120](https://user-images.githubusercontent.com/75210337/124453344-e87fd980-dda4-11eb-9701-5427792f09ad.png)

# Details

I would like to solve Spiral Matrix question in C++ language under LGMSOC'21.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-05 09:55] Sanskriti2401 commented on #1820
@ravikr126 kindly assign me this issue under LGMSOC'21.

[2021-07-05 10:01] ravikr126 commented on #1820
This question is in repo .@Sanskriti2401

[2021-07-05 10:05] Sanskriti2401 commented on #1820
@ravikr126 Ok, I will create other new issue.

[2021-07-05 12:15] Harikrishnaa3131 opened #1822 "Flipping bits [Hackerrank - Easy]"
## Aim

I would like to add the solution for Flipping bits [Easy level] from Hackerrank.

## Details

Link to the problem: https://www.hackerrank.com/challenges/flipping-bits/problem?h_l=interview&playlist_slugs%5B%5D=interview-preparation-kit&playlist_slugs%5B%5D=miscellaneous
I would like to add my solution to this problem in Python in an efficient approach.
Please assign this issue to me under

[2021-07-05 13:50] siddhi-244 commented on #1822
Can I try in c++ and python

[2021-07-05 13:51] siddhi-244 commented on #1817
Can I try in python?

[2021-07-05 13:52] siddhi-244 commented on #1753
Can I try in python ?

[2021-07-05 13:53] siddhi-244 commented on #1747
Can I try in python?

[2021-07-05 15:01] pratyush-kr commented on #1700
@chicken-biryani can you please do a review?

[2021-07-05 18:05] KushagraJain58-cmd opened #1824 "A XOR Challenge"
# Aim

Want to add a solution of "A XOR Challenge"
Kindly assign me this problem. I would like to add my solution to this problem in C++ easily and efficiently using BIT Manipulation using c++ language.
Link to the problem: https://www.hackerearth.com/practice/basic-programming/bit-manipulation/basics-of-bit-manipulation/practice-problems/algorithm/xor-challenge-2420f189/

# Details

You are given

[2021-07-05 18:06] KushagraJain58-cmd commented on #1824
Please assign me this issue under LGM-SOC'21

[2021-07-05 18:08] KushagraJain58-cmd commented on #1766
Please assign this issue under LGM-SOC'21 @Ayush7614

[2021-07-05 18:41] mrkc2303 opened #1825 "Best Time to Buy and Sell Stock III"
# Aim

I want to add the solution for "Best Time to Buy and Sell Stock III"
I want to add this problem in C++ in an efficient approach.
Link: https://leetcode.com/problems/best-time-to-buy-and-sell-stock-iii/

# Details

You are given an array prices where prices[i] is the price of a given stock on the ith day.

Find the maximum profit you can achieve. You may complete at most two transactions.

N

[2021-07-05 18:42] mrkc2303 commented on #1825
@ravikr126 Please assign me this issue under LGM-SOC'21
I want to do it in C++

[2021-07-05 18:46] mrkc2303 opened #1826 "Common Elements"
# Aim

I would like to add the solution for problem "Common Elements" in C++ using efficient approach.
Link: https://practice.geeksforgeeks.org/problems/common-elements1132/1

# Details

Given three arrays sorted in increasing order. Find the elements that are common in all three arrays.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-07-05 18:47] mrkc2303 commented on #1826
@ravikr126 Please assign me this issue under LGM-SOC'21.
I will add the solution in C++.

[2021-07-05 19:20] AtrikGit6174 opened #1827 "C++ Solution for Pascal's Triangle II on LeetCode under LGMSOC21"
[https://leetcode.com/explore/learn/card/array-and-string/204/conclusion/1171/] (https://leetcode.com/explore/learn/card/array-and-string/204/conclusion/1171/)

![image](https://user-images.githubusercontent.com/64845750/124511560-14767b80-ddf4-11eb-9836-e36593252238.png)

I would like to add the C++ solution for this.

@Amit366 @ravikr126 @Ayush7614

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-07-05 19:50] Rounak-chauhan commented on #1826
@ravikr126  sir can i do this in java language by using hashmap it has minimum time complexity

[2021-07-05 19:52] Rounak-chauhan commented on #1825
@ravikr126  please assign me this issue in java

[2021-07-05 19:53] Rounak-chauhan commented on #1817
can i do in java?

[2021-07-05 20:47] kalash-kala commented on #1388
@Amit366 , @ravikr126 please review this PR

[2021-07-05 20:55] Rounak-chauhan commented on #1768
solution of sort 012 in java #1786 the second commit in for sorting please review my PR @ravikr126

[2021-07-06 00:52] yellowberard opened #1830 "To Display Spiral Matrix (GFG)"
Aim

Given a matrix of size r*c. Traverse the matrix in spiral form.
link to the Question:-  https://practice.geeksforgeeks.org/problems/spirally-traversing-a-matrix-1587115621/1#
 Details
We have given a matrix and we have to display it's spiral form.
For Example:-
Input:
r = 4, c = 4
matrix[][] = {{1, 2, 3, 4},
           {5, 6, 7, 8},
           {9, 10, 11, 12},
           {13, 14, 15,16}}
Outp

[2021-07-06 00:52] yellowberard commented on #1830
@ravikr126 Please assign me this issue under LGM-SOC'21.
I will add the solution in C++

[2021-07-06 01:28] yellowberard opened #1831 "Search in a row-column sorted Matrix (GFG)"
Aim
Given a matrix of size n x m, where every row and column is sorted in increasing order, and a number x. Find whether element x is present in the matrix or not.
link:- https://practice.geeksforgeeks.org/problems/search-in-a-matrix-1587115621/1/?category[]=Matrix&category[]=Matrix&page=1&query=category[]Matrixpage1category[]Matrix

# Details

To find if a number is present in sorted matrix or no

[2021-07-06 01:29] yellowberard commented on #1831
@ravikr126 Sir, Please assign me this issue under LGM-SOC'21.

[2021-07-06 02:10] #1827 closed

[2021-07-06 05:15] KushagraJain58-cmd commented on #1824
Please assign me this issue under LGM-SOC'21 @ravikr126

[2021-07-06 05:45] #1552 closed

[2021-07-06 05:53] #1536 closed

[2021-07-06 06:04] Amit366 commented on #1545
@nagasaisriya cpp is already done . Can u do in any other language??

[2021-07-06 06:08] Amit366 commented on #1613
@siddhi-244 try in C

[2021-07-06 06:09] #1590 closed

[2021-07-06 06:20] #1631 closed

[2021-07-06 06:21] #1438 closed

[2021-07-06 06:22] #1573 closed

[2021-07-06 07:28] joydeepnandi commented on #1790
Could you please assign this to me? @ravikr126

[2021-07-06 07:35] Sanskriti2401 opened #1835 "Count and Say (LeetCode)"
# Aim
![Screenshot 2021-07-06 130051](https://user-images.githubusercontent.com/75210337/124560657-b2049600-de5a-11eb-9efa-e2e4c3d3dfdb.png)

# Details

I would like to solve count and say in C++ language under LGMSOC'21

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-06 07:36] Sanskriti2401 commented on #1835
@ravikr126 @Amit366 Kindly assign me this issue under LGMSOC'21.

[2021-07-06 08:04] #1777 closed

[2021-07-06 08:50] Sathwika-02 commented on #1835
Hi,
I want to implement this in java as apart of LGM-SOC'21.
@ravikr126 @Amit366 Please assign it to me. Thankyou!!

[2021-07-06 08:50] Vidhi6340 commented on #1768
I have generated the pull request of this issue. Please take a look into it @ravikr126

[2021-07-06 08:51] Sathwika-02 commented on #1831
Hi,
I want to implement this in java as apart of LGM-SOC'21.
@ravikr126 @Amit366 Please assign it to me. Thankyou!!

[2021-07-06 08:52] Sathwika-02 commented on #1830
Hi,
I want to implement this in java as apart of LGM-SOC'21.
@ravikr126 @Amit366 Please assign it to me. Thankyou!!

[2021-07-06 09:00] #1770 closed

[2021-07-06 09:01] Hanesh-Jogani opened #1838 "Dynamic Huffman Algortihm"
**Is your feature request related to a problem? Please describe.**
Dynamic Huffman Algorithm
**File** - DynaHuffman.cpp
**File Directory** - Daily-Coding-DS-ALGO-Practice/Algorithms/DynaHuffman.cpp

**Describe the solution you'd like**
I would like to solve it in **C++ Language**

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

This is under LGM-SOC'21.

[2021-07-06 09:02] #1690 closed

[2021-07-06 09:07] #1747 closed

[2021-07-06 09:24] SnehaAgarwal361 opened #1839 "Remove Nth Node From End of List under LGMSOC'21"
# Aim

i would like to work on this issue in C++ using fast and slow pointers approach under LGMSOC'21

# Details

![Screenshot (1013)](https://user-images.githubusercontent.com/73896596/124576531-06634200-de6a-11eb-9770-7976d58a6e40.png)

### Programming language
- [ ] C++

[2021-07-06 09:25] SnehaAgarwal361 commented on #1839
please assign me this issue @ravikr126 @Ayush7614

[2021-07-06 10:32] pratyush-kr opened #1841 "A problem in 'Data Structures'/Tree_Traversal.cpp"
Writing -1 for every NULL points making it harder to insert Big Trees and inserting -1 is not an option

If I want to insert NULL I should be able to insert it with NULL and if the tree data insertions are completed I should be able to exit without entering -1 for every leaf nodes

### Programming language

- [x] C
- [x] C++

[2021-07-06 10:33] pratyush-kr commented on #1841
Please assign me for this

[2021-07-06 11:07] manognyaa opened #1843 "top k elements frequently"
**Is your feature request related to a problem? Please describe.**
if given a six=ze of array and the elements to it, the compiler will give top 2 frequent elements.

**Describe the solution you'd like**
I would like to use C++ language sir.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

please assign this issue to me sir, I would like to work on it @Ayush7614 sir.

[2021-07-06 11:28] PracticalMetal commented on #1805
Hi, I would like to work on this, can you suggest me ways to get started?

[2021-07-06 12:25] siddhi-244 commented on #1825
Can I try in python

[2021-07-06 13:35] Vidhi6340 commented on #1766
Please assign me this issue under LGMSOC'21. I would like to contribute in C.

[2021-07-06 13:42] girija0707 commented on #453
will you please reopen this issue

[2021-07-06 14:26] #1805 closed

[2021-07-06 15:17] Khushi260 opened #1851 "Strong Password Checker - Leetcode"
<h1>AIM</h1>
I would like to solve this issue using c++.

<h1>Details</h1>
Click <a href src="leetcode.com/problems/strong-password-checker"> here </a> for problem statement.

LGMSOC-21 Particpant[](url)

[2021-07-06 15:19] #1528 closed

[2021-07-06 15:30] rakesh419s opened #1852 "Subsequence Incerasing then decreasing algo"
# Aim

- Print all subsequences in first decreasing then increasing by selecting N/2 elements from [1, N]
- from https://www.geeksforgeeks.org/print-all-subsequences-in-first-decreasing-then-increasing-by-selecting-n-2-elements-from-1-n/

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- . Python

[2021-07-06 15:30] rakesh419s commented on #1852
please assign me in python

[2021-07-06 15:37] nagasaisriya commented on #1545
I'm sorry, But I was assigned for cpp at first.

[2021-07-06 15:39] Amit366 commented on #1545
Ok no problem

[2021-07-06 15:40] #1545 closed

[2021-07-06 16:13] siddhi-244 commented on #1790
Can I try in c?

[2021-07-06 16:47] Surajvatsya opened #1855 "sort_array_using_recursion"
# Aim

sort_array_using_recursion

# Details
 To sort a given array using recursion.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

@Ayush7614 bhiya, please assign me this issue .

[2021-07-06 18:18] Ayan-thecodeking commented on #1782
i want to work on this issue under java language
please assign me

[2021-07-06 18:20] Ayan-thecodeking commented on #1804
hey @Ayush7614 please assign me for this issue
I would like to work
thanks :)

[2021-07-06 18:21] Ayan-thecodeking commented on #1806
I want to work on this issue under java language
please assign me  @Ayush7614

[2021-07-06 18:23] Ayan-thecodeking commented on #1638
i want to work on this issue under java language
please assign me

[2021-07-06 18:24] Ayan-thecodeking commented on #1666
i want to work on this issue under java language
please assign me @ravikr126

[2021-07-06 18:25] Ayan-thecodeking commented on #1682
i want to work on this issue under java language
please assign me @Ayush7614 @ravikr126 @Amit366

[2021-07-06 18:25] Ayan-thecodeking commented on #1684
i want to work on this issue under java language
please assign me  @Amit366 @ravikr126

[2021-07-06 18:27] Ayan-thecodeking commented on #1616
i want to work on this issue under java language
please assign me
@Amit366

[2021-07-06 18:29] Ayan-thecodeking commented on #1613
hey @Amit366 i would like to work on this issue
please assign if it is not done
in any language c  c++ or java

[2021-07-06 18:30] Ayan-thecodeking commented on #1544
i want to work on this issue under java language
please assign me
@Saurabh4626

[2021-07-06 18:31] Ayan-thecodeking commented on #1542
i want to work on this issue under java language
please assign me
@Amit366

[2021-07-06 18:32] Ayan-thecodeking commented on #1520
i want to work on this issue under c++ language
please assign me @Amit366

[2021-07-06 18:39] NehaM1624 opened #1856 "Operating System Codes"
Please add Operating System Codes like LRU cache , Priority Scheduling etc
### Programming language

- [x] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-06 18:39] NehaM1624 commented on #1856
Please assign this to me .

[2021-07-06 19:25] SnehaAgarwal361 opened #1858 "Fruit Into Baskets of leetcode under LGMSOC'21"
# Aim
I would like to work on this issue using sliding window approach

# Details

![Screenshot (1014)](https://user-images.githubusercontent.com/73896596/124655779-f1180300-debd-11eb-8819-3f287fd4bfe0.png)

### Programming language

- [ ] C++

[2021-07-06 19:26] SnehaAgarwal361 opened #1859 "Permutation in String under LGMSOC'21"
# Aim

I would like to work on this issue using sliding window approach via unordered map

# Details

![Screenshot (1015)](https://user-images.githubusercontent.com/73896596/124655961-32a8ae00-debe-11eb-953f-02a7ad15e336.png)

### Programming language

- [ ] C++

[2021-07-06 19:35] Rounak-chauhan commented on #1548
@Amit366  sir please review my PR

[2021-07-06 20:03] akash-rajak opened #1863 "Group Anagrams - LeetCode"
Want to add solution to this problem in LeetCode.

test case 1:
Input: strs = ["eat","tea","tan","ate","nat","bat"]
Output: [["bat"],["nat","tan"],["ate","eat","tea"]]

text case 2:
Input: strs = [""]
Output: [[""]]

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-06 20:03] akash435 commented on #1863
@Amit366 ,please assign this to me under LGM SOC.

[2021-07-06 20:17] Rounak-chauhan commented on #1449
@Amit366  sir please review my code

[2021-07-06 21:23] Rounak-chauhan commented on #184
please review my code @Amit366

[2021-07-07 04:44] Vidhi6340 commented on #1689
Please assign me this issue under LGMSOC'21. I would like to contribute the code in C.

[2021-07-07 07:55] Sanskriti2401 opened #1870 "Word Wrap (GFG Medium)"
# Aim

![Screenshot 2021-07-07 132230](https://user-images.githubusercontent.com/75210337/124721236-8c44c300-df26-11eb-8752-9eb71f06902b.png)

# Details

I would like to solve Word Wrap problem in C++ under LGMSOC'21

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-07 07:56] Sanskriti2401 commented on #1870
@ravikr126 @Ayush7614 Kindly assign me this issue under LGMSOC'21.

[2021-07-07 08:48] Hanesh-Jogani opened #1871 "Johnson Algorithm - Hard"
**Is your feature request related to a problem? Please describe.**
Johnson Algorithm
**File** - JohnsonAlgorithm.cpp
**File Directory** - Daily-Coding-DS-ALGO-Practice/Algorithms/JohnsonAlgorithm.cpp

**Describe the solution you'd like**
I would like to solve it in **C++ Language**

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

This is under LGM-SOC'21.

[2021-07-07 09:28] Anchal1226 commented on #1794
Please assign me this issue..

[2021-07-07 09:42] Pallvi12 commented on #1818
C++ please assign me this issue

[2021-07-07 09:46] Pallvi12 opened #1872 "Delete Node in a Linked List(Leetcode)"
**Delete Node in a Linked List(Leetcode)**
Write a function to delete a node in a singly-linked list. You will not be given access to the head of the list, instead you will be given access to the node to be deleted directly.

It is guaranteed that the node to be deleted is not a tail node in the list.

Example 1:

Input: head = [4,5,1,9], node = 5
Output: [4,1,9]
Explanation: You are given the sec

[2021-07-07 09:47] Pallvi12 commented on #1872
assign me this issue want to solve this using C++

[2021-07-07 10:00] #1835 closed

[2021-07-07 12:44] manognyaa opened #1874 "Rotate Matrix 90 degree"
**Is your feature request related to a problem? Please describe.**
For the given matrix, the compiler will rotate the matrix into 90 degree and will give the output sir

**Describe the solution you'd like**
I would like to do it on c++ language sir

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-07 12:44] manognyaa commented on #1874
please assign this issue to me sir, I would like to work on it @Ayush7614 sir.

[2021-07-07 14:47] Hanesh-Jogani commented on #1838
@Ayush7614 @Amit366 @Saurabh4626 Please Assign me this Issue.

[2021-07-07 15:33] pratyush-kr commented on #1841
@chicken-biryani please assign me this problem

[2021-07-07 15:49] Khushi260 commented on #1089
Solutions for May Codechef Starters 2021 added.

[2021-07-07 17:09] #1806 closed

[2021-07-07 17:12] #1774 closed

[2021-07-07 19:23] #1839 closed

[2021-07-07 19:32] SnehaAgarwal361 opened #1879 "Longest Common Prefix of leetcode under LGMSOC'21"
# Aim

i would like to work on this issue in C++ under LGMSOC'21

# Details
![Screenshot (1016)](https://user-images.githubusercontent.com/73896596/124818045-2c7f0400-df88-11eb-8a96-f80a3d384bf4.png)

### Programming language

- [ ] C++

[2021-07-08 01:49] siddhi-244 commented on #1613
Plzz reopen this issue. I m working in C @ravikr126

[2021-07-08 04:04] Amit366 commented on #1689
@Himanshu-Shinde try in Java

[2021-07-08 05:00] KushagraJain58-cmd commented on #1824
Please assign me this issue under LGM-SOC'21 @ravikr126 @Amit366

[2021-07-08 05:25] #918 closed

[2021-07-08 05:31] #1562 closed

[2021-07-08 05:34] KushagraJain58-cmd opened #1886 "Left Or Right"
# Aim

Want to add a solution of "Left Or Right"
Kindly assign me this problem. I would like to add my solution to this problem in C++ easily and efficiently using multi-dimensional array.
Link to the problem: https://www.hackerearth.com/practice/data-structures/arrays/multi-dimensional/practice-problems/algorithm/left-or-right-92c0b54c/

# Details

A country X consists of N cities numbered 0 thro

[2021-07-08 05:34] KushagraJain58-cmd commented on #1886
Kindly assign me this issue under LGM-SOC'21 @ravikr126

[2021-07-08 05:34] Vidhi6340 commented on #1766
I have created the pull request to fix this PR.Kindly review it @Amit366 @chicken-biryani

[2021-07-08 05:35] #1208 closed

[2021-07-08 05:42] Vidhi6340 commented on #1689
I have generated Pull Request which fixes this issue. Kindly review it @Amit366

[2021-07-08 05:53] #1331 closed

[2021-07-08 06:06] TasnimAnas commented on #1855
I want to do this in C language
LGM_SOC

[2021-07-08 06:13] #1011 closed

[2021-07-08 06:14] Amit366 commented on #1756
@NidhiChaurasia This issue is already been solved

[2021-07-08 06:14] #1756 closed

[2021-07-08 06:16] #991 closed

[2021-07-08 06:20] #1222 closed

[2021-07-08 06:46] #184 closed

[2021-07-08 08:59] #1333 closed

[2021-07-08 09:37] 889-dj commented on #1638
i want to work on this issue under cpp please assign it to me @Amit366

[2021-07-08 15:20] Sanskriti2401 opened #1893 "Clone a linked list with next and random pointer(GFG)"
# Aim

![Screenshot 2021-07-08 204704](https://user-images.githubusercontent.com/75210337/124947830-cea4f780-e02d-11eb-9c56-a4855cd5a98a.png)

# Details

I would like to solve Clone a linked list with next and random pointer in C++ Language under LGMSOC'21

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-08 15:20] Sanskriti2401 commented on #1893
@ravikr126 Kindly assign me this issue under LGMSOC'21

[2021-07-08 15:25] #1870 closed

[2021-07-08 17:12] saurav2658 opened #1895 "Maximum Length of Repeated Subarray-C++"
**Question-**
Given two integer arrays nums1 and nums2, return the maximum length of a subarray that appears in both arrays.

I would like to provide my c++ code for this question. The folder I will be adding my code-Leetcode.

Please assign me this under LGMSOC '21

Thank you

[2021-07-08 17:16] saurav2658 opened #1896 "Median of Two Sorted Arrays-C++ (Leetcode Hard) under LGMSOC'21"
**Question-**
Given two sorted arrays nums1 and nums2 of size m and n respectively, return the median of the two sorted arrays.
The overall run time complexity should be O(log (m+n)).

I would like to provide my c++ code for this question. The folder I will be adding my code-Leetcode.

Please assign me this under LGMSOC '21

Thank you

[2021-07-08 17:24] nidh-cyber commented on #1824
Please assign me this issue under LGM-SOC'21 @ravikr126 @Amit366.

[2021-07-08 17:33] nidh-cyber commented on #1614
Please assign me this issue under LGMSOC'21
I would like to contribute in c++ language.

[2021-07-08 17:36] nidh-cyber commented on #1500
@ravikr126 Please assign this issue to me.

[2021-07-08 17:40] zDoctrov commented on #1804
I'd like to help as well.

[2021-07-08 22:51] Zualemo-xo opened #1899 "Maximum Length of Repeated Subarray-Python"
# Aim

- Provide the python code for Maximum Length of Repeated Subarray-Python

# Details

![image](https://user-images.githubusercontent.com/61049979/125000027-0e3f0400-e06d-11eb-9e88-4bf086ce0493.png)

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [X ] Python

[2021-07-08 22:52] Zualemo-xo commented on #1899
@ravikr126 Kindly assign me this issue under LGMSOC'21.

[2021-07-09 06:51] singhmansi25 commented on #1159
No updates yet @Ayush7614  !!!
Please assign the issue

[2021-07-09 10:11] #1858 closed

[2021-07-09 12:48] #1481 closed

[2021-07-09 15:07] siddhi-244 commented on #1899
Can I try in c++

[2021-07-09 15:20] sonamgupta136 opened #1905 "Gray Code (leetcode)"
# Aim
Given an integer n, return any valid n-bit gray code sequence.

# Details
An n-bit gray code sequence is a sequence of 2n integers where:

Every integer is in the inclusive range [0, 2n - 1],
The first integer is 0,
An integer appears no more than once in the sequence,
The binary representation of every pair of adjacent integers differs by exactly one bit, and
The binary representation of th

[2021-07-09 15:23] siddhi-244 commented on #1905
Can I try in python ?

[2021-07-09 15:38] Surajvatsya opened #1906 "kth symbol in grammar LEETCODE medium"
# Aim

Given two integers n and k, return the kth (1-indexed) symbol in the nth row of a table of n rows.

# Details

We build a table of n rows (1-indexed). We start by writing 0 in the 1st row. Now in every subsequent row, we look at the previous row and replace each occurrence of 0 with 01, and each occurrence of 1 with 10.

For example, for n = 3, the 1st row is 0, the 2nd row is 01, and the 3

[2021-07-09 17:27] SnehaAgarwal361 opened #1908 "Longest Increasing Subsequence under LGMSOC'21"
# Aim

i would like to work on this issue in C++ under LGMSOC'21

# Details
![WhatsApp Image 2021-07-09 at 10 55 57 PM](https://user-images.githubusercontent.com/73896596/125115428-f0bf7800-e108-11eb-8daf-95e141e236bb.jpeg)

### Programming language

- [ ] C++

[2021-07-09 17:27] Harikrishnaa3131 opened #1909 "Akku and Binary Numbers(GFG)"
## Aim

I would like to add the solution for Akku and Binary Numbers from GFG(Problem of the day).

## Details

Link to the problem: https://practice.geeksforgeeks.org/problems/akku-and-binary-numbers0902/0/
I would like to add my solution to this problem in C++ in an efficient approach.
Please assign this issue to me under HCSSoC (Hack Club SRM Summer of Code) .
@Ayush7614 @Amit366

### Programmi

[2021-07-09 18:18] Zualemo-xo commented on #1899
@Ayush7614 @Amit366 @ravikr126 @Saurabh4626 , Kindly review my PR #1903 .

[2021-07-09 18:31] 2000shivam659 commented on #1899
can i try in java ?

[2021-07-09 18:38] bindaldhara opened #1911 "Wave array (Gfg)"
Question-
Given a sorted array arr[] of distinct integers. Sort the array into a wave-like array and return it
In other words, arrange the elements into a sequence such that arr[1] >= arr[2] <= arr[3] >= arr[4] <= arr[5].....

https://practice.geeksforgeeks.org/problems/wave-array-1587115621/1/?track=dsa-workshop-1-arrays&batchId=308

I would like to provide my c++ code for this question. The fold

[2021-07-09 18:56] 2000shivam659 commented on #1872
Can i do it in JAVA language ?

[2021-07-09 18:57] 2000shivam659 commented on #1874
Can i try it in java ? please assign me...

[2021-07-09 21:59] Sanskriti2401 opened #1913 "Sum of nodes on the longest path from root to leaf node"
# Aim

![Screenshot 2021-07-10 032831](https://user-images.githubusercontent.com/75210337/125139865-efa14180-e12e-11eb-8455-5e9a67ac9aa8.png)

# Details

I would like to solve Sum of nodes on the longest path from root to leaf node in C++language under LGMSOC'21.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-09 22:03] Sanskriti2401 opened #1914 "Largest BST"
# Aim

![Screenshot 2021-07-10 033131](https://user-images.githubusercontent.com/75210337/125140149-7fdf8680-e12f-11eb-8757-9751c6707227.png)

# Details

I would like to solve Largest BST in C++ under LGMSOC'21

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-10 03:42] siddhi-244 commented on #1614
Can I try in python ?

[2021-07-10 06:47] vaeeshnavee opened #1915 "Hackerrank Problem Top-View"
Link of the problem : https://www.hackerrank.com/challenges/tree-top-view/problem

Please assign me this problem. I can solve it in C++.

[2021-07-10 07:26] Sanskriti2401 commented on #1913
@ravikr126 Kindly assign me this issue under LGMSOC'21

[2021-07-10 07:26] #1893 closed

[2021-07-10 07:26] Sanskriti2401 commented on #1914
@ravikr126  Kindly assign me this issue under LGMSOC'21

[2021-07-10 11:52] girija0707 commented on #1691
please review this issue

[2021-07-10 13:16] #1681 closed

[2021-07-10 15:04] #1896 closed

[2021-07-10 15:13] 444-555-fatima commented on #1913
kindly assign me this issue

[2021-07-10 15:42] sonamgupta136 commented on #1911
@Amit366 please assign me this pblm.i would like to contribute in C++

[2021-07-10 15:43] SrihariTadala commented on #1318
#import python packages
from collections import deque

# Find the next greater element for every element in a list
def findNextGreaterElements(L):
    result = [-1] * length(A)

    # create an empty stack
    t = deque()
#this is the solution for next greater element  using python

    # do for each element
    for i in range(length(A)):

        # loop till we have a greater element on top or st

[2021-07-10 15:47] SrihariTadala commented on #1593
Kindly assign me this
I have immense intersect in coding

[2021-07-10 15:53] SrihariTadala commented on #1537
**_##Check if Sentence is Pangram (Leetcode)_**
class Solution {
    public boolean checkIfPangram(String sentence) {
        HashSet<Character> set = new HashSet<>();
        for(char ch : sentence.toCharArray()){
            set.add(ch);
        }
        return set.size()==26;
    }
}

[2021-07-10 16:04] SrihariTadala commented on #1398
**_### # Python program for diagonal  traversal of Binary Tree

**Diagonal Traversal of Binary Tree**

# A binary tree node_**
class Node:

    # Constructor to create a new binary tree node

    def __init__(self, data):
        self.data = data
        self.left = None
        self.right = None

"

    # Base Case to check if it is true or false
    if root is None:
        return

     #using e

[2021-07-10 16:04] #798 closed

[2021-07-10 16:07] #765 closed

[2021-07-10 16:43] #1859 closed

[2021-07-10 16:44] #1879 closed

[2021-07-10 16:47] ShivanshuVishnoi opened #1920 "Codeforces Round 731 Problem B"
# Aim

- I would like to add solution of Codeforces Round 731 Problem B Alphabetical Strings.

# Details

- https://codeforces.com/contest/1547/problem/B
- LGM-SOC'21

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-10 16:48] ShivanshuVishnoi commented on #1920
@Amit366 @Ayush7614 @ravikr126 Please Assign me this Issue. I will Solve it in C++.
LGM-SOC'21

Thank You

[2021-07-10 16:55] SnehaAgarwal361 opened #1921 "First Unique Character in a String under LGMSOC'21"
# Aim

i would like to work on this issue in C++ using Unordered_maps.

# Details
Given a string s, find the first non-repeating character in it and return its index. If it does not exist, return -1.

Example 1:

Input: s = "leetcode"
Output: 0

### Programming language

- [ ] C++

[2021-07-10 17:36] ShivanshuVishnoi opened #1924 "Codeforces Round 731 Problem C"
# Aim

- I would like to add solution of Problem C Pair Programming

# Details

- https://codeforces.com/contest/1547/problem/C
- LGM-SOC'21

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-10 17:37] ShivanshuVishnoi commented on #1924
@Amit366 @Ayush7614 @ravikr126 Please Assign me this Issue. I will solve it in C++.
LGM-SOC'21

Thank you

[2021-07-10 18:32] Shahrukh1505 opened #1927 "Kth largest element of an array"
# Aim

- The aim of this question is  to intoduce the students with the concept and application of priority queue.

# Details

- https://leetcode.com/problems/kth-largest-element-in-an-array/

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-07-10 20:10] Aryan-Srivastava opened #1930 "Stack implementation using Linked List."
# Aim

- Stack implementation using Linked List

# Details

- will be adding code for implementing stack using linked list in Data Structure/Stack/Java

### Programming language
- [ ] C
- [ ] C++
- [X] Java
- [ ] Python

[2021-07-10 20:10] Aryan-Srivastava commented on #1930
@Amit366 @Ayush7614 @ravikr126 Please Assign me this Issue. I will solve it in java.

Thank you

[2021-07-10 20:19] Aryan-Srivastava opened #1931 "Parenthesis Checker - GFG problem"
# Aim

- Adding [Parenthesis Checker](https://practice.geeksforgeeks.org/problems/parenthesis-checker2744/1/?category[]=Stack&category[]=Stack&problemStatus=solved&page=1&query=category[]StackproblemStatussolvedpage1category[]Stack) to GFG folder.

# Details

- Given an expression string x. Examine whether the pairs and the orders of “{“,”}”,”(“,”)”,”[“,”]” are correct in exp.
For example, the fun

[2021-07-10 20:20] Aryan-Srivastava commented on #1931
@Amit366 @Ayush7614 @ravikr126 Please Assign me this Issue. I will solve it in java.

Thank you

[2021-07-11 04:34] #1913 closed

[2021-07-11 04:48] Sanskriti2401 opened #1934 "Merge Two BST"
# Aim

![Screenshot 2021-07-11 101326](https://user-images.githubusercontent.com/75210337/125183092-34150600-e231-11eb-8350-65789502ded6.png)

# Details

I would like to solve Merge Two BST in C++ under LGMSOC'21

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-11 04:48] Sanskriti2401 commented on #1934
@ravikr126 Kindly assign me this issue.

[2021-07-11 04:56] Sanskriti2401 opened #1935 "Duplicate subtree in Binary Tree"
# Aim

![Screenshot 2021-07-11 102400](https://user-images.githubusercontent.com/75210337/125183224-6410d900-e232-11eb-9398-2ac8e9a46fcd.png)

# Details

I would like to solve  Duplicate subtree in Binary Tree  in C++ under LGMSOC'21

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-11 04:58] Sanskriti2401 commented on #1935
@ravikr126 Kindly assign me this issue under LGMSOC'21

[2021-07-11 05:10] #1920 closed

[2021-07-11 05:12] #1914 closed

[2021-07-11 05:19] Shahrukh1505 commented on #1927
I want to work on this issue.

[2021-07-11 06:00] breeze37 commented on #1500
@Amit366 can I get assigned this in python.

[2021-07-11 10:20] Rounak-chauhan commented on #1935
please assign me this issue in java language @ravikr126

[2021-07-11 10:20] Rounak-chauhan commented on #1934
please assign me this issue in java under LGMSOC21 @ravikr126

[2021-07-11 10:21] Rounak-chauhan commented on #1921
please assign me this issue under java language

[2021-07-11 11:39] Rounak-chauhan commented on #1855
i wan to do this in java please assign me this issue

[2021-07-11 11:40] Rounak-chauhan commented on #1257
@Ayush7614 @Amit366 i would like to add solution to this problem in java

[2021-07-11 15:50] SnehaAgarwal361 opened #1944 "Palindrome Linked List (Leetcode) LGMSOC'21"
# Aim

i would like to work on this issue under LGMSOC'21

# Details

![Screenshot (1019)](https://user-images.githubusercontent.com/73896596/125201696-dd89e500-e28d-11eb-8f13-09661a1d8f44.png)

### Programming language
<!--

- [ ] C++

[2021-07-11 15:52] SnehaAgarwal361 opened #1945 "Number of 1 Bits under LGMSOC'21"
# Aim

I would like to work on this issue.

# Details

![Screenshot (1018)](https://user-images.githubusercontent.com/73896596/125201756-04481b80-e28e-11eb-8fcb-5c022d4ca01a.png)

### Programming language
C++

[2021-07-11 16:01] ravikr126 commented on #1944
This question is already in repository

[2021-07-11 16:01] #1944 closed

[2021-07-11 16:02] #1908 closed

[2021-07-11 16:40] ShivanshuVishnoi opened #1946 "Codeforces Round 732 Problem A. AquaMoon and Two Arrays"
# Aim

- I would like to add Codeforces Round 732 Problem A. AquaMoon and Two Arrays.

# Details

- https://codeforces.com/contest/1546/problem/A
- Level - **Medium**
- LGM-SOC'21

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-07-11 16:41] ShivanshuVishnoi commented on #1946
@ravikr126 @Ayush7614 @Amit366 Please Assign me this issue. I will solve it in C++.
LGM-SOC'21

Thank You

[2021-07-11 18:29] 2000shivam659 commented on #1945
Please assign me this

### Programming language

- [ ] JAVA

[2021-07-11 18:34] 2000shivam659 commented on #1934
Please assign me this

### Programming language

- [ ] JAVA

[2021-07-11 18:38] 2000shivam659 commented on #1921
Please assign me this issue
### ##Programing Language
- [ ] JAVA

[2021-07-11 19:18] AtrikGit6174 opened #1951 "C++ Solution to "Swap Nodes in Pairs" on LeetCode under LGMSOC21"
I would like to add the C++ Solution to "Swap Nodes in Pairs" on LeetCode under LGMSOC21.
It is using recursion.
[https://leetcode.com/explore/learn/card/recursion-i/250/principle-of-recursion/1681/](https://leetcode.com/explore/learn/card/recursion-i/250/principle-of-recursion/1681/)

![image](https://user-images.githubusercontent.com/64845750/125207603-d7563180-e2aa-11eb-9b3c-fafea84abaf2.png)

[2021-07-11 20:24] AtrikGit6174 opened #1952 "C++ Solution for "Climbing Stairs" on LeetCode under LGMSOC21"
C++ Solution for "Climbing Stairs" on LeetCode under LGMSOC21
[https://leetcode.com/explore/learn/card/recursion-i/255/recursion-memoization/1662/](https://leetcode.com/explore/learn/card/recursion-i/255/recursion-memoization/1662/)

![image](https://user-images.githubusercontent.com/64845750/125209106-340a1a00-e2b4-11eb-8d1e-78b6142f85a4.png)

I would like to add the iterative and recursion-memoi

[2021-07-12 00:36] Bigbolokbob commented on #1377
Hi

[2021-07-12 04:57] anishsingh42 commented on #302
Can I solve this question if it is not merged yet ?
Preferred Language : - C++

[2021-07-12 08:44] nickel-28 commented on #1921
Please assign me this particular issue

[2021-07-12 09:39] 2000shivam659 commented on #1951
Please assign me this under LGM-SOC'21
@Amit366  @ravikr126  @Ayush7614
I would like to solve this using recursion method.
### Programing Language

- [ ]  C
- [ ]  C++
- [ ]  Java
- [ ]  Python
- [ ]  Python

[2021-07-12 09:54] 2000shivam659 commented on #1824
Please assign me this under LGM-SOC'21
@Amit366 @ravikr126 @Ayush7614

I would like to solve this using JAVA .

Programing Language

- [ ]  C
- [ ]  C++
- [ ]  Java
- [ ]  Python