[2021-06-12 07:54] ishitakapoor26 commented on #643
@Ayush7614 @Amit366 pls assign this issue to me and review my pr.

[2021-06-12 08:09] jahnvisrivastava100 commented on #630
@Ayush7614  I would like to add this in C

[2021-06-12 08:11] Sukhseerat-Kaur opened #650 "Two Sum Leetcode"
# Aim

To add the solution to beginner friendly Two Sum question under in Leetcode folder

# Details

I can provide solution in c++.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-12 08:12] Sukhseerat-Kaur commented on #650
@Ayush7614 Please assign me this under LGMSOC'21

[2021-06-12 08:14] nidhi3108 commented on #631
I would like to add some question  using language c++.I am participating in LGM-SOC . please assign me .

[2021-06-12 08:18] nidhi3108 commented on #630
I would like to add this in c++.Please assign me .

[2021-06-12 08:18] Sukhseerat-Kaur opened #652 "Bellman Ford Algorithm"
# Aim

I would like to add Bellman Ford Algorithm under algorithms.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-12 08:19] Sukhseerat-Kaur commented on #652
@Ayush7614 Please assign me this under LGMSOC'21

[2021-06-12 08:19] nisha331 opened #653 "Way Too Long Words"
Sometimes some words like "localization" or "internationalization" are so long that writing them many times in one text is quite tiresome.

Let's consider a word too long, if its length is strictly more than 10 characters. All too long words should be replaced with a special abbreviation.

This abbreviation is made like this: we write down the first and the last letter of a word and between them w

[2021-06-12 08:24] nidhi3108 commented on #597
I can solve this question in  c++.please assign me this issue.

[2021-06-12 08:45] agamgupta2015 commented on #574
@Ayush7614 please assign this issue to me I will do it in Java Language

[2021-06-12 08:54] Amit366 commented on #530
@shantamsultania @siddhi-244 implement in java and python

[2021-06-12 08:55] siddhi-244 commented on #530
@Amit366  sure I am doing it in python !

[2021-06-12 09:10] agamgupta2015 opened #657 "Product of Array by Self Algo"
### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-06-12 09:14] agamgupta2015 opened #659 "Interpolation Search"
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-12 09:17] agamgupta2015 opened #661 "Ubiquitous Binary Search"
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-12 09:26] TasnimAnas commented on #653
I can do this in C language.
Assign me.

LGM_SOC'21

[2021-06-12 09:29] siddhi-244 commented on #530
@Amit366 check pr #660

[2021-06-12 09:32] apran-vs commented on #630
I would like to solve this issue with python.Please assign me.

[2021-06-12 09:34] Komal-99 commented on #630
@apran-vs  i already made the issue for doing it in  python

[2021-06-12 09:40] #376 closed

[2021-06-12 09:42] siddhi-244 commented on #376
@Amit366  can I try this in python ?

[2021-06-12 09:43] apran-vs opened #665 "balanced-brackets"
# Problem

- https://www.hackerrank.com/challenges/balanced-brackets/problem

# Details

- Using Stack, we are going to check that brackets are balanced or not
- Ex.

1
Input :  {[()]}
Output : Balanced

2
Input : {[(])}
Output : Unbalanced

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [x] Python

[2021-06-12 09:44] apran-vs commented on #665
Please this issue to me.

[2021-06-12 10:06] Pratik57 commented on #204
@palakagarwal5230 Have you completed this in cpp ?

[2021-06-12 10:09] Pratik57 commented on #397
@Ayush7614  why you reopened this issue ? It is completed in c, cpp, python and java

[2021-06-12 10:19] ishitakapoor26 commented on #550
@Ayush7614 pls assign this issue to me. I would like to do it in C.

[2021-06-12 10:23] ishitakapoor26 commented on #549
@Ayush7614 Pls assign this issue to me. I would like to implement Bucket Sort in C.

[2021-06-12 10:36] #395 closed

[2021-06-12 10:43] Pratik57 commented on #225
@Amit366  Assign me this in Java problem in java

[2021-06-12 10:45] Aiswarika opened #669 "Minimum Window Substring (Leetcode Hard) Question"
@Amit366 @Ayush7614 I would like to work on this issue as a part of the LGM SOC contest. Kindly assign me this issue.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-12 10:49] #194 closed

[2021-06-12 10:54] PriyankaHotchandani commented on #669
I would like to work on this issue as a participant of LGM-SOC'21, and implement this in Python programming language.

[2021-06-12 11:09] #163 closed

[2021-06-12 11:19] ArshWalker opened #672 "N Queen Problem in C++"
# Aim

- N queen problem using Backtracking Concept.
- Using C++.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-12 11:28] akash435 opened #673 "DFS entry exit time"
Want to add a c++ program that calculates in dfs traversal what is the entry and exit time of each vertex.
we will be using dfs algorithm to solve this.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-12 11:29] akash435 commented on #673
@Ayush7614 , please assign this to me under LGM SOC, i want to add this dfs_entry_exit time  program in algorihtm section.

[2021-06-12 11:29] ArshWalker opened #674 "Josephus Problem"
@Ayush7614

AIM :

Josephus Problem using recursion in c++.

please assign me this...

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-12 11:32] Simar05519 commented on #323
@Amit366 should I have to do this in c++ or not?

[2021-06-12 11:35] agamgupta2015 opened #675 "Shell Sort in C++"
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-12 11:35] siddhi-244 commented on #650
Can I try this in python ?

[2021-06-12 11:37] siddhi-244 opened #676 "Spiral print a 2-D array"
# Aim

- to write a program to print 2D array in spiral ordee

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-12 11:37] siddhi-244 commented on #676
Can I try it in c++ ? @Amit366

[2021-06-12 11:38] Amit366 commented on #323
@Simar05519 it's done in cpp. If u want do in C

[2021-06-12 11:48] PurviGoyal7 commented on #596
@Amit366 Please review my Pull Request.

[2021-06-12 11:49] PurviGoyal7 commented on #590
@Amit366 Please review my Pull Request.

[2021-06-12 12:09] PurviGoyal7 opened #679 "Largest Number (Leetcode Medium)"
# Aim

- Arrange a list of non-negative integers nums such that they form the largest number.

# Details

- I am a LGM-SOC'21 participant.
- Solution of the above problem in O(nlogn) time in C++ language.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-12 12:13] Ayan-thecodeking commented on #638
hey :)
I want to add this program in c and java language
please assign this to me

[2021-06-12 12:14] rajat1701 opened #680 "Pairwise Swap in Linked List"
**Is your feature request related to a problem? Please describe.**
Pairwise Swap (Linked List)

**Describe the solution you'd like**
It is implemented using Linked List in C Language.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature

[2021-06-12 12:14] Ayan-thecodeking commented on #642
hey :)
I want to add this program in c and java language
please assign this to me

[2021-06-12 12:15] rajat1701 commented on #680
@Amit366 @Ayush7614
Kindly assign me this issue.

[2021-06-12 12:16] Ayan-thecodeking commented on #631
hey :)
I want to add this program in c and c++ language
i have one file for beginners friendly pattern questions ...
please assign this to me

[2021-06-12 12:17] Ayan-thecodeking commented on #304
hey :)
I want to add this program in c and java language
please assign this to me

[2021-06-12 12:19] agamgupta2015 opened #681 "Kruskal's Algorithm"
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-12 12:21] Ayan-thecodeking commented on #522
hey :)
I want to add this program in c and java language
please assign this to me

[2021-06-12 12:22] agamgupta2015 opened #682 "Kahn's Algorithm"
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-12 12:22] Ayan-thecodeking commented on #513
hey :)
I want to add this program in c and java language
please assign this to me

[2021-06-12 12:23] Ayan-thecodeking commented on #508
hey :)
I want to add this program in c and java language
please assign this to me

[2021-06-12 12:38] chandu6111 commented on #653
@Ayush7614 could you please assign this issue to me, I would like to contribute to it in "Python 3"

[2021-06-12 12:49] UG-SEP opened #685 "Reorder List in cpp"
# Aim

Add a program that reorders the LinkedList as the order given below
For example: Given 1->2->3->4->5 its reorder is 1->5->2->4->3.
It is the GFG problem
[Problem link](https://practice.geeksforgeeks.org/problems/reorder-list/1/?category[]=Linked%20List&category[]=Linked%20List&problemStatus=solved&difficulty[]=2&page=1&query=category[]Linked%20ListproblemStatussolveddifficulty[]2page1catego

[2021-06-12 12:51] Suryadipsinh commented on #631
Hello @Ayush7614 , I would like to add some beginner level patterns questions like "*", numbers patterns, alphabet patterns etc.
I will use C/C++ language. Please assign me this issue.

[2021-06-12 13:10] Suryadipsinh opened #688 "Left Rotation of Array"
Problem Statement: A left rotation operation on an array of size n shifts each of the array's elements 1 unit to the left. Given an integer, d, rotate the array that many steps left and return the result.

Language:- C/C++

I want to add solution for this problem.

[2021-06-12 13:39] mitali-1703 commented on #479
Hey @Amit366 I can add a java solution to this.Please assign me this under LGM-SOC'21

[2021-06-12 14:44] sambit221 opened #694 "add Sieve of Eratosthenes algorithm"
# Aim

- Want to add Sieve of Eratosthenes algorithm

# Details

- The sieve of Eratosthenes is one of the most efficient ways to find all primes smaller than n when n is smaller than 10 million

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-12 14:50] creativeyashi opened #695 "Missing Chocolate Distribution Problem of GFG"

[2021-06-12 15:04] #496 closed

[2021-06-12 15:06] #513 closed

[2021-06-12 15:09] #196 closed

[2021-06-12 15:12] #243 closed

[2021-06-12 15:14] #367 closed

[2021-06-12 15:15] TasnimAnas commented on #688
I want to solve this in Java
LGM_SOC'21

[2021-06-12 15:17] #227 closed

[2021-06-12 15:18] siddhi-244 commented on #688
Can I try in python ?

[2021-06-12 15:22] #251 closed

[2021-06-12 15:28] siddhi-244 commented on #665
Can I do it in python or c?

[2021-06-12 15:36] palakagarwal5230 commented on #204
Yes I've completed it

[2021-06-12 15:37] mdinesh124 commented on #300
@Amit366 Please assign me this issue under LGMSOC. I will solve it in java.

[2021-06-12 15:39] mdinesh124 commented on #581
@Ayush7614 Please assign it to me under LGMSOC. I will solve it in java.

[2021-06-12 15:42] mdinesh124 commented on #588
@Ayush7614 Please assign this to me. I would solve it in java.

[2021-06-12 16:53] akshita2903 commented on #611
@Amit366  please assign me this problem.I will do this in Java.

[2021-06-12 16:55] ShivanshuVishnoi commented on #638
@Ayush7614 @Kashish05 Please Assign me this Issue. I will solve this question in c++.

Thank You

[2021-06-12 16:57] ShivanshuVishnoi commented on #665
@Ayush7614 @apran-vs Please assign me this issue. I will solve this question in c++.
Thank You

[2021-06-12 17:00] ShivanshuVishnoi commented on #653
@Ayush7614 Please assign me this issue. I will solve this question in c++.
LGM SOC'21

[2021-06-12 17:03] manuvarghese0603 commented on #532
Sir,  C++ code also added

[2021-06-12 17:12] ShivanshuVishnoi opened #706 "Balanced Array of Codeforces"
# Aim

- I want to add a question in Codeforces Folder

# Details

- Balanced Array Question of Codeforces
- Problem 1343B
- https://codeforces.com/problemset/problem/1343/B

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-12 17:14] ShivanshuVishnoi commented on #706
@Ayush7614 Please Assign me to solve this question in c++.
LGM-SOC'21
Thank You

[2021-06-12 17:18] manuvarghese0603 opened #707 ""Lapindromes" Problem of Codechef"
# Aim

I want to add the code for "Lapindromes" problem in codechef (DSA Learning Series)

# Details

Problem name : Lapindromes
Problem Code : LAPIN
Problem link : https://www.codechef.com/LRNDSA01/problems/LAPIN

Please assign me this issue
LGM-SOC Participant

### Programming language

C++

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-12 17:30] Komal-99 commented on #430
@Amit-45 ?

[2021-06-12 17:36] mitali-1703 commented on #694
@Ayush7614 @Amit366 I want to add a C solution to this please assign me this under LGM-SOC'21

[2021-06-12 17:48] neha030 opened #709 "Zig-Zag Traversal of a Binary Tree"
I want to provide a C++ code for implementation of binary tree using Zig-Zag traversal.
I am LGM-SOC participant and want to provide this code with proper comments and explanation.

Please assign me this issue.

[2021-06-12 17:52] Kashish05 commented on #638
Only admin can assign ig.

[2021-06-12 18:44] rajeshkumar2024 commented on #314
@Amit366 I have raised a PR review please check.

[2021-06-12 18:51] rajeshkumar2024 opened #715 "Prime Dates Of Hackerrank"
# Aim

- Want to add solution of Prime Dates in Java.

# Details

- Problem Link - https://www.hackerrank.com/challenges/prime-date/problem
- Want to solve under LGMSOC'21
- @Ayush7614 @Amit366 please assign me this.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-12 18:55] rajeshkumar2024 opened #716 "The Time in Words in Hackerrank"
# Aim

- Want to add solution of The Time in Words of Hackerrank under LGMSOC'21

# Details

- Problem link - https://www.hackerrank.com/challenges/the-time-in-words/problem
- Language used - Java
- @Ayush7614 @Amit366 please assign me this.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-12 18:58] sardonicankita opened #717 "609. Find Duplicate File in System"
# Aim
To solve the Leetcode Medium Problem "609. Find Duplicate File in System" in C++.

# Details

Given a list paths of directory info, including the directory path, and all the files with contents in this directory, return all the duplicate files in the file system in terms of their paths. You may return the answer in any order.

Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-12 19:01] sardonicankita opened #718 "Maximum Area of a Piece of Cake After Horizontal and Vertical Cuts"
# Aim

To solve the Leetcode problem "_Maximum Area of a Piece of Cake After Horizontal and Vertical Cuts_" in C++.

# Details

You are given a rectangular cake of size h x w and two arrays of integers horizontalCuts and verticalCuts where:

horizontalCuts[i] is the distance from the top of the rectangular cake to the ith horizontal cut and similarly, and
verticalCuts[j] is the distance from the l

[2021-06-12 19:04] sardonicankita opened #719 "Find and Replace Pattern"
# Aim

I want to solve  _"Find and Replace Pattern"_ in C++.

# Details

Given a list of strings words and a string pattern, return a list of words[i] that match pattern. You may return the answer in any order.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-12 19:05] sardonicankita commented on #719
Please assign me this

[2021-06-12 19:05] sardonicankita commented on #718
Admins, Please assign me this issue

[2021-06-12 19:06] sardonicankita commented on #717
PLease assign it to me.

[2021-06-12 19:14] TasnimAnas commented on #716
I want to solve this in C++

LGM_SOC'21

[2021-06-12 19:17] TasnimAnas commented on #715
I want to solve this in C++.
Plz assign me

[2021-06-12 19:49] mitali-1703 commented on #422
@Amit366 can you assign me this in C language under LGM-SOC'21?

[2021-06-12 20:39] nisha331 opened #727 "Adding Code of conduct"
# Aim

As the project does not contain code of conduct file I would like to add it.
I am a LGMSOC'21 participant kindly assign it to me.

[2021-06-13 01:23] #537 closed

[2021-06-13 01:25] #180 closed

[2021-06-13 01:29] #584 closed

[2021-06-13 01:32] #172 closed

[2021-06-13 01:36] #461 closed

[2021-06-13 02:30] suy1968 commented on #707
Please assign me as I am part of LGM-SOC_21

I am using python3

[2021-06-13 02:37] Adarsh357 commented on #719
Can u assign this to me

[2021-06-13 02:38] Adarsh357 commented on #679
Assign this to me

[2021-06-13 02:49] skimran2000 commented on #179
I have submitted my previous issues
Could you please assign this issue to me now

[2021-06-13 02:50] skimran2000 commented on #178
I have submitted my previous issues
Could you please assign this issue to me now

[2021-06-13 03:41] Shaishav0507 opened #730 "Indian Coin Change Problem"
Hey @Ayush7614
I would like to add Indian Coin Change Problem in C++.
Please assign me.

# Details
It is based on Greedy Approach, where user enter certain numbers and the limit and gets the output of the coins.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-13 04:41] codeaholic-shub opened #734 "Summer Heat-JUNE LONG CHALLENGE-DIV 3-CODECHEF"
# Aim

Hey @Ayush7614 ,
I want to add Summer Heat Problem Solution in CPP,
Kindly assign this issue to me !

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

![Summer Heat _ CodeChef - Google Chrome 13-06-2021 10_11_58 (2)](https://user-images.githubusercontent.com/65807708/121795639-3edb7b80-cc30-11eb-8668-2c3c9cd515f0.png)

[2021-06-13 04:52] #151 closed

[2021-06-13 04:54] #590 closed

[2021-06-13 04:59] #162 closed

[2021-06-13 05:02] #165 closed

[2021-06-13 05:13] toth2000 opened #736 "Add Circular Tour Solution"
# LGM-SOC'21 Contribuition
**Is your feature request related to a problem? Please describe.**
Add Solution to a GFG problem.
Problem Name: Circular Tour
Problem LInk: https://practice.geeksforgeeks.org/problems/circular-tour/1

**Describe the solution you'd like**
I would like to work on the JAVA part of the solution.

**Additional context**
Suppose there is a circle. There are N petrol pumps on t

[2021-06-13 05:13] toth2000 commented on #736
I would like to submit a PR for the JAVA part.

[2021-06-13 05:23] #609 closed

[2021-06-13 05:50] Atif0604 commented on #685
I want to do this in java

[2021-06-13 05:50] TasnimAnas commented on #323
@Amit366 I want to solve this in JAVA. Assign me

[2021-06-13 05:52] kumarshobhit commented on #709
I would like to contribute in java language.

[2021-06-13 05:53] kumarshobhit commented on #672
I would like to contribute in java language

[2021-06-13 05:53] TasnimAnas commented on #358
@Amit366 I want to solve this in C language. Assign me

[2021-06-13 05:54] Atif0604 commented on #681
i want to do this in C @Ayush7614

[2021-06-13 05:56] kumarshobhit commented on #358
I would like to contribute in java language

[2021-06-13 05:56] kumarshobhit commented on #318
I would like to contribute in java language

[2021-06-13 06:01] Atif0604 commented on #675
i want to do in java @Ayush7614

[2021-06-13 06:03] Atif0604 commented on #676
i want to do in java @Amit366

[2021-06-13 06:13] ShivanshuVishnoi opened #738 "Even Array Problem of Codeforces"
# Aim

- I want to add a problem in codeforces folder.

# Details

- Even Array Problem of Codeforces.
- Problem 1367B
- https://codeforces.com/problemset/problem/1367/B
- LGM-SOC'21
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-13 06:15] ShivanshuVishnoi commented on #738
@Ayush7614 Please Assign me this Question. I will Solve it in C++.
LGM-SOC'21
Thank You

[2021-06-13 06:58] mitali-1703 commented on #682
@Ayush7614 I want to add a C solution to this under lgm-soc'21...please assign me

[2021-06-13 07:00] mitali-1703 commented on #675
I want to do in C @Ayush7614 under lgm-soc'21

[2021-06-13 07:32] rakesh419s opened #739 "Check if the given permutation is a valid DFS of graph"
# Aim

- validation of DFS of  graph

# Details
Given a graph with N nodes numbered from 1 to N and M edges and an array of numbers from 1 to N. Check if it is possible to obtain any permutation of array by applying DFS (Depth First Traversal) on given graph. What the features will your script have

### Programming language

- [ ] C
- .C++
- [ ] Java
- [ ] Python

[2021-06-13 07:33] rakesh419s commented on #739
could you assign me the above statement in C++

[2021-06-13 07:35] Palak2801 opened #740 "KMP Algorithm for Pattern Searching"
**Is your feature request related to a problem? Please describe.**
KMP Algorithm

**Describe the solution you'd like**
Implementation using C++

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

### Programming language

[2021-06-13 07:36] Palak2801 commented on #740
@Amit366 @Ayush7614, Kindly assign me this issue under LGMSOC

[2021-06-13 07:38] rakesh419s opened #741 "Array range queries for elements with frequency same as value"
# Aim

- Range Queries Technique

# Details

-Given an array of N numbers, the task is to answer Q queries.

### Programming language

- [ ] C
- . C++
- [ ] Java
- [ ] Python

[2021-06-13 07:39] rakesh419s commented on #741
would you please assign me this in c++

[2021-06-13 07:45] Amit-45 opened #742 "Find position of set bit"
@Amit366 Please assign me this task under LGMSOC'21 .
Language : C++
Topic :Bit manipulation

[2021-06-13 07:46] harshpreet0508 commented on #680
I want to add C++ code for this. Please assign me.

[2021-06-13 07:49] Amit-45 opened #743 "Power of 2"
Link for the question [here](https://practice.geeksforgeeks.org/problems/power-of-2-1587115620/1)

Problem statement : Given a non-negative integer N. The task is to check if N is a power of 2. More formally, check if N can be expressed as 2x for some x.

Please assign this task under the LGMSOC'21 .

Language : C++

[2021-06-13 07:49] manuvarghese0603 commented on #707
You were supposed to add python file
I asked for the c++ version
The file which you added above is a cpp file

[2021-06-13 07:52] Amit-45 opened #745 "All bits to zero except last"
Problem statement : Set all bits to zero except last

Please assign me this task under the LGMSOC'21

Topic : Bit manipulation

Language : C++

[2021-06-13 07:58] harshpreet0508 opened #746 "Combination Sum Problem on leetcode"
I am LGM-SOC participant and want to add the C++ code for Combination Sum Problem on Leetcode.

Description: Given an array of distinct integers candidates and a target integer target, return a list of all unique combinations of candidates where the chosen numbers sum to target. You may return the combinations in any order.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-13 07:59] Khushi-agarwal opened #747 "Twins question on Codeforces"
**Is your feature request related to a problem? Please describe.**
I want to implement the twins question which is given on codeforces which is 160A question number.

**Describe the solution you'd like**
I want to implement it in C++ language.
Problem link- https://codeforces.com/problemset/problem/160/A

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-13 08:01] Khushi-agarwal commented on #747
@Amit366 Kindly assign me this issue under lgm-soc.

[2021-06-13 08:04] Khushi-agarwal opened #748 "JavaBigDecimal program from hacker rank"
# Aim

I want to add the code of javadecimal from hacker rank.
Problem link-https://www.hackerrank.com/challenges/java-bigdecimal/problem

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python
@Amit366  kindly assign me this issue.

[2021-06-13 08:07] Khushi-agarwal commented on #748
@Ayush7614 kindly assign me this issue.

[2021-06-13 08:09] Khushi-agarwal opened #749 "Warshall Algorithm in python"
It is a graph based algorithm which I want to add in the python language.

@Ayush7614 @Amit366 please assign me this issue.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-13 08:10] Khushi-agarwal opened #750 "Priority Queue in python"
I want to add priority queue program in python.\
Please assign me this issue.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-13 08:13] Khushi-agarwal opened #751 "Taxi program from code forces"
# Aim

I want to add the solution of taxi problem from code forces.
Problem link-https://codeforces.com/problemset/problem/158/B

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-13 08:16] Khushi-agarwal opened #752 "Summer Heat from code chef"
# Aim

I want to add the solution of summer heat problem from code chef.
Link to the problem-https://www.codechef.com/JUNE21C/problems/COCONUT

@Ayush7614 @Amit366 please assign me this issue.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-13 08:17] Khushi-agarwal opened #753 "Bella ciao from code chef"
# Aim

I want to add the solution to problem Bella ciao from codechef.
Problem link-https://www.codechef.com/JUNE21C/problems/CHFHEIST

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

[2021-06-13 08:26] ShivanshuVishnoi commented on #751
@Ayush7614 Please Assign me this issue. I will Solve this problem in C++.
LGM-SOC'21

Thank You

[2021-06-13 09:02] ArshWalker commented on #674
@Ayush7614 please assign me this!

[2021-06-13 09:25] samarth533 opened #755 "Johnson's Algorithm"
**Is your feature request related to a problem? Please describe.**
Johnson's Algorithm - To find shortest path between two vertices.

**Describe the solution you'd like**
Implementation using c++.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about

[2021-06-13 09:26] samarth533 commented on #755
@Amit366 @Ayush7614 Please assign me this issue under lgmssc.

[2021-06-13 09:32] sejal1430 opened #756 "Leetcode: 32. Longest Valid Parenthesis (Hard-DP, String)"
Given a string containing just the characters '(' and ')', find the length of the longest valid (well-formed) parentheses substring.
Input: s = ")()())"
Output: 4
Problem link: https://leetcode.com/problems/longest-valid-parentheses/

**Programming language**
Java

As a participant of LGMSOC, I have created this issue and would like to work on it.
@Ayush7614 Kindly assign me this issue.

[2021-06-13 09:37] sejal1430 opened #757 "Leetcode: 871. Minimum No. of Refueling Stops (Hard-DP)"
A car travels from a starting position to a destination which is target miles east of the starting position.
Along the way, there are gas stations.  Each station[i] represents a gas station that is station[i][0] miles east of the starting position, and has station[i][1] liters of gas.
The car starts with an infinite tank of gas, which initially has startFuel liters of fuel in it.  It uses 1 liter

[2021-06-13 09:45] Palak2801 opened #758 "Convert the prefix expression to infix expression"
**Is your feature request related to a problem? Please describe.**
Convert the prefix expression to infix expression using stack data structure

**Describe the solution you'd like**
Implementation using c++

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screens

[2021-06-13 09:46] Palak2801 commented on #758
@Amit366 @Ayush7614, Kindly assign me this issue under LGMSOC

[2021-06-13 09:57] Palak2801 commented on #237
I want to add the solution for Maximum Histogram area in c
@Ayush7614  @Amit366  could you please assign this issue to me

[2021-06-13 10:51] #351 closed

[2021-06-13 10:53] #404 closed

[2021-06-13 10:53] Palak305 opened #761 "Bit Manipulation: Brian Kernighan's Algorithm"
# Aim

- To check if a given number is a power of two.

# Details

-Given a non-negative integer N. The task is to check if N is a power of 2. More formally, check if N can be expressed as 2x for some x using bit manipulation.

### Programming language
C++

[2021-06-13 10:55] Palak305 commented on #761
@Ayush7614 Kindly assign me this issue to work on.

[2021-06-13 11:01] #100 closed

[2021-06-13 11:02] #148 closed

[2021-06-13 11:09] #532 closed

[2021-06-13 11:11] Aj7t commented on #743
hello, I am ajit part of  LetsGrowMore's Summer Of Code, plz assign me this issue !!!

[2021-06-13 11:12] #269 closed

[2021-06-13 11:15] Hanesh-Jogani opened #762 "Addition of Reversing Circular LinkedList under Data Structures (Medium)"
**Is your feature request related to a problem? Please describe.**
Addition of Reversing Circular LinkedList

**Describe the solution you'd like**
I'm doing this problem under Data Structures Folder.
Algorithm -
- Three-pointers will be used.
- Now these three-pointers will be used to indicate to one another to give out the desired output.

### Programming language
- [ ] C
- [ ] C++
- [x] Java
- [

[2021-06-13 11:17] #214 closed

[2021-06-13 11:17] #209 closed

[2021-06-13 11:19] #152 closed

[2021-06-13 11:21] #149 closed

[2021-06-13 11:25] #309 closed

[2021-06-13 11:27] #427 closed

[2021-06-13 11:36] Jagannath8 commented on #650
I can do this in Java. I'm LGM-SoC'21 participant.

[2021-06-13 11:42] Yakshit310 commented on #405
@Amit366 can I do this in Python ?

[2021-06-13 11:54] kamleshjoshi8102 commented on #411
@Ayush7614 sir Can you review the labels : )

[2021-06-13 11:55] anishsingh42 opened #765 "GFG-Find the Kth maximum and minimum element of an array."
**Is your feature request related to a problem? Please describe.**
Given an array arr[] and a number K where K is smaller than size of array, the task is to find the Kth smallest element in the given array. It is given that all array elements are distinct.
Problem level : Medium (as per GFG)

**Describe the solution you'd like**
I am going to add this problem under GFG folder.
Algorithm:-
1) Initi

[2021-06-13 11:56] Yakshit310 commented on #411
@Amit366 Hi I'm an LGM SOC participant and would like to work on this in python language. It would be great if this could be assigned to me.

[2021-06-13 11:57] Yakshit310 commented on #707
Hi, I'm an LGM SOC participant and would like to work on this in C language. It would be great if this could be assigned to me.

[2021-06-13 12:00] #414 closed

[2021-06-13 12:03] #752 closed

[2021-06-13 12:03] #751 closed

[2021-06-13 12:03] #750 closed

[2021-06-13 12:03] #749 closed

[2021-06-13 12:04] #748 closed

[2021-06-13 12:06] Yakshit310 commented on #414
@Amit366  Hi I'm an LGM SOC participant and would like to work on this in C language. It would be great if this could be assigned to me.

[2021-06-13 12:10] kamleshjoshi8102 opened #767 "I would love to add Code for Heap Sort in C++"
# Aim

To write a Beginner Friendly Code of Heap Sort in C++

# Details

Explanation with comments for beginner's

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-13 12:18] singhmansi25 commented on #597
@nidhi3108 whom are you asking?

[2021-06-13 12:31] vanishasamriddhi opened #768 "Codechef Bitwise tuples(BITTUP).cpp solution"
I want to add the solution of a great question on CODECHEF i.e. Bitwise Tuples.
https://www.codechef.com/JUNE21C/problems/BITTUP
I want to work on this issue.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-13 12:37] vanishasamriddhi opened #769 "Codechef LKDNGOLF"
A great Question from Codechef May long Challenge, 2021.
I'm also from LGM-Soc
I would like to work on this Question with C++:
https://www.codechef.com/MAY21C/problems/LKDNGOLF/

[2021-06-13 12:51] Raghav-Bhandari commented on #605
@Amit366 @Ayush7614 Assign me this problem using C under LGM-SO'21

[2021-06-13 13:02] Raghav-Bhandari commented on #297
@Amit366 I can do this problem in python . Can You please assign it to me

[2021-06-13 13:06] Raghav-Bhandari opened #771 "Lucky Numbers"
**Is your feature request related to a problem? Please describe.**
Lucky Numbers

**Describe the solution you'd like**
Implementation of program to find lucky numbers using python.

**Describe alternatives you've considered**
A number is called lucky if the sum of its digits, as well as the sum of the squares of its digits is a prime number. How many numbers between  a and b inclusive, are lucky?

[2021-06-13 13:07] Raghav-Bhandari commented on #771
@Amit366 and @Ayush7614 Kindly assign me this issue.

[2021-06-13 13:11] Priya23Singh commented on #771
@Amit366 @Ayush7614 I can implement the same using java. Kindly assign me this issue under LGMSOC.

[2021-06-13 13:14] Palak2801 commented on #771
@Amit366 @Ayush7614 I can implement the same using C++ under LGM-SOC'21

[2021-06-13 13:21] kaustavr19 commented on #84
I want to contribute some new codes.

[2021-06-13 13:29] kaustavr19 opened #773 "Want to add some new programs related to DS"
# Aim

- I want to add different questions related to DS, from very basic to difficult ones including Hackerrank, CodeChef and Leetcode

# Details

- The codes from basic to difficult level, which helped me improve my DS skills and are very important. The codes will be in C++ language.
- The programs i want to add immediately are: Finding max and minimum element in an array(with and without built-

[2021-06-13 13:33] sidparashar2001 commented on #389
Can I do it in CPP
Please assign me
LGMSOC

[2021-06-13 14:12] mitali-1703 commented on #659
@Ayush7614 I want to do this in C under lgm-soc'21

[2021-06-13 14:20] mitali-1703 commented on #599
@Ayush7614 I want to do this in C under lgm-soc'21

[2021-06-13 14:23] mitali-1703 commented on #559
@Amit366 can I implement this in python under lgm-soc'21??

[2021-06-13 14:26] mitali-1703 commented on #549
@Ayush7614 Pls assign this issue to me. I would like to implement Bucket Sort in java under lgm-soc'21.

[2021-06-13 14:28] mitali-1703 commented on #550
@Ayush7614 pls assign this issue to me. I would like to do it in java.

[2021-06-13 14:30] mitali-1703 commented on #431
Hey @Ayush7614 please assign me this in java language

[2021-06-13 14:34] mitali-1703 commented on #391
@Ayush7614 pls assign this issue to me for java.

[2021-06-13 14:35] siddhi-244 commented on #765
Can I try in python ?

[2021-06-13 14:36] siddhi-244 commented on #753
Can I try in c++ and python ?

[2021-06-13 14:36] Sathwika-02 commented on #771
Hi,
I want to implement this in python as apart of LGM-SOC'21.
@Amit366 @Ayush7614  Please assign it to me. Thankyou!!

[2021-06-13 14:39] Sathwika-02 commented on #758
Hi,
I want to implement this in python as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-13 14:40] Kashish05 commented on #638
@Ayush7614 can u pls assign me this issue?

[2021-06-13 14:42] Sathwika-02 commented on #765
Hi,
I want to implement this in java as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-13 14:43] Sathwika-02 commented on #742
Hi,
I want to implement this in python as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-13 14:44] Sathwika-02 commented on #761
Hi,
I want to implement this in python as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-13 14:46] Sathwika-02 commented on #753
Hi,
I want to implement this in python as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-13 14:48] Sathwika-02 commented on #747
Hi,
I want to implement this in java as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-13 14:49] Sathwika-02 commented on #756
Hi,
I want to implement this in python as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-13 14:55] Sathwika-02 commented on #738
Hi,
I want to implement this in C language as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-13 14:59] Sathwika-02 commented on #730
Hi,
I want to implement this in C language as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-13 15:00] Sathwika-02 commented on #734
Hi,
I want to implement this in C language  as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-13 15:22] ShivanshuVishnoi commented on #758
@Amit366 @Ayush7614 Please Assign me this Issue. I will Solve this Problem in C++.
LGM-SOC'21

Thank You

[2021-06-13 15:31] mitali-1703 commented on #758
@Amit366 @Ayush7614 I want to do this in C under lgm-soc'21

[2021-06-13 16:39] jahnvisrivastava100 commented on #593
@Ayush7614 @Amit-45  please assign this to me in python

[2021-06-13 16:43] mitali-1703 commented on #225
@Ayush7614 @Amit366 Assign me this in C language  under LGMSOC21

[2021-06-13 16:44] RoliGautam opened #779 "Third Largest Element in C++"
**Is your feature request related to a problem? Please describe.**
I want to add this question in GFG section. This question is about to finding third largest element in the given array. Please assign me .
Thank you :)

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-13 16:46] mitali-1703 commented on #206
@Ayush7614 @Amit366 please assign me this to do in C-language!

[2021-06-13 16:47] mitali-1703 commented on #190
Pls assign me  this @Ayush7614
Language - C

[2021-06-13 16:50] RoliGautam opened #780 "Gap Algorithm in C++"
**Is your feature request related to a problem? Please describe.**
I want to Gap Method to sort array without using extra space. This is one of the very important algorithm for DSA preparation.

**Describe the solution you'd like**
I would like to add this algorithm with explanation in DSA folder.

Please assign me. Thank you:)

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-13 16:57] nandinit02 opened #782 "Code for Equal Sum Partition using Dynamic Programming in C++."
**Is your feature request related to a problem? Please describe.**
Equal Sum Partition using Dynamic Programming.

**Describe the solution you'd like**
I want to add code for Equal Sum partition problem in which we have been given a set of positive numbers,  and we have to find if we can equally divide the set into two subsets such that the sum of elements in both the  subsets is equal.

**Describ

[2021-06-13 17:02] yashgehi commented on #223
why have u removed c++ label bro?

[2021-06-13 17:17] Surajvatsya opened #783 "find Largest sum contiguous Subarray"
# Aim

-find Largest sum contiguous Subarray

# Details

- Given an array arr of N integers. Find the contiguous sub-array with maximum sum.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

@Ayush7614 I would like to work on this issue in C++. Kindly assign it to me

[2021-06-13 18:06] shrutigrover25 commented on #771
I want to contribute to the Lucky Number issue. Kindly assign me as a part of LCMSOC.

[2021-06-13 18:08] Simar05519 commented on #329
@Amit366 Please give me time till 21st June as I am having my university exams going on.. I will surely complete by that time.

[2021-06-13 18:18] TasnimAnas commented on #779
I want to solve this in C

LGM_SOC'21

[2021-06-13 18:31] Debargha-arch commented on #177
@Amit366 please review this pr so that I can continue on my next issue.I have closed the previous PRs for the same and created a new one.

[2021-06-13 18:44] puneetkaur2929 commented on #769
hey @Ayush7614 @Amit366
I wish to work on this issue.
**language**: I am interested to use C++ .

Kindly assign this issue to me under LGM SOC'21.

[2021-06-13 18:51] #161 closed

[2021-06-13 19:11] jayant766 commented on #574
Kindly assign this issue , So , I can work on it in c++.

[2021-06-13 19:12] jayant766 commented on #458
I can do this in C or python.

Assign me plz.
LGM_SOC

[2021-06-13 19:13] jayant766 commented on #400
I can do this in python.

Assign me plz.
LGM_SOC

[2021-06-13 19:14] jayant766 commented on #397
I can do this in C or C++

Assign me plz.
LGM_SOC

[2021-06-13 19:14] jayant766 commented on #391
I can do this in C or C++

Assign me plz.
LGM_SOC

[2021-06-13 19:15] jayant766 commented on #383
I can do this in Cor java.

Assign me plz.
LGM_SOC

[2021-06-13 19:15] drishika2002 opened #792 "Coins And Triangle | Codechef"
**Describe the solution you'd like**
Problem Code: TRICOIN
Problem Link: https://www.codechef.com/problems/TRICOIN

### Programming language: C++

Please assign this issue to me under LGM SOC'21.

[2021-06-13 19:16] jayant766 commented on #290
I can do this in C or C++ or pyhon.

Assign me plz.
LGM_SOC

[2021-06-13 19:16] jayant766 commented on #225
I can do this in C or C++ or pyhon.

Assign me plz.
LGM_SOC

[2021-06-13 19:17] jayant766 commented on #202
I can do this in C or C++ or pyhon.

Assign me plz.
LGM_SOC

[2021-06-13 19:17] jayant766 commented on #186
I can do this in C or C++ or pyhon.

Assign me plz.
LGM_SOC

[2021-06-13 19:17] jayant766 commented on #176
I can do this in C or C++ or pyhon.

Assign me plz.
LGM_SOC

[2021-06-13 23:55] manuvarghese0603 commented on #707
@arnab8335
This issue was created by me and I asked for the cpp version of this question, kindly close the PR which you created using this issue as reference.

[2021-06-13 23:59] manuvarghese0603 opened #795 ""Carvans" Problem of Codechef"
# Aim

I want to add the code for "Carvans" problem in codechef (DSA Learning Series)

# Details

Problem name : Carvans
Problem Code : CARVANS
Problem link : https://www.codechef.com/LRNDSA01/problems/CARVANS

Please assign me this issue
LGM-SOC Participant

### Programming language

C++

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-14 01:17] #598 closed

[2021-06-14 01:19] #253 closed

[2021-06-14 01:22] #286 closed

[2021-06-14 01:26] kamleshjoshi8102 commented on #767
@Ayush7614 @Amit366 sir Please Assign me this issue Under LGM'Soc in C++

[2021-06-14 02:30] siddhi-244 commented on #783
Can I try in python ?

[2021-06-14 02:34] #522 closed

[2021-06-14 02:36] #370 closed

[2021-06-14 02:36] #368 closed

[2021-06-14 02:37] #400 closed

[2021-06-14 02:39] #503 closed

[2021-06-14 02:41] #233 closed

[2021-06-14 02:43] #521 closed

[2021-06-14 02:59] Anshika-Srivastava opened #796 "Rod cutting problem - DP"
**I would like to provide my c++ code for this problem. Please assign me this under LGMSOC'21.
Thank You**

[2021-06-14 03:02] Anshika-Srivastava opened #797 "Spiral Matrix-CP"
**I would like to provide my C++ code for this.
Thank you!**

[2021-06-14 03:04] Anshika-Srivastava opened #798 "String to Integer (atoi) - Leetcode(Medium)"
Question:
Implement the myAtoi(string s) function, which converts a string to a 32-bit signed integer (similar to C/C++'s atoi function).
**I would like to provide my C++ code for this.
Thank You!**

[2021-06-14 03:56] manuvarghese0603 commented on #792
I would like to add python3 code for this problem.

Problem name : Coins And Triangle
Problem Code : TRICOIN
Problem link :  https://www.codechef.com/problems/TRICOIN

Please assign me this issue
LGM-SOC Participant

Programming language
Python

[2021-06-14 04:02] Ayush7614 commented on #624
plss describe something which language you code you are part of any event or not

[2021-06-14 04:04] #634 closed

[2021-06-14 04:04] Ayush7614 commented on #634
first work on 2 issues then reopen again this issues

[2021-06-14 04:05] #632 closed

[2021-06-14 04:07] Ayush7614 commented on #642
tell me only one language

[2021-06-14 04:13] Ayush7614 commented on #650
we have already this problem in repo

[2021-06-14 04:13] #650 closed

[2021-06-14 04:24] Amit-45 commented on #397
@Ayush7614 @Amit366 Please review my pull request . Are there any changes to be made ?

[2021-06-14 04:36] TasnimAnas commented on #792
I want to solve this in Java. Assign me plz

[2021-06-14 04:46] agamgupta2015 commented on #798
@Ayush7614 may I doit in Java

[2021-06-14 04:50] Jagannath8 commented on #679
I can do this in Java. I'm a participant of LGM Soc21.

[2021-06-14 04:52] Jagannath8 commented on #665
I can do this in Java. I'm a participant of LGM Soc21.

[2021-06-14 04:54] Jagannath8 commented on #631
I can do this in Java. I'm a participant of LGM Soc21.

[2021-06-14 04:55] Jagannath8 commented on #652
I can do this in Java. I'm a participant of LGM Soc21.

[2021-06-14 05:10] Sathwika-02 commented on #783
Hi,
I want to implement this in java as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-14 05:14] Sathwika-02 commented on #428
Hi,
I want to implement this in python  as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-14 05:17] Sathwika-02 commented on #483
Hi,
I want to implement this in java as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-14 05:18] Sathwika-02 commented on #779
Hi,
I want to implement this in java as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-14 05:20] Sathwika-02 commented on #798
Hi,
I want to implement this in python  as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-14 05:22] Sathwika-02 commented on #792
Hi,
I want to implement this in C++ as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-14 05:26] #181 closed

[2021-06-14 05:30] #505 closed

[2021-06-14 05:32] manuvarghese0603 commented on #792
Hey @Sathwika-02,
@drishika2002 has asked to solve it in c++ and it has been assigned to her by mentors.

[2021-06-14 05:37] Sathwika-02 commented on #792
I want to implement this in C language  as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-14 05:38] Sathwika-02 commented on #792
Hi,
I want to implement this in C language  as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-14 05:53] Anuradha0501 commented on #796
i would like to provide java solution for rod cutting problem as aprt of LGM SOC 21 participant.

[2021-06-14 05:56] rakesh419s commented on #422
could you assign me the above statement in java under LGM-SOC'21

[2021-06-14 06:00] puneetkaur2929 opened #810 "Shortest Route Codechef Problem"
Hey @Ayush7614 @Amit366
I wish to work on **shortest route problem** from CodeChef Challenge .
**Problem Statement**
[https://www.codechef.com/JUNE21C/problems/SHROUTE](url)

I am interested to use **C++**
kindly assign this issue to me under LGM SOC '21

[2021-06-14 06:05] agamgupta2015 opened #811 "Kosaraju_Algo"
### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-14 06:07] #256 closed

[2021-06-14 06:12] #596 closed

[2021-06-14 06:16] Anuradha0501 opened #813 "Huffman Coding - Greedy Algorithm"
I would like to add c++ and java solution of huffman coding algorithm as part of LGM SOC 21 participant. Please assign me .

[2021-06-14 06:16] pratyush-kr opened #814 "Poor Code no comments hard to understand"
The code at location "Daily-Coding-DS-ALGO-Practice/'Data Structures'/'Dynamic Array.cpp' "
is poorly commented and uses dormant codes(Never used to gen output)

Its hard to study it and no comments and dormant codes makes it more difficult

I have removed the dormant codes and added the question of which this code was a solution to and decluttered the logic please see my pull req #818

### Progra

[2021-06-14 06:19] harshpreet0508 opened #815 "Mobile Numeric Keypad"
I am LGM-SOC participant and want to add the C++ code for Mobile Numeric Keypad.

Description: Given the mobile numeric keypad. You can only press buttons that are up, left, right, or down to the current button. You are not allowed to press bottom row corner buttons (i.e. * and # ). Given a number N, the task is to find out the number of possible numbers of the given length.

### Programming langu

[2021-06-14 06:21] Anuradha0501 commented on #756
I woukd like to add c++ solution for this problem . Please assign me this issue as a participant of LGM SOC 21.

[2021-06-14 06:21] Hanesh-Jogani commented on #762
@Ayush7614 @Amit366

[2021-06-14 06:25] unnati914 commented on #624
i am part of lgm soc 21 and i code in java

[2021-06-14 06:27] Anuradha0501 commented on #757
I would like to add  C++ solution to this problem as a participant of LGM SOC 21. @Ayush7614  please assign me this issue.

[2021-06-14 06:30] arpitgoyal27 opened #817 "Minimum Operations to Make the Array Increasing (Leetcode)"
You are given an integer array nums (0-indexed). In one operation, you can choose an element of the array and increment it by 1.

For example, if nums = [1,2,3], you can choose to increment nums[1] to make nums = [1,3,3].
Return the minimum number of operations needed to make nums strictly increasing.

An array nums is strictly increasing if nums[i] < nums[i+1] for all 0 <= i < nums.length - 1. An

[2021-06-14 06:33] Anuradha0501 commented on #734
I would like to add java solution for this problem @Ayush7614 please assign me this issue under LGMSOC 21 .

[2021-06-14 06:35] #409 closed

[2021-06-14 06:40] kamleshjoshi8102 commented on #798
I Would like to provide my code For this problem in C language under LGMSOC

[2021-06-14 06:50] #435 closed

[2021-06-14 06:53] Obito2002 opened #821 "TSORT problem of Codechef"
Question:
t – the number of numbers in list, then t lines follow [t <= 10^6].
Each line contains one integer: N [0 <= N <= 10^6]

I  would like to provide the solution in C++.

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-14 06:54] Obito2002 commented on #821
This is my first issue. Please tell me if its correct and if its correct please assign it to me.

[2021-06-14 07:16] nikhil00shinde commented on #753
@Amit366 @Ayush7614 I want to try this problem in Java.

[2021-06-14 07:22] Sathwika-02 commented on #358
Hi,
I want to implement this in python as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-14 07:22] TasnimAnas commented on #821
I can do this in C language. Assign me.

LGM_SOC

[2021-06-14 07:26] Sathwika-02 commented on #340
Hi,
I want to implement this in C language as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-14 07:32] Sathwika-02 commented on #248
Hi,
I want to implement this in java  as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-14 07:33] kamleshjoshi8102 commented on #198
@Ayush7614 Can I do it in python  under LGMSOC ?

[2021-06-14 07:36] kamleshjoshi8102 commented on #197
@Ayush7614  @Amit366 Can I Do this  in Java Under LGMSOC ?

[2021-06-14 07:40] kamleshjoshi8102 commented on #190
@Amit366 @Ayush7614 Can I provide my solution in python / Java ? Under LGMSOC

[2021-06-14 08:03] Shaishav0507 commented on #730
@Ayush7614 Can I go ahead ?

[2021-06-14 08:04] nidhi3108 commented on #597
@Ayush7614

[2021-06-14 08:20] AKSHATNEMA commented on #771
@Raghav-Bhandari bro, will you please specify the problem link of the above question? Whether it's a Codeforces Question or not?

[2021-06-14 08:23] AKSHATNEMA opened #829 "Want to add "Two Shuffled Sequences" Problem in Codeforces."
**Is your feature request related to a problem? Please describe.**
This is the problem question in Codeforces and I want to add the solution of this in C++.

Problem Link: [Two Shuffled Sequences](https://codeforces.com/contest/1144/problem/C)

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-14 08:26] nidhi3108 opened #831 "print index of first repeating element."
I can solve thiss issue in c++.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-14 08:29] nidhi3108 commented on #831
I m participating in LGM-SOC.please assign me this.

[2021-06-14 09:10] Obito2002 commented on #753
I can do it in c.

[2021-06-14 09:13] Shreya-Sharma8 commented on #768
I want to work on this issue using C++, Kindly assign this issue to me.

[2021-06-14 09:20] Shreya-Sharma8 commented on #817
I can solve this using C

[2021-06-14 09:25] AKSHATNEMA commented on #829
@Amit366 @Ayush7614 please assign this issue to me.

[2021-06-14 09:33] Anant1711 opened #833 "Find duplicate in array"
Find duplicate elements in array

[2021-06-14 10:35] Amit366 commented on #630
Other languages are already done. But java and python are left.

[2021-06-14 10:36] Anupam-Panwar opened #835 "Add Adjacency list Graph representation"
# Aim

- To demonstrate how Graph can be presented in Adjacency List form

# Details

- Program will take edges and vertices as an input from the user
- Output of the program will be Adjacency list representation

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-14 10:36] Anupam-Panwar commented on #835
I would like to add this in C++ language

[2021-06-14 10:37] Amit366 commented on #638
This issue is already done.

[2021-06-14 10:37] #638 closed

[2021-06-14 10:37] Anupam-Panwar opened #836 "Add Adjacency Matrix Graph representation"
# Aim

- To demonstrate how Graph can be presented in Adjacency Matrix form

# Details

- Program will take edges and vertices as an input from the user
- Output of the program will be Adjacency Matrix representation

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-14 10:38] Anupam-Panwar commented on #836
I would like to add this in C++ language

[2021-06-14 10:40] Amit366 commented on #652
@Sukhseerat-Kaur mention the language

[2021-06-14 10:44] Komal-99 commented on #630
Can you please tell folder to add code

[2021-06-14 10:53] Arkashish commented on #833
Can I work on this issue as a part of LGM-SOC'21.
 @Ayush7614  @Anant1711

[2021-06-14 10:58] Amit366 commented on #672
@ArshWalker cpp is already done

[2021-06-14 10:58] Sukhseerat-Kaur commented on #652
@Amit366 C++

[2021-06-14 11:05] Amit366 commented on #694
this is already done

[2021-06-14 11:05] #694 closed

[2021-06-14 11:07] Amit366 commented on #715
@rajeshkumar2024 mention the language

[2021-06-14 11:09] #643 closed

[2021-06-14 11:12] Amit366 commented on #719
@Adarsh357 mention the issue

[2021-06-14 11:17] Amit366 commented on #753
@Khushi-agarwal choose one language

[2021-06-14 11:18] siddhi-244 commented on #753
C++?

[2021-06-14 11:18] siddhi-244 commented on #753
@Amit366

[2021-06-14 11:19] Amit366 commented on #757
@Anuradha0501 please complete ur assigned issues

[2021-06-14 11:19] Khushi-agarwal commented on #753
C++

[2021-06-14 11:20] Amit366 commented on #761
@Sathwika-02 complete other issues

[2021-06-14 11:20] siddhi-244 commented on #753
@Amit366 ok I will do it in python !

[2021-06-14 11:21] Amit366 commented on #767
@kamleshjoshi8102 choose other language

[2021-06-14 11:22] Amit366 commented on #771
@Raghav-Bhandari mention the language

[2021-06-14 11:25] Amit366 commented on #797
@Anshika-Srivastava its done already

[2021-06-14 11:25] #797 closed

[2021-06-14 11:26] kamleshjoshi8102 commented on #767
@Amit366 python.?

[2021-06-14 11:29] agamgupta2015 commented on #682
@Amit366 i have open this pr and I want to work on it

[2021-06-14 11:29] agamgupta2015 commented on #682
in c++

[2021-06-14 11:38] Muskanagrawa commented on #783
I want to implement it in c++ as a part of LGM- SOC .

@Amit366 @ Ayush7614. Please assign it to me .

Thank you!

[2021-06-14 11:46] akash435 opened #847 "Segment tree Implementation"
Want to add c++ file , on implementation of segment tree on given array.
And this will go under Algorithm section

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-14 11:47] akash435 commented on #847
@Ayush7614 , please assign this to me under LGMSOC, want to at implementation of segment tree in algorithm section.

[2021-06-14 12:03] HitainKakkar opened #855 "Articulation_points (Graphs)"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21

Regards,
Hitain Kakkar

### Programming language

- [ ] C
- [x] C++
- [ ]

[2021-06-14 12:04] HitainKakkar opened #856 "Bidirectional_search_using_BFS_in_undirected_graph"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21

Regards,
Hitain Kakkar

### Programming language

- [ ] C
- [x] C++
- [ ]

[2021-06-14 12:05] #855 closed

[2021-06-14 12:07] HitainKakkar opened #857 "Boruvka_algorithm_for_finding_MST"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21

Regards,
Hitain Kakkar

### Programming language

- [ ] C
- [x] C++
- [ ]

[2021-06-14 12:08] HitainKakkar opened #858 "Center_of_Star_Graph"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21.

I have made Pull Request for the same #948
Kindly Check and merge.

Regar

[2021-06-14 12:09] kamleshjoshi8102 commented on #359
@Amit366 I would Like to contribute in python language under LGMSOC

[2021-06-14 12:10] HitainKakkar opened #859 "Connecting _Dots-Graphs_using_cpp"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21.

I have made Pull Request for the same #947
Kindly Check and merge.

Regar

[2021-06-14 12:12] HitainKakkar opened #860 "min_and_max_in_BST"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21.

I have made Pull Request for the same #946
Kindly Check and merge.

Regar

[2021-06-14 12:13] HitainKakkar opened #861 "zigzag_tree_traversal"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21.

I have made Pull Request for the same #945
Kindly Check and merge.

Regar

[2021-06-14 12:14] HitainKakkar opened #862 "topological sort of directed acyclic graph"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21.

I have made Pull Request for the same #915
Kindly Check and merge.

Regar

[2021-06-14 12:16] HitainKakkar opened #863 "searching_a_word_in_trie"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21.

I have made Pull Request for the same #913
Kindly Check and merge.

Regar

[2021-06-14 12:19] HitainKakkar opened #864 "threaded_binary_tree"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21.

I have made Pull Request for the same #910
Kindly Check and merge.

Regar

[2021-06-14 12:20] HitainKakkar opened #865 "Red Black Tree (Insertion and Deletion operation)"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21.

I have made Pull Request for the same #1354
Kindly Check and merge.

Rega

[2021-06-14 12:21] HitainKakkar opened #866 "diameter_of_binary_tree"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21

I have made Pull Request for the same #897
Kindly Check and merge.

Regard

[2021-06-14 12:31] Amit-45 commented on #745
@Amit366 My last 5 Pull requests are still pending .Neither the issues are closed nor are my PRs merged . Shall I wait for the issues to be closed or I will work on this issue ? Pls reply

[2021-06-14 12:40] UG-SEP opened #872 "Reverse a sublist of a Linked list in c++"
# Aim
To create a program that reverses the sublist inside a linked list
GFG problem link: [Reverse a sublist inside a linked List](https://practice.geeksforgeeks.org/problems/reverse-a-sublist-of-a-linked-list/1/?category[]=Linked%20List&category[]=Linked%20List&problemStatus=solved&difficulty[]=2&page=1&query=category[]Linked%20ListproblemStatussolveddifficulty[]2page1category[]Linked%20List)
Ti

[2021-06-14 12:44] SNEHAL311998 opened #873 "Check whether BST contains Dead End or not"
# Aim

- To Check whether BST contains Dead End or not.
- Given a Binary Search Tree that contains positive integer values greater than 0. The task is to check whether the BST contains a dead end or not.

# Details

- This code checks whether a given BST has a dead-end or not. Here Dead End means, we are not able to insert any element after that node.
![check_dead](https://user-images.githubuserco

[2021-06-14 12:45] HitainKakkar opened #874 "Brian_Kernighan's_Algorithm"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21

I have made Pull Request for the same #885 .
Kindly Check and merge.

Rega

[2021-06-14 12:47] SNEHAL311998 commented on #873
Please assign me for this problem I would like to solve it

[2021-06-14 12:49] agamgupta2015 opened #875 "Sort_Stack_Using_Recursion"
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

Please Assign to me I want to work on it

[2021-06-14 12:50] agamgupta2015 opened #876 "Brailles_Delemma"
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python
I want to work on this issue

[2021-06-14 12:51] SNEHAL311998 opened #877 "Find the Distance between two nodes in Binary Search Tree"
# Aim

- To Find the Distance between two nodes in Binary Search Tree. Find the distance between two keys in a binary tree, no parent pointers are given.

# Details

- This code will find the distance between two nodes in Binary Search Tree.
- The distance between two nodes is the minimum number of edges to be traversed to reach one node from another.
- ![nodedistancebst](https://user-images.githu

[2021-06-14 12:51] agamgupta2015 opened #878 "Matrix_Chain_Multiplication"
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python
I want to work on this issue

[2021-06-14 12:52] SNEHAL311998 commented on #877
Please assign me with this problem as I would like to solve it.

[2021-06-14 12:52] agamgupta2015 opened #879 "Dijsktra in C++"
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python
I want to work on this issue

[2021-06-14 13:13] Atif0604 commented on #833
i want to do this java @Amit366 @Ayush7614

[2021-06-14 13:15] Atif0604 commented on #767
i want to do in java @Amit366 @Ayush7614

[2021-06-14 13:17] Atif0604 commented on #743
i want to do this in java @Amit366

[2021-06-14 13:20] Raghav-Bhandari commented on #771
@Amit366 I will imlplement it using python.

[2021-06-14 13:23] ShivanshuVishnoi commented on #738
#880 Please Review the PR and Merge it.
LGM-SOC'21
Thank You.

[2021-06-14 13:32] TasnimAnas commented on #833
I want to solve this in C language

[2021-06-14 13:32] TasnimAnas commented on #831
I can solve this in C language. Assign me

[2021-06-14 14:13] MukulKolpe opened #891 "Spelling mistakes in the README file"
**Describe the bug**
A clear and concise description of what the bug is.

In the README file, there are spelling mistakes in the words like HackerRank and Codeforces. Please assign this issue to me under LGM-SoC.

[2021-06-14 14:15] Palak2801 opened #892 "Remove duplicates from an unsorted linked list"
**Is your feature request related to a problem? Please describe.**
Remove duplicates from an unsorted linked list

**Describe the solution you'd like**
Implementation of program using C

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the featur

[2021-06-14 14:16] Palak2801 commented on #892
@Amit366 @Ayush7614 Kindly assign me this issue using C under LGMSOC.

[2021-06-14 14:27] siddhi-244 opened #895 "Staircase Search in 2D arrays"
# Aim

To search an element in a 2D array

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-14 14:28] siddhi-244 commented on #895
Can I do it in c++ ?? @Amit366

[2021-06-14 14:36] vanishasamriddhi opened #898 "Minimum Dual Distance"
**Is your feature request related to a problem? Please describe.**
I want to work on Minimum Dual Distance Question from CodeChef
Question: https://www.codechef.com/JUNE21C/problems/DAREA

**Describe the solution you'd like**
I want to work on it with C++.

I'm from LGM-SOC
**Additional context**
Add any other context or screenshots about the feature request here.

### Programming language

- [ ]

[2021-06-14 14:40] rajeshkumar2024 commented on #715
@Amit366 sir i will solve this in Java.

[2021-06-14 14:52] ashutosh887 opened #902 "Fibonacci Series Most Efficient Solution"
I would like to Add Fibonacci Series most efficient solution into the Daily Coding DS ALGO Practice Repository
Most of the People do solve the Fibonacci Series by a way which gives Values for the Test Cases but isn't much favorable for larger values...

Language- C++

Kindly Assign this Issue to me

[2021-06-14 15:06] arnab8335 opened #909 "Hamiltonial Problem"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-14 15:07] arnab8335 commented on #909
I would like to work on this issue as a part of LGM_SOC

[2021-06-14 15:09] Karnika06 opened #912 "Bitwise Tuples CodeChef question using JAVA"
Hey @Ayush7614 @Amit366
I wish to work on Bitwise Tuples problem from CodeChef June Challenge .
**Problem Statement**
https://www.codechef.com/JUNE21C/problems/BITTUP

I would like to use Java language for this issue.
Please assign this issue to me under LGM-SoC.

[2021-06-14 15:12] arnab8335 commented on #909
I would like to work on the C++ and Java programming languages as a part of LGM_SOC.

[2021-06-14 15:12] Pratik57 commented on #669
Assign me in c under LGMSOC21 @Ayush7614 @Amit366

[2021-06-14 15:13] arnab8335 commented on #909
https://www.geeksforgeeks.org/hamiltonian-cycle-backtracking-6/ .The question Link On GFG.

[2021-06-14 15:14] Pratik57 commented on #756
Assign me to submit the solution in c under LGMSOC21 @Ayush7614 @Amit366

[2021-06-14 15:20] Anant1711 commented on #833
I post this issue because I want to work on it.
sorry!
@Arkashish @Atif0604 @TasnimAnas

[2021-06-14 15:22] ayshi028 opened #916 "Vertex cover problem"
A vertex cover of an undirected graph is a subset of its vertices such that for every edge (u, v) of the graph, either ‘u’ or ‘v’ is in the vertex cover.
Please let me work on this issue as a part of LGMSOC 21
Question Link : https://www.geeksforgeeks.org/vertex-cover-problem-set-1-introduction-approximate-algorithm-2/

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-14 15:23] rakesh419s opened #917 "Boolean Parenthesization Problem"
# Aim

- Parenthesization is the most common interview question at FAANG
# Details

- Parenthesization is the best way to improve problem-solving with data structures concepts

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- . Python

[2021-06-14 15:24] rakesh419s commented on #917
could you please assign me the above problem statement #917

[2021-06-14 15:28] ayshi028 opened #918 "Transitive closure of a graph"
Given a directed graph, find out if a vertex j is reachable from another vertex i for all vertex pairs (i, j) in the given graph. Here reachable mean that there is a path from vertex i to j. The reach-ability matrix is called the transitive closure of a graph.

Graph is given in the form of adjacency matrix say ‘graph[V][V]’ where graph[i][j] is 1 if there is an edge from vertex i to vertex j or i

[2021-06-14 15:35] arnab8335 opened #921 "Karatsuba algorithm for fast multiplication using Divide and Conquer algorithm"
Given two binary strings that represent the value of two integers, find the product of two strings. For example, if the first bit string is “1100” and the second-bit string is “1010”, the output should be 120

Using Divide and Conquer, we can multiply two integers in less time complexity. We divide the given numbers in two halves.

Please assign me this problem as a part of LGMSOC 21.
Question Lin

[2021-06-14 15:36] rakesh419s opened #922 "Warnsdorff’s algorithm"
# Aim

-Warnsdorff’s backtracking problem

# Details

- Warnsdorff’s backtracking problem is the advanced level algorithms that help to become a 6star at CodeChef and grows understandability.

### Programming language

- [ ] C
- [ ] C++
- .  Java
- [ ] Python

[2021-06-14 15:37] rakesh419s commented on #922
could you please assign me the above problem statement in java

[2021-06-14 15:37] rajat1701 opened #923 "Remove Duplicates from sorted array"
**Is your feature request related to a problem? Please describe.**
Given a sorted array, the task is to remove the duplicate elements from the array

**Describe the solution you'd like**
Removing duplicates from an array using an auxillary array in C++

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additio

[2021-06-14 15:37] rajat1701 commented on #923
@Ayush7614 @Amit366 Kindly assign me this issue.

[2021-06-14 15:40] harsh6768-svg opened #924 "Minimum No Of Jump Needed To Reach End Of Array"
# Aim

-This is the program which will calculate the minimum no jumps to need the end of array  very famous question both for Leetcode and also GFG

# Details

Help to find the minimum no of jumps to reach the end of array .

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-14 15:46] Karnika06 opened #926 "M-colorability Optimization Problem (Graph coloring problem)"
# Aim

- To find the smallest integer _m_ for which the given graph can be colored. This integer is referred to as the _chromatic number_ of the graph.

I wish to work on this problem and I am interested to use C/C++ for this issue.
Please assign this issue to me under LGM-SoC'21.

[2021-06-14 15:46] Karnika06 commented on #926
This will be my one of the first contributions please assign it to me.

[2021-06-14 15:58] rajat1701 opened #928 "Sorting singly Linked List using Insertion sort"
**Is your feature request related to a problem? Please describe.**
Sorting singly Linked List using Insertion sort

**Describe the solution you'd like**
Using Insertion Sort Algorithm ,we sort a singly Linked List in C++

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2021-06-14 15:59] rajat1701 commented on #928
@Ayush7614 @Amit366 Kindly assign me this issue

[2021-06-14 16:01] agamgupta2015 opened #929 "Top_View_Binary_Tree_(Graphs And DP)"
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python
I want to work on issue in c++

[2021-06-14 16:05] Rutikab12 opened #930 "Aggressive cows Problem"
**Aggressive Cows Problem**
This will gives the largest minimum distance between two barn layouts for the cows using binary search.

Please Assign me if possible. @ayush7614

[2021-06-14 16:07] Karnika06 opened #931 "Missing a point problem from CodeChef"
Hey @Ayush7614 @Amit366
I wish to work on Missing a point problem from CodeChef.
**Problem Statement**
https://www.codechef.com/problems/PTMSSNG

In this problem I will be using Bit Manipulation.

I would like to use Java language for this issue.
Please assign this issue to me under LGM-SoC'21.

[2021-06-14 16:14] Karnika06 opened #932 "Graph Coloring Problem"
# Aim

- To determine all the different ways in which graph can be colored using at most _m_ colors.

# Details

- Graph represented by its adjacency matrix.
- Colors are represented by the integers 1,2,...,m.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-14 16:15] Karnika06 commented on #932
I wish to work on this issue please assign this to me under LGM-SoC'21.

[2021-06-14 16:23] ShivanshuVishnoi opened #933 "Two Arrays And Swaps Problem of Codeforces"
# Aim

- I would Like to add a question in Codeforces Folder.

# Details

- Two Arrays And Swaps Problem Of Codeforces
- Problem 1353B
- https://codeforces.com/problemset/problem/1353/B
- LGM-SOC'21

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-14 16:23] Arkashish commented on #833
Oh not a problem all the best @Anant1711

[2021-06-14 16:24] jugalnagar opened #934 "Detect cycle in linkedlist"
***Detect cycle in LinkedList***

Please assign this issue to me I will implement it in cpp and java also.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-14 16:24] ShivanshuVishnoi commented on #933
@Ayush7614 @Amit366 Please Assign me this issue. I will solve this problem in C++.
LGM-SOC'21

Thank You

[2021-06-14 16:26] manuvarghese0603 opened #935 ""Guess the Number" Problem of Codechef"
# Aim

I want to add the code for "Guess the Number" problem of codechef

# Details

Problem name : Guess the Number
Problem Code : LFTR
Problem link : https://www.codechef.com/YCCE2020/problems/LFTR

This problem is part of coding competition organized by a college but now it is available for practice for all.

### Programming language

C++

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-14 16:38] ShivanshuVishnoi commented on #923
@Ayush7614 @Amit366  Please Assign me this Question. I will Solve it in C++.
LGM-SOC'21

Thank You

[2021-06-14 16:45] ShivanshuVishnoi opened #937 "Postfix Evaluation using Stack Data Structure"
# Aim

- I would like to add a code in Data Structure Folder.

# Details

- Postfix Evaluation Calculator Code using C++.
- LGM-SOC'21

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-14 16:46] ShivanshuVishnoi commented on #937
@Ayush7614 @Amit366  Please Assign me this issue. I will solve this problem in C++.
LGM-SOC'21

Thank You

[2021-06-14 17:18] ShivanshuVishnoi opened #939 "Prefix Evaluation using Stack Data Structure"
# Aim

- I would like to add a code in Data Structure Folder.

# Details

- Prefix Evaluation Calculator Code using C++.
- LGM-SOC'21.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-14 17:19] ShivanshuVishnoi commented on #939
@Ayush7614 @Amit366  Please Assign me this issue. I will solve this problem in C++.
LGM-SOC'21

Thank You

[2021-06-14 17:20] mitali-1703 commented on #939
@Ayush7614 @Amit366 Please Assign me this issue. I will solve this problem in C.
LGM-SOC'21

[2021-06-14 17:21] mitali-1703 commented on #937
@Ayush7614 @Amit366 Please Assign me this issue. I will solve this problem in C.
LGM-SOC'21

[2021-06-14 17:22] mitali-1703 commented on #923
Please Assign me this issue. I will solve this problem in java
LGM-SOC'21

[2021-06-14 17:24] mitali-1703 commented on #833
But a single question can be done in various languages.
So anyone can contribute.

[2021-06-14 17:25] mitali-1703 commented on #833
Please Assign me this issue. I will solve this problem in python.
LGM-SOC'21

[2021-06-14 17:42] puneetkaur2929 opened #940 "Magnetic Force Between Two Balls --Leetcode Medium level Problem"
Hello @Ayush7614  @Amit366
I want to work on this leetcode problem.
**Problem Statement:**
In this problem basically we need to find distribute balls to different positions such that minimum force between balls is maximized.

**Given** the integer array position and the integer m.
**Output:** Return the required force.
[https://leetcode.com/problems/magnetic-force-between-two-balls/](url)

**langu

[2021-06-14 17:52] its-me-debk007 opened #941 "Codechef May Lunchtime 2021 Division 3 : Birthday Gifts (Problem Code: TWINGFT)"
**A question in which, basically two persons take K turns alternately to choose gifts. In a turn, a person may choose one gift. The only exception is the last turn, in which whoever moves second, he gets to choose two gifts instead of one.  We need to find the maximum total cost of the gifts that a person can keep.**

For more info, here is the link to the question: https://www.codechef.com/LTIME9

[2021-06-14 18:17] AKSHATNEMA commented on #771
@Amit366 sir, as you have assigned this issue to code in Python and Java, I want to do the same in C++. Please assign me for that, so that I can work on it.

[2021-06-14 21:56] Jagannath8 commented on #755
Can I implement in Java? I'm a participant of LGM Soc21.

[2021-06-14 21:56] Jagannath8 commented on #740
Can I implement in Java? I'm a participant of LGM Soc21.

[2021-06-14 21:58] Jagannath8 commented on #779
Can I implement in Java? I'm a participant of LGM Soc21.

[2021-06-14 21:59] Jagannath8 commented on #831
Can I implement in Java? I'm a participant of LGM Soc21.

[2021-06-14 22:00] Jagannath8 commented on #877
Can I implement in Java? I'm a participant of LGM Soc21.

[2021-06-14 22:00] Jagannath8 commented on #878
Can I implement in Java? I'm a participant of LGM Soc21.

[2021-06-14 22:01] Jagannath8 commented on #892
Can I implement in Java? I'm a participant of LGM Soc21.

[2021-06-14 22:02] Jagannath8 commented on #860
Can I implement in Java? I'm a participant of LGM Soc21.

[2021-06-14 22:03] Jagannath8 commented on #924
Can I implement in Java? I'm a participant of LGM Soc21.

[2021-06-14 22:03] Jagannath8 commented on #902
Can I implement in Java? I'm a participant of LGM Soc21.

[2021-06-15 00:50] SNEHAL311998 commented on #877
I can also solve it in Java. I have coded it and it's perfect. Please assign me with this problem

[2021-06-15 01:10] SNEHAL311998 commented on #877
I have implemented it so that anyone coding in java can easily understand since I have used proper comments along with time and space complexity.

[2021-06-15 01:36] RoliGautam commented on #780
Thanks for assigning. I will make a PR soon!

[2021-06-15 01:37] RoliGautam commented on #779
Thanks for assigning . I will make a PR soon!

[2021-06-15 01:48] #941 closed

[2021-06-15 01:48] Ayush7614 commented on #941
Already we have

[2021-06-15 01:48] #935 closed

[2021-06-15 01:48] #933 closed

[2021-06-15 01:49] #931 closed

[2021-06-15 01:50] Ayush7614 commented on #873
Already we have

[2021-06-15 01:50] #873 closed

[2021-06-15 01:55] #863 closed

[2021-06-15 01:55] #876 closed

[2021-06-15 01:55] #875 closed

[2021-06-15 01:55] #879 closed

[2021-06-15 01:56] #861 closed

[2021-06-15 01:56] #856 closed

[2021-06-15 01:56] #862 closed

[2021-06-15 01:57] #857 closed

[2021-06-15 01:57] #858 closed

[2021-06-15 01:57] #859 closed

[2021-06-15 01:57] #860 closed

[2021-06-15 01:58] #864 closed

[2021-06-15 02:02] #878 closed

[2021-06-15 02:28] kamleshjoshi8102 commented on #761
I want to implement this in python through LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me.

[2021-06-15 02:30] kamleshjoshi8102 commented on #755
I want to implement this in python as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-15 02:35] kamleshjoshi8102 commented on #747
Can I implement  this Problem in Python under LGM'SOC'21
@Amit366 @Ayush7614

[2021-06-15 02:36] mitali-1703 commented on #761
@Ayush7614 @Amit366 plz assign me this for java under LGM-SOC'21

[2021-06-15 02:37] kamleshjoshi8102 commented on #740
Can I Implement this Algorithm in python Under LGM"SOC"21

[2021-06-15 02:39] kamleshjoshi8102 commented on #706
Can I implement it's Solution under LGM'SOC'21 in python
@Amit366 @Ayush7614

[2021-06-15 02:44] mitali-1703 opened #950 "To find second largest element in array"
### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

@Ayush7614 @Amit366 I want to add a code to this in C language under LGM-SOC'21

[2021-06-15 02:46] mitali-1703 commented on #892
@Ayush7614 @Amit366 Kindly assign me this issue using C under LGMSOC.

[2021-06-15 02:55] #745 closed

[2021-06-15 02:55] #743 closed

[2021-06-15 03:46] chandu6111 commented on #950
@Ayush7614 @Amit366 I would like to do this problem in **Java**, could you please assign me under LGM-SOC'21

[2021-06-15 04:24] #550 closed

[2021-06-15 04:29] manuvarghese0603 commented on #950
@Ayush7614 @Amit366 I would like to solve this problem in C++, please assign it to me usder LGM-SOC'21

[2021-06-15 04:41] priyanshi5 commented on #950
I would like to solve this problem in Python, please assign it to me under LGM-SCO'21

[2021-06-15 05:14] suy1968 commented on #930
Problem statement :-

Farmer John has built a new long barn, with N (2 <= N <= 100,000) stalls. The stalls are located along a straight line at positions x1,...,xN (0 <= xi <= 1,000,000,000).

His C (2 <= C <= N) cows don't like this barn layout and become aggressive towards each other once put into a stall. To prevent the cows from hurting each other, FJ wants to assign the cows to the stalls, su

[2021-06-15 05:16] suy1968 commented on #821
Problem statement :-
Given the list of numbers, you are to sort them in non decreasing order.

Input

t – the number of numbers in list, then t lines follow [t <= 10^6]. Each line contains one integer: N [0 <= N <= 10^6] Output

Output given numbers in non decreasing order.
Example

Input:
5
5
3
6
7
1
Output:
1
3
5
6
7

Please assign me
I amusing python3

[2021-06-15 05:43] anshyyy commented on #923
hi @Ayush7614 @Amit366 i would like to work on this issue in C++.

[2021-06-15 05:45] sakshisingh12 opened #955 "I have created Stack using Arrays in Java"
I have created Stack using Arrays in Java

__Originally posted by @sakshisingh12 in https://github.com/Ayush7614/Daily-Coding-DS-ALGO-Practice/pull/555__

[2021-06-15 05:46] anshyyy commented on #940
hello @Ayush7614 @Amit-45 i would like to work on this issue in C++.

[2021-06-15 05:53] #955 closed

[2021-06-15 06:16] 19bce502 commented on #950
I would like to solve this problem in c++ ,please assign me under LGM-SCO'21

[2021-06-15 06:26] 19bce502 commented on #599
I want to implement in AVL tree in c++

[2021-06-15 06:26] Adarsh357 commented on #719
Thank u

On Mon, 14 Jun 2021, 4:42 pm Amit Kumar Mishra, ***@***.***>
wrote:

[2021-06-15 06:29] 19bce502 commented on #934
I want to do this task in c++ please assign me this problem

[2021-06-15 06:31] 19bce502 commented on #833
I want to contribute in  C++ in O(n) time complexity  please assign me this problem

[2021-06-15 06:35] 19bce502 commented on #176
I would like to write the code in c++ . Please assign me the issue.
LGM_SOC

[2021-06-15 06:40] Bhuvanaa28 commented on #599
Hi @19bce502, I have taken up this issue in C++ and I almost completed it.

[2021-06-15 07:07] 19bce502 commented on #923
Hi please assign me this issue .I will do in c++ with many methods.

[2021-06-15 07:13] 19bce502 commented on #932
I want to work in this problem in c++ please assign me under LGM-SoC'21

[2021-06-15 07:15] jugalnagar opened #960 "Median of Two Sorted Arrays"
**Median of Two Sorted Arrays**
This is Leetcode problem.

Please asssign this issue to me I will implement it in java.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-15 07:28] 19bce502 commented on #939
@Ayush7614 @Amit366 Please Assign me this issue. I will solve this problem in C++.
LGM-SOC'21

[2021-06-15 07:31] 19bce502 commented on #765
Hi,
I want to implement this in c++ as apart of LGM-SOC'21.
@Amit366 @Ayush7614 Please assign it to me. Thankyou!!

[2021-06-15 07:47] 19bce502 commented on #835
Hi,
I want to implement this in c++ as apart of LGM-SOC'21.
Please assign it to me. Thankyou!!

[2021-06-15 08:07] 19bce502 commented on #902
Can I implement in C++? a participant of LGM Soc21.

[2021-06-15 08:08] BeginnerCoder21 commented on #950
I would like to solve this problem using C++ language, i am LGM-SOC'21 participant.

[2021-06-15 08:26] ambivert-sam opened #962 "Maximum Subarray"
**Is your feature request related to a problem? Please describe.**
Want to add the Maximum Subarray question of LeetCode in the Python Data structure  folder

**Describe the solution you'd like**
Problem Statement:
Given an integer array nums, find the contiguous subarray (containing at least one number) which has the largest sum and return its sum.

Example 1:

Input: nums = [-2,1,-3,4,-1,2,1,-5,

[2021-06-15 08:32] ambivert-sam opened #963 "Remove Nth Node From End of List"
**Is your feature request related to a problem? Please describe.*
Want to add Remove Nth Node From End of List Python Data structures Folder

**Describe the solution you'd like**
Problem Statement :
Given the head of a linked list, remove the nth node from the end of the list and return its head.

![image](https://user-images.githubusercontent.com/74984661/122020037-0b405300-cde2-11eb-9b5f-1226f7c

[2021-06-15 08:35] Aman-Dhimann commented on #84
How can I join . To reflect my contributions.

[2021-06-15 08:40] Kritika-2000 opened #964 "Valid Pair of Socks In Python"
# Aim

- This is Codeshef Contest Question named Valid Pair (Problem Code: SOCKS1)

# Problem Statement
Chef has three socks in his drawer. Each sock has one of 10 possible colours, which are represented by integers between 1 and 10. Specifically, the colours of the socks are A, B, and C.

Chef has to wear two socks which have the same colour. Help Chef find out if that is possible or not.

Exampl

[2021-06-15 08:41] Aman-Dhimann commented on #184
Hello @Ayush7614  @Amit366  .I am efficient in java . And have a good hand in DSA . I want to contribute to this issue.

[2021-06-15 08:46] shivanshi-s commented on #962
Hello,
I am a participant of LGM SOC'21 and I would like to contribute.
Can I work on this issue and solve this problem in c++ ?
Do let me know and assign it to me

Programming Language

- [X] c++

[2021-06-15 08:58] shivanshi-s opened #965 "First Bad Version"
### Aim

- This is a problem called "First Bad Version" from Leetcode. I want to solve this problem in c++ and add it in the LeetCode folder.

### Details

- You are a product manager and currently leading a team to develop a new product. Unfortunately, the latest version of your product fails the quality check. Since each version is developed based on the previous version, all the versions after

[2021-06-15 09:09] Aman-Dhimann opened #966 "Python Calendar viewer"
Aim

To print the whole calendar by just adding the year number.

 Details
Will  be using 2-d lists to print the dates in the form of a box .

 Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [*] Python

[2021-06-15 09:10] 19bce502 commented on #962
Hello,
I am a participant of LGM SOC'21 and I would like to do this contribution with better approach in C++ . Please assign me this problem .

[2021-06-15 09:20] atharvagadkari05 opened #967 "Improvement in the Web page."
![image](https://user-images.githubusercontent.com/74293435/122026745-244c0280-cde8-11eb-8cd8-98ced71ec8e4.png)

I would like to improve the UI of this page and also I would like to improve the content of this page.

Can you assign me this issue under LGM-SOC?

[2021-06-15 09:43] Raghav-Bhandari commented on #771
@AKSHATNEMA
Bro Its a hacker rank Problem.
https://www.hackerrank.com/challenges/lucky-numbers/problem

[2021-06-15 11:48] Hanesh-Jogani opened #970 "Minimum Element in a Stack - Medium"
**Is your feature request related to a problem? Please describe.**
Addition of a new problem named **Minimum Element in a Stack**

**Name of the File** - Minimum_Element_Stack.java
**Destination Folder** - Daily-Coding-DS-ALGO-Practice/Data Structures/

### Programming language
- [x] Java

[2021-06-15 11:52] 19bce502 commented on #937
@Ayush7614 @Amit366 Please Assign me this issue. I will solve this problem in C++
LGM-SOC'21

[2021-06-15 11:54] 19bce502 commented on #928
@Ayush7614 @Amit366 Kindly assign me this issue I will do in C++ language

[2021-06-15 11:55] sardonicankita opened #972 "Word Search"
# Aim

- What is the objective of the Script

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-15 11:57] 19bce502 commented on #962
Hello,
I am a participant of LGM SOC'21 and I would like to do this contribution with better approach in C . Please assign me this problem .

[2021-06-15 12:01] sardonicankita opened #973 "Word Ladder Leetcode Hard"
# Aim

To solve the leetcode hard problem _"Word Ladder"_ in C++.
Given two words, beginWord and endWord, and a dictionary wordList, return the number of words in the shortest transformation sequence from beginWord to endWord, or 0 if no such sequence exists.

# Details
A transformation sequence from word beginWord to word endWord using a dictionary wordList is a sequence of words beginWord -> s1

[2021-06-15 12:03] 19bce502 commented on #972
Will u assign this problem to me under LGM SOC  .I will do in c++ language

[2021-06-15 12:04] sardonicankita opened #974 "Leetcode problem: Two Sum IV - Input is a BST"
# Aim
To solve the Leetcode problem _"Two Sum IV - Input is a BST_ in c++.

# Details

Given the root of a Binary Search Tree and a target number k, return true if there exist two elements in the BST such that their sum is equal to the given target.

 Input: root = [5,3,6,2,4,null,7], k = 28
Output: false

Input: root = [2,1,3], k = 4
Output: true

### Programming language

- [ ] C
- [ ] C++
- [ ]

[2021-06-15 12:10] sardonicankita opened #975 "Leetcode Hard Maximum Gap"
# Aim

To solve the Leetcode Hard problem _"Maximum Gap"_ in C++.
 Admins please assign this to me under LGM SOC'21.

# Details

Given an integer array nums, return the maximum difference between two successive elements in its sorted form. If the array contains less than two elements, return 0.

**Example**
**Input**: nums = [3,6,9,1]
**Output:** 3
Explanation: The sorted form of the array is [1,3

[2021-06-15 12:13] sardonicankita opened #976 "Surrounded Regions"
# Aim

To solve the Leetcode Medium Problem _"Surrounded Regions"_ in C++.
Admins please assign this to me under LGM SOC'21.

# Details

Given an m x n matrix board containing 'X' and 'O', capture all regions surrounded by 'X'.
A region is captured by flipping all 'O's into 'X's in that surrounded region.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-15 12:30] 19bce502 opened #977 "Detect cycle in an undirected graph"
**AIM:**

This is the GFG problem Medium Level
Given an undirected graph with V vertices and E edges, check whether it contains any cycle or not.

**Please Assign this to me under LGM SOC  .**

**Details**

We have  to  write the code  which takes V denoting the number of vertices and adjacency list as input parameters and returns a boolean value denoting if the undirected graph contains any cycle

[2021-06-15 12:48] siddhi-244 commented on #962
Can I try in python ?

[2021-06-15 13:18] #585 closed

[2021-06-15 13:21] #517 closed

[2021-06-15 13:22] #431 closed

[2021-06-15 13:25] Aastha863 commented on #974
Sir, I am a participant of LG SOC, kindly assign me with this issue in C++

[2021-06-15 13:31] #549 closed

[2021-06-15 13:57] skimran2000 opened #979 "Implementation of Queue using array (template)"
# Aim

- Creating a queue using an array of template type

# Details

- Creating a queue using an array of whose datatype is decided during object creation as it is a template.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-15 13:58] skimran2000 opened #980 "Implementation of Stack using linked list (template)"
# Aim

- Creating a stack using a linked list

# Details

- Create a stack data structure using the linked list and the template feature of C++ so that data type of stack is decided at object creation.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-15 14:14] Saurabh4626 commented on #975
LGMSOC21
try using Bucket Sort
level 3

[2021-06-15 14:21] Saurabh4626 commented on #973
do in any language but clean code

[2021-06-15 14:24] Saurabh4626 commented on #972
go with dfs ,bfs will get tle

[2021-06-15 14:26] Saurabh4626 commented on #965
do in logN complexity.
any language but clean code

[2021-06-15 14:36] Saurabh4626 commented on #960
do in logN complexity

[2021-06-15 14:39] Saurabh4626 commented on #929
there is no dp solution for this .
do using vertical order traversal.
any language but clean code

[2021-06-15 14:43] shivanshi-s commented on #965
okay, thanks!

[2021-06-15 14:43] Saurabh4626 commented on #924
@harsh6768-svg  try for iterative solution

[2021-06-15 14:52] harsh6768-svg commented on #924
@Saurabh4626 yaaa sure

[2021-06-15 14:57] #874 closed

[2021-06-15 15:17] #374 closed

[2021-06-15 15:36] jahnvisrivastava100 opened #985 "Implementing Character and Integer Stack using single Array"
# Aim

- I want to contribute code to Implement Character and Integer stack using single array.

# Details

- I will contribute this in C it will be an implementation  of 2 stacks using single array.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-15 15:36] Amit366 commented on #458
@jayant766 implement in c

[2021-06-15 15:37] jahnvisrivastava100 commented on #985
@Ayush7614 @Amit-45 Kindly assign this to me in C

[2021-06-15 15:38] jayant766 commented on #458
@Amit366 sure

[2021-06-15 15:41] harshit-dugar commented on #389
@Amit366 my pr #986

[2021-06-15 15:48] ShivanshuVishnoi opened #989 "Honest Coach Problem of Codeforces"
# Aim
I want to add a question in Codeforces Folder.

# Details

- Honest Coach Problem.
- Problem 1360B
- https://codeforces.com/problemset/problem/1360/B
- LGM-SOC'21

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-15 15:49] ShivanshuVishnoi commented on #989
@Amit366 @Ayush7614 @Saurabh4626 @ravikr126 Please Assign me this issue. I will Solve it in C++.
LGM-SOC'21

Thank You

[2021-06-15 15:50] neha030 opened #990 "Reverse a Circular Linked List"
I am a LGM-SOC Participant and want to provide the C++ for reversing a circular Linked List .

[2021-06-15 15:53] ArshWalker opened #991 "Bucket Sort using Python"
# Aim

Bucket sort, or bin sort, is a sorting algorithm that works by distributing the elements of an array into a number of buckets.

@Ayush7614 @Saurabh4626 Please Assign me under LGMSOC21

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

[2021-06-15 15:55] ShivanshuVishnoi opened #992 "All Singly Linked List Operations"
# Aim

- I would like to Contribute in Data Structure Folder.

# Details

- I would like to add all the Singly linked list operations like Inserting, Deleting, Reversing in a single Code.
- LGM-SOC'21

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-15 15:56] ShivanshuVishnoi commented on #992
@Amit366 @Ayush7614 @Saurabh4626 @ravikr126 Please Assign me this issue. I will solve this problem in C++.
LGM-SOC'21

Thank You

[2021-06-15 16:08] manuvarghese0603 commented on #964
@Ayush7614 @Amit366 @ravikr126  @Saurabh4626 I would like to solve this problem in C++, please assign it to me under LGM-SOC'21

[2021-06-15 16:11] Adarsh357 commented on #719
C++

[2021-06-15 16:17] TasnimAnas commented on #924
I want to solve this in C language. Assign me plz.

@Saurabh4626
Lgmsoc'21

[2021-06-15 16:25] Adarsh357 commented on #975
I want to try this

[2021-06-15 16:27] Adarsh357 commented on #937
Please assign this to me.I want to solve it in C.

[2021-06-15 16:44] ravikr126 commented on #992
Which type of operation do you like to add? @ShivanshuVishnoi

[2021-06-15 16:45] ravikr126 commented on #989
no competitive programming questions @ShivanshuVishnoi .Only ds Algo questions will prefer @ShivanshuVishnoi

[2021-06-15 16:45] #989 closed

[2021-06-15 16:47] ravikr126 commented on #964
only ds algo question will prefer for pr @Kritika-2000 , not competitive coding problems

[2021-06-15 16:47] #964 closed

[2021-06-15 16:48] ravikr126 commented on #991
ok YOU CAN WORK ON IT ABD ALSO ADD 2-3 TESTCASES WITH EDGES CASES ALGO FOR BETTER UNDERSTANDING @ArshWalker

[2021-06-15 16:54] ShivanshuVishnoi commented on #992
@ravikr126 I would like to add operation like Inserting node at beg, at n th position, Deleting from Beg, from nth Position, Reversing Linked liset, Printing Linked list using recursion and Reverse printing of singly linked list using recurssion and many more in a single code.

[2021-06-15 17:06] agamgupta2015 commented on #974
I want to work in Java

[2021-06-15 17:36] ShivanshuVishnoi opened #1000 "All Stack Operation"
# Aim

- I would Like to add Stack operations in Data Structure Folder.

# Details

- I would like to add Linked List Implementation and Array Implementation of Stack in a single code which involve all the operations like Push, Pop, Display .
- LGM-SOC'21
### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-15 17:37] ShivanshuVishnoi commented on #1000
@Ayush7614 @Amit366 @Saurabh4626 @ravikr126 Please Assign me this issue. I would like to solve this in C++.
**LGM_SOC'21**

Thank You

[2021-06-15 17:49] payaldutta opened #1001 "Create CODE_OF_CONDUCT.md"
As the project does not contain Code of Conduct file I would like to add it under LGMSOC '21.
Kindly assign me.
Thank you.

[2021-06-15 17:50] saloni32 opened #1002 "Preorder traversal of a binary tree (Iterative approach)"
I want to provide a C++ code for printing preorder traversal of a binary tree without recursion (i.e.  by using iterative approach)
I am LGM SOC'21  participant and want to provide this code with proper comments and explanation.

@Ayush7614  @Amit366  @Saurabh4626  @ravikr126  Please assign me this issue.

[2021-06-15 17:52] UG-SEP opened #1003 "Sorted LinkedList to BST"
# Aim

To create a program that converts a sorted Linked List to a Binary search tree in O(N) Time complexity and O(1) Space complexity
[Question Link](https://practice.geeksforgeeks.org/problems/sorted-list-to-bst/1/?problemType=bookmark&page=1&query=problemTypebookmarkpage1)
# Details
It contains the main function and function which convert Sorted LL to BST
### Programming language

- [ ] C
- [x

[2021-06-15 17:52] tirth5828 commented on #1000
@Ayush7614   @Amit366   @Saurabh4626  @ravikr126 , I would love to do this issue in JAVA , Please assign me this issue under LGM_SOC'21

[2021-06-15 17:53] saloni32 opened #1004 "Inorder Traversal of a Binary Tree (Iterative approach)"
I want to provide a C++ code for printing inorder traversal of a binary tree without recursion (i.e.  by using iterative approach)
I am LGM SOC'21  participant and want to provide this code with proper comments and explanation.

@Ayush7614  @Amit366  @Saurabh4626  @ravikr126  Please assign me this issue.

[2021-06-15 17:55] saloni32 opened #1005 "Postorder traversal of a Binary Tree (Iterative approach)"
I want to provide a C++ code for printing postorder traversal of a binary tree without recursion (i.e.  by using iterative approach)
I am LGM SOC'21  participant and want to provide this code with proper comments and explanation.

@Ayush7614  @Amit366  @Saurabh4626  @ravikr126  Please assign me this issue.

[2021-06-15 17:55] somuy24 opened #1006 "Bottom View of a Binary Tree"
I want to provide a C++ code for printing "Bottom View of a Binary Tree".
I am LGM SOC '21 participant and want to provide this code with proper comments and explanations.

@Ayush7614 @ravikr126 @Amit366 @Saurabh4626
Please assign me this issue

[2021-06-15 17:57] somuy24 opened #1007 "Left View of a Binary Tree"
I want to provide a C++ code for printing "Left View of a Binary Tree".
I am LGM SOC '21 participant and want to provide this code with proper comments and explanations.

@Ayush7614 @ravikr126 @Amit366 @Saurabh4626
Please assign me this issue

[2021-06-15 17:59] somuy24 opened #1008 "Right View of a Binary Tree"
I want to provide a C++ code for printing "Right View of a Binary Tree".
I am LGM SOC '21 participant and want to provide this code with proper comments and explanations.

@Ayush7614 @ravikr126 @Amit366 @Saurabh4626
Please assign me this issue

[2021-06-15 18:04] tirth5828 commented on #991
@ravikr126 @Ayush7614 @Saurabh4626  I would love to do this issue with JAVA and C++ . Please assign me under this languages under LGM-SOC'21

[2021-06-15 18:12] Nikhita28 opened #1011 "Valid Mountain Array"
I would like to add a solution to this question.

![Screenshot 2021-06-15 233944](https://user-images.githubusercontent.com/73106734/122102412-035ccf00-ce33-11eb-96ae-e74fba23f476.png)

### Language:
C++

[2021-06-15 18:17] Raghav-Bhandari commented on #1000
@Ayush7614 @Amit366 Please Assign me this issue. I will solve this issue in C language
LGM_SOC'21

[2021-06-15 18:17] Nikhita28 opened #1012 "Merge two sorted arrays"
# Aim
You are given two integer arrays nums1 and nums2, sorted in non-decreasing order, and two integers m and n, representing the number of elements in nums1 and nums2 respectively.
Merge nums1 and nums2 into a single array sorted in non-decreasing order.
The final sorted array should not be returned by the function, but instead be stored inside the array nums1. To accommodate this, nums1 has a l

[2021-06-15 18:25] kamleshjoshi8102 commented on #980
hi @Saurabh4626 Can I Provide my code in C under LGMSOC'21

[2021-06-15 18:27] kamleshjoshi8102 commented on #973
Hi @Saurabh4626 I want to provide it's Solution under LGMSOC'21 in Python

[2021-06-15 18:29] kamleshjoshi8102 commented on #975
hi @Saurabh4626 @Amit366 I Want to provide my code under LGMSOC'21 in python

[2021-06-15 18:29] Saurabh4626 commented on #973
@kamleshjoshi8102  this problem is already assigned.

[2021-06-15 18:30] kamleshjoshi8102 commented on #960
@Saurabh4626 can i implement it under LGMSOC'21 in C++

[2021-06-15 18:31] kamleshjoshi8102 commented on #973
@Saurabh4626 but we can submit our solution in other languages too can't we?

[2021-06-15 18:36] Komal-99 commented on #630
@Amit-45 Kindly check my PR #943  as i by mistake made it in master and i have to now proceed with issue Armstrong issue in new PR

[2021-06-15 19:24] kumarshobhit commented on #133
I would like to contribute in java language

[2021-06-15 19:25] kumarshobhit commented on #190
I would like to contribute in java

[2021-06-15 19:25] kumarshobhit commented on #980
I would like to contribute in java

[2021-06-15 19:26] kumarshobhit commented on #972
I would like to contribute in java

[2021-06-15 19:27] kumarshobhit commented on #975
I would like to contribute in java

[2021-06-15 19:28] kumarshobhit commented on #782
I would like to contribute in java

[2021-06-15 19:34] 19bce502 opened #1019 "Minimum distance between two numbers"
**AIM **
 Given an array A, of N elements. Find minimum index based distance between two elements of the array, x and y

**Detail**
This is a gfg problem which was asked in amazon interview.
Please Assign me this problem under LGM SOC . I will be doing in c++.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-15 19:41] 19bce502 opened #1020 "Bipartite Graph"
**Given an adjacency list of a graph adjacent  of V no. of vertices having 0 based index. Check whether the graph is bipartite or not.**

This is GFG problem.
please Assign me under LGM SOC. I will be doing in c++ language.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-15 20:11] Saup21 opened #1021 "Dominant Piranha problem of contest 1433/Q.C on codeforces"
# Aim

- A problem that requires greedy method and constructive algo to be solved

# Details

- I have solved the code in C++ and it will add value to the project

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-15 20:21] Gurleensoni commented on #133
Hey can I add problem on variations in 0-1 knapsack ??Please assign it to me @Nikitajain2606

[2021-06-15 20:35] Saup21 opened #1022 "Even-Odd Game problem of contest 1472/Q.D on codeforces"
# Aim

- A game problem that requires sorting, greedy method and optimal steps to be solved

# Details

- I have solved the code in C++ and it will add value to the project

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-15 21:28] Aditya1113 commented on #1000
@ShivanshuVishnoi can you please assign me this issue under LGMSOC'21. will solve it in c++

[2021-06-15 22:01] Pratik57 commented on #757
@Amit366  @Ayush7614 Atleast assign me in any one issue under LGMSOC21
I want to do this in c or cpp

[2021-06-15 22:03] Pratik57 commented on #932
@Saurabh4626  @Amit366 @Ayush7614  Assign me in c under LGMSOC21

[2021-06-15 22:06] Pratik57 commented on #975
I Would like to do it in c under LGMSOC21

[2021-06-16 02:50] kamleshjoshi8102 commented on #1022
I would love to provide my python code for this Interesting Problem under LGMSOC'21 @Amit366 @Ayush7614

[2021-06-16 02:52] kamleshjoshi8102 commented on #1020
I would love to provide my solution to this problem under LGMSOC'21 in python @Amit366 @Ayush7614 @Saurabh4626

[2021-06-16 03:09] ravikr126 commented on #1022
no need for competitive programming questions only ds algo questions @Saup21

[2021-06-16 03:09] #1022 closed

[2021-06-16 03:10] ravikr126 commented on #1021
no need for competitive programming questions only ds algo questions @Saup21

[2021-06-16 03:10] #1021 closed

[2021-06-16 03:10] ravikr126 commented on #1020
you can WORK ON IN @19bce502

[2021-06-16 03:11] ravikr126 commented on #1019
THIS QUESTION ALREADY AVAILABLE @19bce502

[2021-06-16 03:11] #1019 closed

[2021-06-16 03:12] #183 closed

[2021-06-16 03:21] siddhi-244 commented on #1012
Can I do in python ?

[2021-06-16 03:23] siddhi-244 commented on #980
Can I try in python ?

[2021-06-16 03:28] siddhi-244 commented on #669
Can I try in python ?

[2021-06-16 03:31] #358 closed

[2021-06-16 03:32] siddhi-244 commented on #972
Shall I try in python ?

[2021-06-16 03:33] #359 closed

[2021-06-16 03:38] Mugdha-Hazra opened #1023 ""Shortest Route" Problem of Codechef"
### Aim
I want to add the code for the "**Shortest Route**" problem in CodeChef (June Challenge 2021).

### Details
Problem name: Shortest Route
Problem Code: SHROUTE
Problem link: https://www.codechef.com/JUNE21C/problems/SHROUTE

Please assign me this issue
LGM-SOC Participant

### Programming language

C++
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

Hello @prudhvirajstark @cmulay @VinayakMohite4

[2021-06-16 03:43] Anshika-Srivastava opened #1024 "Topological Sort - Graphs(C++)"
**Question:**
Topological sorting for Directed Acyclic Graph (DAG) is a linear ordering of vertices such that for every directed edge uv, vertex u comes before v in the ordering. Topological Sorting for a graph is not possible if the graph is not a DAG.
**I would like to provide my cpp code for this.
Please assign me this under LGMSOC'21**

[2021-06-16 03:50] Anshika-Srivastava opened #1025 "Shortest Common Supersequence(DP) - C++"
**Question:**
Given two strings s1 and s2 and we have to find the length of shortest supersequence consisting of both s1 and and s2.
Shortest Common Supersequence finds the shortest supersequence which consist of all the characters of both the string in the order specified.  Supersequence have the same relative order but may or may not be continuous.

**I would like to contribute my code under LGM

[2021-06-16 04:07] cmulay commented on #1023
Hi @Mugdha-Hazra ,
You can start working on the problem, maintainer will assign labels and issue to you shortly.

[2021-06-16 05:25] Amit366 commented on #602
@Amit-45 since u have closed this issue ur PR will not be reviewed

[2021-06-16 05:28] Amit366 commented on #508
@Ayan-thecodeking do in C

[2021-06-16 05:29] Amit-45 commented on #602
@Amit366  Sir I had more than 2 issues open and I have seen in the Slack channel that not more than 2 issues need to be open .So I have closed the extra ones . Can I reopen it or I have to create a new issue again ?

[2021-06-16 05:31] #182 closed

[2021-06-16 05:34] Amit366 commented on #602
@Amit-45 but u have sent the PR then how can u close the issue

[2021-06-16 05:35] #616 closed

[2021-06-16 05:36] Ayan-thecodeking commented on #508
Ok sure @Amit366 thanks :)

[2021-06-16 05:37] #207 closed

[2021-06-16 05:42] #411 closed

[2021-06-16 05:45] #249 closed

[2021-06-16 05:56] Amit-45 commented on #602
@Amit366 Sir actually I am a newbie in open source . So I didn't have the idea that - When the pull request is already sent , we should not close the issue .I apologize for my mistake and this will not be repeated again from my side .

[2021-06-16 05:59] Jagannath8 commented on #1012
Can I do in Java? I'm a participant of LGM Soc21.

[2021-06-16 05:59] Amit366 commented on #602
Then reopen it @Amit-45

[2021-06-16 06:06] ravikr126 commented on #1000
See many stack operation related questions are available so please specify the question @ShivanshuVishnoi

[2021-06-16 06:07] Amit-45 commented on #602
@Amit366 Reopened issue

[2021-06-16 06:07] Ayush7614 opened #1027 "Welcome to HCSSoC(Hack Club SRM Summer of Code)"
Hello, Everyone ✨, Hope you guys are doing fine! 🙌

Thanks for showing your interest in being a part of the HCSSoC(https://github.com/Hack-Club-SRM/HCSSoC) 💥

We are super delighted to have you on board for your Contributions in Daily-Coding-DS-ALGO-Practice(https://github.com/Ayush7614/Daily-Coding-DS-ALGO-Practice) 🙌

Are you a budding developer looking forward to jumping into the world of Open

[2021-06-16 06:10] ShivanshuVishnoi commented on #1000
@ravikr126 Sir I have specified all the operation like push elements into stack ,pop elements from stack and display all the elements from stack by using both array and linked list implementation in a single code.

[2021-06-16 06:23] #795 closed

[2021-06-16 06:29] #602 closed

[2021-06-16 06:30] arnab8335 opened #1030 "Minimum sprinkers required to be turned on to water the plants"
Given an array arr[] consisting of N integers, where the ith element represents the range of a sprinkler i.e [i-arr[i], i+arr[i]] it can water, the task is to find the minimum number of the sprinkler to be turned on to water every plant at the gallery. If it is not possible to water every plant, then print -1.

Input: arr[ ] = {-1, 2, 2, -1, 0, 0}
Output: 2
Explanation:
One of the possible way is:

[2021-06-16 06:54] rakesh419s commented on #225
could you please assign me in python

[2021-06-16 06:56] Ayan-thecodeking commented on #738
hey @Ayush12062000  please assign me for this issue
I'll do it using java language
thanks :)

[2021-06-16 06:56] rakesh419s commented on #669
Assign me in Java LGMSOC21

[2021-06-16 06:58] Ayan-thecodeking commented on #676
hey @Ayush12062000 please assign me for this issue
I'll do it using c language
thanks :)

[2021-06-16 06:59] Sriram-bb63 commented on #992
I would like to do the same operations mentioned by @ShivanshuVishnoi in python. Assign me, please and thank you :)

[2021-06-16 06:59] rakesh419s commented on #932
Assign me in Python under LGMSOC'21

[2021-06-16 07:01] Ayan-thecodeking commented on #675
hey @Amit-45 please assign me for this issue
I'll do it using python language
thanks :)

[2021-06-16 07:02] ravikr126 commented on #992
I think these programs are available in the file @ShivanshuVishnoi please check the repository and previous raised issues

[2021-06-16 07:02] Ayan-thecodeking commented on #674
hey @Ayush12062000 please assign me for this issue
I'll do it using java language
thanks :)

[2021-06-16 07:03] Ayan-thecodeking commented on #682
hey @Ayush12062000 please assign me for this issue
I'll do it using java language
thanks :)

[2021-06-16 07:03] aktamoli0910 commented on #191
Hello sir, i am trying to push my branch but getting this error, (error: failed to push some refs to 'https://github.com/Ayush7614/Daily-Coding-DS-ALGO-Practice.git') please help.

[2021-06-16 07:04] Ayan-thecodeking commented on #681
hey @Ayush12062000 please assign me for this issue
I'll do it using java language
thanks :)

[2021-06-16 07:15] Saurabh4626 commented on #1024
contibute in this folder
Daily-Coding-DS-ALGO-Practice/Algorithms/Graph/
from next time also mention folder in which u will push

[2021-06-16 07:16] ShivanshuVishnoi commented on #992
@ravikr126 but Sir the code which include in repository not including such operations like reversing linked list, printing linked list using recursion, printing list in reverse order using recursion. But the code I am willing to include is including such operations.

[2021-06-16 07:17] Saurabh4626 commented on #1006
from next time mention folder in which u will push

[2021-06-16 07:19] Saurabh4626 commented on #990
from next time mention folder in which u will push

[2021-06-16 07:29] agamgupta2015 opened #1037 "Largest Common SubSequence in Java"
### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python
I want to work on this issue

[2021-06-16 07:30] somuy24 commented on #1006
ok @Saurabh4626 sir
I would like to add my code in Data Structures folder.

[2021-06-16 07:33] somuy24 commented on #1006
@Saurabh4626
Will you please add label to this question.

[2021-06-16 07:37] Mugdha-Hazra commented on #1023
Ok, thank you so much @cmulay sir.

[2021-06-16 07:40] #524 closed

[2021-06-16 07:44] puneetkaur2929 commented on #991
@Ayush7614 @ravikr126 @Amit366
I am interested to work on this issue in **C++.**
Kindly assign this issue to me under LGM SOC 21

[2021-06-16 07:45] puneetkaur2929 commented on #963
@Ayush7614 @ravikr126 @Amit366
I am interested to work on this issue in **C++.**
Kindly assign this issue to me under LGM SOC 21

[2021-06-16 07:51] somuy24 commented on #1006
@Saurabh4626
I will add  my code in GFG folder.
Please assign label to this problem.

[2021-06-16 07:54] puneetkaur2929 opened #1039 "Sparse Search -->Searching Algorithm"
Hey @Ayush7614 @ravikr126 @Amit366 @Saurabh4626
**Problem Statement**

**Given:** Sorted array of strings interspersed with empty strings ,we need to find position of given string in given sorted array .

I am interested to work on this issue in **C++.** using **Sparse search algorithm.**
Kindly assign this issue to me under LGM SOC 21

[2021-06-16 08:15] apran-vs commented on #1011
I would like to do this issue in python

[2021-06-16 08:45] 19bce502 opened #1042 "Josephus problem"
**AIM**
Given the total number of persons n and a number k which indicates that k-1 persons are skipped and kth person is killed in circle in a fixed direction.

The task is to choose the safe place in the circle so that when you perform these operations starting from 1st place in the circle, you are the last one remaining and survive.

Please Assign me this problem under LGM SOC  I will be doing

[2021-06-16 08:50] rahulsrivastava1 opened #1044 "Quick Sort"
# Aim

- To implement quick sort

# Details

- Its a C code

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-16 08:51] rahulsrivastava1 opened #1045 "Merge Sort"
# Aim

- To implement merge sort

# Details

- A C code of merge sort

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-16 08:52] rahulsrivastava1 opened #1046 "Tree Sort"
# Aim

- To implement Tree sort

# Details

- A C program Of tree sort

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-16 08:53] rahulsrivastava1 opened #1047 "Heap Sort"
# Aim

- to implement Heap Sort

# Details

- A c code to describe Heap sort

### Programming language

- [x] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-16 08:54] rahulsrivastava1 opened #1048 "DFS"
# Aim

- What is the objective of the Script

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-16 08:54] rahulsrivastava1 opened #1049 "Prims Algorithm"
### Programming language

- [x] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-16 08:58] ravikr126 commented on #1042
In which language you will make pr??@19bce502

[2021-06-16 09:10] Anshika-Srivastava commented on #1024
Sure! Thank You!

[2021-06-16 11:03] mitali-1703 commented on #206
Hey @Ayush7614 @Amit366 can u assign me this issue in C++ under LGM-SOC'21 as there's only C language code for this prblm??

[2021-06-16 11:13] saloni32 commented on #1005
I have added the code for postorder traversal of binary tree using iterative approach and created a pull request .
Please review it.
@Saurabh4626  @Ayush7614

[2021-06-16 11:13] somuy24 commented on #1006
@Saurabh4626 @Ayush7614
I have added the code of Bottom view of the Binary Tree.
Please review the changes.

[2021-06-16 11:28] Kashish05 commented on #980
@Saurabh4626   I can contribute its C++ code. Pls assign it to me.

[2021-06-16 11:30] Kashish05 commented on #783
@Amit366 I can provide soln in c++. Kindly assign me this question.

[2021-06-16 11:32] Kashish05 commented on #719
I can code it in c++. pls assign it to me.

[2021-06-16 11:34] Kashish05 commented on #665
I want to try it in c++. Pls assign me.

[2021-06-16 11:44] Hanesh-Jogani commented on #970
@Saurabh4626 @Ayush7614 @Amit366

[2021-06-16 12:01] TasnimAnas commented on #1012
I wan to do this in C language. LGMSOC

[2021-06-16 13:04] KishkinJ10 commented on #604
@Ayush7614 Sir i have made PR on this friend pairing problem using DP please merge this.

[2021-06-16 13:07] UG-SEP opened #1054 "Attention❗ Typo Mistake"
Hey @Ayush7614,
Please fix the typo mistake highlighted in the image
![typo](https://user-images.githubusercontent.com/75884061/122224519-d0b5e380-ced1-11eb-8213-0ac10c6341af.jpg)

[2021-06-16 13:28] KishkinJ10 commented on #1045
Can I work on this i am LGM-SOC 2021 participant??

[2021-06-16 13:29] KishkinJ10 commented on #977
I would like to provide the solution in c++ . I am a LGM-SOC participant

[2021-06-16 13:39] Ritikkumar992 commented on #1054
Let me resolve this issue.

[2021-06-16 13:49] UG-SEP commented on #1054
Why not ??

[2021-06-16 14:23] agamgupta2015 opened #1055 "Preparata_Algorithm"
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python
I want work on issue in C++

[2021-06-16 14:36] 19bce502 opened #1058 "Join Two Linked Lists"
Aim :
Given two linked lists of size n1 and n2 respectively, you have to join the head of second list to the tail of first so that we can traverse both the lists using head of 1st list.

Please assign me this problem  under LGM SOC I will be performing in c++.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-16 15:00] Adarsh357 commented on #719
I have coded it in C++.

On Wed, 16 Jun 2021, 5:03 pm Kashish05, ***@***.***> wrote:

[2021-06-16 15:03] kamleshjoshi8102 commented on #1048
@Amit366 @Ayush7614 I would like to add my code under LGMSOC'21 in C++ / python

[2021-06-16 15:18] kamleshjoshi8102 opened #1061 "Topological Sort - Graph (Python)"
# Aim
Topological sorting for Directed Acyclic Graph (DAG) is a linear ordering of vertices such that for every directed edge uv, vertex u comes before v in the ordering. Topological Sorting for a graph is not possible if the graph is not a DAG.
I would like to provide my python code for this.
Please assign me this under LGMSOC'21

# Details

- What the features will your script have

### Programm

[2021-06-16 15:25] rahulsrivastava1 commented on #1048
@Amit366 @Ayush7614 i can do in any language you want...C/C++/Java/Python

[2021-06-16 16:01] 19bce502 commented on #1042
in c++

[2021-06-16 16:02] 19bce502 commented on #1042
As I have already done and pulled request for this problem

[2021-06-16 16:04] Arkashish opened #1063 "Parentheses Checker"
## Program Statement:
We are given an expression and we need to check whether the given expression is correct or not.

## Programming language:
C++

[2021-06-16 16:06] Arkashish commented on #1063
@Ayush7614 Kindly assign me this issue. I would like to work on it as a part of my LGM-SoC'21

[2021-06-16 16:08] Arkashish commented on #1063
@Ayush7614 Kindly assign me this issue. I would like to work on this issue as a part of my LGM-SoC'21

[2021-06-16 16:10] Shaishav0507 commented on #222
Done and merged

[2021-06-16 16:10] #222 closed

[2021-06-16 16:11] 19bce502 opened #1064 "Majority Element"
Aim:
Given an array A of N elements. Find the majority element in the array. A majority element in an array A of size N is an element that appears more than N/2 times in the array.

Please assign me this problem under LGM SOC I will be doing in  C++.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-16 16:12] 19bce502 commented on #1042
This problem was already assigned to me and done also .

[2021-06-16 16:20] Shaishav0507 opened #1065 "Soduku Solver in C++"
# Aim

Hey @Ayush7614
I would like to add Soduku solver code in C++.
Please assign it to me.
Thanks

# Details

- What the features will your script have

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-16 16:31] Sumanth2905 opened #1067 "Two Strings Hackerrank"
# Aim

- **Two Strings** problem from Hackerrank in Python
- [Problem URL](https://www.hackerrank.com/challenges/two-strings/problem)

# Details

- Given two strings, determine if they share a common substring. A substring may be as small as one character.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

[2021-06-16 16:37] Sumanth2905 commented on #1067
I'll be adding the code inside **Daily-Coding-DS-ALGO-Practice/Hackerank/** folder

[2021-06-16 17:19] NIKHILSINGH1510 opened #1070 "I have many basic to advance ds_algo cpp problems which I would like to add"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-16 18:28] Saurabh4626 commented on #1064
where will u push?

[2021-06-16 18:33] Saurabh4626 commented on #1061
this  problem is already assigned

[2021-06-16 18:36] 19bce502 commented on #1064
in gfg folder

[2021-06-16 18:36] #1061 closed

[2021-06-16 19:55] Pratik57 commented on #918
@Saurabh4626  Assign me in cpp OR python under LGMSOC21

[2021-06-16 19:58] Pratik57 commented on #1023
@Saurabh4626  please assign me in python or c under LGMSOC21

[2021-06-16 20:00] Pratik57 commented on #973
@Saurabh4626  assgin me this problem to complete it in **C** under **LGMSOC21**

[2021-06-16 20:02] Pratik57 commented on #990
Assign me this problem to complete in **python** under **LGMSOC21**
@Saurabh4626

[2021-06-16 20:37] ambivert-sam opened #1074 "Python | Count occurrences of an element in an array"
**Is your feature request related to a problem? Please describe.**
Want to add Python Count occurrences of an element in an array

**Describe the solution you'd like**
Problem Statement :
Write a Python program to get the number of occurrences of a specified element in an array.
Sample Output:
Original array: array('i', [1, 3, 5, 3, 7, 9, 3])
Number of occurrences of the number 3 in the said array

[2021-06-16 20:39] Jagannath8 commented on #1067
Can I do in Java? I'm a participant of LGM Soc21.

[2021-06-16 20:39] Jagannath8 commented on #1058
Can I do in Java? I'm a participant of LGM Soc21.

[2021-06-16 20:40] Jagannath8 commented on #1048
Can I do in Java? I'm a participant of LGM Soc21.

[2021-06-16 20:42] Jagannath8 commented on #1064
Can I do in Java? I'm a participant of LGM Soc21.

[2021-06-16 20:42] Jagannath8 commented on #1045
Can I do in Java? I'm a participant of LGM Soc21.

[2021-06-16 20:43] Jagannath8 commented on #1044
Can I do in Java? I'm a participant of LGM Soc21.

[2021-06-16 20:44] Jagannath8 commented on #1011
Can I do in Java? I'm a participant of LGM Soc21.

[2021-06-16 20:45] Jagannath8 commented on #990
Can I do in Java? I'm a participant of LGM Soc21.

[2021-06-16 20:46] Jagannath8 commented on #950
Can I do in Java? I'm a participant of LGM Soc21.

[2021-06-16 20:48] Jagannath8 commented on #1074
Can I do in Java? I'm a participant of LGM Soc21.

[2021-06-17 04:46] #706 closed

[2021-06-17 04:54] Soumyadeep-rick commented on #1012
I want to do it in C++. LGMSOC

[2021-06-17 04:58] pratyush-kr opened #1079 "Adding Hacker-Rank Solution Titled Question 'Array Manipulation'"
Starting with a 1-indexed array of zeros and a list of operations, for each operation add a value to each the array element between two given indices, inclusive. Once all operations have been performed, return the maximum value in the array.

Please assign me this problem under LGM SOC I will be implementing it in C++

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-17 05:02] agamgupta2015 opened #1080 "Optimal Xor Set (CodeChef Problem)"
### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python
I want to work on this issue.

[2021-06-17 05:03] ravikr126 commented on #1042
copy issue #674 @19bce502

[2021-06-17 05:03] #1042 closed

[2021-06-17 05:05] agamgupta2015 opened #1081 "String to Integer (atoi) - Leetcode"
### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python
- [ ] I want to work on this issue

[2021-06-17 05:13] Hanesh-Jogani commented on #970
Sir pls assign me @Ayush7614 @Amit366 @Saurabh4626

[2021-06-17 05:13] Akash20x opened #1082 "Maximum Frequency Stack"
# Aim

I want to add my implementation of the Maximum Frequency Stack Problem in Leetcode Folder.

# Details

- Design a stack-like data structure to push elements to the stack and pop the most frequent element from the stack.

Implement the FreqStack class:

FreqStack() constructs an empty frequency stack.
void push(int val) pushes an integer val onto the top of the stack.
int pop() removes and r

[2021-06-17 05:15] Akash20x commented on #1082
Please let me know if this issue is acceptable or not.

[2021-06-17 05:20] KishkinJ10 commented on #1065
Can I give this solution??
I am a LGM-SOC participant

[2021-06-17 05:21] KishkinJ10 commented on #1049
Can  I give the solution I am a LGM-SOC 21 participant?

[2021-06-17 05:48] KishkinJ10 commented on #226
Please assign this to me can I also work on this?

[2021-06-17 05:48] rahulsrivastava1 commented on #1049
@KishkinJ10 why are you pulling request to this , while its assigned to me.
hey @Saurabh4626 i uploaded my both codes kindly check it.

[2021-06-17 05:59] Tanya1323 commented on #84
do i have to just solve the problem or issue I have been assigned?

[2021-06-17 06:00] Tanya1323 commented on #84
pls assign a issue so that i can make some changes

[2021-06-17 06:10] #659 closed

[2021-06-17 06:14] KishkinJ10 commented on #1049
@rahulsrivastava1  the issues were still open ?

[2021-06-17 06:15] rahulsrivastava1 commented on #1049
@KishkinJ10 i think if you were assigned after that you will work on it...

[2021-06-17 06:16] KishkinJ10 commented on #1081
please assign this to me for c

[2021-06-17 06:30] Mugdha-Hazra commented on #1023
Thank you soo much, @Saurabh4626 sir, for assigning me this issue. sir I have made a pull request for this issue can you please review it.

[2021-06-17 06:40] Mugdha-Hazra opened #1086 "" Minimum Dual Area " Problem Of Codechef"
### Aim
I want to add the code for the **"Minimum Dual Area"** problem in **CodeChef** (June Challenge 2021).

### Details
**Problem name:**   Minimum Dual Area
**Problem Code:**    DAREA
**Problem link:**       https://www.codechef.com/JUNE21C/problems/DAREA/

Please assign me this issue
**LGM-SOC Participant**

### Programming language
**C++**

### Programming language

- [ ] C
- [ ] C++
- [ ] J

[2021-06-17 07:36] Aryan-Srivastava opened #1087 "Adding some linked list related problems"
# Aim

- Will be adding some linked list related problems in GFG folder.

# Details

- Problems to be added, such as  :-
- [Delete alternate nodes.](https://practice.geeksforgeeks.org/problems/delete-alternate-nodes/1/?category[]=Linked%20List&category[]=Linked%20List&problemStatus=solved&page=1&query=category[]Linked%20ListproblemStatussolvedpage1category[]Linked%20List)
- [Finding middle of the

[2021-06-17 07:49] jugalnagar opened #1088 "Partition Labels"
This is Leetcode Medium Problem

**Partition Labels**
You are given a string s. We want to partition the string into as many parts as possible so that each letter appears in at most one part. Return a list of integers representing the size of these parts.

Please assign this issue to me I will implement it using java.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-17 08:04] Khushi260 opened #1089 "Problems from May Codechef Starters 2021"
<h2>AIM</h2>
I want to add various codes for questions from May Codechef Starters 2021.

<h2>Details</h2>
Various questions are:
<p>Lazy Chef ( LAZYCHF )
<a href="https://www.codechef.com/problems/LAZYCHF">
click here for problem statement
</a>
</p>
<p>
Correct Sentence ( CORTSENT )
<a href="https://www.codechef.com/START4C/problems/CORTSENT">
click here for problem statement
</a>
</p>
<p>
Plagiar

[2021-06-17 09:12] KishkinJ10 opened #1092 "Bell Man Ford Algorithm"
# Aim
Bell Man Ford Algorithm also used to detect negative cycles in graphs

# Details

- Implementing Bell Man Ford Algorithm

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-17 09:13] KishkinJ10 commented on #1092
@Ayush7614 I want to add the detailed solution of Bell Man Ford Algorithm , assign it to me.

[2021-06-17 09:22] apran-vs opened #1094 "Full Node"
# Aim

- Program for finding the number of full nodes in the binary Tree. The set of all nodes with
both left and right children are called full nodes. and I want to work on this issue.

# Details

- What the features will your script have

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-17 10:21] siddhi-244 commented on #1005
Can I try in python ?

[2021-06-17 10:29] #970 closed

[2021-06-17 10:30] Hanesh-Jogani opened #1097 "Minimum Element in a Stack - Medium"
**Is your feature request related to a problem? Please describe.**
Addition of a new problem named **Minimum Element in a Stack**

**Name of the File** - Minimum_Element_Stack.java
**Destination Folder** - Daily-Coding-DS-ALGO-Practice/Data Structures/

### Programming language
- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

I want to do this under **LGM-SOC'21**.

[2021-06-17 11:08] Arkashish commented on #1063
@Saurabh4626 can you please merge my pull request #1098

[2021-06-17 11:17] Palak305 opened #1099 "Leader in an array"
# Aim

- An element is called a leader in an array, if all the elements to its right in the given array are neither greater or equal to that particular element. This is an effective solution that executes in linear time, that is, in O(n) time.

# Details

-  Ex: INPUT: n=6
  a[]={7,10,11,10,5,2}
     OUTPUT: 11,10,5,2

#Programming Language
- [ ] C++

[2021-06-17 11:33] ravikr126 commented on #674
Sure @Ayan-thecodeking you can create a new issue I will assign you .And add questions and test cases also in pr

[2021-06-17 11:35] Ayan-thecodeking commented on #674
@ravikr126 questions for Josephus ??

[2021-06-17 11:38] ravikr126 commented on #674
Yes @Ayan-thecodeking

[2021-06-17 11:45] kalashshah opened #1102 "GFG - Merge Without Extra Space"
# Aim

To add the solution to merge without extra space question on GFG.

# Details

- Java program to merge two sorted arrays without taking extra space.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

Please assign this issue to me under  LGM-SOC'21

[2021-06-17 11:49] kalash-kala opened #1103 "ADDIING 3 QUESTIONS TO HACKERRANK FOLDER"
# Aim

- I would like to add 3 questions to the hackerrank folder with solution in c++

# Details

- Q1. Height of a binary tree
- Q2. Tree  postorder traversal
- Q3. Tree inorder traversal

Please assign me this issue, LGM SoC'21 participant

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-17 13:39] #559 closed

[2021-06-17 13:44] #688 closed

[2021-06-17 13:50] Khushi-agarwal opened #1110 "Priority queue in python"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
It's an algorithm in queue data structure which I want to implement in python language.
Please assign it to me under lgm-soc.
### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

[2021-06-17 13:51] #681 closed

[2021-06-17 13:52] #422 closed

[2021-06-17 13:54] #661 closed

[2021-06-17 13:54] Shaishav0507 opened #1111 "Merge Sort in Python"
# Aim

Hey @Ayush7614
I would like to add Merge Sort in Python.
Please assign me this.
Thanks

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

[2021-06-17 13:57] kamakshi829 opened #1112 "to add a hackerrank problem"
Hello Mentor! I as a participant of lgmsoc21 wants to add the solution of ginortS problem of hackerrank in python language. Problem description is given below.

You are given a string S.
S contains alphanumeric characters only.
 Your task is to sort the string S in the following manner:

All sorted lowercase letters are ahead of uppercase letters.
All sorted uppercase letters are ahead of digits.

[2021-06-17 13:57] Gurleensoni commented on #1058
Can I do that in cpp? Please assign this issue to me.

[2021-06-17 14:16] #685 closed

[2021-06-17 14:50] kamakshi829 commented on #630
@Amit-45 I can do it in python. Please assign it to me.

[2021-06-17 15:12] Komal-99 commented on #630
@kamakshi829  PR has been made #943

[2021-06-17 15:21] #642 closed

[2021-06-17 15:22] #623 closed

[2021-06-17 15:34] #241 closed

[2021-06-17 15:42] #814 closed

[2021-06-17 15:47] #581 closed

[2021-06-17 15:49] #189 closed

[2021-06-17 15:53] #232 closed

[2021-06-17 15:55] #231 closed

[2021-06-17 15:57] Ayan-thecodeking opened #1117 "add Josephus problem in java"

[2021-06-17 16:01] se-prashant opened #1118 "Problem-B of AtCoder DP Contest."
# Aim

I want to add a solution to problem B of AtCoder Contest

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-17 16:03] #673 closed

[2021-06-17 16:04] #769 closed

[2021-06-17 16:04] Khushi-agarwal opened #1119 "Taxi program from codeforces"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I want to add the solution of taxi problem from code forces.
Problem link-https://codeforces.com/problemset/problem/158/B

### Programming lan

[2021-06-17 16:05] #768 closed

[2021-06-17 16:06] TasnimAnas commented on #792
@Amit366 assign me plz. for Java

[2021-06-17 16:08] abhisheks008 opened #1121 "0-1 Knapsack Problem using Dynamic Programming"
**Subject**
This code will solve the 0-1 Knapsack Problem using Dynamic programming in 4 different programming languages.

**solution**
I will provide the solution for this problem in 4 different programming languages.

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

Please assign me this task and let me contribute with this problem statement.

[2021-06-17 16:08] #657 closed

[2021-06-17 16:10] Debargha-arch opened #1122 "Bitwise Tuples | CodeChef"
# Aim

- Chef has two numbers N and M. Help Chef to find number of integer N-tuples (A1,A2,…,AN) such that 0≤A1,A2,…,AN≤2^M−1 and A1&A2&…&AN=0, where & denotes the bitwise AND operator.
Since the number of tuples can be large, output it modulo (10^9)+7.

# Details
*NOTE* - The question appeared in the contest June Challenge 2021(Div. 3) which is over now .

Problem Link : https://www.codechef.com/

[2021-06-17 16:11] Debargha-arch commented on #1122
Please assign this issue to me. I will be giving the solution in C++ .

[2021-06-17 16:12] abhisheks008 opened #1123 "Floyd Warshall Problem"
# Aim
The aim is to add the solution of the Floyd Warshall Problem using 4 different languages.

# Details
This problem is very much useful for the interview purposes and I am going to provide the solution of this problem using 4 different languages and that will be great for any student and coder to understand the coding and the algorithms if they are not having good knowledge in a particular lan

[2021-06-17 16:13] abhisheks008 opened #1124 "Floyd Warshall Problem"
# Aim
The aim is to add the solution of the Floyd Warshall Problem using 4 different languages.

# Details
This problem is very much useful for the interview purposes and I am going to provide the solution of this problem using 4 different languages and that will be great for any student and coder to understand the coding and the algorithms if they are not having good knowledge in a particular lan

[2021-06-17 16:14] abhisheks008 commented on #1111
I can add the code using Java and Python language. Can you assign me this?

[2021-06-17 16:16] abhisheks008 commented on #1124
@Ayush7614 please assign me this work and let me contribute in this by this problem.

[2021-06-17 16:16] Surajvatsya opened #1125 "Buy Maximum Stocks if i stocks can be bought on i-th day"
# Aim

Buy Maximum Stocks if i stocks can be bought on i-th day

# Details

In a stock market, there is a product with its infinite stocks. The stock prices are given for N days, where arr[i] denotes the price of the stock on the ith day. There is a rule that a customer can buy at most i stock on the ith day. If the customer has an amount of k amount of money initially, find out the maximum number

[2021-06-17 16:16] abhisheks008 commented on #1121
@Ayush7614 please assign me this work and I would like to contribute using 4 languages too.

[2021-06-17 16:17] RuchiGitHu opened #1126 "String Stream in C++"
**Describe the solution you'd like**
stringstream is a stream class to operate on strings. It implements input/output operations on memory (string) based streams.
I want to add simple code to understand String Stream in C++.
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-17 16:19] abhisheks008 commented on #1045
Hey I can contribute the solution of this code using 4 languages such as, Python, C, C++ and Java. Please assign me in any of these languages.

[2021-06-17 16:27] agamgupta2015 opened #1128 "n Queen in C++"
### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python
I want to work on this issue.

[2021-06-17 16:53] tirth5828 opened #1129 "I Hate 1111 (Problem 1526B)"
# Aim

- Solve Problem 1526B of Codeforces

# Details

- This is a problem Under Number theory, I would love to solve this, Please assign me this under LGMSOC21 for C++ and JAVA

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-17 16:57] tirth5828 commented on #1129
@ravikr126   @Ayush7614   @Saurabh4626

[2021-06-17 16:57] ambivert-sam opened #1130 "Sort Colors"
**Is your feature request related to a problem? Please describe.**
Want to add the Sort Colors question of LeetCode in the Python Data structure folder

**Describe the solution you'd like**
Problem Statement:
Given an array nums with n objects colored red, white, or blue, sort them in-place so that objects of the same color are adjacent, with the colors in the order red, white, and blue.

We will

[2021-06-17 17:03] tirth5828 opened #1132 "Pythagorean Triples (Problem 1487D)"
# Aim

- Solve Problem 1487D of Codeforces

# Details

- This is a problem based on Number theory and Brute force
-  @ravikr126   @Ayush7614  @Saurabh4626 please assign me this under LGMSOC21 for C++ and JAVA

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-17 17:08] ambivert-sam opened #1134 "Python program to check if given string is vowel Palindrome"
**Is your feature request related to a problem? Please describe.**
Want to add Python program to check if the given string is vowel Palindrome in Python Data structures Folder

**Describe the solution you'd like**
Problem Statement:
Given a string (may contain both vowel and consonant letters), remove all consonants, then check if the resulting string is palindrome or not.

Examples:

Input :  abc

[2021-06-17 17:14] ambivert-sam opened #1136 "Logo for Daily-Coding-DS-ALGO-Practice"
We can make logo for Daily-Coding-DS-ALGO-Practice
I would like to contribute by making logo on this issue as a participant of LGM SOC'21 will you please assign it to me

[2021-06-17 17:30] Amit366 commented on #753
@Khushi-agarwal u can do in java as C and python will be done by others

[2021-06-17 17:36] siddhi-244 commented on #753
Already did it in python pr #927

[2021-06-17 17:36] pratyush-kr commented on #1079
fixed in pull req #814

[2021-06-17 17:36] #1079 closed

[2021-06-17 17:43] Khushi-agarwal commented on #753
@Amit366 Sure,I will do it in java.

[2021-06-17 18:04] creativeyashi opened #1141 "Anagram Search Problem"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-17 18:05] Shreya-Sharma8 opened #1142 "Find the Duplicate Number"
**Problem Statement**
Given an array of integers nums containing n + 1 integers where each integer is in the range [1, n] inclusive.
There is only one repeated number in nums, return this repeated number.
You must solve the problem without modifying the array nums and uses only constant extra space.

**Details**
This question is often asked in coding interviews. It is based on Arrays, Two Pointer

[2021-06-17 18:06] sardonicankita commented on #719
@Amit366 please review the pull request #893 , so that I can make pr's for my other assigned issues as well.

[2021-06-17 18:30] #626 closed

[2021-06-17 19:12] ambivert-sam opened #1144 "Symmetric Tree (Breadth-first Search)"
**Is your feature request related to a problem? Please describe.**
Want to add  Symmetric Tree in Python Data structures Folder

**Describe the solution you'd like**

 Problem Statement :
 Given the root of a binary tree, check whether it is a mirror of itself (i.e., symmetric around its center).

Example 1:

![image](https://user-images.githubusercontent.com/74984661/122458613-a3e6f680-cfcd-11eb-

[2021-06-17 19:21] ambivert-sam commented on #1142
@Saurabh4626 I can do this in python please assign it to me I'm a participant of LGMSOC'21

[2021-06-17 19:22] Saurabh4626 commented on #1142
@ambivert-sam  already assigned

[2021-06-17 19:24] PriyankaHotchandani commented on #1081
As a participant of LGM-SOC'21, I would like to work on this issue in Python.

[2021-06-17 19:53] TasnimAnas opened #1145 "HackerRank (Medium) Common Child Problem"
**Is your feature request related to a problem? Please describe.**
https://www.hackerrank.com/challenges/common-child/problem

**Describe the solution you'd like**
In C++

### Programming language

- [ ] C
- [X] C++
- [ ] Java
- [ ] Python

[2021-06-17 19:57] TasnimAnas opened #1146 "HackerRank (Hard) Matrix Layer Rotation"
**Is your feature request related to a problem? Please describe.**
https://www.hackerrank.com/challenges/matrix-rotation-algo/problem

### Programming language

- [ ] C
- [X] C++
- [ ] Java
- [ ] Python

[2021-06-17 20:46] creativeyashi opened #1147 "Union Of two sorted arrays"
Given two sorted arrays, find their union.
Example:

Input : arr1[] = {1, 3, 4, 5, 7}
        arr2[] = {2, 3, 5, 6}
Output : Union : {1, 2, 3, 4, 5, 6, 7}

- What is the objective of the Script

It finds the union of two sorted arrays.

Problem link: https://practice.geeksforgeeks.org/problems/union-of-two-arrays3538/1

- What the features will your script have

### Programming language

- [ ] C
-

[2021-06-17 20:49] Pratik57 commented on #877
@Saurabh4626 please assign me in cpp under LGMSOC21

[2021-06-17 20:54] Pratik57 commented on #1049
@Saurabh4626  Assign me this in cpp under LGMSOC21 please

[2021-06-17 21:57] ambivert-sam commented on #1142
@Saurabh4626 For python also?

[2021-06-17 23:28] Jayati15 commented on #1147
`#include<iostream>
#include<set>
using namespace std;

void solve(int a[],int b[],int n,int m)
{
    set<int> s;
    for(int i=0;i<n;i++)
    {
        s.insert(a[i]);
    }
    for(int i=0;i<m;i++)
    {
        s.insert(b[i]);
    }
    set<int>::iterator it;
    for(it=s.begin();it!=s.end();++it)
    {
        cout<<*it<<" ";
    }
    cout<<"\n";

}

int main()
{
    int n,m;
    cin>>n>>m;

[2021-06-18 02:02] akash435 opened #1149 "Kuriyama Mirai's Stones of codeforces"
want to add the solution for this ques of codeforces.
the ques code is 433 B.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-18 02:02] akash435 commented on #1149
@Ayush7614 , this assign me this under LGM SOC, i can add solution of this codeforces ques.

[2021-06-18 02:43] siddhi-244 commented on #1147
Can I try this in python ?

[2021-06-18 05:15] kamleshjoshi8102 commented on #1149
@Ayush7614 Can I contribute in Python under LGMSOC 21

[2021-06-18 05:19] kamleshjoshi8102 opened #1153 "Preparata Algorithm"
# Aim

I would Like to contribute Preparata Algorithm (hard) under LGMSOC'21 in C++

# Details

Preparata’s algorithm is a recursive Divide and Conquer Algorithm where the rank of each input key is computed and the keys are outputted according to their ranks.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-18 05:22] kamleshjoshi8102 opened #1154 "Split a Numeric String into Fibonacci Sequence"
# Aim

I would like to contribute Split a Numeric String into Fibonacci Sequence algorithm in C++ under LGMSOC'21

Difficulty Level : Expert

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-18 05:24] kamleshjoshi8102 opened #1155 "Longest subarray having sum K"
# Aim

I would Like to contribute Longest subarray having sum K Algorithm under LGMSOC'21 in c++

# Details

Given an array arr[] of size N containing integers. The task is to find the length of the longest sub-array having sum equal to the given value K.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-18 05:25] kamleshjoshi8102 opened #1156 "Traveling Salesman Problem using Genetic Algorithm"
# Aim

I would like to Contribute Traveling Salesman Problem using Genetic Algorithm under LGMSOC'21 in C++

# Details

Genetic algorithms are heuristic search algorithms inspired by the process that supports the evolution of life. The algorithm is designed to replicate the natural selection process to carry generation, i.e. survival of the fittest of beings

### Programming language

- [ ] C
- [

[2021-06-18 05:27] kamleshjoshi8102 commented on #1154
@Ayush7614 @Amit366 Can I Provide my code for this issue under LGMSOC'21 in C++

[2021-06-18 05:27] kamleshjoshi8102 commented on #1153
@Ayush7614 @Amit366 Can I work on this code in C++ under LGMSOC'21

[2021-06-18 05:29] kamleshjoshi8102 commented on #1155
@Ayush7614 @Amit366 Can I provide my code Under LGMSOC'21 in C++

[2021-06-18 05:29] kamleshjoshi8102 commented on #1156
@Ayush7614 @Amit366 Can I provide my code Under LGMSOC'21 in C++

[2021-06-18 05:32] kamleshjoshi8102 commented on #767
@Amit366 sir When I will be assigned this issue?
: )

[2021-06-18 05:57] ravikr126 commented on #1129
you can work on it @tirth5828  and add some testcases in comment also

[2021-06-18 05:58] ravikr126 commented on #1132
you can work n it @tirth5828

[2021-06-18 06:00] ravikr126 commented on #1119
you can work on it @Khushi-agarwal

[2021-06-18 06:01] ravikr126 commented on #1156
you can work on it @kamleshjoshi8102

[2021-06-18 06:02] ravikr126 commented on #1147
yo can work on it @creativeyashi

[2021-06-18 06:03] ravikr126 commented on #1147
this is now a way to share code .this is opensource program

[2021-06-18 06:04] ravikr126 commented on #1147
you can create a new issue and mention it that you like to code in python

[2021-06-18 06:05] ravikr126 commented on #1153
you can work on it @kamleshjoshi8102

[2021-06-18 06:06] ravikr126 commented on #1141
you can work now @creativeyashi

[2021-06-18 06:07] ravikr126 commented on #1124
don;t raise copy issue or i will bann you

[2021-06-18 06:07] #1124 closed

[2021-06-18 06:08] ravikr126 commented on #1123
you can work now @abhisheks008

[2021-06-18 06:09] ravikr126 commented on #1117
start work on it @Ayan-thecodeking

[2021-06-18 06:10] #1103 closed

[2021-06-18 06:10] ravikr126 commented on #1103
copy issue

[2021-06-18 06:10] ravikr126 commented on #1110
please specify the questions @Khushi-agarwal

[2021-06-18 06:11] ravikr126 commented on #1094
already raised issue

[2021-06-18 06:11] #1094 closed

[2021-06-18 06:12] ravikr126 commented on #1087
some of your question already raised

[2021-06-18 06:12] ravikr126 commented on #1081
you can work on it

[2021-06-18 06:13] Ayan-thecodeking commented on #1117
Thanks :)

[2021-06-18 06:13] ravikr126 commented on #1081
create a new issue then i will assign you

[2021-06-18 06:13] ravikr126 commented on #1081
create a new issue then i will assign you

[2021-06-18 06:13] #1086 closed

[2021-06-18 06:23] singhmansi25 opened #1159 "Variable Sized Arrays (C++)"
**Is your feature request related to a problem? Please describe.**
The problem is a part of C++, HackerRank . It showcases how variable size arrays can be implemented using loops. Difficulty level of problem is easy.

**Describe the solution you'd like**
Solving the problem using loops for better understanding

**Additional context**
<img width="406" alt="a1" src="https://user-images.githubusercon

[2021-06-18 06:25] Khushi-agarwal commented on #1110
Implementing priority queue data structure @ravikr126

[2021-06-18 06:27] JahnaviKashyap19 commented on #1144
Please assign me this issue .I am a participant of LGMSoc'21. I will provide the code in C++

[2021-06-18 06:30] kalash-kala commented on #1103
Sir I am new to open source , does copy issue mean someone else has done this before?

[2021-06-18 06:48] siddhi-244 opened #1163 "Union of 2 arrays in python"
# Aim

Given two sorted arrays, find their union.
Example:

Input : arr1[] = {1, 3, 4, 5, 7}
arr2[] = {2, 3, 5, 6}
Output : Union : {1, 2, 3, 4, 5, 6, 7}

What is the objective of the Script
It finds the union of two sorted arrays.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-18 06:48] siddhi-244 commented on #1163
Can I do it in python ?

[2021-06-18 06:49] Hanesh-Jogani commented on #1097
@ravikr126
@Ayush7614
@Amit366
@Saurabh4626

Sir, please assign this to me.

[2021-06-18 06:55] KishkinJ10 opened #1164 "String to Integer (atoi) - Leetcode"
# Aim

-Convert String To Integer

# Details

- String to Integer using atoi function.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-18 06:56] KishkinJ10 commented on #1164
@ravikr126  Sir Please Assign this to me for C.

[2021-06-18 06:57] KishkinJ10 commented on #226
@ravikr126 @Ayush7614 Sir I have linked a PR with this issue Please merge this.

[2021-06-18 06:59] JahnaviKashyap19 commented on #1164
Please assign me this issue in C++

[2021-06-18 07:01] KishkinJ10 commented on #1164
@JahnaviKashyap19  Hey I think you should create your own issue for this problem in C++

[2021-06-18 07:02] JahnaviKashyap19 commented on #1147
Please assign this to me. I can do it for C language

[2021-06-18 07:21] 19bce502 opened #1166 "Reverse Pair (Leetcode Hard Problem)"
AIM :
Given an integer array nums, return the number of reverse pairs in the array.

A reverse pair is a pair (i, j) where 0 <= i < j < nums.length and nums[i] > 2 * nums[j].]
Please assign me this problem under LGM SOC . I will be doing in C++
### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-18 07:29] JahnaviKashyap19 opened #1167 "Prim's Minimum Spanning Tree"
**Wanted to add the Prim's Minimum Spanning Tree Problem to the Algorithms Folder**

**Describe the solution you'd like**
I wanted to provide the solution in C and C++

I would like to contribute and work on this issue as a participant of LGM SOC'21 will you please assign it to me

 Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-18 07:36] JahnaviKashyap19 opened #1169 "Strassen’s Matrix Multiplication Algorithm | Implementation"
**I want to add the implementation of Strassen's Matrix Multiplication Algorithm under the Divide and Conquer section.**

**Describe the solution you'd like**
I want to provide the algorithm in C++

I want to contribute as a participant of LGMSoc'21. I would be grateful if you could assign me this issue.

### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-18 08:23] agamgupta2015 commented on #1081
@ravikr126 please assign me u have not assign

[2021-06-18 08:27] only-ashwin commented on #1164
Sir please assign me this issue for C

[2021-06-18 08:32] KishkinJ10 commented on #1164
@only-ashwin  I am already doing this issue in C

[2021-06-18 08:38] ravikr126 commented on #1055
You can work now @agamgupta2015

[2021-06-18 08:41] ravikr126 commented on #1097
You can work on it @Hanesh-Jogani

[2021-06-18 08:43] agamgupta2015 commented on #1128
It is a Backtracking Algorithm(Hard).

[2021-06-18 09:39] kalash-kala opened #1171 "codeforces problem : Pashmak and flowers (459B)"
# Aim

- I would like to provide a solution for the problem Pashmak and flowers (459B) on codeforces

# Details

- This problem is based on Combinatorics and sorting
- @ravikr126 @Ayush7614 @Saurabh4626 please assign me this under LGMSOC21 for C++

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-18 10:13] 19bce502 opened #1175 "4Sum Leetcode"
AIM:
Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

Please Assign me this problem under LGM SOC .I will be doing in C++.

### Programming language

- [ ] C
- [ ] C++
- [ ] Ja

[2021-06-18 10:16] ravikr126 commented on #1175
You can work on it and if possible add more than 1 solution with test cases @19bce502

[2021-06-18 10:29] abhisheks008 commented on #1175
@ravikr126 and @19bce502 can I contribute this problem's code using Python 3 language? As @19bce502 is adding the code using C++ language only. I can also provide the test cases, as well as the input segments.

If I can contribute then please let me know!

[2021-06-18 10:37] 19bce502 commented on #1175
OK I will bring up more than one solution in C++ language.

[2021-06-18 10:38] Hanesh-Jogani commented on #1175
@ravikr126  , @19bce502 , @Ayush7614 , @Saurabh4626

I want to try this in **JAVA** Language.

As
@19bce502 is doing in C++.
@abhisheks008 is doing in Python

Can I do this in JAVA ?

[2021-06-18 10:40] Khushi260 opened #1176 "Charges - Codechef problem"
<h1>AIM</h1>
 I will be writing code for problem "charges" from may lunchtime.

<h1>Details</h2>
problem statement : <a href="https://www.codechef.com/LTIME96C/problems/CHARGES">click here </a>

Assign me this issue
PARTICIPANT
LGM-SOC

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-18 10:54] Khushi260 commented on #1089
@Ayush7614 @ravikr126  can you please assign me this issue
I'm LGM-SOC participant

[2021-06-18 11:16] Shaishav0507 commented on #1111
@Ayush7614 @abhisheks008
Can I go ahead ?

[2021-06-18 12:03] suy1968 commented on #1176
Please assign me as I am a participant of LGMSOC21

I used Python3

[2021-06-18 12:20] abhisheks008 opened #1179 "Abstract Classes - Polymorphism"
### Aim
Providing the solution of the problem called, **Abstract Classes - Polymorphism**

**Is your feature request related to a problem? Please describe.**
The problem is named as Abstract Classes - Polymorphism in HackerRank. It's one of the hardest problems of the HackerRank which consist of the maximum score of 60 and the difficulty is Hard.

**Describe the solution you'd like**
I want to pro

[2021-06-18 12:21] abhisheks008 commented on #1179
@Ayush7614 Please assign me in this issue, it's one of those hardest and famous interview problems asked during the interviews.

[2021-06-18 12:46] abhisheks008 commented on #1123
@ravikr126 I have created the Pull Request for this problem. Can you please check it?

[2021-06-18 12:47] #1142 closed

[2021-06-18 13:04] ravikr126 commented on #1166
you can work on it @19bce502

[2021-06-18 13:14] kamakshi829 commented on #1112
@ravikr126 please assign me this issue.

[2021-06-18 13:17] dhruv-varshney opened #1182 "Implementing Queue Using python"
**Is your feature request related to a problem? Please describe.**
Aim is to implement a data structure-queue using python

**Describe the solution you'd like**
To implement the queue i will use the deque class which comes from collections module

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-18 13:19] #1045 closed

[2021-06-18 13:19] #1111 closed

[2021-06-18 13:20] ravikr126 commented on #1111
already in repository @Shaishav0507

[2021-06-18 13:20] ravikr126 commented on #1045
already in repository @rahulsrivastava1

[2021-06-18 13:21] ravikr126 commented on #1182
already raise issue @dhruv-varshney

[2021-06-18 13:21] #1182 closed

[2021-06-18 13:22] dhruv-varshney opened #1183 "Bubble Sorting using python"
**Is your feature request related to a problem? Please describe.**
To implement Bubble sort using Python

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-18 13:24] Shaishav0507 commented on #1111
@ravikr126 It's not there in Python
Please check

[2021-06-18 13:25] Shaishav0507 commented on #1111
@

Not in python

[2021-06-18 13:25] ravikr126 commented on #1144
already raise issue

[2021-06-18 13:25] #1144 closed

[2021-06-18 13:45] PriyankaHotchandani opened #1184 "String to Int (atoi)"
Implement a function, which converts a string to a 32-bit signed integer.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

[2021-06-18 14:12] PradeepBaipadithaya commented on #1183
Hi,
Can i try this issue

[2021-06-18 14:14] PradeepBaipadithaya commented on #1167
Hi,
Can i try this issue because i am a engineer student and lecture are teaching the same concept.
So can you assign this to me and i like to solve this in Java

[2021-06-18 14:17] PradeepBaipadithaya commented on #1058
Hi,
Can i try this issue in C.

[2021-06-18 14:20] JahnaviKashyap19 commented on #1167
Hey @PradeepBaipadithaya you have to create a separate issue on this for Java.

[2021-06-18 14:25] Ayan-thecodeking commented on #1183
i can do this in cpp and java language
please assign :)

[2021-06-18 14:27] Ayan-thecodeking commented on #1166
i want to do this in java language
please assign me @ravikr126

[2021-06-18 14:55] rahulsrivastava1 commented on #1045
ok @ravikr126 my bad.

[2021-06-18 15:01] siddhi-244 commented on #1166
Can I try in python ?

[2021-06-18 15:41] Surajvatsya opened #1187 "Find the minimum and maximum amount to buy all N candies"
# Aim

To Find the minimum and maximum amount to buy all N candies from store

# Details

In a candy store, there are N different types of candies available and the prices of all the N different types of candies are provided to you.
You are now provided with an attractive offer.
You can buy a single candy from the store and get at most K other candies ( all are different types ) for free.
Now you

[2021-06-18 15:54] payaldutta commented on #1001
@Ayush7614 kindly assign me this issue.

[2021-06-18 15:59] Amit366 commented on #792
@Sathwika-02 first finish the assigned issues

[2021-06-18 16:00] PradeepBaipadithaya opened #1188 "Stone, Paper, Scissor game using python"
When you get board by looking at your laptop you can play your childhood "Stone, Paper, Scissor " game that is designed using python.
It has an option where you can see the score at each time and at the end you can get how is the actual winner and there points.

[2021-06-18 16:01] PradeepBaipadithaya commented on #1188
Can i contribute this code to your project.

[2021-06-18 16:07] #717 closed

[2021-06-18 16:10] #866 closed

[2021-06-18 16:11] #312 closed

[2021-06-18 17:20] #727 closed

[2021-06-18 18:40] rajeshkumar2024 opened #1199 "Studying Alphabet Of Codechef under LGMSOC'21"
# Aim

- To add solution of Studying Alphabet of Codechef under LGMSOC'21.

## Language used - Java

# Details

- Problem link - https://www.codechef.com/problems/ALPHABET
- Problem Code - ALBHABET
- @Ayush7614 @Amit366 @Saurabh4626 please assign me this.

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-06-18 18:45] rajeshkumar2024 opened #1200 "ATM of Codechef under LGMSOC'21"
# Aim

- Want to add Solution of ATM of Codechef under LGMSOC'21

# Details

- Problem link - https://www.codechef.com/problems/HS08TEST
- Problem code - HS08TEST

### Language used - Java

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-06-18 18:48] rajeshkumar2024 opened #1201 "Small Factorials of Codechef under LGMSOC'21"
# Aim

- want to add solution of Small Factorials of Codechef under LGMSOC'21

# Details

- Problem link - https://www.codechef.com/problems/FCTRL2
- Problem code - FCTRL2

## Language used - Python

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-18 18:50] rajeshkumar2024 opened #1202 "The Lead Game of Codechef under LGMSOC'21"
# Aim

- Want to add solution of The Lead Game of Codechef under LGMSOC'21.

# Details

- Problem link - https://www.codechef.com/problems/TLG
- Problem code - TLG

## Language used - Java

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-06-18 18:53] rajeshkumar2024 opened #1203 "Total Expenses of Codechef under LGMSOC'21"
# Aim

- Want to add solution of Total Expenses of Codechef under LGMSOC'21

# Details

- Problem Link - https://www.codechef.com/problems/FLOW009
- Problem code - FLOW009

## Language used - Java

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-18 18:57] rajeshkumar2024 opened #1204 "Racing Horses of CodeChef under LGMSOC'21"
# Aim

- Want to add solution of Racing Horses from Codechef under LGMSOC'21.

## Language used - Java

# Details

- Problem link - https://www.codechef.com/problems/HORSES
- Problem code - HORSES

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-06-18 20:48] Pratik57 commented on #1166
Assign me in C under LGMSOC21 @Ayush7614 @Amit366 @Saurabh4626

[2021-06-18 20:54] PawandeepKaur2405 opened #1205 "Building a balanced BST from sorted Array"
**Is your feature request related to a problem? Please describe.**
Problem Name : To build a height balanced BST using sorted Array given by the user

**Describe the solution you'd like**
Kindly assign me this issue as a part of HCSSoC. I would like to add fully commented solution to this problem

**Additional context**
Link to this problem on leetcode :
[Question link ](https://leetcode.com/probl

[2021-06-18 21:04] PawandeepKaur2405 opened #1206 "Painter Partition Problem"
**Is your feature request related to a problem? Please describe.**
Problem name : Painter partition problem
Given length of N different boards and M painter available, a painter paints 1 unit of board in 1 unit of time and each painter will paint consecutive boards. Find the minimum time that will be required to paint all the boards.

**Describe the solution you'd like**
Kindly assign me this issu

[2021-06-18 21:25] PawandeepKaur2405 opened #1207 "[Leetcode]Recover Binary Search Tree"
## About

Kindly assign me "Recover Binary Search Tree" problem. I would like to add my solution to this problem in C++

## Description

2 nodes of a BST are swapped. Our task is to restore the BST
[Leetcode link to this problem](https://leetcode.com/problems/recover-binary-search-tree/)

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-18 22:40] Aryan-Srivastava opened #1208 "[Geeks For Geeks] Lucky alive person in a circle."
# Aim

- will be adding solution for [lucky alive person in a circle.](https://practice.geeksforgeeks.org/problems/lucky-alive-person-in-a-circle1229/1) in GFG folder.

# Details

-  Level of the Question - _**Medium**_.
- Topic - _**Bit Manipulation**_

- Given N people standing in a circle where 1st is having a sword, find the luckiest person in the circle, if, from 1st soldier who is having a s

[2021-06-19 00:49] AvneetSingh2001 opened #1209 "[Leetcode] Flatten Binary Tree to Linked List"
## Aim
#### Want to add solution of "Flatten Binary Tree to Linked List" from Leetcode.
Kindly assign me this problem. I would like to add my solution to this problem in C++

## Details
Leetcode Problem Link :  [https://leetcode.com/problems/flatten-binary-tree-to-linked-list/](https://leetcode.com/problems/flatten-binary-tree-to-linked-list/)

### Problem Description:
Given the root of a binary t

[2021-06-19 00:59] AvneetSingh2001 opened #1210 "Online Stock Span [Leetcode]"
## Aim
#### Want to add solution of "Online Stock Span" from Leetcode.
Kindly assign me this problem. I would like to add my solution to this problem in C++ using Stacks.
## Details
Leetcode Problem Link :  [https://leetcode.com/problems/online-stock-span/](https://leetcode.com/problems/online-stock-span/)
#### Difficulty : Medium
#### Implemented using Stacks.
#### TC : O( N )

### Programming la

[2021-06-19 02:40] ashutosh887 commented on #1164
Assign this to me !
I can do this in C++

[2021-06-19 02:41] ashutosh887 commented on #1159
Hey!
Should I work on this ?

[2021-06-19 03:59] #929 closed

[2021-06-19 04:08] kamleshjoshi8102 opened #1212 "Can Make Palindrome from Substring (Leetcode-Medium)"
# Aim

Given a string s, we make queries on substrings of s.

For each query queries[i] = [left, right, k], we may rearrange the substring s[left], ..., s[right], and then choose up to k of them to replace with any lowercase English letter.

If the substring is possible to be a palindrome string after the operations above, the result of the query is true. Otherwise, the result is false.

Return an

[2021-06-19 04:08] kamleshjoshi8102 commented on #1212
@Ayush7614 I want to provide my C++ Code Under HCSSoC

[2021-06-19 05:11] ChetasShree opened #1213 "Dice Tower question on Codeforces"
hi, I want to solve this issue using C++
Please assign this issue to me under LGM-SOC21 and HCSSoC .
Looking forward to contribute here...

Question link: https://codeforces.com/contest/225/problem/A
@Ayush7614

[2021-06-19 05:39] singhmansi25 commented on #1159
In which programming language, as I'm going to do in C++ !!!!!!!!

[2021-06-19 05:46] rahulsrivastava1 commented on #1047
Hey @Saurabh4626 review my work and share your comments.

[2021-06-19 05:56] nisha331 opened #1215 "Add contributors section in readme"
**Is your feature request related to a problem? Please describe.**
Contributors section could be added

[2021-06-19 06:07] ashutosh887 commented on #1159
I can do with JAVA
Is it assigned to you ?

[2021-06-19 06:12] PradeepBaipadithaya commented on #1167
Ok, Thank you @JahnaviKashyap19

[2021-06-19 06:20] PradeepBaipadithaya opened #1216 "Elevation of Suffix expression using C"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-19 06:22] PradeepBaipadithaya commented on #1216
Can i try this

[2021-06-19 07:14] singhmansi25 commented on #1159
Not yet !! But I have opened the issue.

[2021-06-19 08:02] Amit366 commented on #715
@TasnimAnas and @rajeshkumar2024 I am closing this issue as almost everyone's code will be almost same as there is nothing much to add. So due to plagiarism I am closing this issue.

[2021-06-19 08:02] #715 closed

[2021-06-19 08:27] Harikrishnaa3131 commented on #1183
Can I do this in Python?

[2021-06-19 09:09] PradeepBaipadithaya opened #1221 "Traversal method for binary tree in C"
**Is your feature request related to a problem? Please describe.**
This code will be useful for the students who learn Data structures in C

**Describe the solution you'd like**
I will use recursion to solve this problem

**Describe alternatives you've considered**
Using Loops we can traverse binary tree

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-06-19 09:09] PradeepBaipadithaya commented on #1221
Can i try this.

[2021-06-19 09:46] #1183 closed

[2021-06-19 10:03] 19bce502 opened #1222 "Longest Consecutive Sequence"
**AIM**
Given an unsorted array of integers nums, return the length of the longest consecutive elements sequence.

Please Assign me under LGM SOC .I will be solving in C++ language.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-19 10:07] Ashu-1309 commented on #1164
I want to work on this program .
kindly assign me the work.

[2021-06-19 10:08] Ashu-1309 commented on #1163
I want to do the program kindly assign me the work .

[2021-06-19 10:09] Ashu-1309 opened #1223 "Sorting Array using Python"
# Aim

- What is the objective of the Script

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-19 10:09] KishkinJ10 commented on #1081
@ravikr126 Sir assign me this issue  for C i have created an issue

[2021-06-19 10:11] Ashu-1309 commented on #1201
I want to work on this program kindly assign me.

[2021-06-19 10:12] #891 closed

[2021-06-19 10:12] Ashu-1309 commented on #1222
Can I try this program using python. Kindly allow me.

[2021-06-19 12:35] manognyaa opened #1225 "longest sub array using c++"
AIM :
to give output of longest sub array  with the sum
**Describe the solution you'd like**
I will be using c++ language for this  @Ayush7614  sir.

**Additional context**
Add any other context or screenshots about the feature request here.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

I would like to work on this issue sir, please assign me @Ayush7614  sir

[2021-06-19 12:46] manognyaa opened #1226 "alive - dynamic problem"
#### Aim:
There are n people in a circle waiting to be executed, starting from any position, a person starts executing the a'th person ahead of her, then the person after the one who is executed repeats the same task, as there will be only one person surviving, we have to find the person who will remain alive.

**Describe the solution you'd like**
This will come under dynamic problems folder.
I wi

[2021-06-19 13:23] ShivanshuVishnoi commented on #1203
@Ayush7614 @Amit366 @ravikr126 @Saurabh4626 Please Assign me this issue. I will solve this problem in C++.
LGM-SOC'21

THANK YOU

[2021-06-19 13:38] ShivanshuVishnoi commented on #1176
@Ayush7614 @Amit366 @ravikr126 @Saurabh4626 Please Assign me this issue. I will solve this problem in C++.
LGM-SOC'21

Thank you

[2021-06-19 14:25] siddhi-244 commented on #1225
Can I try in python?

[2021-06-19 14:25] siddhi-244 commented on #1223
Can I try in c++

[2021-06-19 14:38] ravikr126 commented on #1176
Go ahead @Khushi260

[2021-06-19 14:58] #432 closed

[2021-06-19 15:06] #316 closed

[2021-06-19 15:11] #762 closed

[2021-06-19 15:14] #924 closed

[2021-06-19 15:26] agamgupta2015 opened #1230 "First Missing Positive LeetCode (Hard)"
**Additional context**
Q :-Given an unsorted integer array nums, find the smallest missing positive integer.
You must implement an algorithm that runs in O(n) time and uses constant extra space.
### https://leetcode.com/explore/interview/card/top-interview-questions-hard/116/array-and-strings/832/
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python
I want to work on this issue

[2021-06-19 15:34] #736 closed

[2021-06-19 15:35] #630 closed

[2021-06-19 15:41] Khushi-agarwal commented on #1110
@Amit366 kindly assign me this issue.

[2021-06-19 15:47] harsh6768-svg opened #1231 "Maximum possible subtree sum in a tree"
# Aim

Largest subtree sum in a tree

# Details

- This is the most famous question of  GFG asked many times in interview
- We will be provided a binary tree and we will find the maximum possible subtree sum in a tree.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-19 15:51] harsh6768-svg opened #1232 "Find the pair with the given sum in doubly linked list"
# Aim
Asked many times in interview most famous question of GFG

# Details

- We will given the doubly linked list with the target value and we need to find the pair with the given target
- For example:
- Input : head : 1 <-> 2 <-> 4 <-> 5 <-> 6 <-> 8 <-> 9
        x = 7
Output: (6, 1), (5,2)

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-19 15:54] harsh6768-svg opened #1233 "Rotate the doubly Linked list with n no nodes provided"
# Aim

- Most Famous Question of GFG asked many times in interview also

# Details

- We will be provided a doubly linked ist and with n no of swaps
- We will try to rotate the linked list
- For example:
- Input : a  b  c  d  e  f  g  h   N = 4
Output : e  f  g  h  a  b  c  d

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-19 16:40] Obito2002 commented on #753
@Amit366 please review PR no. #1177 which adds the solution in c. language

[2021-06-19 17:30] Surajvatsya opened #1236 "CHOCOLA CHOCLATE problem (Spoj)"
# Aim

We are given a bar of chocolate composed of m*n square pieces. One should break the chocolate into single squares. Parts of the chocolate may be broken along the vertical and horizontal lines as indicated by the broken lines in the picture.

# Details

A single break of a part of the chocolate along a chosen vertical or horizontal line divides that part into two smaller ones. Each break of

[2021-06-19 17:31] Mugdha-Hazra opened #1237 ""Hail XOR" Problem of CodeChef"
# Aim

I want to add the code for the "Hail XOR" problem in CodeChef.

# Details

Problem name: Hail XOR
Problem Code:  HXOR
Problem link: https://www.codechef.com/DEC20B/problems/HXOR

Please assign me this issue
LGM-SOC Participant

### Programming language
**C++**
- [ ] C
- [X] C++
- [ ] Java
- [ ] Python

Hello @prudhvirajstark @cmulay @VinayakMohite4040 @shantamsultania @Sumanth2905 sir, I th

[2021-06-19 17:36] Mugdha-Hazra opened #1239 ""Positive Prefixes" problem in CodeChef"
# Aim

I want to add the code for the **"Positive Prefixes"** problem in CodeChef.

# Details

Problem name: Positive Prefixes
Problem Code:  POSPREFS
Problem link: https://www.codechef.com/DEC20B/problems/POSPREFS

Please assign me this issue
LGM-SOC Participant

### Programming language
**C++**
- [ ] C
- [X] C++
- [ ] Java
- [ ] Python

Hello @prudhvirajstark @cmulay @VinayakMohite4040 @shantams

[2021-06-19 18:22] ShivanshuVishnoi opened #1241 "Kids With the Greatest Number of Candies"
# Aim

- I would like to add a Problem in LeetCode Folder.
# Details

- I would like to add Kids With the Greatest Number of Candies Problem of leetcode.
- https://leetcode.com/problems/kids-with-the-greatest-number-of-candies/
- LGM-SOC'21
### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-19 18:23] ShivanshuVishnoi commented on #1241
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will solve it in C++.
LGM-SOC'21

Thank You

[2021-06-19 18:28] sardonicankita commented on #718
@Ayush7614  @Amit366 Kindly merge the pr #1242 .

[2021-06-19 18:46] surbhi594 opened #1244 "Pascal Triangle (Leetcode)"
I would like to add this question in C++ language.

![Screenshot (83)](https://user-images.githubusercontent.com/71223742/122652435-7b413700-d15c-11eb-8d6e-2aa2a04ec3d7.png)

[2021-06-19 19:03] Saurabh4626 commented on #1222
@Ashu-1309  do in python only
@19bce502  do in c++

[2021-06-19 19:37] Aryan-Srivastava commented on #1208
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I will solve it in java.
LGM-SOC'21

Thank You

[2021-06-19 22:14] Saup21 opened #1247 "Find the Duplicate Number LEETCODE"
# Finding duplicate number in an array

# Details

- The objective is to find the number that appears more than once in an array using 2-pointer

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-20 03:27] richabh456 opened #1248 "can i add jospheus problem via recursion."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots

[2021-06-20 03:28] vanishasamriddhi opened #1249 "CodeChef Bytelandian gold coins"
I want to give the solution of this amazing question that I recently solved on CodeChef.
https://www.codechef.com/problems/COINS

**Additional context**
Add any other context or screenshots about the feature request here.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-20 04:06] Atif0604 commented on #1241
i want to do in c language @Saurabh4626

[2021-06-20 04:08] akash435 opened #1250 "Unlucky Ticket of Codeforces"
Want to add the solution of this codeforces question "Unlucky Ticket",
The ques code for this is 160 - B in codeforce.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-20 04:08] akash435 commented on #1250
@Ayush7614 , please assign me this under LGM SOC, can add the solution of this ques in codeforces section.

[2021-06-20 04:21] #1055 closed

[2021-06-20 05:14] siddhi-244 commented on #1241
Can I do in python ? Under lgmsoc

[2021-06-20 05:38] Wittty-Panda commented on #1226
can i do in python ?

[2021-06-20 05:40] harshita9621 commented on #1247
Can I work on this issue?

[2021-06-20 05:44] harshita9621 commented on #1244
Can I work on this issue?

[2021-06-20 05:47] harshita9621 commented on #1230
I want to work on this issue

[2021-06-20 05:48] shrutigrover25 commented on #1215
I want to contribute to the readme section. kindly assign me this issue as a part of LGMSOC.

[2021-06-20 07:06] #186 closed

[2021-06-20 07:22] ChetasShree commented on #1213
Can this issue be assigned under HCSSoC also ,if one issue can be assigned under one program ,then pls assign this issue under HCSSoC? @Saurabh4626

[2021-06-20 07:23] #430 closed

[2021-06-20 07:24] #484 closed

[2021-06-20 07:27] #1132 closed

[2021-06-20 07:28] KishkinJ10 opened #1254 "Bitonic Subsequences"
# Aim

Adding Bitonic Subsequences
what is Bitonic sequence : first strictly increasing and then
strictly decreasing or entirely decreasing or increasing

# Details

- A new Algorithm

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-20 07:29] KishkinJ10 commented on #1254
@ravikr126 @Ayush7614 Assign this to me I want to add a detailed solution .

[2021-06-20 07:32] #965 closed

[2021-06-20 07:33] rahulsrivastava1 commented on #1049
hey @Saurabh4626 review it please

[2021-06-20 07:35] Amit366 commented on #771
@shrutigrover25 mention the language

[2021-06-20 07:36] #479 closed

[2021-06-20 07:37] #939 closed

[2021-06-20 07:37] #934 closed

[2021-06-20 07:53] kumarshobhit opened #1257 "Permutations of Array"
**Is your feature request related to a problem? Please describe.**
I want to add the solution for the Problem Permutations which states to return all the possible permutations of the given array
[Problem Link]https://leetcode.com/problems/permutations/

**Describe the solution you'd like**
I would solve the problem using recursion.

**Describe alternatives you've considered**
An Alternate solution

[2021-06-20 08:00] siddhi-244 commented on #669
Plzz assign me in python

[2021-06-20 08:04] ShivanshuVishnoi commented on #665
@Amit-45 @Saurabh4626 @Ayush7614 @ravikr126 Please assign me. I will solve it in C++.
LGM-SOC'21

Thank You

[2021-06-20 08:06] Amit366 commented on #669
@siddhi-244 its done in python

[2021-06-20 08:08] Amit366 commented on #665
@ShivanshuVishnoi someone else is working on it

[2021-06-20 08:08] siddhi-244 commented on #669
C ?

[2021-06-20 08:11] apran-vs commented on #665
I will have to make new pull request or old pull request will be counted

[2021-06-20 08:12] Amit366 commented on #665
I didn't get u.

[2021-06-20 08:14] apran-vs commented on #665
I already made pull request for issue.

[2021-06-20 08:19] Amit366 commented on #665
Yeah so it will be counted if it is in correct format

[2021-06-20 08:25] kumarshobhit commented on #1065
Would like to contribute in java language

[2021-06-20 08:33] SNEHAL311998 commented on #877
I jave already created a pull request please look into it

[2021-06-20 08:35] Umesh-01 opened #1263 "add more badges and move them to the top"
**Is your feature request related to a problem? Please describe.**
I think badges should be at the top of README.md file. Here (see the image below) they are not looking good.

![image](https://user-images.githubusercontent.com/83420185/122667420-7f0ea100-d1d0-11eb-932f-439a93da9c80.png)

add more badges to the top of readme.md file, since the badges will be colorful and more attractive at the top

[2021-06-20 08:38] Umesh-01 commented on #1263
@Ayush7614 @Amit366  should I work on this??

[2021-06-20 08:56] siddhi-244 commented on #1250
Can I try in python ?

[2021-06-20 08:56] siddhi-244 commented on #1249
Can I try in python?

[2021-06-20 09:06] #783 closed

[2021-06-20 09:07] #895 closed

[2021-06-20 09:12] agamgupta2015 opened #1267 "Boggle (Find all possible words in a board of characters) (Hard)(Using Depth first Search)"
I want to work on this issue

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-20 09:29] akash-rajak opened #1271 "Solution of probem TL in codeforces"
Want to add solution of TL question in codeforces.
The question code  for this is 350 A.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-20 09:37] gospeller986 commented on #1046
i would like to provide the solution for this can you plz assign me this @Ayush7614

[2021-06-20 09:39] Mugdha-Hazra commented on #1237
thank you, @Saurabh4626 sir, for assigning me this issue I have create the pull request can you please review it.

[2021-06-20 10:00] Isha307 opened #1274 "Solution of Shortest Common Supersequence of LeetCode"
# Aim

- Wants to add the solution of Shortest Common Supersequence of LeetCode

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-20 10:03] Isha307 commented on #1274
@Ayush7614 @Saurabh4626 Please assign me this issue.

[2021-06-20 11:44] ravikr126 commented on #1122
You can work on it @Debargha-arch

[2021-06-20 11:46] #758 closed

[2021-06-20 12:10] rakesh419s commented on #1208
please assign me the above problem statement in python

[2021-06-20 12:40] surbhi594 opened #1280 "Largest Odd number in String (Leetcode)"
![Screenshot (108)](https://user-images.githubusercontent.com/71223742/122674388-8f377800-d1f2-11eb-94c5-80b869ba1f55.png)
 I want to add the solution in the C++ language.

[2021-06-20 13:51] PawandeepKaur2405 commented on #1206
@Saurabh4626 @ravikr126 @Ayush7614 Please Assign me this issue. I want to solve it in C++
LGM-SOC'21

Thank You

[2021-06-20 14:19] abhisheks008 commented on #1123
@Saurabh4626 Please check this PR

[2021-06-20 14:30] gospeller986 commented on #1067
i can do in c++ please do assign me @Saurabh4626 @Ayush7614

[2021-06-20 14:35] gospeller986 commented on #1067
i have the pull request ready ... i can send the pull request as soon as you assign me @Saurabh4626

[2021-06-20 14:56] Jagannath8 commented on #1155
Can I do in Java? I'm a participant of LGM Soc21.

[2021-06-20 14:57] Jagannath8 commented on #1102
Can I do in Java? I'm a participant of LGM Soc21.

[2021-06-20 14:58] Jagannath8 commented on #1037
Can I do in Java? I'm a participant of LGM Soc21.

[2021-06-20 14:58] Jagannath8 commented on #1004
Can I do in Java? I'm a participant of LGM Soc21.

[2021-06-20 15:16] JahnaviKashyap19 opened #1285 "Moore's Voting Algorithm"
Want to add the solution to this problem using Moore's voting algorithm in c and c++ under LGM SoC'21.
https://practice.geeksforgeeks.org/problems/majority-element-1587115620/1#. Kindly assign it to me.

### Programming language
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-20 15:40] ShivanshuVishnoi opened #1286 "All Priority Queue Operations using Array and Linked List Implementation"
# Aim

- I would Like to contribute in Data Structure Folder.
- I would like to add All Priority Queue Operations like Enqueue, Dequeue, Display etc using Array and Linked List Implementation in a single Code.
- LGM-SOC'21

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-20 15:41] ShivanshuVishnoi commented on #1286
@Saurabh4626 @Amit366 @Ayush7614 @ravikr126 Please Assign me this issue. I will Solve it in C++.
LGM-SOC'21

Thank You

[2021-06-20 15:47] ShivanshuVishnoi opened #1287 "Reverse Linked List Using Stack Data Structure"
# Aim

- I would like to add this in Data Structure Folder.

# Details

- I would like to Add Code of Reverse Linked List using Stack Data Structure.
- LGM-SOC'21

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-20 15:47] kamleshjoshi8102 commented on #1280
Can I add in python ? under LGMSOC'21

[2021-06-20 15:48] ShivanshuVishnoi commented on #1287
@Ayush7614 @Amit366 @Saurabh4626 @ravikr126 Please Assign me this issue. I will solve this in C++.
LGM-SOC'21

Thank You

[2021-06-20 15:49] kamleshjoshi8102 commented on #1250
@Saurabh4626 sir my issues were closed of Codeforces stating you weren't accepting CF questions @Amit366 @Ayush7614 sir why ?

[2021-06-20 15:49] kamleshjoshi8102 commented on #1250
Can  I contribute in C language under LGMSOC'21

[2021-06-20 15:50] kamleshjoshi8102 commented on #1249
Can I provide my code in C/C++ under LGMSOC'21

[2021-06-20 15:51] kamleshjoshi8102 commented on #1244
Can I provide my code in c under Lgmsoc'21

[2021-06-20 15:52] kamleshjoshi8102 commented on #1231
can I provide my code in Java under LGMSOC21 @Saurabh4626

[2021-06-20 15:54] kamleshjoshi8102 commented on #1232
@Ayush7614 @Saurabh4626 Can I try this in C under LGMSOC'21

[2021-06-20 17:57] siddhi-244 commented on #1244
Can I try in python under lgmsoc ?

[2021-06-20 17:58] siddhi-244 commented on #1237
Can I try in python ?

[2021-06-20 17:59] siddhi-244 commented on #1231
Can I try in python under lgmsoc?

[2021-06-20 18:00] siddhi-244 commented on #1230
Can I try in python ?

[2021-06-20 18:01] Khushi-agarwal opened #1289 "Chefland Visa from code chef"
**Is your feature request related to a problem? Please describe.**
I would like to add the solution of the chef land visa question from code chef.
Please assign me this issue under lgm-soc

### Programming language

- [x] C
- [x] C++
- [x] Java
- [x] Python

[2021-06-20 18:02] Khushi-agarwal commented on #1110
@Saurabh4626 @Ayush7614 please assign me this issue.

[2021-06-20 18:56] manuvarghese0603 commented on #1289
I would like to solve this in python
Please assign me this issue under lgm-soc

[2021-06-20 19:39] rakesh419s commented on #757
please assign me the above problem statement in Python

[2021-06-20 19:41] rakesh419s commented on #973
Assign me above problem statement in java

[2021-06-20 20:26] priyaastha opened #1292 "Strange Array - Codeforces"
# Aim

- I want to add the solution of strange array from codeforces

# Details

- This will be the solution for a codeforces problem "Strange Array"
- Question Code - 1539F
- Link to the problem - https://codeforces.com/problemset/problem/1539/F

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-20 22:55] 31081998 commented on #1230
can I resolve this issue in java and c language?

[2021-06-21 03:37] ChetasShree opened #1295 "Mountain Scenery question on Codeforces"
hi, I want to solve this issue using C++
Please assign this issue to me under HCSSoC (Hack Club SRM Summer of Code) .
Looking forward to contribute here...

Question link: https://codeforces.com/contest/218/problem/A
@Ayush7614

[2021-06-21 04:36] sejal1430 commented on #1257
@Ayush7614, @Amit366 I would like to add solution to this problem in Java. Please assign me this issue.

[2021-06-21 04:46] Arushi247 commented on #1280
@Saurabh4626 @Ayush7614 Can I provide my code in C ? under HCSSoC

[2021-06-21 05:54] vishulearnere opened #1303 "Maximum Product of Two Elements in an Array in o(n) time."
# Aim

-I want to add the solution of this question in C++ under LGM SoC'21.

https://leetcode.com/problems/maximum-product-of-two-elements-in-an-array/

Sir, Please assign it to me.

### Programming language
C++

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-21 06:06] neha030 opened #1305 "Median of two Sorted Array of equal size"
I want to add a C++ code for finding the median of two sorted array of equal size in the data structure folder .
I am a LGM-SOC Participant
Please assign me this issue

[2021-06-21 06:12] vishulearnere opened #1306 "Product of Array Except Self"
# Aim

I would like to add the solution of this problem in leetcode folder of DS-ALGO-Practice.

# Details
Problem:-Product of Array Except Self
I will be  submitting the solution in C++ language.

Link:- https://leetcode.com/problems/product-of-array-except-self/

I would like to work on this issue Under LGM-SOC'21.
@Ayush7614 @Saurabh4626 @ravikr126 sir Please assign it to me.

### Programming l

[2021-06-21 06:14] Ayan-thecodeking commented on #1305
I would like to work on this issue Under LGM-SOC'21.
In java language
@Ayush7614 @Saurabh4626 @ravikr126 sir Please assign it to me.

[2021-06-21 06:15] Ayan-thecodeking commented on #1303
I would like to work on this issue Under LGM-SOC'21.
in java language
@Ayush7614 @Saurabh4626 @ravikr126 sir Please assign it to me.

[2021-06-21 06:17] Ayan-thecodeking commented on #1169
I would like to work on this issue Under LGM-SOC'21.
in java language
@Ayush7614 @Saurabh4626 @ravikr126 sir Please assign it to me.

[2021-06-21 06:18] Ayan-thecodeking commented on #1141
I would like to work on this issue Under LGM-SOC'21.
in java language
@Ayush7614 @Saurabh4626 @ravikr126 sir Please assign it to me.

[2021-06-21 06:22] surajm-333 commented on #1244
I would like to code this problem in Java. Can you please assign this issue to me?

[2021-06-21 06:24] Ashu-1309 commented on #1222
Okay

[2021-06-21 06:38] vishulearnere opened #1308 "Range Sum Query - Immutable(Leetcode)"
# Aim
- I would like to add the solution of this problem in Leetcode folder of DS-ALGO-Practice.

# Details
- Problem:-Range Sum Query - Immutable.
- Link:-https://leetcode.com/problems/range-sum-query-immutable/
-
- I would like to work on this issue Under LGM-SOC'21.
@Ayush7614 @Saurabh4626 @ravikr126 sir Please assign it to me.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Pytho

[2021-06-21 06:45] vishulearnere opened #1310 "Third Maximum Number"
# Aim

I would like to add the solution of this problem in Leetcode folder of DS-ALGO-Practice.

# Details
Problem:-Third Maximum Number
I will be submitting the solution in C++ language.

Link:-https://leetcode.com/problems/third-maximum-number/

I would like to work on this issue Under LGM-SOC'21.
@Ayush7614 @Saurabh4626 @ravikr126 sir Please assign it to me.

### Programming language

- [ ] C
-

[2021-06-21 06:57] #1310 closed

[2021-06-21 07:16] Royal-Akash commented on #1099
I would like to contribute and work on this issue as a participant of LGM SOC'21 will you please assign it to me.

I would like to implement in C++ language.

[2021-06-21 07:17] 19bce502 opened #1312 "Largest subarray with 0 sum"
Aim :
Given an array having both positive and negative integers. The task is to compute the length of the largest subarray with sum 0.

Please assign me this problem under LGM SOC  . I will be doing in C++.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-21 08:24] #1249 closed

[2021-06-21 08:41] anusham14 commented on #1208
please assign me this issue in C++. Thank you

[2021-06-21 09:02] Arushi247 commented on #1303
@Ayush7614 @Saurabh4626 I'd like to work on this issue in C language under HCSSoC

[2021-06-21 09:05] Arushi247 commented on #1306
@Ayush7614 @Saurabh4626 I'd like to work on this issue in C language under HCSSoC

[2021-06-21 09:05] Arushi247 commented on #1247
@Ayush7614 @Saurabh4626 I'd like to work on this issue in C language under HCSSoC

[2021-06-21 09:13] Arushi247 commented on #1287
@Ayush7614 @Saurabh4626 I'd like to work on this issue in C language under HCSSoC.

[2021-06-21 09:17] agamgupta2015 commented on #811
@Ayush7614 @Amit366  please assign this issue

[2021-06-21 09:20] agamgupta2015 opened #1314 "Luhns_Algorithm"
I want to work on this issue

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-21 09:31] #423 closed

[2021-06-21 09:36] #672 closed

[2021-06-21 09:47] #665 closed

[2021-06-21 09:50] Amit366 commented on #991
@tirth5828 do in java

[2021-06-21 09:52] #604 closed

[2021-06-21 10:11] siddhi-244 commented on #1274
Can I try in python ?

[2021-06-21 10:12] siddhi-244 commented on #1271
Can I try in python ?

[2021-06-21 10:13] #928 closed

[2021-06-21 10:29] Rajspeaks opened #1315 "Added Print Ancestors of a given node in Binary Tree"
Added Print Ancestors of a given node in Binary Tree

[2021-06-21 10:47] dpshikha476 opened #1318 "Find Next greater element using stack"
Problem Link : https://practice.geeksforgeeks.org/problems/next-larger-element-1587115620/1

I would I like to add solution of this problem under LGM-SOC'21. Language - C++
Pls assign this to me.

[2021-06-21 10:49] #917 closed

[2021-06-21 10:50] #922 closed

[2021-06-21 10:52] rahulsrivastava1 commented on #1047
Hey @Saurabh4626 review

[2021-06-21 10:52] Rajspeaks opened #1320 "Added Print Ancestors of a given node in Binary Tree"
https://github.com/Ayush7614/Daily-Coding-DS-ALGO-Practice/blob/8ce15ed252430289f1e6c767f768faa2b9f5129d/Gfg/Print%20Ancestors%20of%20a%20given%20node%20in%20Binary%20Tree.cpp#L1-L78

[2021-06-21 10:53] #1315 closed

[2021-06-21 10:53] Ayush7614 commented on #1231
Go Ahead @siddhi-244 @kamleshjoshi8102

[2021-06-21 10:56] #1163 closed

[2021-06-21 11:06] Rajspeaks opened #1321 "Added Print Ancestors of a given node in Binary Tree"
https://github.com/Ayush7614/Daily-Coding-DS-ALGO-Practice/blob/9a54a9810e6db5b8e6434e1ed117a14385f9fabc/Gfg/Print%20Ancestors%20of%20a%20given%20node%20in%20Binary%20Tree.cpp#L1-L83

[2021-06-21 11:07] #1320 closed

[2021-06-21 11:21] neha030 opened #1322 "Kth Largest Element in an Array"
I want to solve this issue using C++
Please assign this issue to me under HCSSoC (Hack Club SRM Summer of Code) .
Looking forward to contribute

@Ayush7614

[2021-06-21 11:38] Harikrishnaa3131 commented on #1280
Can I provide my code in C++ ? under HCSSoC

[2021-06-21 11:39] apran-vs commented on #1322
I want to solve this issue in python.

[2021-06-21 11:44] apran-vs commented on #1208
I would like to solve this issue in python

[2021-06-21 12:59] PriyankaHotchandani commented on #1305
I would like to solve this in Python. Please assign it to me under LGM-SoC'21.

[2021-06-21 13:00] Palak2801 opened #1328 "Reverse a Linked List in groups of given size"
**Is your feature request related to a problem? Please describe.**
Reverse a Linked List in groups of given size

**Describe the solution you'd like**
Implementation of reversing every k nodes in linked list using C++

Example:

Input: 1->2->3->4->5->6->7->8->NULL, K = 3
Output: 3->2->1->6->5->4->8->7->NULL

**Describe alternatives you've considered**
A clear and concise description of any alterna

[2021-06-21 13:01] Palak2801 commented on #1328
@Amit366 @Ayush7614 @ravikr126 @Saurabh4626 , Kindly assign me this issue using C++ under LGMSOC

[2021-06-21 13:05] ravikr126 commented on #1328
Already raised issue @Palak2801

[2021-06-21 13:05] #1328 closed

[2021-06-21 13:07] PalakDua-work opened #1329 "Find the range of the array in C language."
Range means	the	difference between	the	maximum and	minimum	element	in	the	array.
Sample Input: 6
                      -1 -2  -3  4 5 6
Sample Output: 7
I wan to give the solution for C language.
@Ayush7614  @Saurabh4626 @ravikr126  Please assign me this task under LGM-SOC'21

[2021-06-21 13:11] PalakDua-work opened #1331 "Check whether n is present in an array of size m or not In C language."
n is the number u want to check which would given by the user.
Sample Input:
5
2
1 2 3 4 5
Output : True/false
I wan to give solution in C language.
@Ayush7614  @Saurabh4626 @ravikr126  Please assign me this task under LGM-SOC'21