[2020-12-28 05:56] Ayush7614 opened #1 "Add more questions related to strings linked list"
Solve more hackerank Linked list strings questions(unsolved in this repo) related to Linked list strings and send a PR

[2020-12-28 05:57] Ayush7614 opened #2 "Questions on Array"
Solve more questions on Array

[2020-12-28 05:58] Ayush7614 opened #3 "Questions on stack"

[2020-12-30 03:04] Rohit-FSD commented on #2
@Ayush7614  assign me this task.

[2020-12-30 04:16] Ayush7614 commented on #2
bro project is under contest so i am unable to assign you this time

[2020-12-30 06:16] Rohit-FSD commented on #2
@Ayush7614 okay!

[2021-01-30 16:48] Ayush7614 opened #4 "Added questions in Java Language"

[2021-01-30 16:48] Ayush7614 opened #5 "Added Questions in Python"

[2021-01-30 16:48] Ayush7614 opened #6 "Added Questions in Tress Graphs"

[2021-05-09 13:49] Ayush7614 opened #7 "Added questions on Data Structures"

[2021-05-09 13:49] Ayush7614 opened #8 "Added questions on Algorithms"

[2021-05-09 13:50] Ayush7614 opened #9 "Added questions of Hackerank for interview prep"

[2021-05-09 13:51] Ayush7614 opened #10 "Added question of Gfg for interview"

[2021-05-09 13:51] Ayush7614 opened #11 "Added question of codechef for interview"

[2021-05-09 13:51] Ayush7614 opened #12 "Added question of leetcode for interview"

[2021-05-09 13:52] Ayush7614 opened #13 "Added question of codeforces for interview"

[2021-05-10 14:23] ananya123-gif commented on #13
Assign me

[2021-05-10 14:26] Ayush7614 commented on #13
go ahead @ananya123-gif

[2021-05-10 14:26] ananya123-gif commented on #7
Assign me

[2021-05-10 14:28] Ayush7614 commented on #7
go ahead @ananya123-gif

[2021-05-10 14:28] ananya123-gif commented on #3
assign me

[2021-05-10 14:28] Ayush7614 commented on #9
go ahead @ananya123-gif

[2021-05-20 12:13] VinayakMohite4040 opened #60 "Branch referenced in git pull is not correct"
**Describe the bug**
In README.md, the command to pull the changes to the local repo is given as
[code]
I think the correct command is
[code]
because the branch in the repo is main not the master.
Soon, I will generate a PR to fix the issue.

**To Reproduce**
Execute the command
[code]
in the repo.

**Expected behavior**
It should have updated the repo with the latest changes from the upstream.

*

[2021-05-20 12:50] #60 closed

[2021-05-21 03:39] #8 closed

[2021-05-25 04:27] Ayush7614 opened #81 "Added questions of Dynamic Programming Algorithms"
# Aim

- Added questions of Dynamic Programming

# Details

-  Added questions of Dynamic Programming

[2021-05-25 04:41] Ayush7614 opened #82 "Added on DP"
# Aim

- Added on DP

# Details

- Added on DP

[2021-05-25 04:45] #82 closed

[2021-05-25 04:45] #81 closed

[2021-05-25 05:01] Ayush7614 opened #83 "Added on Dp"
# Aim

- What is the objective of the Script

# Details

- What the features will your script have

[2021-05-25 05:01] #83 closed

[2021-05-25 05:45] Ayush7614 opened #84 "Welcome to LGM-SOC'21"

[2021-05-26 03:58] Ayush7614 opened #93 "Any type of open source contributers are welcome"

[2021-05-26 03:58] #93 closed

[2021-06-01 03:59] richadubey338 opened #99 "Leetcode locked problems"
# Aim

locked problems on leetcode
# Details

problems and solutions of locked problems on leetcode

[2021-06-01 04:09] Ayush7614 commented on #99
@richadubey338 go Ahead

[2021-06-01 04:32] richadubey338 commented on #99
Hi Ayush!
My name is Richa Dubey. I am a 2nd-year undergraduate from NIT Bhopal. I
wanted to participate in let's grow more summer of code.  I have been
practicing coding since 2nd semester but I am new to open source Could you
please guide me to some extent on how to proceed with this.
I would be very grateful to you for this.

On Tue, 1 Jun 2021 at 09:40, Ayush kumar ***@***.***> wrote:

[2021-06-01 04:57] Ayush7614 commented on #99
Hi Richa you can join discord server for that

On Tue, Jun 1, 2021 at 10:02 AM richadubey338 ***@***.***>
wrote:

[2021-06-01 07:48] pranita736 commented on #5
Assign me.

[2021-06-01 07:52] pranita736 opened #100 "Anagram in Python"
# Aim

- To contribute to LGM-SoC'21.

# Details

- Code for finding Anagram.

[2021-06-01 07:53] pranita736 commented on #100
Assign this to me.

[2021-06-01 07:53] Sumanth2905 commented on #100
Assign this to me in C programming.

[2021-06-01 07:58] Sumanth2905 opened #101 "Sieve of Eratosthenes"
# Aim

- Implementation of the algorithm in C.

# Details

- Algorithm for finding all the prime numbers in a segment [1;n].

[2021-06-01 07:59] Sumanth2905 commented on #101
@Ayush7614 Assign this issue to me.

[2021-06-01 09:37] Ayush7614 commented on #100
@pranita736 you are participant in LGM SOC 21

[2021-06-01 09:37] Ayush7614 commented on #100
@Sumanth2905 and you are also participant In LGM-SOC 21

[2021-06-01 09:39] Ayush7614 commented on #100
I can't assign me this under LGM-SOC 21 Because current the program was not start when program was started then I assigned to you under LGM-SOC'21

[2021-06-01 09:39] pranita736 commented on #100
@Ayush7614 yes, I'm participant in LGM SOC 21

[2021-06-01 09:40] Sumanth2905 commented on #100
@Ayush7614 Yes, I'm a participant in LGM-SoC'21.

[2021-06-01 09:40] Ayush7614 commented on #100
When program was started then I assign to you thus under LGM-SOC 21

[2021-06-01 09:41] pranita736 commented on #100
Okay, I'll wait.

[2021-06-01 09:42] Sumanth2905 commented on #100
Okay, I'll wait.

[2021-06-01 10:48] Ruchip16 commented on #2
@Ayush7614  Can you assign this issue to me for LetsgrowMore-SOC and also I am currently practicing questions on the array from leetcode so I would be able to do this

[2021-06-01 14:52] Ayush7614 commented on #2
Hey @Ruchip16 thanku for intrest but currently the program was not started when it was started then i will assign you this

[2021-06-01 17:15] UG-SEP opened #102 "Binary Search in c"
Hey @Ayush7614,
I wanted to add binary search in c
Please assign me to do it...
Thanks

[2021-06-01 17:21] Ayush7614 commented on #102
Hy @UG-SEP thanks for your intrset but plss tell you are working on this issue under competition or without competition

[2021-06-01 17:28] Ruchip16 commented on #2
@Ayush7614 Okay sure

[2021-06-01 17:28] UG-SEP opened #103 "Different readme files for contributor and how to contribute section"
**Is your feature request related to a problem? Please describe.**
<code>Adding how to contribute and contributor in the same readme.md not look too good it creates the user to scroll much</code>
**Describe the solution you'd like**
<code>I think we should add the contributor name and how to contribute in a different readme file so that makes the work easy and looks good</code>

**Additional conte

[2021-06-01 17:42] UG-SEP commented on #102
under competition

[2021-06-01 17:47] Ayush7614 commented on #102
LGM-SOC'21

[2021-06-01 17:51] Ayush7614 commented on #102
Actually @UG-SEP competition was starting from 10 of June so your contribution for competition was counting from 10 of June

[2021-06-01 17:52] Ayush7614 commented on #102
But if you work without competition then you can work then I will assign you but under competition you work from 10 of June

[2021-06-01 18:03] UG-SEP commented on #102
It's doesn't matter to me. I not working here as a competitor. I am working here as a learner and the LGM-SOC'21 is also organized to contribute and learn

[2021-06-01 18:05] Ayush7614 commented on #102
So brother I will say na you have to work without competition so I will assign you but your Contribution for LGM SOC count by 10 june

[2021-06-01 18:07] Ayush7614 commented on #102
@UG-SEP for your learning purposes I will assign you go Ahead @UG-SEP

[2021-06-01 18:13] UG-SEP opened #104 "Spell checker"
# Aim

Create a spell checker to check whether the comment in the code has the right spelling or not...

# Details

Suppose Someone creates a program to check whether the string is a pangram or not and in the comment, by mistake he/she write the spelling of pangram wrong i.e. `pangam` so the spell check will notify in check that the spelling is wrong i.e.` pangam->pangram`

Can I work on this

[2021-06-01 18:15] sejalvasan commented on #2
Can you please assign this issue to me?

[2021-06-01 18:19] Ayush7614 commented on #2
Under program or without program

[2021-06-01 18:21] Ayush7614 commented on #104
No I have not assign this sorry but I have to close this one because I think we don't have need of this you can working on either open issues

[2021-06-01 18:21] #104 closed

[2021-06-02 01:39] Ayush7614 commented on #2
@sejalvasan I assigned to you but program was start from 10 june so your contribution not count for program for program contribution count from 10 of June but if you work for without program then I assign you but if you work for program then scores will count from 10 of june

[2021-06-02 03:26] Rajdeep-99 commented on #102
I would like to add the binary search

[2021-06-02 03:54] Ayush7614 commented on #102
Sorry @Rajdeep-99 but this issue i alreday assigned to @UG-SEP you can work on other issues

[2021-06-02 04:21] Rajdeep-99 commented on #101
Is this issue assigned? If not I will like to work on it.

[2021-06-02 05:23] Ayush7614 commented on #101
@Rajdeep-99 First you can tell me you can contribute in competition or as without competition

[2021-06-02 05:30] Rajdeep-99 commented on #101
Without competition

[2021-06-02 05:30] Ayush7614 commented on #101
go Ahead

[2021-06-02 05:49] Jagannath8 commented on #100
@Ayush7614  Assign this to me.  I'm participant in LGM SOC 21.

[2021-06-02 05:55] Ayush7614 commented on #100
First you can check the timeline of LGM-SOC 21 program was start from 10 June so from 10 june i will assigned you this will not count towards your contribution in program if you work without program then i will assign you and if you work under program then i will assign from 10 June

[2021-06-02 09:14] Ruchip16 commented on #2
@Ayush7614  hey, reminding that I would be glad to contribute to this issue from 10th June

[2021-06-02 11:12] tech-rounak commented on #11
hey sir could I contibute

[2021-06-02 11:37] Ayush7614 commented on #11
Hy @tech-rounak thanks for your intrset but first tell me you are part of any open source program or you can contribute without program

[2021-06-02 16:06] Rutikab12 opened #105 "Tokenization of String"
Hey, @Ayush7614 I want to contribute the following program in the Data Structure folder as a SOC'21 Participant.

**Tokenization of string**
Tokenizing a string denotes splitting a string with respect to some delimiter. Using strtok().

Assign me if possible. Thank You.

[2021-06-02 16:15] Ayush7614 commented on #105
Actually @Rutikab12  competition was starting from 10 of June so your contribution for competition was counting from 10 of June But if you work without competition then you can work then I will assign you but under competition you work from 10 of June

[2021-06-02 16:20] Rutikab12 commented on #105
Okay, I will be working on this issue from 10 June as part of the competition.

[2021-06-02 16:21] Ayush7614 commented on #105
yess bro then you will read the guidelines and all things

[2021-06-02 16:22] Rutikab12 commented on #105
Sure.

[2021-06-02 16:32] UG-SEP opened #106 "Error: Invalid file path"
Hey @Ayush7614,
Please rename the [sudoku | backtracking-7.cpp](https://github.com/Ayush7614/Daily-Coding-DS-ALGO-Practice/blob/main/Algorithms/Backtracking/Sudoku%20%7C%20Backtracking-7.cpp)
Because window doesn't accept `|` symbol in filename [know more about it](https://gist.github.com/doctaphred/d01d05291546186941e1b7ddc02034d3)
![error](https://user-images.githubusercontent.com/75884061/12051

[2021-06-02 16:35] Ayush7614 commented on #106
Goood @UG-SEP Thanks for informing me

[2021-06-02 16:35] Ayush7614 commented on #106
Now you can work i can fix this

[2021-06-02 17:05] puneetkaur2929 commented on #105
Hey @Ayush7614 ,
Please assign this issue to me as I want to get some idea of open source contributions . So, i am earnestly looking for opportunities.
I ll be solving this using C++ stringstream class.

[2021-06-03 03:48] Ayush12062000 opened #107 "Sorting Algorithm - Topological Sort"
Hey, I'm Ayush, a participant in LGM-SOC. Want to add the Topological sort in the algorithm section. Please assign me this issue.

@Ayush7614

[2021-06-03 06:45] UG-SEP commented on #106
same problem in Hackerrank folder in [Arrays: Left Rotation.cpp](https://github.com/Ayush7614/Daily-Coding-DS-ALGO-Practice/blob/main/Hackerank/Arrays:%20Left%20Rotation.cpp)
![error](https://user-images.githubusercontent.com/75884061/120599453-29fb2d00-c465-11eb-8d92-fea908fb9c60.jpg)
in the file, you use `:` which is restricted in window OS.
so please rename the file

[2021-06-03 06:56] Ayush7614 commented on #106
![Uploading Screenshot_2021-06-03-12-24-59-62.jpg…]()
Actually @UG-SEP many type of contributers are there so many problems was there this was done by any other contributed

[2021-06-03 06:57] Ayush7614 commented on #106
Now I can fix that you can check it now

[2021-06-03 07:00] Ayush7614 commented on #106
And any other problem like this then you can inform me @UG-SEP

[2021-06-03 07:03] shvmsh20 commented on #10
@Ayush7614 can you provide description for this issue.

[2021-06-04 10:44] payaldutta commented on #9
Hey, @Ayush7614 can you assign me this?

[2021-06-04 11:44] simarjeet30 opened #110 "Interview questions : HackerRank"
# Aim :to shortlist questions for students with less time who are looking for placements

# Details : I m having 3 stars in hackerrank problem solving in c++ .My pr would contain all the important questions from hackerrank in c++.

- What the features will your script have
- I will create a single folder and will regularly update it with new questions and make new commits regularily .

[2021-06-04 11:57] #110 closed

[2021-06-04 12:00] simarjeet30 opened #111 "Solved : HackerRank"
# Aim To present the solution of all the problem solving questions in c++

# Details: I m having 4 stars in HackerRank  and I would love to share my solutions which will be very easy to understand .
- What the features will your script have
I will make a single folder and will update it regularly with new commits .

[2021-06-04 13:03] Ritikkumar992 commented on #111
@simarjeet30  I am a 3 star at codechef and a newbie at coderforce . I wish to add questions regarding the same.
Allow me to do so..

[2021-06-04 13:10] Ritikkumar992 commented on #12
Can I contribute on this issue.

[2021-06-04 13:12] Ritikkumar992 commented on #103
Assign me

[2021-06-04 13:13] Ritikkumar992 commented on #84
Assign me

[2021-06-04 13:51] Ayush7614 opened #114 "Update README.md"
Added Contributers in the README.md

[2021-06-04 13:54] archismansaha commented on #84
Hey, I want to contribute in C++ .Assign me

[2021-06-04 13:56] Ayush7614 commented on #84
Firstly LGM-SOC 21 starts from 10 june so your contribution counts from 10 June

[2021-06-04 13:57] Ayush7614 commented on #84
Like contribution means your points currently you can contribute to the project but this is not count in LGM-SOC21 because Program and contribution start from 10 June

[2021-06-04 16:08] tech-rounak commented on #11
sir i have registered for LGM SOC

[2021-06-04 16:18] anirudhsuresh522001 commented on #10
Hi @Ayush7614 , I am interested in this issue,
Is it an issue in which I should create a folder and add the gfg interview problems in it, if yes Can I be assigned with this ?

[2021-06-05 03:34] Ayush7614 commented on #10
Sure @anirudhsuresh522001 but you can tell me you are contribute in competition or without competition

[2021-06-05 03:35] Ayush7614 commented on #11
Okk @tech-rounak but LGM SOC start from 10 June so you can contribute from 10 june for LGM SOC so that you contribution count in score

[2021-06-05 06:23] #114 closed

[2021-06-05 06:24] Ritikkumar992 opened #120 "OCTAT image not working. Can u please short out it."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-06-05 06:25] Ayush7614 commented on #120
@Ritikkumar992 you work on it then i will assign you or i work on it

[2021-06-05 06:26] Ritikkumar992 commented on #120
ok thanks @Ayush7614

[2021-06-05 06:28] Ritikkumar992 commented on #120
@Ayush7614  can u give me some clue how to short out this issue.

[2021-06-05 06:33] Ayush7614 commented on #120
You dont working on this this issue i will fix it

[2021-06-05 06:34] #120 closed

[2021-06-05 06:34] Aiswarika commented on #10
Hi @Ayush7614, is this issue assigned, or can I work on it?

[2021-06-05 06:35] Ritikkumar992 commented on #120
ok thanks

[2021-06-05 06:51] Aiswarika commented on #1
Hey can you please assign me this issue? @Ayush7614

[2021-06-05 07:07] Aiswarika opened #121 "Interview questions on binarysearch"
Hey @Ayush7614, I want to add interview questions on binarysearch site as a part of the LGM SOC contest. Can you please assign me this issue?

[2021-06-05 09:45] anirudhsuresh522001 commented on #10
@Ayush7614 , Either way it is fine, I will work on it.

[2021-06-05 09:46] anirudhsuresh522001 commented on #10
@Ayush7614 , Either way it is fine, I will work on it.

[2021-06-05 09:47] anirudhsuresh522001 commented on #10
@Ayush7614 , Either way it is fine, I will work on it.

[2021-06-05 10:05] Ritikkumar992 opened #128 "Topic wise Leetcode Problem with the difficulty level of Easy to Medium"

[2021-06-05 10:07] Ritikkumar992 commented on #128
Hey @Ayush7617 I wish to add some problem regarding the same . Can u please assign me the task.

[2021-06-05 10:17] coding-geek21 commented on #6
Can you assign me this issue I want to work on this under LGM-SOC

[2021-06-05 10:23] coding-geek21 opened #129 "Longest common subsequence problem under dynamic programming"
I want to contribute to this issue under LGM-SOC , can you please assign me @Ayush7614

[2021-06-05 11:33] Amrutha1101 commented on #4
Hey @Ayush7614, I'm a LGM-SOC'21 participant. I write logic for DSA problems in Java.
So I would like to contribute here from June 10th. Can you assign me this task?

[2021-06-05 14:08] Sakalya100 commented on #5
I am an experienced coder in Python. I can work on it and provide easy to understand solutions.
I am a 3star at Codechef and 5 star in Hackerrank
So Please Assign me

[2021-06-05 14:10] Sakalya100 commented on #2
Hey @Ayush7614 . I would like to contribute to the project and add relevant questions to the repo regularly. Please assign me this under the program on 10th June.

[2021-06-05 14:11] Sakalya100 commented on #4
Hello @Ayush7614 . Please assign this to me under the programme of LGMSoc. I want to contribute to this .

[2021-06-05 14:27] Jaincode123 commented on #6
I want to upload Kahn's and Tarjan's algorithms under this topic. Can you assign this to me?

[2021-06-05 14:29] Nikitajain2606 commented on #6
please assign this to me, i want work on Kosaraju's algorithm and BFS on 2D grid under this topic.

[2021-06-05 15:46] Jaincode123 opened #132 "Problems on Recursion"
Hey, @Ayush7614 I wish to add some problems on recursion, and please ensure this will assign to only me.

[2021-06-05 15:52] Nikitajain2606 opened #133 "Add problems on 0-1 knapsack and its variation in Dynamic programming"
Hii @Ayush7614 I want to add problems in 0-1 knapsack, please assign this issue to only me

[2021-06-05 16:08] #129 closed

[2021-06-05 16:10] Ayush7614 commented on #132
@Jaincode123 go Ahead

[2021-06-05 18:06] Amrutha1101 commented on #4
Hey!
I'm switching over development. So I have deleted the comment I posted.

On Sat, 5 Jun 2021, 7:41 pm Sakalya100, ***@***.***> wrote:

[2021-06-05 20:56] hv65616 commented on #111
**Hello Ayush, This is Himanshu Verma and I am a B.tech from CSE student .**

**I would to love contribute to this particular issue if you provide me the opportunity and assign me the task to do so. I am having
 5 Star in C++ on Hackerrank and also currently having 3 Star in Problem Solving. So if you consider me then please provide me the opportunity.**

**If you wish you can check out my LinkedI

[2021-06-06 08:33] sejal1430 commented on #121
Hey @Ayush7614 ,  I would like to add some interview question on binary search, so could you please assign this issue to me?

[2021-06-06 08:36] sejal1430 commented on #133
hey @Ayush7614, I would like to questions based on dp and 0-1 knapsack, so could you please assign me this issue?

[2021-06-06 08:50] tannu945 commented on #132
Hey, @Ayush7614 I wish to add some more problems on recursion. Please assign this issue to me.

[2021-06-06 08:56] tannu945 commented on #4
Hey @Ayush7614 , I want to contribute in this issue. Please assign me this.

[2021-06-06 11:03] vajpayeemrudul commented on #132
hey, @Ayush7614 I wish to add some questions on recursion. Can you pls assign this to me.

[2021-06-06 11:10] vajpayeemrudul commented on #111
Hello @Ayush7614 , I have solved some good level of questions on hackerrank and I want to contribute in this issue. Can you pls assign this to me.

[2021-06-06 11:28] vajpayeemrudul commented on #2
I would like to add some good questions on this issue.Can you pls assign this to me.

[2021-06-06 11:55] AKSHATNEMA opened #139 "Addition of Manipulated Sieve of Erastothenes"
Manipulated Sieve is right now in huge demand as well as asked in many questions of Codechef and Codeforces.

This improved version works better than normal Sieves of Erastothenes and can work upto constraints N<=10^7.

This algorithm works in O(n) which is much more optimised solution than normal Sieve.

[2021-06-06 11:56] AKSHATNEMA commented on #139
Hey @Ayush7614 ,Please assign this issue to me.

[2021-06-06 12:06] AKSHATNEMA opened #140 "Adding solution of Codeforces problem Lucky Sum of Digits"
With growing era of Competitive Programming and global challenges, people around the world are now more relying on Codeforces to give coding contest and practice skills. Codeforces provides brilliant interface to users with brilliant Questions which are asked in various interview rounds of company.

With so many questions on same side, people hang on between the mess of Questions and don't able to

[2021-06-06 12:06] AKSHATNEMA commented on #140
@Ayush7614 please assign this issue to me. I will work upon it as soon as LGM-SOC starts.

[2021-06-07 04:26] HitainKakkar opened #147 "Chinese_Remainder_Theorem"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21

I have made a PR for the same.
Kindly assign this issue!!

Regards,
Hitain

[2021-06-07 04:27] HitainKakkar opened #148 "Dutch National Flag Algorithm"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21

I have made a PR for the same.
Kindly assign this issue!!

Regards,
Hitain

[2021-06-07 04:27] HitainKakkar opened #149 "Greedy_algorithm_to_find_minimum_number_of_coins"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21

I have made a PR for the same.
Kindly assign this issue!!

Regards,
Hitain

[2021-06-07 04:27] HitainKakkar opened #150 "Get_Maximum_Maze_Paths"
Greetings sir/Mam,
I would like to contribute the code for this issue in Java.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21

I have made a PR for the same.
Kindly assign this issue!!

Regards,
Hitain Ka

[2021-06-07 04:27] HitainKakkar opened #151 "call_by_reference"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21

I have made a PR for the same.
Kindly assign this issue!!

Regards,
Hitain

[2021-06-07 04:28] HitainKakkar commented on #147
/assing

[2021-06-07 04:29] HitainKakkar opened #152 "call_by_value"
Greetings sir/Mam,
I would like to contribute the code for this issue in c++/cpp.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding letsgrowmore.in/soc/21

I have made a PR for the same.
Kindly assign this issue!!

Regards,
Hitain

[2021-06-07 05:54] ChetasShree opened #153 "New Password question on codeforces"
hi , I want to solve this question using C++...
Please assign this issue to me under LGM-SOC21.
Looking forward to contribute here...

question link: https://codeforces.com/contest/770/problem/A

[2021-06-07 07:03] shreyansh30saxena opened #154 "Searching Algorithms with Number of comparisons and Swaps"
Hi there,
I want to add different sorting algorithms implemented using C++ which counts the number of swaps and comparisons required at the given input.
Also it prints the table from 0 to 100 at particular intervals and counts the number of comparisons at those inputs for worst, best and average cases.
Please assign me this under LGM-SOC'2021.

[2021-06-07 08:30] AKSHATNEMA commented on #140
While working on this issue, I want some more members to contribute to this like those who can write solutions for CF Questions in Python and Java also. Interested ones can contact me on Discord with the name "Akshat Nema".

[2021-06-07 12:21] vishal46556 commented on #153
hey, i can try this plz assingn me

[2021-06-07 12:23] vishal46556 commented on #149
hey , can i try plz assign me

[2021-06-07 14:05] Ayush7614 commented on #154
@shreyansh30saxena Go Ahead

[2021-06-07 14:06] Ayush7614 commented on #153
Go Ahead @ChetasShree

[2021-06-07 14:07] Ayush7614 commented on #153
Hey @vishal46556 you can Participant in LGM SOC or not

[2021-06-07 14:08] Ayush7614 commented on #152
@HitainKakkar go Ahead

[2021-06-07 14:08] Ayush7614 commented on #151
@HitainKakkar go Ahead

[2021-06-07 14:09] Ayush7614 commented on #150
@HitainKakkar go Ahead

[2021-06-07 14:11] Ayush7614 commented on #105
@Rutikab12 Go Ahead

[2021-06-07 14:14] Ayush7614 commented on #100
Go Ahead @pranita736 @Sumanth2905

[2021-06-07 14:15] Ayush7614 commented on #100
@Jagannath8 bro you can work on different issues because firstly pranita and Sumanth was asked to me if you working in any other language then i will assign you

[2021-06-07 14:16] shreyansh30saxena commented on #154
Thankyou so much for assigning me.
And as I saw you have assigned it under LGM-SOC'21.
So is it something like that I start working on it from 10th June or can I start doing it from today also.
Kindly guide.
Thanks.

[2021-06-07 14:17] Ayush7614 commented on #101
@Sumanth2905 go Ahead but you can do this in C language

[2021-06-07 14:18] Ayush7614 commented on #133
You are partipant in LGM SOC 21 or not

[2021-06-07 14:19] Ayush7614 commented on #149
@HitainKakkar go Ahead

[2021-06-07 14:19] Ayush7614 commented on #148
@HitainKakkar go Ahead

[2021-06-07 14:20] Ayush7614 commented on #147
@HitainKakkar go Ahead

[2021-06-07 14:22] Ayush7614 commented on #140
Go Ahead @AKSHATNEMA

[2021-06-07 14:25] Ayush7614 commented on #121
Go Ahead @Aiswarika

[2021-06-07 14:26] Ayush7614 commented on #121
Sorry @sejal1430 but first issue was assigning to Aiswarika because she asked first if you code in different language then i will assign you

[2021-06-07 14:27] Ayush7614 commented on #121
@Aiswarika in which langugae you code this issue

[2021-06-07 14:27] Jagannath8 commented on #100
I can use python for solving

[2021-06-07 14:28] Ayush7614 commented on #154
@shreyansh30saxena welcome but your contribution counts from 10 june for LGM SOC so this was depends on you

[2021-06-07 14:29] Ayush7614 commented on #128
@Ritikkumar992 can you plss tell me you are participant in LGM SOC or not

[2021-06-07 14:31] Ayush7614 commented on #100
@Jagannath8 sorry brother i can`t assign you because in python @pranita736 was solved so you can work on diffenret issue and if you wish you can also opened issues from your sides then i will assign you

[2021-06-07 14:34] Ayush7614 commented on #132
@tannu945 and @vajpayeemrudul you can work on different issues because @Jaincode123 already asking first for this issue so i can`t assign you @tannu945 @vajpayeemrudul

[2021-06-07 14:35] Ayush7614 commented on #107
go Ahead @Ayush7614

[2021-06-07 14:36] Aiswarika commented on #121
@Ayush7614  preferably CPP.

[2021-06-07 14:38] Ayush7614 commented on #121
Okk so @sejal1430 if you code in any other language then i will assign you

[2021-06-07 14:39] Jagannath8 commented on #100
okay

[2021-06-07 14:40] Nikitajain2606 commented on #133
Yes, I am a participant in LGMSOC'21

[2021-06-07 14:40] #102 closed

[2021-06-07 14:42] Ayush7614 commented on #105
first you can tell me you are participant in LGM SOC or not

[2021-06-07 14:42] Rutikab12 commented on #105
Okay. Thank you.

[2021-06-07 14:43] Ayush7614 commented on #133
go Ahead @Nikitajain2606

[2021-06-07 14:43] Ayush7614 commented on #133
and @Nikitajain2606 in which language you code first tell me

[2021-06-07 14:47] Ayush7614 commented on #2
@sejalvasan @Ruchip16 Go Ahead but do not same questions if you addded same question then code in different langauges

[2021-06-07 14:55] Ayush7614 commented on #153
okk  sorry@vishal46556 issue was first asking by chetashree you work on different issue

[2021-06-07 14:56] Jagannath8 opened #156 "Longest Substring Without Repeating Characters"
Can I solve this problem?
This question is from Leetcode.
Level - Medium

[2021-06-07 14:57] Ayush7614 commented on #11
@tech-rounak go Ahead

[2021-06-07 14:57] Ayush7614 commented on #156
Ya sure go Ahead @Jagannath8

[2021-06-07 14:58] vishal46556 commented on #153
I will write in different languages I know java and c++ both if he written in c++ then I write in java with different manner

[2021-06-07 15:00] Ayush7614 commented on #153
go Ahead @vishal46556

[2021-06-07 15:02] Ayush7614 commented on #4
Go Ahead @tannu945 @Sakalya100

[2021-06-07 15:04] Ayush7614 commented on #2
@Sakalya100 you also Go Ahead

[2021-06-07 15:05] #3 closed

[2021-06-07 15:05] sejal1430 commented on #121
yes @Ayush7614 , I code in java.

[2021-06-07 15:06] Ayush7614 commented on #5
Go Ahead @pranita736 @Sakalya100

[2021-06-07 15:07] Ayush7614 commented on #121
Go Ahead @sejal1430

[2021-06-07 15:07] #13 closed

[2021-06-07 15:07] Jagannath8 commented on #156
In which folder I'll add the file?

[2021-06-07 15:07] Ruchip16 commented on #2
@Ayush7614 We have to start working on this from 10th June right?

[2021-06-07 15:08] Ayush7614 commented on #6
@Nikitajain2606 @coding-geek21 Go Ahead

[2021-06-07 15:09] #9 closed

[2021-06-07 15:10] #12 closed

[2021-06-07 15:10] #7 closed

[2021-06-07 15:10] #10 closed

[2021-06-07 15:11] #103 closed

[2021-06-07 15:12] Ayush7614 commented on #2
Yes

[2021-06-07 15:13] Ayush7614 commented on #156
Simply Make New Folder Name of Leetcode and add in that

[2021-06-07 15:21] Jagannath8 commented on #156
Okay

[2021-06-07 15:24] tech-rounak commented on #11
sir I have created a pull request you please check it and merge

[2021-06-07 15:33] shreyansh30saxena commented on #154
Sure .
I will be working at my end till 10th June and then will start contributing that work here.
Thankyou for guiding

[2021-06-07 15:50] coding-geek21 opened #160 "Interview question related to arrays and strings"
I would like to work on this issue can you please assign me @Ayush7614

[2021-06-07 16:24] Ayush7614 commented on #160
Go Ahead @coding-geek21

[2021-06-07 16:36] Nikitajain2606 commented on #133
I code in C++

[2021-06-07 16:57] puneetkaur2929 commented on #105
Yes @Ayush7614  I am participant of LGM SOC 21 & I  know actual contribution will start from 10th June . but being a newcomer to Open source ,through this issue I just wanted to get acquainted with Open source development .

[2021-06-07 17:03] Ruchip16 commented on #2
@Ayush7614 Hey, Just wanted to clarify one thing that do we need to add questions here or **how do we need to do it** like **select a question from Leetcode/Gfg on arrays** and then **solve that question** and **make a PR for that question**, but where do we need to post the question ad as 3 contributors are contributing in the worst case what if we select the same question?

[2021-06-07 17:19] Gurleensoni commented on #133
Hey can I add problem on variations in 0-1 knapsack ??Please assign it to me
I have the code ready

[2021-06-07 17:28] puneetkaur2929 opened #161 "Maximum for every window of size K ."
Maximum in each window of size K

**Problem statement**
find the maximum for each and every contiguous subarray of size k
**Example:**
Given : Array a[]={2,5,1,8,3} & K (i.e. Window Size)=2
Output= 5 5 8 8

Hey @Ayush7614  I would like to solve this issue using sliding window technique + Deque.

Language : I am interested to work in C++.

please assign this issue to me under LGM-SOC 21.

[2021-06-07 17:42] puneetkaur2929 opened #162 "Count occurrences of an element in a sorted array."
**Problem statement**
find the occurrences of an element in a sorted array.
**Example:**
Given : Array a[]={1,1,2,2,2,3,4,5} & element=2
Output= 3

Hey @Ayush7614 I would like to solve this issue using Binary search.

Language : I am interested to work in C++.

please assign this issue to me under LGM-SOC 21.

[2021-06-07 17:47] pranita736 opened #163 "Implementation of stack in Python"
# Aim

- Stack in Python

# Details

- Implementation of stack in Python

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

[2021-06-07 17:48] pranita736 commented on #163
@Ayush7614 Assign this to me under LGM-Soc'21

[2021-06-07 17:51] Ayush7614 commented on #163
Go Ahead @pranita736

[2021-06-07 17:52] Ayush7614 commented on #162
Go Ahead @puneetkaur2929

[2021-06-07 17:53] Ayush7614 commented on #161
Go Ahead @puneetkaur2929

[2021-06-07 17:59] pranita736 opened #164 "Implementation of queue in python"
# Aim

- To add code for Queue in Python

# Details

- Implementation of queue in python

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

[2021-06-07 17:59] puneetkaur2929 opened #165 "Allocate minimum number of pages to each student ."
**Problem statement**
Allocate number of books such that maximum number of pages each student should read is minimized.
**Example:**
**Given** : N number of books, array A[N] where A[i] gives number of pages in ith book.  S number of students among those  books are to allocated.
N=4 A[]={20,34,12,27}
S=2
**Output**= 59

Hey @Ayush7614 I would like to solve this issue using Binary search.

Language

[2021-06-07 17:59] pranita736 commented on #164
Assign this to me under LGM-SoC'21

[2021-06-07 18:05] Amit366 commented on #164
@pranita736 go ahead

[2021-06-07 18:22] pranita736 opened #167 "Rotation of Array by K element"
# Aim

- To add code for rotation of Array by K element
# Details

- The given input array will be rotated by count k.
### Programming language

- [ ] C
- [x] C++
- [x] Java
- [x] Python

[2021-06-07 18:32] Sumanth2905 opened #168 "Russian Peasant Multiplication algorithm"
# Aim

- Implementation of Russian Peasant multiplication algorithm

# Details

- Multiplication of two numbers using bitwise operators

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-07 18:41] archismansaha opened #169 "Want to add questions of Codechef and leetcode"
# Aim

-I want to add questions from (vector recursion,oops,linkedlist)of leetcode(top 100 liked)and codechef(div 3) questions in C++

# Details

- What the features will your script have

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-07 18:42] archismansaha commented on #132
I want to add easy to medium in C++ if he doesn't do in C++ can I do??

[2021-06-07 18:45] archismansaha commented on #150
May I add C++ solution of this?

[2021-06-07 18:48] archismansaha commented on #167
I want to add C++ solution of this??

[2021-06-07 23:46] skimran2000 opened #171 "Infix to Postfix"
# Aim

- Convert the infix expression to postfix expression using stack data structure

# Details

- By scanning the infix expression from left to right, when I will get any operand, simply add them to the postfix form, and when I get operator and parenthesis, add them in the stack maintaining the precedence of them. At the end pop the stack out completely to get postfix expression

### Programmin

[2021-06-07 23:49] skimran2000 opened #172 "Double linked list"
# Aim

- Creating a double linked list

# Details

- Doubly linked list is a type of linked list in which each node apart from storing its data has two links. The first link points to the previous node in the list and the second link points to the next node in the list. The first node of the list has its previous link pointing to NULL similarly the last node of the list has its next node pointing

[2021-06-07 23:51] prudhvirajstark commented on #162
Hello,
Good Morning

@puneetkaur2929 @Ayush7614 , Here is the pull request for the issue  #170. (Count occurrences of an element in a sorted array)
Hope this answer will be helpful or Have it as a reference.

Thanks,
Prudhvi raj

[2021-06-07 23:56] skimran2000 opened #173 "Hashing Implementation with arrays"
# Aim

- Hashing Implementation with arrays

# Details

- Implementing hash mapping using arrays

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-07 23:58] skimran2000 opened #174 "Binary tree traversal"
# Aim

- Traversing a binary tree

# Details

- Binary tree traversal in postorder, inorder and preorder using recursion

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-08 00:02] skimran2000 opened #175 "Shell Sort"
# Aim

- Sorting an array using shell sort algorithm

# Details

- Sorting an array using shell algorithm in c++ language

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-08 00:04] skimran2000 opened #176 "BFS Graph traversal"
# Aim

- BFS Graph traversal technique

# Details

- Using Breadth First Search Algorithm to traverse the graph

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-08 00:10] skimran2000 commented on #173
I am a LGM-SOC'21 Participant and has opened this issue to write the above program

[2021-06-08 00:11] skimran2000 commented on #171
I am a LGM-SOC'21 Participant and has opened this issue to write the above program

[2021-06-08 00:11] skimran2000 commented on #172
I am a LGM-SOC'21 Participant and has opened this issue to write the above program

[2021-06-08 00:11] skimran2000 commented on #176
I am a LGM-SOC'21 Participant and has opened this issue to write the above program

[2021-06-08 00:11] skimran2000 commented on #175
I am a LGM-SOC'21 Participant and has opened this issue to write the above program

[2021-06-08 00:11] skimran2000 commented on #174
I am a LGM-SOC'21 Participant and has opened this issue to write the above program

[2021-06-08 05:03] toth2000 commented on #174
I can create a PR for the JAVA part.

[2021-06-08 05:05] toth2000 commented on #172
I would like to create a PR for the JAVA part.

[2021-06-08 05:05] toth2000 commented on #171
I would like to create a PR for the JAVA part.

[2021-06-08 05:42] pranita736 commented on #174
@Amit366 @Ayush7614 Assign this to me in Python under LGM-SoC'21.

[2021-06-08 05:43] pranita736 commented on #176
@Amit366 @Ayush7614 Assign this to me in Python under LGM-SoC'21.

[2021-06-08 05:45] Amit366 commented on #169
@archismansaha Can u elaborate which questions?? Like some program or interview questions

[2021-06-08 05:46] Amit366 commented on #171
@toth2000 are u a participant of LGM??

[2021-06-08 05:49] Amit366 commented on #174
@toth2000 please mention the program name

[2021-06-08 05:50] toth2000 commented on #171
Yes

[2021-06-08 05:51] toth2000 commented on #174
LGM-SOC'21

[2021-06-08 05:52] Amit366 commented on #168
@Sumanth2905 mention the language

[2021-06-08 05:54] Amit366 commented on #171
@toth2000 mention this in all ur comments

[2021-06-08 06:22] Debargha-arch opened #177 "Length of the Highest Mountain"
# Aim

- To make a program that finds the length of the highest peak in the mountain using C++.

# Details

- The function takes an array of integers as an input and returns the length of the highest peak.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-08 06:23] Debargha-arch commented on #177
Please assign this issue to me under LGM-SOC'21.I am going to implement it using C++

[2021-06-08 06:30] Debargha-arch commented on #177
@Amit366  please assign this issue to me under LGM-SOC'21.
I am going to implement this using C++.

[2021-06-08 06:40] pranita736 commented on #171
@Amit366 @Ayush7614 Assign this to me in Python under LGM-SoC'21.

[2021-06-08 06:41] skimran2000 opened #178 "Stack implementation using linked list (template)"
# Aim

- Creating a stack using a linked list

# Details

- Create a stack data structure using the linked list and the template feature of C++ so that data type of stack is decided at object creation.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-08 06:42] skimran2000 commented on #178
I am a LGM-SOC'21 Participant and has opened this issue to write the above program

[2021-06-08 06:51] skimran2000 opened #179 "Queue implementation using arrays(template)"
# Aim

- Creating a queue using an array of template type

# Details

- Creating a queue using an array of whose datatype is decided during object creation as it is a template.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-08 06:51] skimran2000 commented on #179
I am a LGM-SOC'21 Participant and has opened this issue to write the above program

[2021-06-08 07:05] Amit366 commented on #171
@pranita736 you already have 5 issues assigned so first them and then will assign this one.

[2021-06-08 07:07] archismansaha commented on #169
I want to add past Div 3 short and long contests questions from codechef and from leetcode top 100liked questions of array, recursion oops and linked list based questions

[2021-06-08 07:10] dpshikha476 commented on #171
I am a LGM-SOC'21 Participant and would you please assign me the C++ part.

[2021-06-08 07:16] kumarshobhit commented on #176
I would like to write the code in Java. Please assign me the issue.

[2021-06-08 07:17] kumarshobhit commented on #167
I would like to add the java solution.

[2021-06-08 07:23] kumarshobhit commented on #156
I would like to contribute using Java language. I am a participant of LGM-SOC

[2021-06-08 07:24] kumarshobhit commented on #162
I am interested to code the problem in Java language.

[2021-06-08 07:29] Amit366 commented on #171
@dpshikha476 its already assigned for C++. If u want u can try with different language

[2021-06-08 07:32] Amit366 commented on #169
@archismansaha u cannot add all the questions but u can add one by one . Since it is an open source so everyone should get a chance.

[2021-06-08 07:33] Amit366 commented on #176
@kumarshobhit please mention the program name of which u r a part

[2021-06-08 07:35] dpshikha476 commented on #171
Can I work with C?

[2021-06-08 07:37] palakagarwal5230 opened #180 "Rainwater trapping problem"
**Problem:**
Given n non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it is able to trap after raining.

**Example:**
Input: arr[]   = {3, 0, 2, 0, 4}
Output: 7
We can trap "3 units" of water between 3 and 2,
"1 unit" on top of bar 2 and "3 units" between 2
and 4.

**Basic Insight**
An element of the array can store water if there are hig

[2021-06-08 07:37] dpshikha476 commented on #160
I would also like to work on this, Can I? @Ayush7614

[2021-06-08 07:39] palakagarwal5230 commented on #180
I am a LGM-SOC'21 Participant and has opened this issue. I want to write c++ solution to it.

[2021-06-08 07:40] archismansaha commented on #169
So May I add Questions Of codechef of April and May Long and short contests?? Will it be ok??

[2021-06-08 07:42] Amit366 commented on #171
@dpshikha476 go ahead

[2021-06-08 07:44] Amit366 commented on #169
@archismansaha  see u can create separate issues with a single question. And max we can assign 3 to 4 issues at a time.

[2021-06-08 07:45] archismansaha commented on #169
Ok sir

[2021-06-08 07:48] kumarshobhit commented on #156
Can I code it in c++ then?

[2021-06-08 07:48] Amit366 commented on #180
@palakagarwal5230 may I know is this from leetcode??

[2021-06-08 07:53] Amit366 commented on #178
@skimran2000 You can be assigned only after your other PRs are merged

[2021-06-08 08:01] codebuzzer01 opened #181 "Paratha-Roti Problem"
# Aim
There are P parathas to be packed . The stall has N cooks , each cook with rank R can cook 1 parantha in first R minutes , next parantha in 2R minutes and so on. Calculate the minimum time to get order done.

# Details
Constraints-
P<=1000,
N<=50,
1<=R<=8

Sample test case-
Input-
10
4
1 2 3 4

Output-
12

### Programming language

- [ ] C
- [X] C++
- [ ] Java
- [ ] Python

[2021-06-08 08:02] codebuzzer01 commented on #181
Hey @Amit366  assign me this issue under LGM-SOC'21.

[2021-06-08 08:15] archismansaha opened #182 "Want to add solution of Birthday Gift Question"
# Aim
want to add solution of this question of codechef in c++ :
 https://www.codechef.com/LTIME96C/problems/TWINGFT
Assign me this issue under LGM-SOC
- What is the objective of the Script

# Details

- What the features will your script have

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

[2021-06-08 08:19] archismansaha opened #183 "Want add solution of the question Total Components"
# Aim
want to add the solution of the problem in c++:
https://www.codechef.com/LTIME96C/problems/NUMCOMP1
Assign me this issue under LGM-SOC
- What is the objective of the Script

# Details

- What the features will your script have

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-08 08:36] Ayush7614 commented on #167
Go Ahead @kumarshobhit

[2021-06-08 08:37] pranita736 commented on #171
@Amit366 Can we start creating PR now? or should we wait till June 10?

[2021-06-08 08:48] Amit366 commented on #171
@pranita736 u have to wait till 10th

[2021-06-08 09:28] skimran2000 commented on #179
For now I will close this issue and reopen after completing my previous PR's

[2021-06-08 09:30] skimran2000 commented on #178
Okay sure I will close this issue and reopen after completing my previous PR's

[2021-06-08 09:47] palakagarwal5230 commented on #180
Yes this problem is from Leetcode

[2021-06-08 10:04] KshitijS01 opened #184 "Data Strucuture- Operations on linkedlist"
### AIM

- Operations on linkedlist.

### DETAILS

- *Operations on linkedlist*
1. Insertion of a node ( at beginning,  at end, after/before a given location, before a node with given data).
2. Deletion
3. Searching
4. Sorting
5. Reverse a linkedlist
6. Merging

### Programming language

- [x] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-08 10:05] KshitijS01 commented on #184
I am a LGM-SOC'21 Participant and has opened this issue to write the above program.

[2021-06-08 10:42] Ayush7614 commented on #184
Go Ahead @KshitijS01

[2021-06-08 10:44] Ayush7614 commented on #169
@archismansaha plss define your language in which language you can do question

[2021-06-08 11:03] dpshikha476 opened #185 "Coding Questions related to Stacks and Queues."
I am a LGM-SOC'21 Participant and has opened this issue to add all the coding questions related to Stacks and Queues from various platforms. Could you please assign me this (Language -  C++)? @Ayush7614

[2021-06-08 11:14] devkumar326 opened #186 "Want to add a Question Construct Binary Tree from Inorder & Preorder Traversal"
## Aim
want to add the solution of the problem in Python:
https://leetcode.com/problems/construct-binary-tree-from-preorder-and-inorder-traversal/
Assign me this issue under LGM-SOC

**Details**
This question has been asked in Interviews of Amazon and Microsoft many times.

[2021-06-08 11:23] dpshikha476 opened #187 "Data Structures - Trees"
### AIM
To add all the operations on trees, binary trees and BSTs like insertion, deletion, traversing, searching, etc.

**Language**

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-08 11:25] dpshikha476 commented on #187
Can I work on this under LGM-SOC'21? (Language - C++) @Ayush7614

[2021-06-08 12:14] Amit366 commented on #185
@dpshikha476 you can add separate questions. Since this is an open source so everyone needs to contribute so create separate problem issues and then solve.

[2021-06-08 12:16] Ayush7614 commented on #186
@devkumar326 @AKSHATNEMA go Ahead

[2021-06-08 12:16] Amit366 commented on #187
@dpshikha476 u can do one by one Opera by creating separate issues

[2021-06-08 12:37] SamikshaSankar opened #188 "Pattern programs in java"
# Aim

-we generally saw most of the pattern problems are solved using 1shape joining two shapes in

# Details

- we generally saw most of the pattern problems are solved using 1shape but in this we are joining two shapes and make a different pattern

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

@Ayush7614  assign me this issue under LGM-SOC'21.

[2021-06-08 13:12] archismansaha commented on #169
I will do in C++

[2021-06-08 13:26] archismansaha commented on #169
Actually as per I mentioned later I had created spereated issues with mentioning questions which has been assigned to me... Will you close this issue??

[2021-06-08 13:31] #169 closed

[2021-06-08 13:43] tech-rounak commented on #183
@archismansaha  I recently added this question in codechef interview question

[2021-06-08 13:49] se-prashant opened #189 "C++ AtCoder Dynamic Problem"
# Aim

- I want to add solutions to AtCoder DpConetst
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-08 13:49] tech-rounak commented on #11
@Ayush7614 Sir , please response

[2021-06-08 14:08] dpshikha476 commented on #185
Sure

Sure👍

[2021-06-08 14:10] dpshikha476 commented on #187
Ok! I'll do that👍

[2021-06-08 14:10] archismansaha commented on #183
In which language?

[2021-06-08 14:16] Sumanth2905 commented on #168
@Amit366 Assign this to me in C++.

[2021-06-08 14:25] dpshikha476 opened #190 "Code to find the minimum and maximum value in a binary tree"
@Ayush7614 Pls assign me to this.
Language - C++

[2021-06-08 14:37] #185 closed

[2021-06-08 14:38] #187 closed

[2021-06-08 14:57] dpshikha476 opened #191 "Convert sorted Array to BST"
I would like to add solution to this question in C++ under LGM SOC'21.
Pls assign this issue to me.

[2021-06-08 15:14] Jagannath8 commented on #165
Can I implement in Java? I'm a participant of LGM-SOC 21.

[2021-06-08 15:49] palakagarwal5230 commented on #188
I am a LGM-SOC'21 Participant and want to write c++ solution to it.

[2021-06-08 18:11] drishika2002 opened #192 "Kadane's Algorithm"
### Describe the solution you'd like
I would like to add code for Kadane's algorithm as a participant of LGM SOC'21.

### Programming language : C++

@Ayush7614  Please assign this issue to me.

[2021-06-08 18:15] drishika2002 opened #193 "Linear Search"
### Describe the solution you'd like
I would like to add the code for linear search as a participant of LGM SOC'21.

### Programming language : C++

@Ayush7614  Please assign this issue to me.

[2021-06-08 18:20] abhaydev360 opened #194 "Concentric square pattern using 2D array In C"
**Aim**
Solution of Concentric Square pattern

**Details**
I want to code of Concentric Square pattern using 2d array in C
### Programming language

- [x] C
- [ ] C++
- [ ] Java
- [ ] Python

I am a LGM-SOC'21 Participant and has opened this issue to write the above program.
@Ayush7614 @Amit366  pls assign me this issue

[2021-06-08 18:21] drishika2002 opened #195 "Implementing stack using array"
In array implementation, the stack will be formed by using an array and the operations regarding the stack like push and pop will be performed using arrays.

I want to work on this issue in C++ language.

I request @Ayush7614 to assign me this issue for LGM SOC'21.

[2021-06-08 18:36] Amit366 commented on #193
@drishika2002 this issue is already solved.

[2021-06-08 18:36] #193 closed

[2021-06-08 18:48] drishika2002 opened #196 "Hailstone Sequence (Recursion)"
### Program to find Hailstone Sequence of a given number N up to 1.
### Language: C++

Please assign me this issue under LGM SOC'21

[2021-06-08 19:44] puneetkaur2929 opened #197 "Smallest window in a string containing all characters of another string ."
**Problem statement**
Given two strings, S1 and S2, the task is to find the smallest substring in S1 containing all characters of S2 efficiently.
**Example:**
Given: S1="letsgrowmore"   S2="srw"
Output= "sgrow"

Hey @Ayush7614 @Amit366  I would like to solve this issue using Sliding window Technique.

Language : I am interested to work in C++.

please assign this issue to me under LGM-SOC 21.

[2021-06-08 19:51] puneetkaur2929 opened #198 "Generate Balanced Parenthesis"
**Problem statement**
Given an integer N i.e.  the number of pairs of parentheses, the task is to generate all combinations of balanced parentheses.
**Example:**
Given: N=2
Output= (())   ()()

Hey @Ayush7614 @Amit366 I would like to solve this issue using Recursion.

Language : I am interested to work in C++.

please assign this issue to me under LGM-SOC 21.

[2021-06-08 19:53] Amit366 commented on #198
@puneetkaur2929 u r already assigned with 5 issues (including this ). So after finishing those u will be further assigned.

[2021-06-08 19:54] puneetkaur2929 commented on #198
Ok @Amit366

[2021-06-08 19:55] #192 closed

[2021-06-08 20:55] KshitijS01 opened #199 "Pattern problems using C/C++"
### AIM

- Solving pattern problems using C/C++

### DETAILS

- Solving pattern problems (like pyramid, triangle, diamond etc ) using C/C++ language.

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [ ] Python

I am a LGM-SOC'21 Participant has opened this issue. @Ayush7614 , @Amit366 please assign me this issue.

[2021-06-09 02:40] PadminiRai commented on #162
@Ayush7614 _I'd like to work on this issue , kindly assign this issue to me under LGM-SOC 21._

**Problem statement**
_Count occurrences of an element in a sorted array._

**Example:**
_Input :_  a[] = {1, 2, 2, 2, 2, 2, 3,},   x = 2
_Output :_ 5

**Language :** Python3.
**Approach :**  Improved Binary Search
**Time Complexity :** O(Logn)

[2021-06-09 03:35] Amit366 commented on #199
@KshitijS01 which pattern question do u want to solve??
Any particular question??

[2021-06-09 04:10] Anuradha0501 commented on #128
@Ayush7614  can I also work on this issue as an LGM SOC participant

[2021-06-09 04:13] Anuradha0501 commented on #182
I want to add solution of this question in java language as a participant of an LGM SOC 21 can you assign this to me also.

[2021-06-09 04:20] Ayush7614 commented on #188
Go Ahead @SamikshaSankar @palakagarwal5230

[2021-06-09 04:22] Ayush7614 commented on #189
@se-prashant plss describe your language in which language you want to add solution

[2021-06-09 04:23] Ayush7614 commented on #182
Go Ahead @Anuradha0501

[2021-06-09 04:24] #128 closed

[2021-06-09 04:29] #199 closed

[2021-06-09 04:30] Ayush7614 commented on #199
We are not accepting this type question like Pattern problem we accept hackerank,gfg and Data Structures and Algorithms Question @KshitijS01

[2021-06-09 05:09] palakagarwal5230 opened #200 "Spy-string"
**Problem;**
You are given n strings a1,a2,…,an: all of them have the same length m. The strings consist of lowercase English letters.

Find any string s of length m such that each of the given n strings differs from s in at most one position. Formally, for each given string ai, there is no more than one position j such that ai[j]≠s[j].

Note that the desired string s may be equal to one of the gi

[2021-06-09 05:11] palakagarwal5230 commented on #200
I am a LGM-SOC'21 Participant and has opened this issue. I want to write c++ solution to it.
This problem is from codeforces .

[2021-06-09 05:16] nikhil00shinde opened #201 "Kadane's Algorithm"
# Aim

- In the Algorithm part, I want to add Kadane's Algorithm

# Details

- Maximum Subarray Sum in the Array

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

I  want to write a C++  and Java solution to it.

@Ayush7614 assign me this issue under LGM-SOC'21.

[2021-06-09 05:28] palakagarwal5230 opened #202 "Airport"
**Problem:**
Lolek and Bolek are about to travel abroad by plane. The local airport has a special "Choose Your Plane" offer. The offer's conditions are as follows:

it is up to a passenger to choose a plane to fly on;
if the chosen plane has x (x > 0) empty seats at the given moment, then the ticket for such a plane costs x zlotys (units of Polish currency).
The only ticket office of the airport a

[2021-06-09 05:29] palakagarwal5230 commented on #202
I am a LGM-SOC'21 Participant and has opened this issue. I want to write c++ solution to it.
This problem is from codeforces .

[2021-06-09 05:32] drishika2002 commented on #192
Okay, no problem :)

[2021-06-09 05:36] SahityaRoy commented on #188
Hello sir i am a LGM-SOC participant i want to solve pattern problems using java can i go for it ?? @Ayush7614

[2021-06-09 05:37] Amit366 commented on #201
@nikhil00shinde This algorithm already exists in GFG folder. So I am closing it.

[2021-06-09 05:37] #201 closed

[2021-06-09 05:40] Amit366 commented on #200
@palakagarwal5230 for this create a separate folder named Codeforces and then add it.

[2021-06-09 05:40] Amit366 commented on #200
@palakagarwal5230 for this create a separate folder named Codeforces and then add it.

[2021-06-09 05:44] palakagarwal5230 opened #204 "Marvolo Gaunt's Ring"
**Problem**
Professor Dumbledore is helping Harry destroy the Horcruxes. He went to Gaunt Shack as he suspected a Horcrux to be present there. He saw Marvolo Gaunt's Ring and identified it as a Horcrux. Although he destroyed it, he is still affected by its curse. Professor Snape is helping Dumbledore remove the curse. For this, he wants to give Dumbledore exactly x drops of the potion he made.

Va

[2021-06-09 05:44] SahityaRoy opened #205 "Video Solution For Hard and Easy Questions"
**Is your feature request related to a problem? Please describe.**
Yes it's a new feature because if we add video solution it will be more beneficial for students and easy to understand the code.

**Describe the solution you'd like**
Video solution helps students too easily understand , because many students prefare videos thats why i think its very necessary to upload videos.

### Programming lan

[2021-06-09 05:45] palakagarwal5230 commented on #204
I am a LGM-SOC'21 Participant and has opened this issue. I want to write c++ solution to it.
This problem is from codeforces .

[2021-06-09 05:47] drishika2002 opened #206 "Tower of Hanoi"
I would like to add the code for the Tower of Hanoi problem under LGM SOC'21.

Language: C++
Please assign this issue to me.

[2021-06-09 05:48] Sriram-bb63 commented on #202
I would like to solve this in python

[2021-06-09 05:57] Sriram-bb63 commented on #175
I would like to solve this in python

[2021-06-09 05:58] drishika2002 opened #207 "Sereja and Dima problem"
Sereja and Dima play a game. The rules of the game are very simple. The players have n cards in a row. Each card contains a number, all numbers on the cards are distinct. The players take turns, Sereja moves first. During his turn, a player can take one card: either the leftmost card in a row or the rightmost one. The game ends when there are no more cards. The player who has the maximum sum of nu

[2021-06-09 06:00] Amit366 commented on #204
@palakagarwal5230 you already have 5 issues assigned so you cannot be assigned anymore. After sending the PRs you will be again assigned.

[2021-06-09 06:08] palakagarwal5230 opened #208 "Different approaches for particular question"
**What?**
As we know there are numerous ways to solve a particular problem. To approach any problem we always start with brute force strategy and then go to complex algorithms. I think this project also needs this.

**How?**
We can do this that while someone is giving solutions they can add comments in their code stating different techniques used and then add respective code below that.

**Why?**

[2021-06-09 06:10] cmulay opened #209 "Solution for calculating the maximum absolute difference between the sum of two non-overlapping subarrays"
# Aim

- Find the maximum absolute difference between the sum of two non-overlapping subarrays

# Details

- Solution for finding the maximum absolute difference between the sum of two non-overlapping subarrays in linear time.

### Programming language

- [ ] C
- [ X ] C++
- [ X ] Java
- [ X ] Python

Kindly assign me this issue, I would like to work on the PS under LGM-SOC'21.

[2021-06-09 06:13] palakagarwal5230 commented on #200
Okay thank you.

[2021-06-09 06:14] palakagarwal5230 commented on #204
Okay  .

[2021-06-09 06:17] nikhil00shinde opened #211 "Print a given matrix in spiral form visited."
# Aim

- Print a given matrix in spiral form visited.

# Details

- Draw the path that the spiral makes. We know that the path should turn anti-clockwise whenever it would go out of bounds or into a cell that was previously
- I want to code a Spiral Display in the GFG section.

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

@Amit366 @Ayush7614  I am an LGM-SOC'21 Participant

[2021-06-09 06:23] SahityaRoy commented on #107
Hey @Ayush7614  i want to contribute in sorting algorithm problem  tell me in details what to do for this
my mail id- sahitya.roy@uem.edu.in
 [Linkedin](https://www.linkedin.com/in/sahitya-roy/)

[2021-06-09 06:23] drishika2002 commented on #211
I will like to code the same problem in C++
Please assign this issue to me under LGM SOC'21.

[2021-06-09 06:38] PadminiRai opened #213 "Leetcode Weekly and Monthly Challenges"
@Ayush7614
Through a directory I'd like to tackle **monthly+weekly challenges** with _optimized approaches_ in **C++** . Assign me this issue under **LGM-SOC'21** label.

[2021-06-09 06:48] se-prashant commented on #189
@Ayush7614 I want to add solutions in c++.

[2021-06-09 07:05] cmulay commented on #209
@Amit366 I would like to provide the solution in all the three languages i.e C++, Python and Java

[2021-06-09 07:07] mitali-1703 commented on #2
@Ayush7614 Hi. Can I add basic to intermediate level questions of array under   LetsgrowMore-SOC,if you could assign me this?

[2021-06-09 07:07] Amit366 commented on #209
@cmulay u can choose only one language

[2021-06-09 07:07] cmulay opened #214 "Solution to Partition Problem using Dynamic Programming"
# Aim

- To solve the partition problem by using dynamic programming

# Details

- for given set of positive integer numbers, solution is to find whether it can be divided into two subsets with equal sum.

### Programming language
- [ ] C
- [ X ] C++
- [  X ] Java
- [  X ] Python

Kindly assign me this issue, I would like to work on the PS under LGM-SOC'21.

[2021-06-09 07:07] Amit366 commented on #209
if no is interested then u can continue

[2021-06-09 07:09] cmulay commented on #209
Ok, I will do it in CPP

[2021-06-09 07:37] mitali-1703 commented on #184
Hey @KshitijS01 in which language will you be contributing to this issue? Actually I want to contribute in C++ so could you please tell?

[2021-06-09 07:44] mitali-1703 commented on #6
Hey @Ayush7614 can I add basic to intermediate level questions on Tee and Graph in C++ under LGM-SOC'21?

[2021-06-09 08:08] mitali-1703 commented on #101
Hey @Ayush7614 can I add a solution to this problem in Java language under LGM-SOC'21?

[2021-06-09 08:12] mitali-1703 commented on #1
Hey @Ayush7614 can I add some basic to intermediate level Linked List problems of GFG under LGM-SOC'21?

[2021-06-09 08:21] Amit366 commented on #188
@SahityaRoy Java is already assigned. U can choose any other language

[2021-06-09 08:21] mitali-1703 opened #215 "Want to add Basic Mathematics questions for all beginners in CP"
When base is strong, foundation can also be laid strong. So here I come with some basic mathematics questions to help all those beginners in the coding era.

[2021-06-09 08:23] mitali-1703 commented on #215
@Ayush7614 will oyu please assign me this task under LGM-SOC'21?

[2021-06-09 08:27] mitali-1703 commented on #188
I am a LGM-SOC'21 Participant and want to write solutions in C language to it. Please assign me this.

[2021-06-09 08:35] mitali-1703 opened #216 "Want to add bubble sort question in CPP"

[2021-06-09 08:36] mitali-1703 commented on #216
Hey @Ayush7614 please assign me this underLGM-SOC'21.

[2021-06-09 08:38] mitali-1703 commented on #216
@Ayush7614 please assign me this under LGM-SOC'21

[2021-06-09 08:42] SahityaRoy commented on #188
okay then C programming

On Wed, Jun 9, 2021 at 1:58 PM Mitali Agrawal ***@***.***>
wrote:

[2021-06-09 08:44] SahityaRoy commented on #188
@Amit366  then I wll upload in c programming

[2021-06-09 08:48] mitali-1703 commented on #188
@SahityaRoy can you please do it in python if you don't mind because as you see I had already requested to code for this problem in C language?

[2021-06-09 08:53] Amit366 commented on #188
@mitali-1703 @SahityaRoy can u please finalize which language u wanna do

[2021-06-09 08:57] mitali-1703 commented on #188
I want to do in C language please assign me this for C language.

[2021-06-09 09:18] Ayush12062000 commented on #107
@SahityaRoy Buddy start by selecting an algorithm and make an issue explaining what and which algorithm you want to contribute and wait until that issue is assigned to you. Then follow the instructions mentioned in the repo.

[2021-06-09 09:22] PalakDua-work opened #217 "WANT TO ADD ARRAYLEVEL(BASIC AND INTERMEDIATE) IN C LANGUAGE"
Arrays are the most basic concept in data structures and to start up with competitive coding.
I want to add array level questions both basic and intermediate level questions in one folder.
Please assign this task to me.

I am selected as a participant inLGM-SOC'21

[2021-06-09 09:48] PalakDua-work commented on #217
Please assign me under LGM SOC'21

[2021-06-09 09:51] PalakDua-work commented on #217
@Ayush7614 please assign me this under LGM-SOC'21

[2021-06-09 13:43] sadikRizvi31 commented on #207
Hey !  I want to Contribute my Solution to this problem . Can you assing this to me ?

[2021-06-09 14:09] sadikRizvi31 opened #218 "Want to Add Backtracking Solution to Queens Permutation & Combination problem."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-09 14:20] Amit366 commented on #218
@sadikRizvi31 mention the programming language

[2021-06-09 14:34] SahityaRoy commented on #107
@Ayush12062000 i wanna work upon Bubble sort, selection sort, insertion sort etc

[2021-06-09 14:36] SahityaRoy commented on #188
if @mitali-1703 wants to contribute in c then i have to contribute in python

[2021-06-09 14:38] div0510 commented on #206
I would like to add the code for the Tower of Hanoi problem under LGM SOC'21.

I have already made such a program prior during my practice.
Made using C++
Please assign this issue to me.

[2021-06-09 14:39] div0510 commented on #195
I would love to solve such issue please provide this to me

[2021-06-09 14:41] sadikRizvi31 commented on #218
Done @Amit366 sir.

[2021-06-09 14:45] Anshika-Srivastava opened #219 "Want to add the solution of all knapsack CP problems using DYNAMIC PROGRAMMING"
I am a participant of LGM-SOC. Please assign me this issue.
Language I will be using: C++
Thank You!

[2021-06-09 14:47] Anshika-Srivastava commented on #219
@Ayush7614 please assign me this as a part of LGMSOC'21

[2021-06-09 14:47] surajm-333 commented on #211
Hello, I would like to code this problem in Java.
Can you please assign this issue to me under LGM SOC'21

[2021-06-09 14:51] nikhil00shinde commented on #211
@surajm-333 I'm currently working in java. And for C++ it's already assigned to @drishika2002 . You can try in Python or C.

[2021-06-09 14:56] drishika2002 commented on #206
Hi @div0510
I have already been assigned this issue and I am coding it in C++ so, it would be great if you code it in java or python.

[2021-06-09 14:57] nikhil00shinde commented on #206
@Amit366 @Ayush7614 I would like to implement the Java part for this code.

[2021-06-09 15:00] nikhil00shinde commented on #207
@Amit366 @Ayush7614  I would like to implement this code in Java. Please assign me for the Java part.

[2021-06-09 15:03] AKSHATNEMA commented on #140
@Ayush7614 @Amit366 sir, this issue will require several PRs to be added on repository. Can I make many PRs for this same issue?

[2021-06-09 15:14] chandu6111 commented on #184
Hi @Ayush7614
I am a LGM-SOC'21 Participant
I would like to contribute to this issue in C++

[2021-06-09 15:17] Yash-Sakre opened #220 "Spiral Order Matrix in C++"
# Aim

- Print the 2D matrix in Spiral Order.

# Details

- Example : matrix = [[1,2,3],[4,5,6],[7,8,9]]
  The code Print the matrix in Spiral form like : [1,2,3,6,9,8,7,4,5]

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

I am a participant of LGM-SOC. Please assign me this issue.

[2021-06-09 15:17] UG-SEP opened #221 "Ternary Search in c++"
Hey @Ayush7614,
I want to add ternary search so please assign me to do it
Thanks...

[2021-06-09 15:18] div0510 commented on #195
Using c+++

[2021-06-09 15:18] KshitijS01 commented on #184
I'm using C language. @mitali-1703

[2021-06-09 15:18] div0510 commented on #195
I would try it for C Language too

[2021-06-09 15:23] Shaishav0507 opened #222 "Expedition Problem"
Hey @Ayush7614,
I want to add expedition problem so please assign me to do it
Thanks...
Leave it unchecked Owner will mark it :)
-->
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-09 15:25] SahityaRoy commented on #188
Thanks @Amit366

[2021-06-09 15:26] yashgehi opened #223 "Want to add Add two Linked List famous interview problem"
hey I want to add 2 number represented in Linked list .please assign this to me. Thanks

[2021-06-09 15:29] yashgehi commented on #223
@Ayush7614 please assign me this as a part of LGMSOC'21

[2021-06-09 15:31] Ayush7614 commented on #189
Go Ahead @se-prashant

[2021-06-09 15:31] Amit366 commented on #223
@yashgehi Is it a single question??

[2021-06-09 15:35] yashgehi opened #224 "want to add codeforces codeforces problem 1535B"
@Ayush7614 please assign me this as a part of LGMSOC'21. I will be writing a clean and optimise code in c++

[2021-06-09 15:35] Ayush7614 commented on #216
Mitali i unassigned this issue simply first you can work on one sort so that all the participants get chance

[2021-06-09 15:37] Ayush7614 commented on #224
Sorry i have closed this issue you can add only specific question like for ex Rain problem in codeforces

[2021-06-09 15:37] #224 closed

[2021-06-09 15:39] yashgehi opened #225 "want to add kahn's algorithm and its implementations"
@Ayush7614 please assign me this as a part of LGMSOC'21. I will try to write clean and optimise code

[2021-06-09 15:39] Ayush7614 commented on #217
sorry palak i have closed ths=is issue you can add only single question like for ex "reversed array"

[2021-06-09 15:39] #217 closed

[2021-06-09 15:40] #208 closed

[2021-06-09 15:41] Ayush7614 commented on #215
You can add only one question for one issue not all question so i closed this issue you can open new issue and add single single problems

[2021-06-09 15:41] #215 closed

[2021-06-09 15:41] #213 closed

[2021-06-09 15:41] Ayush7614 commented on #213
Add only single single question

[2021-06-09 15:41] yashgehi opened #226 "MST using prims algorithm"
@Ayush7614 please assign me this as a part of LGMSOC'21. I will try to write clean and concise code in c++.

[2021-06-09 15:42] AKSHATNEMA commented on #140
So, as suggested by our mentor @Amit366 , I am here by changing this issue from "Addition of Codeforces roadmap and Questions" to "Add solution to problem Lucky Sum of Digits". And will add more problems to this repository by creating issues.

[2021-06-09 15:43] Ayush7614 commented on #219
First tell me this is single question or not

[2021-06-09 15:44] div0510 opened #227 "N-Queen Problem"
I would like to add a code for N-queen problem under backtracking folder
I will do this with the help of recursion.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-09 15:46] ArshWalker opened #229 "Searching Algorithm in C++"
# Aim
Hey @Ayush7614,
I want to add searching algorithms using C++.

# Details

- Binary Search(using recursion)
- Linear Search
### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-09 15:46] jaya232 opened #230 "Longest Palindromic subsequence"
I would like to add the code for the Longest Palindromic subsequence problem under LGM SOC'21.

Language: C++
Please assign this issue to me.

[2021-06-09 15:48] #160 closed

[2021-06-09 15:49] #111 closed

[2021-06-09 15:49] akshita2903 opened #231 "Longest Increasing Subsequence"
Hey @Ayush7614  I want to add solution of longest increasing subsequence .
Language- Java.
Please assign  this to me.

[2021-06-09 15:52] Ayush7614 commented on #121
I will close this issue @sejal1430 @Aiswarika because you can add only single single question for one issue so open new issue and add single single question issue question name

[2021-06-09 15:52] #121 closed

[2021-06-09 15:53] AKSHATNEMA opened #232 "Adding solution to Codeforces problem "Letters""
This issue is part of my codeforces series of Questions and roadmap. Since a roadmap starts from beginer Questions, this is 2nd problem to this series.

Solution to this problem will be added in C++ language by me , with good explanation of logic in code. There will be necessary comments inside the solution to help understand the viewer on how the code works.

Link of the problem is:
[Letters](htt

[2021-06-09 15:54] #99 closed

[2021-06-09 15:54] #1 closed

[2021-06-09 15:54] jaya232 opened #233 "Length of Longest Substring without Repeating characters"
I would like to add the code for the Length of Longest Substring without repeating characters problem under LGM SOC'21.

Language: C++
Please assign this issue to me.

[2021-06-09 15:54] #2 closed

[2021-06-09 15:55] mitali-1703 commented on #216
Ok no problem I will add only 1 question, now can you assign me this?

[2021-06-09 15:55] AKSHATNEMA commented on #232
@Ayush7614 please assign this issue to me.

[2021-06-09 15:55] #4 closed

[2021-06-09 15:56] #5 closed

[2021-06-09 15:56] #6 closed

[2021-06-09 15:56] #11 closed

[2021-06-09 15:58] Ayush7614 commented on #232
First tell me what is the question like this is single question or you can say that you have to add Codeforces problems

[2021-06-09 15:58] mitali-1703 commented on #215
Ok no problem

[2021-06-09 15:58] surajm-333 commented on #227
Hi, I would like to code this solution in Java. Please assign this issue to me.

[2021-06-09 15:59] Amit366 commented on #225
@yashgehi can u mention the language.

[2021-06-09 15:59] AKSHATNEMA commented on #232
It is a single Question

[2021-06-09 16:00] Ayush7614 commented on #216
You can edit your issue or open other issue like add insertion sort in C++

[2021-06-09 16:00] Amit366 commented on #227
@div0510 mention the language

[2021-06-09 16:02] Amit366 commented on #229
@ArshWalker this already exists in the Algorithm folder

[2021-06-09 16:02] mitali-1703 opened #234 "Basic Mathematics questions with solutions at one place in any language"
Anyone interested can also contribute to this issue since each participant is allowed to put just 1 question with solution for 1 issue.

[2021-06-09 16:02] mitali-1703 commented on #234
@Ayush7614 Can you please assign me this under LGM-SOC'21 for C++ language??

[2021-06-09 16:05] Ayush7614 commented on #234
Mitali i will tell you na like you can opened issue with particular name of question

[2021-06-09 16:05] div0510 commented on #227
I am working on this issue using C++

[2021-06-09 16:06] mitali-1703 commented on #234
Oo extremely sorry I will close this issue. I misunderstood what you said sorry for that.

[2021-06-09 16:06] #234 closed

[2021-06-09 16:09] surajm-333 opened #235 "Write a program to solve Sudoku problem"
I will like to code the solution of the sudoku problem under the Backtracking folder in Java language.
Please assign this issue to me.

[2021-06-09 16:09] Amit366 commented on #227
@div0510 is it regarding permutations and combination in NQueen??

[2021-06-09 16:09] mitali-1703 commented on #216
@Ayush7614 now can you assign me this under LGM-SOC'21??

[2021-06-09 16:10] Ruchip16 commented on #2
Hey, @Ayush7614  I can work on this issue from tomorrow right?

[2021-06-09 16:13] mitali-1703 commented on #184
@Ayush7614 will you please assign me this issue for C++ under LGM-SOC'21??

[2021-06-09 16:16] jaya232 opened #237 "Maximum rectangular area in Histogram"
I would like to add the problem of Maximum rectangular area in Histogram under LGM SOC'21.

Language: C++
Please assign this issue to me.

[2021-06-09 16:17] aktamoli0910 commented on #191
Can I add solution to this question in C++ under LGM SOC'21? If yes, please assign me.

[2021-06-09 16:17] div0510 commented on #227
It is regarding backtracking

[2021-06-09 16:17] akshita2903 opened #238 "Next Greater Element"
@Amit366 and @Ayush7614 I want to add solution of Next Greater Element (NGE)in Java.

Question Explanation-The NGE of element P is the first element greater than P on the right side of it in array.If there is no NGE it should return -1
Input->[4, 5, 2, 25,20]
Output->[5,25,25,-1,-1]
Output Explanation- here NGE of 4 is 5 and NGE of both 5 and 2 is 25 but there is no NGE of 25(as all elements on ri

[2021-06-09 16:18] aktamoli0910 commented on #195
Can you assign me this issue?

[2021-06-09 16:21] div0510 opened #239 "Rat in Maze"
I will add this code under backtracking using C++.
It will be working on recursion and using array data structure

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-09 16:22] Amit366 commented on #227
Ok then go ahead.

[2021-06-09 16:24] Amit366 commented on #195
@aktamoli0910 mention the language

[2021-06-09 16:24] Ayush7614 commented on #216
Ya it looks good nice work Mitali go Ahead

[2021-06-09 16:28] nidhi3108 commented on #220
Hi I have knowledge of c++ and i am participating in LGM-Summer Of Code.
I am very eager to solve this problem. Please assign me this issue to me.

[2021-06-09 16:28] mitali-1703 commented on #216
@Ayush7614 Thank you

[2021-06-09 16:35] AKSHATNEMA opened #241 "Add solution of Fractional Knapsack in C++"
Fractional Knapsack is a very good question in Greedy Algorithms.I will like to add the solution of this problem in C++.
This is part of LGM-SOC contribution

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-09 16:35] AKSHATNEMA commented on #241
Please assign this issue to me

[2021-06-09 16:37] Aiswarika opened #242 "Maximum Sum Removing K Numbers From Ends"
@Ayush7614  @Amit366  I would like to work on this question as a part of the LGM SOC contest.

You are given a list of integer nums and integer k. Return the maximum sum of elements that you can remove given that you must pop exactly k times, where each pop can be from the left or the right end.
nums = [1, 3, 4, 2, 0]
k = 2
Output
4

nums = [3, 1, 1, 1, 13, -1, 0]
k = 4
Output
15

Programming Lang

[2021-06-09 16:44] nidhi3108 commented on #238
Hi I am participating in LGM-SOC.
please assign this to me in c++.

[2021-06-09 16:44] yashgehi commented on #225
c++

[2021-06-09 16:46] Amit366 commented on #241
@AKSHATNEMA u have 5 assigned issues so after completing them you will be further assigned.

[2021-06-09 16:49] Aiswarika opened #243 "Largest Sum of Non-Adjacent Numbers"
@Ayush7614  @Amit366  Please assign me this issue I would like to solve this question as a part of the LGM SOC contest.

Given a list of integers nums, write a function that returns the largest sum of non-adjacent numbers. Numbers can be 0 or negative.
Input
nums = [5, 1, 1, 5]
Output
10

I will be using CPP.

[2021-06-09 16:50] yashgehi commented on #223
Yes it is a single question leetcode problem Number 2 .I want to solve in c++

[2021-06-09 16:51] aktamoli0910 commented on #195
Using C++.

[2021-06-09 16:54] aktamoli0910 commented on #191
If C++ is not available, I can also do this in C. Please assign me.

[2021-06-09 17:00] aktamoli0910 commented on #167
I would like to add C solution for this problem under LGM-SOC-21. Thank you.

[2021-06-09 17:03] nidhi3108 commented on #231
Hi i am participating in LGM-SOC.please assign me this issue. I will solve it in c++ language.

[2021-06-09 17:04] Nikhita28 opened #244 "Solution of Space Arrays"
**Problem Statement**
Finally, progress reached the Madoka family and she decided to play with her little sister in the sensational game Space Arrays.
The rules of the game are as follows:
Initially, a sequence a1,a2,…,aN is given.
The players alternate turns.
In each turn, the current player must choose an index i and increment ai, i.e. change ai to ai+1.
Afterwards, if there is no permutation p1

[2021-06-09 17:05] Amit366 commented on #195
C++ is already assigned. Choose any other language

[2021-06-09 17:08] aktamoli0910 commented on #195
can i use c?

[2021-06-09 17:36] Amit366 commented on #195
C is also assigned

[2021-06-09 17:36] 202011065 commented on #195
Can I take this issue using java?

[2021-06-09 17:38] Amit366 commented on #195
@202011065 u have to wait since @aktamoli0910 has asked for it but he didn't mention the language

[2021-06-09 17:39] Anshika-Srivastava commented on #219
This is a single type of question from which multiple CP questions can be formed. If you want I can open a separate issue for each

[2021-06-09 17:40] Amit366 commented on #244
@Nikhita28 I am sorry this algorithm already exists in the repo. If u want u can change the language

[2021-06-09 17:42] pokwer commented on #177
@Amit366 I would like to implement this using Java

[2021-06-09 17:47] Nikhita28 commented on #244
Alright I'll write the code in java

[2021-06-09 17:49] div0510 opened #245 "Prime Factorization using Sieve"
Algorithm: We start from 2, and on each encounter of a prime number, we mark
its multiples as composite.

Explanation:
while( num ! = 1 ):
We keep on dividing it with its smallest prime factor.
The smallest prime factor is pre-calculated using a slightly modified prime sieve.
Since we start from 2 and go on, we mark the first multiple as the spf.

Preprocessing for Sieve: O(n log log n)

Time Comp

[2021-06-09 17:56] aktamoli0910 commented on #195
You can assign this to @sakshisingh12 since i don't know java.

[2021-06-09 17:59] jaya232 opened #247 "The stock span problem"
I would like to solve  The stock span problem under LGM SOC'21.

Language: C++
Please assign this issue to me.

[2021-06-09 18:02] neha030 opened #248 "Sort an array of 0s, 1s and 2s"
Given an array A[] consisting 0s, 1s and 2s. The task is to write a function that sorts the given array. The functions should put all 0s first, then all 1s and all 2s in last.

Example:

Input: {0, 1, 2, 0, 1, 2}
Output: {0, 0, 1, 1, 2, 2}

I am a LGM-SOC'21 Participant and want to provide C++ Solution.

[2021-06-09 18:04] ritik-vashist opened #249 "Next permutation of a number"
Here a user enters a number and with the help of logic next possible permutation number is given as output.

### Programming language

- [ ] C
- [x] C++
- [x] Java
- [ ] Python

[2021-06-09 18:05] Anshika-Srivastava opened #250 "Knapsack Target Sum - Leetcode"
### I want to provide my C++ code for this problem.
**Question:**
You are given an integer array nums and an integer target.

You want to build an expression out of nums by adding one of the symbols '+' and '-' before each integer in nums and then concatenate all the integers.

For example, if nums = [2, 1], you can add a '+' before 2 and a '-' before 1 and concatenate them to build the expression

[2021-06-09 18:06] ritik-vashist commented on #249
@Ayush7614  sir, I would like to add the solution for this question.
Could you please assign this task for me under LGMSOC?

[2021-06-09 18:07] PalakDua-work opened #251 "Given a number n .Find the number of occurrences of n in the array.(C LANGUAGE)"
Sample Input:  2
                        5
                      1 2 2 2 4

Sample Output: 3
Here	n	=	2	in	the	sample	input	,	5	is	size	of	array	and	occurrence	of	2	is	3	times	in	the	given	array

Language Used: C

@Ayush7614  Please assign me this task under LGM-SOC'21
I am selected as a participant

[2021-06-09 18:12] Anshika-Srivastava opened #252 "Knapsack Subset Sum - GFG"
### I want to provide my C++ code for this.
**Question:**
Given a set of non-negative integers, and a value sum, determine if there is a subset of the given set with sum equal to given sum.

**Example:**

Input: set[] = {3, 34, 4, 12, 5, 2}, sum = 9
Output: True
There is a subset (4, 5) with sum 9.

[2021-06-09 18:14] neha030 opened #253 "Diameter of a binary tree"
**Describe the bug**
The code of Diameter of a binary tree.cpp  which is in gfg folder is not working.
Its has no header files and even has syntactical errors.

I want to correct the given code so that it is in working condition.

I am a LGM-SOC'21 Participant and want to correct the bug.
Please assign me this issue.

[2021-06-09 18:17] PalakDua-work opened #254 "Move all the negative elements to one side of the array IN C LANGUAGE"
I want to provide the solution for moving all negative elements to one side. in C language
Sample Input: 5
                      -1 1 -2 3 4 -5
Sample Output: -1 -2 -5 1 3 4

@Ayush7614  Please assign me this under LGM-SOC'21

[2021-06-09 18:24] nisha331 opened #255 "Trapping rain water problem"
**Trapping water problem is a leetcode hard leveled problem .**

**would try giving a easy and beginner friendly approch**

### Programming language

- C++

[2021-06-09 18:26] nisha331 commented on #255
Hey project  admins and mentors, I have created this issue and would like to work on this as a LGMSOC participant.

[2021-06-09 18:31] harshpreet0508 opened #256 "Painting the Fence Problem"
I am a LGM-SOC participant and I want to contribute the code of **Painting the Fence** problem in C++.

Description: To find out the number of ways of painting the fence such that at most 2 adjacent posts have the same color

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-09 18:39] Ayan-thecodeking commented on #235
hey I also want to add solution of sudoku problem in c++
please assign me this issue

[2021-06-09 18:46] Ayan-thecodeking commented on #247
hey I want to add the solution for span problem in c++
could you please assign this issue to me

[2021-06-09 18:53] PriyankaHotchandani opened #257 "Maximize the sum of selected numbers from an array to make it empty"
As a participant of LGM-SOC'21, I want to provide the solution to this medium-level competitive programming problem in C++.

Maximize the sum of selected numbers from an array to make it empty.
Input : arr[ ] = {1, 2, 2, 2, 3, 4}
Output : 10

[2021-06-09 19:11] Jagannath8 commented on #257
Can I solve this problem in Java. I'm a participant of LGM-SOC'21

[2021-06-09 19:13] Jagannath8 commented on #255
Can I solve this problem in Java. I'm a participant of LGM-SOC'21

[2021-06-10 00:14] Ayush7614 commented on #255
Issue was already opened so I will close this issue

[2021-06-10 00:14] #255 closed

[2021-06-10 01:08] RiyaGupta89 opened #267 "Can I add some pattern questions to the list?"
Can I add some pattern questions to the list?

[2021-06-10 01:08] suy1968 commented on #254
I want to provide the solution for moving all negative elements to one side. in Python language.

@Ayush7614  Please assign me I am participants of LGM-SOC'21

[2021-06-10 02:26] Amit-45 opened #268 "Union of two sorted array"
@Ayush7614 @Amit366 Please assign me this issue I would like to solve this question as a part of the LGM-SOC'21 contest.

Given two sorted arrays, find their union .
Example:

Input : arr1[] = {1, 2, 4, 5}
        arr2[] = {2, 3, 5, 6}
Output : Union : {1, 2, 3, 4, 5, 6,}

I will be using CPP.

[2021-06-10 02:29] Amit-45 opened #269 "Intersection of two sorted arrays"
@Ayush7614 @Amit366 Please assign me this issue I would like to solve this question as a part of the LGM-SOC'21 contest.

Given two sorted arrays, find their intersection .
Example:

Input : arr1[] = {1, 2, 4, 5}
arr2[] = {2, 3, 5}
Output : Intersection : {2, 5}

I will be using CPP.

[2021-06-10 02:36] Amit-45 commented on #254
I want to contribute the code for moving all negative elements to one side of an array  .
Language - C++
Will try to contribute the optimized code - well commented .
Please assign me this under LGM-Summer of Code'21

[2021-06-10 02:47] apran-vs opened #270 "Find existence of loop in Dynamic routing Algorithm"
# Aim

- Using linked list, Find a loop in Dynamic routing Algorithm.

- [x] Data Structure

# Details

- In the Program,If loop is found then it return yes and if loop is not found then it return no and return root.

### Programming language

- [x] C++

- [x] LGM-SoC'21

[2021-06-10 02:48] apran-vs commented on #270
I want to work on this issue.

[2021-06-10 03:10] agamgupta2015 opened #271 "Generic Swap using Templates"
**Describe the solution you'd like**
Making an algorithm that generally swap any Integer or Character

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-10 03:11] agamgupta2015 commented on #271
I want work on this issue

[2021-06-10 03:25] suy1968 commented on #269
Problem Statement:-
Given two integer arrays nums1 and nums2, return an array of their intersection. Each element in the result must be unique and you may return the result in any order
Input: nums1 = [4,9,5], nums2 = [9,4,9,8,4]
Output: [9,4]
Explanation: [4,9] is also accepted.
I would like to solve this question as a part of the LGM-SOC'21 participant

[2021-06-10 03:28] suy1968 commented on #269
Problem statement:-
Given 2 sorted arrays, find all the elements which occur in both the arrays.
Input :
    A : [1 2 3 3 4 5 6]
    B : [3 3 5]

Output : [3 3 5]
I would like to solve this question as a part of the LGM-SOC'21 participants.

[2021-06-10 03:35] ChetasShree opened #273 "Balanced Rating Changes question on codeforces"
hi , I want to solve this question using C++...
Please assign this issue to me under LGM-SOC21.
Looking forward to contribute here...

question link: https://codeforces.com/contest/1237/problem/A

[2021-06-10 03:36] Amit366 commented on #269
@suy1968 mention the language

[2021-06-10 03:39] suy1968 commented on #269
Mentioned

[2021-06-10 03:49] arpitgoyal27 opened #274 "SUMMER HEAT QUESTION ON CODECHEF(June Challenge 2021 Division 3)"
Chefland has 2 different types of coconut, type A and type B. Type AA contains only xa milliliters of coconut water and type B contains only xb grams of coconut pulp. Chef's nutritionist has advised him to consume Xa milliliters of coconut water and Xb grams of coconut pulp every week in the summer. Find the total number of coconuts (type A + type B) that Chef should buy each week to keep himself

[2021-06-10 03:51] toth2000 commented on #174
in which directory should I push the new file? Algorithm or Data Structures?

[2021-06-10 03:53] arpitgoyal27 opened #276 "Bella ciao ( June Challenge 2021 Division 3) codechef"
Chef is planning a heist in the reserve bank of Chefland. They are planning to hijack the bank for D days and print the money. The initial rate of printing the currency is P dollars per day and they increase the production by Q dollars after every interval of d days. For example, after dd days the rate is P+Qdollars per day, and after 2d days the rate is P+2Q dollars per day, and so on. Output the

[2021-06-10 04:04] suy1968 commented on #268
Problem statement:-
Given 2 sorted arrays, find all the elements which occur in both the arrays.
Input :
arr1 = [1, 2, 4, 5, 6]
arr2 = [2, 3, 5, 7]

Output : [1,2,3,4,5,6,7]
I am using Python3
I would like to solve this question as a part of the LGM-SOC'21 participants.

[2021-06-10 04:16] AKSHATNEMA commented on #276
@arpitgoyal27 please don't submit the solutions to those questions which are part of ongoing contests. CodeChef considers it illegal and against its Code of Conduct. If you want to submit it, do it after the contest ends.

[2021-06-10 04:17] AKSHATNEMA commented on #274
@arpitgoyal27 please don't submit the solutions to those questions which are part of ongoing contests. CodeChef considers it illegal and against its Code of Conduct. If you want to submit it, do it after the contest ends.

[2021-06-10 04:19] arpitgoyal27 commented on #276
Ok sure

[2021-06-10 04:24] arpitgoyal27 opened #278 "Pattern23 (codechef)"
The chef is trying to solve some pattern problems, Chef wants your help to code it. Chef has one number K to form a new pattern. Help the chef to code this pattern problem

Input:
First-line will contain T, the number of test cases. Then the test cases follow.
Each test case contains a single line of input, one integer K.
Output:
For each test case, output as the pattern.

I will use c++.

Problem

[2021-06-10 04:28] arpitgoyal27 opened #280 "Covid Analyzer (codechef)"
As the COVID-19 Pandemic is on it's Peak in India. The total number of Covid cases are increasing day by day. The Following series shows the number of cases on a particular day.
1,2,3,5,8,13,21,34,55,89,144,….
On the 1st Day the total cases where 1, on second day total cases where 2 , on third day 3 and so on.
You have to write a program which will calculate the total number of cases on the Nth da

[2021-06-10 04:32] suy1968 commented on #278
Problem statement:-
The chef is trying to solve some pattern problems, Chef wants your help to code it. Chef has one number K to form a new pattern. Help the chef to code this pattern problem.

Input:
First-line will contain T, the number of test cases. Then the test cases follow.
Each test case contains a single line of input, one integer K.

Output:
For each test case, output as the pattern.
Sam

[2021-06-10 04:36] Debargha-arch commented on #280
@Amit366 can you assign this same problem to me in Java? LGM-SOC'21

[2021-06-10 04:41] mayankmohak commented on #269
@Ayush7614 @Amit366 Please assign me this issue I would like to solve this question as a part of the LGM-SOC'21 contest.

Given two sorted arrays, find their intersection .
Example:

Input : arr1[] = {1, 2, 4, 5}
arr2[] = {2, 3, 5}
Output : Intersection : {2, 5}

I will be providing the solution in JAVA.

[2021-06-10 04:49] Amit366 commented on #247
@Ayan-thecodeking u can choose any other language

[2021-06-10 04:49] pritmanvar opened #282 "Count triplets with sum smaller than X problem"
Question : Given an array arr[] of distinct integers of size N and a sum value X, the task is to find count of triplets with the sum smaller than the given sum value X.

Link to GFG problem : https://practice.geeksforgeeks.org/problems/count-triplets-with-sum-smaller-than-x5549/1

[2021-06-10 04:50] pritmanvar commented on #282
I want to do this
Can you please assign this to me?

[2021-06-10 04:52] Amit366 commented on #249
@ritik-vashist u can do it in one language

[2021-06-10 04:52] arpitgoyal27 commented on #278
@suy1968  create a new issue because I don't think that we can add c++ and python labels in the same issue.

[2021-06-10 04:57] Amit366 commented on #267
@RiyaGupta89 u need to specify the pattern question.

[2021-06-10 04:59] #274 closed

[2021-06-10 04:59] tech-rounak commented on #183
c++

[2021-06-10 04:59] #276 closed

[2021-06-10 05:01] Ayan-thecodeking commented on #247
I can also do in

I can also do in c language ...
Please assign me now

[2021-06-10 05:01] Amit366 commented on #282
@pritmanvar mention the language

[2021-06-10 05:04] tech-rounak commented on #11
Sorry to ask but Why the pull request not merged

[2021-06-10 05:04] pritmanvar commented on #282
@Amit366 i will solve this problem in C++

[2021-06-10 05:07] ShivanshuVishnoi commented on #280
@Amit366 can you assign me this problem to solve in c++.
LGM SOC'21

[2021-06-10 05:19] agamgupta2015 opened #286 "Adjacent Difference Algorithm"
**Describe the solution you'd like**
The adjacent_difference algo produces a new sequence in which each element is difference between adjacent elements in original sequence.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-10 05:20] agamgupta2015 commented on #286
Please assign this issue to me

[2021-06-10 05:27] agamgupta2015 opened #290 "Minimum No of Swaps Algo"
**Describe the solution you'd like**
Minimum No of Swaps using vector and algorithm

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-10 05:27] agamgupta2015 commented on #290
please assign this issue to me i want to work on it

[2021-06-10 05:29] #107 closed

[2021-06-10 05:32] pritmanvar commented on #282
I had created a PR please review that

[2021-06-10 05:37] suy1968 commented on #290
Problem Statement:-
Given an array of integers A of size N that is a permutation of [0, 1, 2, …, (N-1)]. It is allowed to swap any two elements (not necessarily consequtive).

Find the minimum number of swaps required to sort the array in ascending order.

Input Format

The only argument given is the integer array A.
Output Format

Return the minimum number of swaps.
Constraints

1 <= N <= 100000

[2021-06-10 05:47] sonalsingh25 opened #297 "Add Trapping Rain Water Program in Java"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Addition of Trapping Rain Water Problem

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
This should be added  in Data Structures folder. I would like to work on this issue using Java
Problem

[2021-06-10 05:49] HR319 opened #299 "i want to solve the issue: COUNT INVERSION"

[2021-06-10 05:50] #299 closed

[2021-06-10 05:51] dpshikha476 opened #300 "Chocolate Distribution Problem"
Problem Link - https://practice.geeksforgeeks.org/problems/chocolate-distribution-problem3825/1

I want to add the solution of this problem in C++ under LSM SOC'21.
Pls assign me this.

[2021-06-10 05:58] HR319 opened #302 "COUNT INVERSION"
I want to solve the issue: count inversion

link of this issue: https://practice.geeksforgeeks.org/problems/inversion-of-array-1587115620/1

can you please assign me this issue?

[2021-06-10 06:00] suy1968 commented on #300
Problem statement:

Given an array A of positive integers of size N, where each value represents a number of chocolates in a packet. Each packet can have a variable number of chocolates. There are M students, the task is to distribute chocolate packets such that :1. Each student gets one packet.2. The difference between the number of chocolates given to the students having a packet with maximum ch

[2021-06-10 06:00] HR319 commented on #302
i will solve this in C++.

[2021-06-10 06:01] dpshikha476 opened #304 "Multiply two linked lists"
Problem Link - https://practice.geeksforgeeks.org/problems/multiply-two-linked-lists/1

I want to add the solution of this problem in C++ under LSM SOC'21.
Please assign me this.

[2021-06-10 06:01] Hanesh-Jogani opened #305 "Addition of Pairs problem under HackerRank"
Problem Link - https://www.hackerrank.com/challenges/pairs/problem

I want to add the solution to this problem in Java under LSM SOC'21.
Please, assign me this.

[2021-06-10 06:04] dpshikha476 opened #306 "Add two numbers represented by linked lists"
Problem Link - https://practice.geeksforgeeks.org/problems/add-two-numbers-represented-by-linked-lists/1

Want to add solution of this problem in C++ under LSM SOC'21.
Pls assign me this.

[2021-06-10 06:07] HR319 commented on #302
@Ayush7614 assign me this issue please!!

[2021-06-10 06:10] RiyaGupta89 commented on #267
[
![pattern](https://user-images.githubusercontent.com/72425181/121473638-9d121f80-c9e0-11eb-8734-65506ffe2587.png)
](url)

This pattern.

[2021-06-10 06:11] Amit366 commented on #267
@RiyaGupta89 mention the language.

[2021-06-10 06:13] Sriram-bb63 commented on #249
I would like to solve this using python @Amit366

In which folder should I create the python file?

[2021-06-10 06:13] sonalsingh25 opened #309 "Add Sieve of Eratosthenes"
**Is your feature request related to a problem? Please describe.**
Add Sieve of Eratosthenes program in java language in Data Structures folder.

**Describe the solution you'd like**
Problem Statement :
Given a number n, print all primes smaller than or equal to n. It is also given that n is a small number.

Example:

Input : n =10
Output : 2 3 5 7

Input : n = 20
Output: 2 3 5 7 11 13 17 19
**Des

[2021-06-10 06:14] RiyaGupta89 commented on #267
c++

[2021-06-10 06:14] suy1968 commented on #302
Problem statement:-
Given an array A, count the number of inversions in the array.

Two elements A[i] and A[j] form an inversion if A[i] > A[j] and i < j

Example:

A : [2, 4, 1, 3, 5]
Output : 3

I am using python3

[2021-06-10 06:15] RiyaGupta89 commented on #267
![patt1](https://user-images.githubusercontent.com/72425181/121474128-42c58e80-c9e1-11eb-9970-ec5b12448a7c.png)
This pattern too.

[2021-06-10 06:15] #245 closed

[2021-06-10 06:16] rajeshkumar2024 opened #311 "https://www.hackerrank.com/challenges/encryption/problem"
## Problem Link
- https://www.hackerrank.com/challenges/encryption/problem

Want to add solution to this problem in Java under LGM SOC'21.
@Ayush7614  please assign me this.

[2021-06-10 06:16] #311 closed

[2021-06-10 06:18] rajeshkumar2024 opened #312 "Flatland Space Stations under Hackerrank"
## Problem link
 - https://www.hackerrank.com/challenges/flatland-space-stations/problem

Want to add solution to this problem in Java under LGM SOC'21..
@Ayush7614 please assign me this.

[2021-06-10 06:20] Debashish-hub opened #313 "Flatten a linked list in C++"
**Is your feature request related to a problem? Please describe.**

Given a Linked List of size N, where every node represents a sub-linked-list and contains two pointers:
 (i) a next pointer to the next node,
 (ii) a bottom pointer to a linked list where this node is head.
 Each of the sub-linked-list is in sorted order. Flatten the Link List such that all the nodes appear in a single level while

[2021-06-10 06:21] rajeshkumar2024 opened #314 "Encryption under Hackerrank"
## Problem link
- https://www.hackerrank.com/challenges/encryption/problem

##
- Want to add solution to this in Java under LGM SOC'21.

- @Ayush7614 please assign me this.

[2021-06-10 06:23] Debashish-hub opened #315 "Diameter of a tree in C++"
**Is your feature request related to a problem? Please describe.**

Given a Binary Tree, find diameter of it.
The diameter of a tree is the number of nodes on the longest path between two end nodes in the tree.

**Describe the solution you'd like**
I will solve it in C++

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-10 06:23] suy1968 commented on #314
problem link:- https://www.hackerrank.com/challenges/encryption/problem

I add the solution in python3
please assign me

[2021-06-10 06:27] pritmanvar commented on #297
i can do it in C++

[2021-06-10 06:29] #219 closed

[2021-06-10 06:31] rajeshkumar2024 opened #316 "Fibonacci Modified under Hackerrank."
## Problem link
- https://www.hackerrank.com/challenges/fibonacci-modified/problem

## Details
- Want to add solution to this in Python under LGM SOC'21.
- @Ayush7614 please assign me this.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-10 06:34] tech-rounak opened #317 "WANT TO ADD CODECHEF INTERVIEW QUESTION"
# Aim

- What is the objective of the Script

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-10 06:35] tech-rounak commented on #317
@Amit366  please assign me

[2021-06-10 06:35] harshpreet0508 opened #318 "Buy and Sell stock Problem"
I am a LGM-SOC participant and I want to contribute the code of Buy and sell stock problem in C++.

Description: You are given an integer array prices where prices[i] is the price of a given stock on the ith day, and an integer k.
Find the maximum profit you can achieve. You may complete at most k transactions.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-10 06:35] rajeshkumar2024 opened #319 "Recursive Digit Sum under Hackerrank"
## Problem Link

- https://www.hackerrank.com/challenges/recursive-digit-sum/problem

# Details

- Want to add solution to this in Python under LGM SOC'21.
- @Ayush7614 please assign me this.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-10 06:37] Drishty06 opened #321 "FIND MISSING AND REPEATING"
Problem :  Given an unsorted array Arr of size N of positive integers. One number 'A' from set {1, 2, …N} is missing and one number 'B' occurs twice in array. Find these two numbers.

Link to GFG problem : https://practice.geeksforgeeks.org/problems/find-missing-and-repeating2512/1

Language: C++

[2021-06-10 06:38] Drishty06 commented on #321
I want to add solution to this.
Can you please assign this to me?

[2021-06-10 06:38] #239 closed

[2021-06-10 06:40] sonalsingh25 opened #322 "Add Two Sum problem"
**Is your feature request related to a problem? Please describe.**
Add two sum problem in java in Data Structures Folder.

**Describe the solution you'd like**
Problem Statement :
Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same elem

[2021-06-10 06:41] Amit366 commented on #317
@tech-rounak bro u cannot ask for all the questions at a time. You need to add separate issues for each. Check out the instructions in slack

[2021-06-10 06:41] #317 closed

[2021-06-10 06:41] UG-SEP opened #323 "Good or Bad string in c++"
# Aim

- to add [Good or Bad String]() gfg problem in c++ language

# Details

- It tells whether a number is good or bad on some criteria:
If there are more than 3 consonants together or more than 5 vowels together, the String is considered to be "BAD". A String is considered "GOOD" only if it is not “BAD `?` is a wildcard character”

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] P

[2021-06-10 06:50] Drishty06 opened #326 "Maximum Sum Circular Sub Array"
Problem: Given a circular integer array nums of length n, return the maximum possible sum of a non-empty subarray of nums.
problem link: https://practice.geeksforgeeks.org/problems/max-circular-subarray-sum-1587115620/1
Language: C++

[2021-06-10 06:52] Drishty06 commented on #326
Looking forward to contribute by adding the solution to the above problem.
Can you please Assign this to me?

[2021-06-10 06:53] Simar05519 commented on #323
Please assign me this issue . I will work using C++

[2021-06-10 06:56] Simar05519 opened #329 "Boundary Traversal of Binary Tree"
I am LGM-SOC participant. I want to work on this issue  using C++. Please assign it to me

[2021-06-10 06:57] suy1968 commented on #318
Problem Description

Say we have an array, A, for which the ith element is the price of a given stock on day i.
If you were only permitted to complete at most one transaction (i.e, buy one and sell one share of the stock), design an algorithm to find the maximum profit.

Return the maximum possible profit.

Example Input
Input :

 A = [1, 2]

Example Output
Output :
 1

[2021-06-10 07:03] Drishty06 opened #332 "Longest Subarray with atmost k even elements"
1. Problem: Given an array arr of integers of size N and an integer K, the task is to find the length of the longest subarray with at most K even elements
2. Platform: Gfg
3. Problem Link: https://practice.geeksforgeeks.org/problems/longest-subarray-with-atmost-k-even-elements/0/?category[]=sliding-window&category[]=sliding-window&difficulty[]=0&page=1&sortBy=submissions&query=category[]sliding-wi

[2021-06-10 07:04] Drishty06 commented on #332
As a participant of LGM SOC, looking forward to contribute.
Mentors, Can you please this to me?

[2021-06-10 07:04] Simar05519 opened #333 "Trapping Rainwater"
I want to work on this issue. I am a LGM-SOC participant. Please assign to me. I will be using C++ to code

[2021-06-10 07:08] Drishty06 opened #334 "Length Of Longest Substring"
1. Problem link: https://practice.geeksforgeeks.org/problems/length-of-the-longest-substring3036/1/?category[]=sliding-window&category[]=sliding-window&difficulty[]=1&page=1&sortBy=submissions&query=category[]sliding-windowdifficulty[]1page1sortBysubmissionscategory[]sliding-window
2. Problem: Given a string S, find the length of the longest substring without repeating characters
3. Platform: Gfg

[2021-06-10 07:09] Drishty06 commented on #334
Mentors, can you please assign this to me?

[2021-06-10 07:10] Amit366 commented on #227
@div0510 why did u close this issue?

[2021-06-10 07:11] nisha331 opened #335 "First Missing Positive"
**Given an unsorted integer array nums, find the smallest missing positive integer.**

### Programming language

C++

As a participant of  LGMSOC I have created an issue and would like to work on it.

[2021-06-10 07:11] Amit366 commented on #334
@Drishty06 this issue is already taken up by others

[2021-06-10 07:11] div0510 commented on #227
@Amit366  Sorry it was by mistake

[2021-06-10 07:11] Drishty06 opened #336 "Merge two arrays without Any Extra Space"
1. Problem link: https://practice.geeksforgeeks.org/problems/merge-two-sorted-arrays5135/1#
2.  Problem: Given two sorted arrays arr1[] of size N and arr2[] of size M. Each array is sorted in non-decreasing order. Merge the two arrays into one sorted array in non-decreasing order without using any extra space.
3. Platform: gfg
4. Language: C++

[2021-06-10 07:12] UG-SEP commented on #323
Well I have open the issue first but if you want to do it in c++ then ok
I will do it in c language

[2021-06-10 07:12] Drishty06 commented on #336
Can You please assign this to me?

[2021-06-10 07:12] div0510 commented on #227
Can I know my commit for n-queen using c++ was passed??

[2021-06-10 07:13] Simar05519 commented on #323
Ohh sorry I was not knowing. Well it would be mentor's decision. Wait for it

[2021-06-10 07:14] Amit366 commented on #333
@Simar05519 this is already been taken up by others

[2021-06-10 07:14] #333 closed

[2021-06-10 07:16] Amit366 commented on #227
Yes it is merged

[2021-06-10 07:16] Simar05519 opened #338 "Binary Tree to BST"
I want to work in this issue. Will be implementing using C++. Please assign to me

[2021-06-10 07:17] ShivanshuVishnoi commented on #280
I created  a pull request. Please review the solution
Thank you

[2021-06-10 07:18] PalakDua-work commented on #254
please leeme know Y LGM-SOC'21 label was removed

[2021-06-10 07:20] suy1968 commented on #335
Problem statement:-
Given an unsorted integer array, find the first missing positive integer.

Example:

Given [1,2,0] return 3,

[3,4,-1,1] return 2,

I am using python3

[2021-06-10 07:24] Amit366 commented on #315
@Debashish-hub This issue already exists

[2021-06-10 07:24] #315 closed

[2021-06-10 07:25] Drishty06 opened #340 "Median Of two sorted Arrays"
1. Problem link: https://practice.geeksforgeeks.org/problems/median-of-two-sorted-arrays1618/1/?track=P100-Searching#
2. Problem: Given Given two sorted arrays of sizes N and M respectively. The task is to find the median of the two arrays when they get merged.
3. Platform: gfg
4. Language: C++

[2021-06-10 07:25] Drishty06 commented on #340
Can You please assign this to me?

[2021-06-10 07:25] muthuannamalai12 opened #341 "Binary_Tree_Symmetric_or_not"
To check whether a binary tree is symmetric or not in C++. I would love to work on this issue. Kindly assign it to me as a part of LGMSOC

[2021-06-10 07:25] Amit366 commented on #318
@suy1968 u already have 5 assigned issues. So send the PRs and after that u can be assigned

[2021-06-10 07:26] GUPTAVANSHIKA opened #342 "Quick sort algorithm in CPP"
Hey @Ayush7614
I would like to add this issue.
I am a LGM-SOC'21 Participant.

[2021-06-10 07:27] Drishty06 commented on #334
ok sir

[2021-06-10 07:27] #334 closed

[2021-06-10 07:27] muthuannamalai12 opened #343 "Implement the basic functionality of stack using Array Data structure"
I would love to Implement the basic functionality of the stack using Array Data structure in C++. I would love to work on this issue as a part of LGMSOC

[2021-06-10 07:27] Amit366 commented on #323
@Simar05519 u can work in other language

[2021-06-10 07:29] Drishty06 opened #344 "Three way partitioning"
Problem link: https://practice.geeksforgeeks.org/problems/three-way-partitioning/1#
Problem:Given an array of size n and a range [a, b]. The task is to partition the array around the range such that array is divided into three parts.
1) All elements smaller than a come first.
2) All elements in range a to b come next.
3) All elements greater than b appear in the end.
The individual elements of thr

[2021-06-10 07:29] Drishty06 commented on #344
kindly assign this to me

[2021-06-10 07:30] div0510 commented on #227
Thank you !! Had a great experience working with you.

May I know how can I add folder since I want to add code for different types of pattern

[2021-06-10 07:31] Amit366 commented on #227
@div0510 u can create a separate issue for that and then create a folder named simple programs

[2021-06-10 07:31] Drishty06 opened #345 "Sort by Set Bit"
1. Problem link:  https://practice.geeksforgeeks.org/problems/sort-by-set-bit-count1153/1#
2. Problem: Given an array of integers, sort the array (in descending order) according to count of set bits in binary representation of array elements.
3. Platform: gfg
4. Language: C++

[2021-06-10 07:32] Drishty06 commented on #345
Please assign this to me

[2021-06-10 07:32] Amit366 commented on #342
@GUPTAVANSHIKA this issue is already solved

[2021-06-10 07:32] #342 closed

[2021-06-10 07:33] mdinesh124 commented on #343
I want to implement the basic functionality of the stack in Java under LGMSOC
@Ayush7614 please assign me this.

[2021-06-10 07:33] Amit366 commented on #343
@muthuannamalai12 this issue is already taken up up others

[2021-06-10 07:33] #343 closed

[2021-06-10 07:34] suy1968 commented on #344
Please Assign me

I am using python3

[2021-06-10 07:34] Amit366 commented on #345
@Drishty06 u r already assigned with 5 issues so please send the PRs and then u will be further assigned

[2021-06-10 07:34] div0510 commented on #227
Thanks I will surely try for this

[2021-06-10 07:35] suy1968 commented on #345
Please assign me

I am using c++

[2021-06-10 07:35] Amit366 commented on #345
@suy1968 applies to u too.

[2021-06-10 07:38] HitainKakkar commented on #150
I have been trying to push my PR from last 2 days but when I push the code nothing happens.
I have tried to search on google but could not find the solution!!
kindly Help!!

[2021-06-10 07:42] HitainKakkar commented on #150
![image](https://user-images.githubusercontent.com/64975064/121485046-73abc080-c9ed-11eb-9ba8-b5eb39029257.png)

[2021-06-10 07:42] Drishty06 commented on #345
ok sir

[2021-06-10 07:44] mdinesh124 commented on #286
I want to add solution to this in Java under LGMSOC.
@Ayush7614 @Amit366 please assign me this.

[2021-06-10 07:47] pritmanvar commented on #297
@Amit366 @Ayush7614  I had added solution of this problem and created a PR.
Please review that and suggest any changes if needed and merge that.

[2021-06-10 07:47] toth2000 commented on #318
I would like to create a PR for the JAVA part.

[2021-06-10 07:48] muthuannamalai12 opened #350 "Implement Circle sort in C++"
I would love to Implement Circle sort in C++. I would love to work on this issue as a part of LGMSOC

[2021-06-10 07:48] toth2000 opened #351 "Sum of Nodes with Even-Valued Grandparent (LeetCode)"
**Is your feature request related to a problem? Please describe.**
LeetCode Question
link: https://leetcode.com/problems/sum-of-nodes-with-even-valued-grandparent/
LGM-SOC'21 Contribuition

Given a binary tree, return the sum of values of nodes with even-valued grandparent.  (A grandparent of a node is the parent of its parent, if it exists.)

If there are no nodes with an even-valued grandparent,

[2021-06-10 07:48] muthuannamalai12 opened #352 "Implement Comb sort in C++"
I would love to Implement Comb sort in C++. I would love to work on this issue as a part of LGMSOC

[2021-06-10 07:49] toth2000 commented on #351
I would like to create a PR for the JAVA part.

[2021-06-10 07:49] sambit221 commented on #345
Please assign this task to me

[2021-06-10 07:52] Debashish-hub opened #353 "Isomorphic Strings in C++"
**Is your feature request related to a problem? Please describe.**

 Given two strings 'str1' and 'str2', check if these two strings are isomorphic to each other.
 Two strings str1 and str2 are called isomorphic if there is a one to one mapping possible for  every character of str1 to every character of str2 while preserving the order.

**Describe the solution you'd like**
I will solve it in C++

[2021-06-10 07:53] Amit366 commented on #220
@nidhi3108 u choose any other language

[2021-06-10 08:10] #270 closed

[2021-06-10 08:21] apran-vs opened #357 "Intersection of Two Linked List"
# Aim

- The main objective of this program is find the merge point of two linked list.

- Ex.
- Input :
Linked List 1: 1->2->3->4->5->6->7->8->9->10->NULL
Linked LIst 2: 61->62->63->64->65->7->8->9->10->NULL
- Output: 7

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-10 08:23] jayant766 commented on #202
can you please assign it to me.

[2021-06-10 08:23] Anshika-Srivastava opened #358 "Longest Common Subsequence - Leetcode(Medium)"
### I would like to provide my C++ code for this question:
Given two strings text1 and text2, return the length of their longest common subsequence. If there is no common subsequence, return 0.

A subsequence of a string is a new string generated from the original string with some characters (can be none) deleted without changing the relative order of the remaining characters.

For example, "ace"

[2021-06-10 08:25] jayant766 commented on #198
can you please assign it to me.

[2021-06-10 08:26] jayant766 commented on #190
can you please assign it to me.

[2021-06-10 08:26] Anshika-Srivastava opened #359 "Max Area of Land - Leetcode(Medium)"
### I would like to provide my C++ code for this question:
You are given an m x n binary matrix grid. An island is a group of 1's (representing land) connected 4-directionally (horizontal or vertical.) You may assume all four edges of the grid are surrounded by water.

The area of an island is the number of cells with a value 1 in the island.

Return the maximum area of an island in grid. If there

[2021-06-10 08:26] jayant766 commented on #305
Please, assign me this.

[2021-06-10 08:26] jayant766 commented on #309
Please, assign me this.

[2021-06-10 08:30] Anant1711 opened #361 "Add Linked list in c++"
# Details

Linked list traversal by taking user input

[2021-06-10 08:34] jayant766 commented on #357
PLease assign it to me.(LGMSoC'21)

[2021-06-10 08:35] jayant766 commented on #358
Please assign it to me.

[2021-06-10 08:37] jayant766 commented on #345
Please assign me this issue under LGMSOC'21

[2021-06-10 08:38] GUPTAVANSHIKA opened #364 "Wave sort algorithm in CPP"
Hey @Ayush7614
I want to add this issue.
Please assign this issue to me ,I am a LGM-SOC'21 participant.

[2021-06-10 08:44] ritik-vashist commented on #249
@Ayush7614 @Amit366  sir,
I request you to tell me the final decision on this. As it's showing as LGM-SOC'21 label removed even cpp label removed.
Should I proceed with PR Or not?

[2021-06-10 08:55] Drishty06 commented on #326
I have generated a pull request. Kindly review it

[2021-06-10 08:57] AliHaider20 commented on #353
I would like to solve this in C and Python.

[2021-06-10 08:59] AliHaider20 commented on #322
I want to complete the above task in C and Python.

[2021-06-10 08:59] shreyansh30saxena opened #367 "Counting Comparisons in Bubble Sort"
Counting number of comaprisons and swaps that occur in bubble sort.
Program will run at different intervals of size with input examples of best, worst and average case.

[2021-06-10 09:00] shreyansh30saxena opened #368 "Counting Comparisons in Insertion Sort"
Counting number of comparisons and swaps that occur in insertion sort.
Program will run at different intervals of size with input examples of best, worst and average case.

[2021-06-10 09:00] shreyansh30saxena opened #370 "Counting Comparisons in Selection Sort"
Counting number of comparisons and swaps that occur in selection sort.
Program will run at different intervals of size with input examples of best, worst and average case.

[2021-06-10 09:02] pritmanvar opened #372 "Next Permutation"
* Problem Link : https://leetcode.com/problems/next-permutation/
* Problem : Implement next permutation, which rearranges numbers into the lexicographically next greater permutation of numbers.
If such an arrangement is not possible, it must rearrange it as the lowest possible order (i.e., sorted in ascending order).
The replacement must be in place and use only constant extra memory.
* Platform :

[2021-06-10 09:02] Drishty06 commented on #321
I have generated pr for the same. kindly review it sir

[2021-06-10 09:02] pritmanvar commented on #372
Please assign this to me

[2021-06-10 09:04] Drishty06 commented on #345
Sir I have sent pr s for my previously opened 5 issues. now can you now please assign this to me?

[2021-06-10 09:06] pritmanvar opened #374 "Implement ChainHashing"
It will work for non negative integers
Language : C++

[2021-06-10 09:06] pritmanvar commented on #374
Please assign this to me

[2021-06-10 09:12] pritmanvar opened #376 "Search in Rotated Sorted Array"
* Problem : There is an integer array nums sorted in ascending order (with distinct values).

 Prior to being passed to your function, nums is rotated at an unknown pivot index k (0 <= k < nums.length) such that the
 resulting array is [nums[k], nums[k+1], ..., nums[n-1], nums[0], nums[1], ..., nums[k-1]] (0-indexed). For example,
 [0,1,2,4,5,6,7] might be rotated at pivot index 3 and become [4,5,

[2021-06-10 09:12] Drishty06 commented on #332
I have generated PR for the same. Please review it

[2021-06-10 09:12] pritmanvar commented on #376
Please assign this to me

[2021-06-10 09:18] Drishty06 commented on #336
I have generated PR for the same, kindly review it

[2021-06-10 09:19] shreyansh30saxena opened #378 "Counting Comparisons in Binary Search"
Counting number of comparisons that occur in binary search.
Program will run at different intervals of size with input examples of best, worst and average case.

[2021-06-10 09:22] Drishty06 commented on #340
I have generated PR for the same. kindly review it sir

[2021-06-10 09:23] Amit366 commented on #198
@jayant766 mention the language

[2021-06-10 09:24] drishika2002 commented on #196
Can you please tell that why the labels of LGM-SOC'21 removed from this issue? @Ayush7614  and @Amit366

[2021-06-10 09:31] jayant766 commented on #198
Language : I am interested to work in C++, java.

please assign this issue to me under LGM-SOC 21.

[2021-06-10 09:34] Amit366 commented on #198
@jayant766 do in java

[2021-06-10 09:35] Kabirdutt opened #382 "n-Queen Backtracking Problem can be done in c++ with all the permutation possible can also be printed"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-10 09:35] siddhi-244 commented on #180
Can I try this in c++?

[2021-06-10 09:35] jayant766 commented on #198
sure

[2021-06-10 09:37] Amit366 commented on #180
@siddhi-244 try in another language

[2021-06-10 09:38] siddhi-244 commented on #171
Can I work with C++?

[2021-06-10 09:39] siddhi-244 commented on #180
Can I try in python?

[2021-06-10 09:45] siddhi-244 commented on #248
Can I try this in python?
I am a lgmsoc participant

[2021-06-10 09:46] ambivert-sam opened #383 "Adding Kth Missing Positive Number"
**Is your feature request related to a problem? Please describe.**
Want to add  Kth Missing Positive Number in C++ and Python Data structures Folder

**Describe the solution you'd like**
Problem Statement :
Given an array arr of positive integers sorted in a strictly increasing order, and an integer k.

Find the kth positive integer that is missing from this array.

Example 1:

Input: arr = [2,3,4

[2021-06-10 09:47] ishitakapoor26 opened #384 "Adding All Possible Palindromic Partition"
Program goes through every substring starting from first character, checks if it is palindrome. If yes, then add the substring to solution and recur for remaining part.

### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-10 09:47] ishitakapoor26 commented on #384
@Ayush7614 pls assign me this issue.

[2021-06-10 09:48] Debashish-hub opened #385 "Tilt a binary tree"
**Is your feature request related to a problem? Please describe.**

Given the root of a binary tree, return the sum of every tree node's tilt.
The tilt of a tree node is the absolute difference between the sum of all left subtree node values and  all right subtree node values. If a node does not have a left child, then the sum of the left subtree node  values is treated as 0. The rule is similar i

[2021-06-10 10:05] nikhil00shinde commented on #340
@Amit366  I want to implement this code in Java.

[2021-06-10 10:09] nikhil00shinde commented on #211
@Ayush7614  @Amit366  I have completed the Java part of this problem. I have also pulled the request. Please review the code.

[2021-06-10 10:10] pooja906 opened #388 "counting sundays"
# Aim

https://www.hackerrank.com/contests/projecteuler/challenges/euler019/problem
-How many Sundays fell on the first of the month between two dates(both inclusive)?

# Details

I want to solve this in the java language. Kindly assign me this.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-10 10:20] siddhi-244 opened #389 "Reverse an array"
# Aim

- to write a program to reverse an array.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

I am an lgmsoc participant

[2021-06-10 10:21] siddhi-244 commented on #389
Can I do it in c++

[2021-06-10 10:27] #139 closed

[2021-06-10 10:33] ishitakapoor26 opened #391 "Z algorithm"
This algorithm finds all occurrences of a pattern in a text in linear time. For a string str[0..n-1], Z array is of same length as string. An element Z[i] of Z array stores length of the longest substring starting from str[i] which is also a prefix of str[0..n-1].

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-10 10:33] ishitakapoor26 commented on #391
@Ayush7614 pls assign this issue to me.

[2021-06-10 10:44] elementrix05 commented on #389
Can I do it in C and C++ & Python , Please?
Can you please Assign me for same?

I am LGMSOC Participant

[2021-06-10 10:45] jaya232 opened #393 "Clone a linked list with next and random pointer gfg(hard)"
I would like to add the code for the Clone a linked list with next and random pointer problem under LGM SOC'21.

Language: C++
Please assign this issue to me.

[2021-06-10 10:46] elementrix05 commented on #361
Can you please assign me this issue ?

I am LGMSOC Participant

[2021-06-10 11:04] akash435 opened #395 "Disjoint Set (Advanced Data Structure)"
This advanced data structure disjoint set, it uses the union and find algorithm.
Using this we can solve many complicated ques of graph data structure in simple algorithm of disjoint set.
Union - Find algorithm is used frequently in ques where we talk about some grouping and relation concepts.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-10 11:10] akash435 commented on #395
@Ayush7614 , please assign this issue to me under LGMSOC. I would like to add this algo in Algorithm section.

[2021-06-10 11:11] kamleshjoshi8102 commented on #309
Please Assign me this.

[2021-06-10 11:11] kamleshjoshi8102 commented on #309
Hi I'm an LGM SOC participant and would like to work on this in C++ language. It would be great if this could be assigned to me.

[2021-06-10 11:14] ishitakapoor26 opened #397 "Rabin Karp Algorithm"
Rabin Karp algorithm matches the hash value of the pattern with the hash value of current substring of text, and if the hash values match then only it starts matching individual characters. So Rabin Karp algorithm needs to calculate hash values for following strings.
1) Pattern itself.
2) All the substrings of the text of length m.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [x] Pyth

[2021-06-10 11:15] ishitakapoor26 commented on #397
@Ayush7614 pls assign me this issue.

[2021-06-10 11:17] Yakshit310 commented on #309
I want to add a solution to this in Python under LGMSOC.

[2021-06-10 11:18] Yakshit310 commented on #286
Hi I'm an LGM SOC participant and would like to work on this in C++ language. It would be great if this could be assigned to me.

[2021-06-10 11:19] Yakshit310 commented on #180
Hi, I'm an LGM SOC participant and would like to work on this in Python language. It would be great if this could be assigned to me.

[2021-06-10 11:27] kamleshjoshi8102 commented on #248
Hi I am a LGM-SOC'21 Participant and want to provide C++ Solution.

[2021-06-10 11:30] Amit366 commented on #171
@siddhi-244 it's already assigned

[2021-06-10 11:31] TasnimAnas opened #400 "Insertion Sort using Call By Reference method"
**Problem**
write a code to sort an array using the Insertion Sort algorithm by Call By Reference method. (LGM SOC)

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-10 11:31] Amit366 commented on #286
@Yakshit310 it's already assigned . U can choose other language

[2021-06-10 11:32] siddhi-244 commented on #171
Can't I try in python?

[2021-06-10 11:32] kamleshjoshi8102 commented on #248
And I have one question since space is not limit here so Can I simply create 3 vectors for 0,1,2 and then print them .?

Or
I should do it with O(n) time complexity and O(1) Space Complexity ?

[2021-06-10 11:32] TasnimAnas commented on #400
Please assign me on this (LGM SOC)

[2021-06-10 11:32] Amit366 commented on #180
@Yakshit310 it's already assigned in python. Try other language

[2021-06-10 11:35] Amit366 commented on #361
@Anant1711 this issue is already done by other participant

[2021-06-10 11:37] TasnimAnas commented on #389
CAN DO IT IN JAVA
assign me plz

[2021-06-10 11:40] TasnimAnas commented on #238
assign this to me for solution in C

[2021-06-10 11:44] Amit366 commented on #372
@pritmanvar this is already been assigned to other

[2021-06-10 11:44] #372 closed

[2021-06-10 11:44] siddhi-244 commented on #180
Sir In which folder do I upload my file?

[2021-06-10 11:45] Amit366 commented on #382
@Kabirdutt this issue is already solved

[2021-06-10 11:45] #382 closed

[2021-06-10 11:45] jatinjain001 commented on #336
I want to take this issue , if its available

[2021-06-10 11:46] Amit366 commented on #388
@pooja906 this algo is already in the repo

[2021-06-10 11:47] #388 closed

[2021-06-10 11:47] Amit366 commented on #389
@elementrix05 do in python

[2021-06-10 11:52] Ayush7614 commented on #205
Sorry but this is diffrent for the project

[2021-06-10 11:52] #205 closed

[2021-06-10 11:57] saurabh-191 commented on #389
Can i do it in C and Python.
assign me pls.
I am LGM-SOC participant

[2021-06-10 12:00] shantamsultania opened #404 "Concatenated Words"
# Aim

Find all words that are concatenations of a list.

Input:
["tech", "lead", "techlead", "cat", "cats", "dog", "catsdog"]

Output:
['techlead', 'catsdog']

### Programming language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-06-10 12:02] anshyyy commented on #101
hey @Ayush7614 i would like to work on this issue.

[2021-06-10 12:02] shantamsultania commented on #404
if possible Please assign me on this (LGM SOC) @Amit366

[2021-06-10 12:02] siddhi-244 commented on #389
@Amit366 sir in which folder should I upload it?

[2021-06-10 12:02] kamleshjoshi8102 opened #405 "I want to add solution to Codeforces Problem"
# Aim

Want to add solution to a Codeforces Problem
https://codeforces.com/contest/977/problem/C

# Details

Efficient And beginner Friendly Solution to this problem

You are given a sequence of integers of length n and integer number k. You should print any integer number x in the range of [1;109] (i.e. 1≤x≤109) such that exactly k elements of given sequence are less than or equal to x.

Note tha

[2021-06-10 12:08] siddhi-244 commented on #180
@Amit366 sir I am done with the implementation in which folder should I upload my file?

[2021-06-10 12:13] AKSHATNEMA commented on #322
@Ayush7614 @Amit366 I want to add C++ solution of same problem. Please assign me this issue.
I have made PRs of my previous assigned issues.

[2021-06-10 12:14] kamleshjoshi8102 opened #408 "I would Love to Provide Solution to this Question"
# Aim

I would Love to Provide Solution of this Problem Under LGMSOC in C++

# Details

Pashmak decided to give Parmida a pair of flowers from the garden. There are n flowers in the garden and the i-th of them has a beauty number bi. Parmida is a very strange girl so she doesn't want to have the two most beautiful flowers necessarily. She wants to have those pairs of flowers that their beauty diff

[2021-06-10 12:15] anshyyy commented on #340
hi @Amit366 i would like to work on this issue please assign me

[2021-06-10 12:19] kamleshjoshi8102 opened #409 "I would Love To Provide Solution to this Codeforces Problem under LGMSoc"
# Aim

Want to Provide Easy and Effective Solution to this Problem  in C++
https://codeforces.com/contest/1364/problem/A

# Details

Ehab loves number theory, but for some reason he hates the number x. Given an array a, find the length of its longest subarray such that the sum of its elements isn't divisible by x, or determine that such subarray doesn't exist.

An array a is a subarray of an array

[2021-06-10 12:22] kamleshjoshi8102 opened #411 "I would Love to Provide Solution to this Interesting Codeforces Problem under LGMSoc"
# Aim

Efficient And Beginner Friendly Solution to this Problem in C++
https://codeforces.com/contest/570/problem/B

# Details

One day Misha and Andrew were playing a very simple game. First, each player chooses an integer in the range from 1 to n. Let's assume that Misha chose number m, and Andrew chose number a.

Then, by using a random generator they choose a random integer c in the range betw

[2021-06-10 12:28] siddhi-244 commented on #180
Sir I have done it in python @Amit366
![20210610_175719](https://user-images.githubusercontent.com/69195262/121524880-61de1380-ca15-11eb-8b80-5d22c0971787.jpg)

[2021-06-10 12:31] kamleshjoshi8102 opened #414 "I would Love to Add Solution to this Codeforces Problem"
# Aim

Beginner Friendly and Efficient Solution in C++

Link : https://codeforces.com/contest/454/problem/B

# Details

One day, Twilight Sparkle is interested in how to sort a sequence of integers a1, a2, ..., an in non-decreasing order. Being a young unicorn, the only operation she can perform is a unit shift. That is, she can move the last element of the sequence to its beginning:

a1, a2, ...,

[2021-06-10 12:31] siddhi-244 commented on #389
Sir @Amit366 I have implemented it where should I upload it? I mean in which folder?

[2021-06-10 12:31] AKSHATNEMA commented on #319
@Ayush7614 @Amit366 Sir, I want to add the solution of same problem in C++. Please assign me for this.

[2021-06-10 12:31] saluja717 opened #416 "Counting Sort Algorithm"
I want to add this Problem.
Please assign this Problem to me ,I am a LGM-SOC'21 participant.

[2021-06-10 12:51] Ayush7614 opened #421 "anc anac nc n"
# Aim

- What is the objective of the Script

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-10 12:54] #421 closed

[2021-06-10 12:59] rakesh419s opened #422 "Interpolation search"
# Aim

- searching an element in an array very efficiently than the binary search

# Details

- in very less number of comparisons we can get the element index

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- . Python

[2021-06-10 13:01] surajm-333 opened #423 "Rat In Maze Java"
For a 3x3 matrix, if the rat is initially at (0,0) position and it wants to reach at position (2,2) then print all the ways in which the rat can reach the endpoint of the maze. The rat can move only in horizontal or vertical directions.

For example:
Input:
Starting row: 0
Starting col: 0
Ending row: 2
Ending col: 2

Output:
HHVV
HVHV
HVVH
VHHV
VHVH
VVHH

Please assign this issue to me under LGM S

[2021-06-10 13:06] Rolly120 commented on #319
@Amit366 Sir, I want to add the solution of problem in Python under LGMSOC. Please assign me for this.

[2021-06-10 13:07] siddhi-244 commented on #180
i have created a pr @Amit366  plzz review it

[2021-06-10 13:08] girija0707 commented on #214
kindly assign this to me in c++

[2021-06-10 13:08] sonalsingh25 opened #427 "Bubble Sort in Java"
**Is your feature request related to a problem? Please describe.**
Bubble Sort is the simplest sorting algorithm that works by repeatedly swapping the adjacent elements if they are in wrong order.

**Describe the solution you'd like**
I want to add the code for bubble Sort in Data Structures Folder
**Describe alternatives you've considered**
A clear and concise description of any alternative solut

[2021-06-10 13:10] Ayan-thecodeking commented on #404
I want to add code for concatenated words in C++ language
please assign me this @amit366

[2021-06-10 13:10] sonalsingh25 opened #428 "Selection Sort in Java"
**Is your feature request related to a problem? Please describe.**
Add the code for selection sort in Java in Data Structures folder.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any

[2021-06-10 13:16] sonalsingh25 opened #429 "Palindrome Number"
**Is your feature request related to a problem? Please describe.**
Add a program to check if a number is palindrome or not.

**Describe the solution you'd like**
I want to add this program in Java

eg. 121 is a palindrome number as it is same both forwards and backwards

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've cons

[2021-06-10 13:17] sonalsingh25 opened #430 "Armstrong Number"
**Is your feature request related to a problem? Please describe.**
To write a program to check if a number is armstrong or not

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other

[2021-06-10 13:18] Ritikkumar992 commented on #430
Assign me this task

[2021-06-10 13:21] Sriram-bb63 commented on #168
I would like to solve this in python

[2021-06-10 13:22] Ritikkumar992 opened #431 "Floyd Warshall Algorithm"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-10 13:23] Ritikkumar992 commented on #431
Please assign me the above mentioned issue.

[2021-06-10 13:23] siddhi-244 commented on #427
can i do in c++

[2021-06-10 13:26] girija0707 commented on #429
can I do it in c++

[2021-06-10 13:27] richabh456 opened #432 "can i implement reverse the link list in c++?"
# Aim

- What is the objective of the Script

# Details

- What the features will your script have

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-10 13:28] siddhi-244 commented on #429
can i do it in python?

[2021-06-10 13:29] TasnimAnas commented on #430
I can do it in C and C++
Assign me, I'm LGMSOC participant

[2021-06-10 13:30] TasnimAnas commented on #429
I can do it in C and C++
Assign me, I'm LGMSOC participant

[2021-06-10 13:30] siddhi-244 commented on #414
can i do it in c++?

[2021-06-10 13:30] girija0707 commented on #414
will you please this to me

[2021-06-10 13:30] TasnimAnas commented on #427
I can do it in C and C++
Assign me, I'm LGMSOC participant

[2021-06-10 13:31] girija0707 commented on #414
will you please assign this to me

[2021-06-10 13:32] girija0707 commented on #411
will you assign this to me in c++

[2021-06-10 13:35] Amit366 commented on #340
@anshyyy mention the language??

[2021-06-10 13:35] Rolly120 commented on #323
Sir I would like to solve the issue using Python. Please assign it to me.

[2021-06-10 13:36] Amit366 commented on #389
@siddhi-244 from which website have u taken it from?

[2021-06-10 13:38] siddhi-244 commented on #389
I have taken this from love Babbar sheet and it's on gfg as well

[2021-06-10 13:40] Amit366 commented on #389
@siddhi-244 so add it to gfg folder

[2021-06-10 13:42] siddhi-244 commented on #389
Ok sir!

[2021-06-10 13:43] Amit-45 commented on #397
@Ayush7614 @Amit366 Please assign me this issue I would like to solve this question as a part of the LGM-SOC'21 contest.

I will be using CPP to solve the Rabin Karp Algorithm.

Description :Rabin Karp algorithm matches the hash value of the pattern with the hash value of current substring of text, and if the hash values match then only it starts matching individual characters. So Rabin Karp algor

[2021-06-10 13:43] TasnimAnas opened #435 "Solution to CodeForces Phoenix and Puzzle problem"
**Is your feature request related to a problem? Please describe.**
problem link- https://codeforces.com/contest/1515/problem/B

(LGM_SOC)

![image](https://user-images.githubusercontent.com/80065444/121535563-1848f500-ca24-11eb-8357-dc8c07e886f0.png)

**Describe the solution you'd like**
I'll add a solution in C++

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-10 13:44] TasnimAnas commented on #435
assign me for this

LGM_SOC Participant

[2021-06-10 13:48] simarjeet30 opened #436 "5 different types of sort"
# Aim: I would add 5 types of sort with complete documentation and examples.

- My 5 types of sort would be
- Bubble sort
- Merge sort
- Quick sort
- Insertion sort
- Selection sort

# This would give a choice to everyone to choose from 5 different types of sort to implement in their code.

### Programming language

- [x] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-10 13:51] girija0707 commented on #405
will you please assign this to me in c++

[2021-06-10 13:54] manuvarghese0603 opened #438 "Problems of Codechef DSA Learning Series"
# Aim
I want to add the code for codechef DSA Learning Series

# Details

Problem name : Coin Flip
Problem Code : CONFLIP
Problem link : https://www.codechef.com/LRNDSA01/problems/CONFLIP

Please assign me this issue
LGM-SOC Participant

### Programming language
C++
Leave it unchecked Owner will mark it :)
-->
- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-10 14:04] harshit-dugar commented on #389
Can I do in C I can do this in short code

[2021-06-10 14:05] Shaishav0507 opened #442 "Snakes and Ladders"
# Aim

Hey @Ayush7614,
I want to add Snakes and Ladders problem, so please assign me to do it
Thanks...

# Details

- Proper Code with proper Explanation.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-10 14:06] kamleshjoshi8102 commented on #405
hi @girija0707 I have asked admin to assign this issue to me you are doing it in wrong way just try to create your own issue and then ask permission from admin to add

[2021-06-10 14:06] anshyyy commented on #340
@Amit366 C++

[2021-06-10 14:10] div0510 opened #445 "Count short"
Adding a shorting technique
// Create count array of size maxElemnt+1;
// Find the count of each element in an array and store it in "Count array"
// Calculate the position of each element using "Count array"and store it in "position array". [intilize position[0-1]=0]
// Traverse the array from end and place the elemnt at value [position-1] extracted from position array
// soterd[postion[arr[i]]-1

[2021-06-10 14:10] harshit-dugar opened #446 "Hackerrank A very big sum"
I can do the hackerrank a very big sum in a single loop in 15 lines

[2021-06-10 14:10] div0510 commented on #445
I will do this using  ** C++**

[2021-06-10 14:12] harshit-dugar commented on #446
I want to contribute in this can I

[2021-06-10 14:15] #244 closed

[2021-06-10 14:15] #220 closed

[2021-06-10 14:22] #221 closed

[2021-06-10 14:29] Yakshit310 commented on #180
@Amit366 JavaScript?

[2021-06-10 14:30] Yakshit310 commented on #286
@Amit366 can I try JavaScript?

[2021-06-10 14:32] div0510 opened #448 "Dutch National Flag (DNF) Problem"
The Dutch national flag (DNF) problem is one of the most popular programming problems proposed by Edsger Dijkstra. The flag of the Netherlands consists of three colors: white, red, and blue. The task is to randomly arrange balls of white, red, and blue such that balls of the same color are placed together.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-10 14:32] div0510 commented on #448
I will do this using C++

[2021-06-10 14:34] sakshisingh12 commented on #195
Sir, can I take this using java

[2021-06-10 14:35] Amit366 commented on #305
@jayant766 mention the language

[2021-06-10 14:36] ishitakapoor26 commented on #397
hey i've already created a pr @Amit-45 so you can look for another issue.

[2021-06-10 14:38] siddhi-244 commented on #389
I have created a pr for this issue please check it sir! @Amit366

[2021-06-10 14:40] jayant766 commented on #305
Language:- C++, python.
Please, assign me this issue.

[2021-06-10 14:45] mdinesh124 commented on #404
@Amit366  Please assign me this issue under LGMSOC. I will code it in python.

[2021-06-10 14:48] TasnimAnas commented on #251
I can solve it in C++

assign me to this.
LGM_SOC

[2021-06-10 14:53] mitali-1703 commented on #400
I want to add Java solution to this problem. Please assign me this under LGM-SOC'21 @Amit366 .

[2021-06-10 14:54] girija0707 opened #453 "searching largest and smallest in array"
# Aim

To find largest and smallest element in an array

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-10 14:54] girija0707 commented on #453
please assign this to me in c++

[2021-06-10 14:56] TasnimAnas commented on #453
assign me to do this in C and Java

LGMSOC

[2021-06-10 15:06] div0510 opened #457 "Patterns"
I would like to add some patterns

I will add some using c++;

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-10 15:07] mitali-1703 commented on #176
I want to solve this problem in C language under LGM-SOC'21. Please assign me this @Ayush7614

[2021-06-10 15:07] div0510 commented on #457
I will do this using C++

[2021-06-10 15:07] Wittty-Panda opened #458 "Athlete Sort in Python"
**Is your feature request related to a problem? Please describe.**
I would like to add this script in this collection I think it will fit right in

**Describe the solution you'd like**
I will implement it in python I came across this in [HackerRank](https://www.hackerrank.com/challenges/python-sort-sort/problem)

**Additional context**
Please give me the opportunity to work on it

### Programming

[2021-06-10 15:18] UG-SEP opened #461 "Jump search in c++"
# Aim
To write a program that searches an element in a given array using jump search
# Details

- What features will your script have
It has a jump search function that searches an element in a given array and the main code
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-10 15:22] div0510 commented on #211
I will do this using Python

[2021-06-10 15:30] TasnimAnas commented on #458
I can do this in C++

Assign me plz.
LGM_SOC

[2021-06-10 15:30] apran-vs opened #464 "Count Sort Algorithm"
# Aim

- Using the Counting, Sorting the Data.

# Details

- In this Algorithm, Using Consept of frequency, sorting Data

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [x] Python

[2021-06-10 15:31] apran-vs commented on #464
As A participant of LGMSoC'21, I want to work on this Problem.

[2021-06-10 15:42] Amit366 commented on #340
@anshyyy it's already assigned

[2021-06-10 15:44] Amit366 commented on #180
@Yakshit310 no js

[2021-06-10 15:44] Amit366 commented on #286
@Yakshit310 no JS

[2021-06-10 16:13] agamgupta2015 commented on #464
I want work on this issue in java Language

[2021-06-10 16:14] agamgupta2015 commented on #461
I want to also work on this issue in java language

[2021-06-10 16:15] agamgupta2015 commented on #427
I want to work in python in this issue

[2021-06-10 16:44] saurabh-191 commented on #446
I want to contribute in this.

[2021-06-10 16:51] akash435 commented on #395
@Amit366 ,  I have created a pr for this issue please check it sir!

[2021-06-10 17:08] ishitakapoor26 commented on #397
Python3

[2021-06-10 17:26] mitali-1703 commented on #397
@Amit366 will you please assign me this issue to code in C language under LGM-SOC'21??

[2021-06-10 17:56] vijay-pro-hash commented on #422
can you assign this to me in python #422

[2021-06-10 17:57] rakesh419s commented on #422
could you assign this to me in python #422

[2021-06-10 18:31] predator-24 opened #474 "Want to add more problems to codeforces set"
I would like to add these 5 problem code to Codeforces set
Problem 1 link (Stone Game) :
https://codeforces.com/contest/1538/problem/A
Problem 2 link (Friends and Candies) :
https://codeforces.com/contest/1538/problem/B
Problem 3 link (Fillomino 2) :
https://codeforces.com/contest/1517/problem/C
Problem 4 link (Pair of Topics) :
https://codeforces.com/contest/1324/problem/D
Problem 5 link (Restori

[2021-06-10 18:42] akash435 opened #477 "Huffman Coding"
The Algorithm of huffman coding is used for assigning the variable-length codes to input characters. It is also considered as a lossless data compression algorithm.
In this algo, we are given a character array and a frequency array, and we need to find the huffman code for each character

### Programming language

- [x] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-10 18:43] akash435 commented on #477
@Ayush7614 , please assign this issue to me under LGMSOC. I would like to add this algo in Greedy Algorithm part section of Algorithm folder.

[2021-06-10 18:49] pokwer commented on #453
assign me to do this in python

[2021-06-10 18:57] Kartikey0205 opened #479 "Wants to add a Hackerrank problem named Digit frequency"
**Is your feature request related to a problem? Please describe.**
Wants to add a Hackerrank problem named Digit frequency

**Describe the solution you'd like**
I want to write a program for that in C -language

### Programming language

- [x] C
- [ ] C++
- [ ] Java
- [ ] Python

@Ayush7614 PLEASE ASSIGN ME THIS under Lgm-soc'21

[2021-06-10 19:55] rakesh419s opened #483 "Lexicographically smallest permutation of an array"
# Aim

- **This question appeared for the software developer contest on interviewbit**

# Details

- normally this can be solved in O(n^2) but we can solve in linear time complexity

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
-  Python
[code]

[2021-06-10 19:55] rakesh419s commented on #483
could you assign me this statement #483

[2021-06-10 20:00] rakesh419s commented on #436
assign me i can do it in python

[2021-06-10 20:11] rakesh419s opened #484 "Regular Expression Matching with '*' and '.'"
# Aim

- standard problem statement, which also appeared in the coding interviews at FAANG

# Details

- matching algorithm

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- .Python

[2021-06-10 20:11] rakesh419s commented on #484
**could you please assign this to me in python**

[2021-06-10 20:13] rakesh419s commented on #479
@Ayush7614 I can do this in python assign me

[2021-06-10 20:18] predator-24 opened #485 "Adding these 5 problems in Leetcode Set"
# Aim

- Adding these few Leetcode Questions Solutions to the set, All of the solutions are in cpp

# Details

- Question 1 ->  Search in 2D Matrix
   Link https://leetcode.com/problems/search-a-2d-matrix/
- Question 2 ->  Count and Say
   Link https://leetcode.com/problems/count-and-say/
- Question 3 ->  Longest Common Prefix
   Link https://leetcode.com/problems/longest-common-prefix/
- Question

[2021-06-10 20:27] shrutigrover25 commented on #436
I want to add contributor's to 5 different types of sort issue. Please assign me as a part of LGMSOC.

[2021-06-10 20:28] shrutigrover25 commented on #457
I want to add contributor's to the patterns issue. Kindly assign me as a part of LGMSOC.

[2021-06-11 03:33] TasnimAnas commented on #479
I can do this in C++, Assign me
LGM_SOC

[2021-06-11 04:20] #384 closed

[2021-06-11 04:23] ishitakapoor26 commented on #391
@Amit366 I'm creating another pr and writing its code in cpp pls review it too #495

[2021-06-11 04:31] ishitakapoor26 opened #496 "Palindromic Partition in Python 3"
### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [x] Python

[2021-06-11 04:33] #313 closed

[2021-06-11 04:37] ishitakapoor26 commented on #496
@Ayush7614 pls review my pr #497

[2021-06-11 04:44] Ayush7614 commented on #353
We will close this issue

[2021-06-11 04:44] #353 closed

[2021-06-11 04:44] Ayush7614 commented on #353
We will close this issue

[2021-06-11 04:47] #271 closed

[2021-06-11 04:57] Debashish-hub opened #502 "N-th Tribonacci Number"
**Is your feature request related to a problem? Please describe.**

N-th Tribonacci Number
The Tribonacci sequence Tn is defined as follows:  T0 = 0, T1 = 1, T2 = 1, and Tn+3 = Tn + Tn+1 + Tn+2 for n &gt;= 0. Given n, return the value of Tn.

**Describe the solution you'd like**
I will solve it in C++

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-11 05:00] agamgupta2015 opened #503 "Recursive Modular Exponentiation"
### Programming language
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-11 05:01] agamgupta2015 commented on #503
Please assign this issue to me I want to work on it

[2021-06-11 05:04] nidhi3108 commented on #457
I want to solve this issue in c.please assign me this issue

[2021-06-11 05:07] #168 closed

[2021-06-11 05:11] Debashish-hub opened #504 "Trim a BST"
**Is your feature request related to a problem? Please describe.**

Given the root of a binary search tree and the lowest and highest boundaries as low and high, trim the tree so that all its  elements lies in [low, high]. Trimming the tree should not change the relative structure of the elements that will remain in the  tree (i.e., any node's descendant should remain a descendant). It can be prov

[2021-06-11 05:14] harsh6768-svg opened #505 "1 question added in leetcode section"
# Aim

This is the most important question of stack in leetcode and was asked a lot of time in coding interviews.
Help in improving problem solving skills

# Details

leetcode problem link->
https://leetcode.com/problems/largest-rectangle-in-histogram/

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-11 05:14] Debashish-hub opened #506 "Merge sort on a doubly linked list"
# Aim

Merge Sort on a doubly linked list

# Details

Given Pointer/Reference to the head of a doubly linked list of N nodes, the task is to Sort the  given doubly linked list using Merge Sort in both non-decreasing and non-increasing order. I will do it in C++

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-11 05:19] surajm-333 commented on #423
Please assign this issue to me @Amit366 @Ayush7614

[2021-06-11 05:23] Amit366 commented on #423
@surajm-333 u can use other languages except for cpp

[2021-06-11 05:24] #352 closed

[2021-06-11 05:26] #350 closed

[2021-06-11 05:28] #341 closed

[2021-06-11 05:29] #278 closed

[2021-06-11 05:33] anshyyy commented on #483
hi @rakesh419s  i would like to work on this issue. please can you assign me ?

[2021-06-11 05:33] Nicks-tech opened #508 "Pascal's triangle in C++"
I will produce pascal's triangle in C++ like
                                  1
                        1                 1
               1                 2                 1
       1                3                 3                 1
1              4                 6                 4                 1
and so on...

[2021-06-11 05:35] Hanesh-Jogani opened #509 "Addition of Capacity To Ship Packages Within D Days problem under Leetcode"
**Is your feature request related to a problem? Please describe.**
**Problem Link**:- https://leetcode.com/problems/capacity-to-ship-packages-within-d-days/
**Problem Statement**:-
A conveyor belt has packages that must be shipped from one port to another within days.
The ith package on the conveyor belt has a weight of weights[i]. Each day, we load the ship with packages on the conveyor belt (in

[2021-06-11 05:35] anshyyy commented on #484
hi @rakesh419s  i would like to work on this issue in C++. Could you please assign it to me?

[2021-06-11 05:37] #101 closed

[2021-06-11 05:37] Nicks-tech commented on #508
Please assign this issue to me

[2021-06-11 05:39] TasnimAnas commented on #508
I can do this in Java and C

lgm_soc'21

[2021-06-11 05:42] #257 closed

[2021-06-11 05:54] #509 closed

[2021-06-11 05:55] toth2000 commented on #485
## LGM-SOC'21 Contribution

I would like to create a PR for the java part of the following questions:
- Question 1
- Question 3
- Question 5

(I have already created PR for the assigned issues but it is yet to be merged, so will those issues also count as assigned for me?)

[2021-06-11 05:59] Anant1711 opened #512 "Add selection sort in c++"
# Aim

Selection sort program in c++

# Details

It will take user input and then do sorting.

### Programming language

C++

[2021-06-11 05:59] Ayush7614 commented on #446
We will not accept this type make some good question of hackerank

[2021-06-11 05:59] #446 closed

[2021-06-11 06:01] Ayush7614 commented on #512
Already issue was opened

[2021-06-11 06:01] #512 closed

[2021-06-11 06:01] nidhi3108 opened #513 "Hollow Butterfly Pattern"
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-11 06:03] nidhi3108 commented on #513
I will do this using c++.please assign this to me.

[2021-06-11 06:04] Ayush7614 commented on #442
Not accepting this type question

[2021-06-11 06:04] #442 closed

[2021-06-11 06:04] Amit366 commented on #280
@ShivanshuVishnoi u aren't assigned then how can u send the PR

[2021-06-11 06:05] Ayush7614 commented on #436
Issues was already opened for every sort

[2021-06-11 06:05] #436 closed

[2021-06-11 06:05] Ayush7614 commented on #464
Problem was already done in repo and issue was already opened

[2021-06-11 06:05] #464 closed

[2021-06-11 06:06] Ayush7614 commented on #457
We doesnt accept this question

[2021-06-11 06:06] #457 closed

[2021-06-11 06:09] Ayush7614 commented on #438
Plss open particular question issues not full series so opened new issue

[2021-06-11 06:09] #438 closed

[2021-06-11 06:09] siddhi-244 commented on #171
Sir the python task was given to me @Amit366

[2021-06-11 06:10] Jagannath8 commented on #508
I can do this in Python
LGM-SoC'21

[2021-06-11 06:10] Yakshit310 commented on #286
@Amit366 Python ?

[2021-06-11 06:11] Amit366 commented on #171
Yes

[2021-06-11 06:11] Ayush7614 commented on #416
Already exist in repo and issue was already opened

[2021-06-11 06:11] #416 closed

[2021-06-11 06:11] Yakshit310 commented on #180
@Amit366 C ?

[2021-06-11 06:12] apran-vs commented on #502
I want to work on this issue with c++ & python Language.

[2021-06-11 06:12] Jagannath8 commented on #430
I can do it in Java
I'm LGM-SoC participant

[2021-06-11 06:12] siddhi-244 commented on #171
Ok sir I will do that today !

[2021-06-11 06:13] Jagannath8 commented on #427
I can do it in Java
I'm LGM-SoC participant

[2021-06-11 06:16] #273 closed

[2021-06-11 06:18] manuvarghese0603 opened #517 "Coin Flip Problem of Codechef"
# Aim

I want to add the code for Coin Flip problem in codechef (DSA Learning Series)

# Details

Problem name : Coin Flip
Problem Code : CONFLIP
Problem link : https://www.codechef.com/LRNDSA01/problems/CONFLIP

Please assign me this issue
LGM-SOC Participant

Programming language
C++

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-11 06:20] Ayush7614 commented on #505
You are participant of LGM soc or not

[2021-06-11 06:20] harsh6768-svg commented on #505
yes @Ayush7614

[2021-06-11 06:21] harsh6768-svg commented on #505
Can i work on this??

[2021-06-11 06:27] #175 closed

[2021-06-11 06:29] siddhi-244 commented on #389
Sir plz check my pr #449 @Amit366

[2021-06-11 06:32] saurabh-191 commented on #453
assign me pls i will do this in python and c.

[2021-06-11 06:33] #252 closed

[2021-06-11 06:36] #250 closed

[2021-06-11 06:38] Jagannath8 commented on #432
Can I implement it in Java.
I'm a participant of LGM-SOC'21

[2021-06-11 06:41] #140 closed

[2021-06-11 06:44] #326 closed

[2021-06-11 06:45] #321 closed

[2021-06-11 06:50] #332 closed

[2021-06-11 06:51] #336 closed

[2021-06-11 06:56] #242 closed

[2021-06-11 07:07] Amit366 commented on #180
@palakagarwal5230 can do it in C. Since java, python and c++ are already done. So r u comfortable in c??

[2021-06-11 07:07] agamgupta2015 commented on #397
@Amit366 May u assign me so that I may do it in Java Language

[2021-06-11 07:11] nisha331 opened #521 "Watermelon problem codeforces"
# Aim

One hot summer day Pete and his friend Billy decided to buy a watermelon. They chose the biggest and the ripest one, in their opinion. After that the watermelon was weighed, and the scales showed w kilos. They rushed home, dying of thirst, and decided to divide the berry, however they faced a hard problem.

Pete and Billy are great fans of even numbers, that's why they want to divide the wa

[2021-06-11 07:16] radhikaaojha opened #522 "Bellman Ford Algorithm"
**Is your feature request related to a problem? Please describe.**
Bellman ford algorithm in C

**Describe the solution you'd like**
Implementation using Graph

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

### Progr

[2021-06-11 07:22] shantamsultania opened #524 "improvement Bug/ proper formatting needed"
Hey,
I would like to request it as an improvement Bug the thing is that many people are contributing to the Repo and its getting confusing which program is under which category so for this I would like to suggest some proper formatting of the report example

Algoritms ->
                     Java  -> Programs in Java
                       TestCases - > If anyone wants to add TestClass of the Ques

[2021-06-11 07:30] nikhil00shinde commented on #206
@Amit366 I have completed the java part of the code

[2021-06-11 07:32] Komal-99 commented on #430
hi ,I am LGMSOC participant and would like to add armstrong number in python kindly assign it to me.

[2021-06-11 07:33] Komal-99 commented on #429
I am LGMSOC participant can i do it in python and C ?
if yes kindly assign it to me

[2021-06-11 07:44] Komal-99 commented on #267
I am LGMSOC participant can i also add some nice pattern in C and Java language like Rhombus , kite , reverse pyramid , half pyramid etc.

[2021-06-11 07:47] shantamsultania opened #530 "Find the K-th Largest Number"
# Aim

Find the k-th largest number in a sequence of unsorted numbers.

Example:

Input : [8, 7, 2, 3, 4, 1, 5, 6, 9, 0], K = 3

OutPut: 7

### Programming language

- [x] Java

[2021-06-11 07:54] hr1shu opened #531 "Update the wrong name of the repo."
**Describe the bug**
The repo name is wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Readme.md file'
2. Click on '....'
3. Scroll down to '.Contributing section, Line 15'
4. See an error

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

**Expected behavior**
I'll change the wrong name to the present name of the repo.

**Screenshots**
If applicable, add scre

[2021-06-11 07:56] manuvarghese0603 opened #532 ""Smart Phone" Problem of Codechef"
# Aim

I want to add the code for "Smart Phone" problem in codechef (DSA Learning Series)

# Details

Problem name : Smart Phone
Problem Code : ZCO14003
Problem link : https://www.codechef.com/LRNDSA01/problems/ZCO14003

Please assign me this issue
LGM-SOC Participant

Programming language
C++

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-11 08:16] shruti29s commented on #318
I can do this in java. Please assign this to me.

[2021-06-11 08:18] Kartikey0205 commented on #422
Hey @Ayush7614  would you please assign me this in C++ Language

[2021-06-11 08:20] Drishty06 commented on #344
I have generated PR for the same. Kindly review it.

[2021-06-11 08:21] Kartikey0205 commented on #423
Hey @Ayush7614 would you assign me this under Lgm-soc'21 in Python language

[2021-06-11 08:22] Kartikey0205 commented on #429
Hey @Ayush7614  please assign me this in C language under Lgmsoc'21

[2021-06-11 08:24] Kartikey0205 commented on #431
Hey @Ayush7614  please assign me this in C language

[2021-06-11 08:25] Drishty06 commented on #345
I have generated PR for the same. kindly review it

[2021-06-11 08:27] TasnimAnas commented on #521
I can solve this in Java and C.
Assign me.

LGM_SOC'21

[2021-06-11 08:28] TasnimAnas commented on #530
I can do this in C and C++
assign me.

LGMSOC'21

[2021-06-11 08:29] Kartikey0205 commented on #477
Hey @Ayush7614 please assign me this in C++ language using STL

[2021-06-11 08:41] Atif0604 opened #537 "Add Radix sort"
**Is your feature request related to a problem? Please describe.**
i want to add radix sort

**Describe the solution you'd like**
I wanna add radix sort to the algorithms/Searching and sorting folder

**Additional context**
Add any other context or screenshots about the feature request here.

### Programming language

- [ ] C
- [✔️ ] C++
- [ ] Java
- [ ] Python

[2021-06-11 08:49] Ayush7614 opened #539 "Welcome to HCSSoC(Hack Club SRM Summer of Code)"
Hello, Everyone ✨, Hope you guys are doing fine! 🙌

Thanks for showing your interest in being a part of the HCSSoC(https://github.com/Hack-Club-SRM/HCSSoC) 💥

We are super delighted to have you on board for your Contributions in Bundli-Frontend(https://github.com/Ayush7614/Daily-Coding-DS-ALGO-Practice) 🙌

Are you a budding developer looking forward to jumping into the world of Open Source, and on

[2021-06-11 08:55] siddhi-244 commented on #171
Sir please review my pr @Amit366

[2021-06-11 09:10] siddhi-244 commented on #376
Can I do this in c++?

[2021-06-11 09:15] sameer2403 opened #546 "The TwoSum Problem"
# Aim

- This is a classic algorithmic interview question.

# Details

leetcode problem link->
https://leetcode.com/problems/two-sum/

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-11 09:15] Amit366 commented on #389
@elementrix05 do in python and @harshit-dugar do in c

[2021-06-11 09:16] sameer2403 commented on #546
i would like to add this problem in leetcode section under  LGM SOC.Please assign me this task

[2021-06-11 09:20] #171 closed

[2021-06-11 09:21] siddhi-244 commented on #546
Can I do it in c++ ?

[2021-06-11 09:22] siddhi-244 commented on #530
I can do this in python ! Please assign me this! I am an lgmsoc participant

[2021-06-11 09:34] siddhi-244 opened #548 "Disjoint set application problem"
# Aim

Consider a situation with a number of persons and following tasks to be performed on them.

Add a new friendship relation, i.e., a person x becomes friend of another person y.
Find whether individual x is a friend of individual y (direct or indirect friend)

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-11 09:34] siddhi-244 commented on #548
Sir can I Implement it in c++? @Amit366

[2021-06-11 09:50] Sriram-bb63 commented on #532
I would like to solve this in python

[2021-06-11 10:04] harshit-dugar commented on #389
Ok I will make a PR today itself

[2021-06-11 10:07] muthuannamalai12 opened #549 "Implement Bucket sort in C++"
I would love to implement Bucket sort in C++. Kindly assign me this issue as a part of LGMSOC

[2021-06-11 10:08] muthuannamalai12 opened #550 "Implement Bead sort in C++"
I would love to implement Bead sort in C++. Kindly assign it to me as a part of LGMSOC.

[2021-06-11 10:09] muthuannamalai12 opened #551 "Implement Binary Insertion in C++"
I would love to implement the Binary Insertion sort in C++. Kindly assign it to me as a part of LGMSOC

[2021-06-11 10:16] aktamoli0910 commented on #194
Can I work on C++ code for this project?

[2021-06-11 11:16] apran-vs commented on #502
I want to work on this issue with c++ & python Language.

[2021-06-11 11:28] Jagannath8 commented on #546
Can I do it in Java?
I'm a LGM-SoC'21 participant.

[2021-06-11 11:30] Jagannath8 commented on #428
I can do it in Java
I'm LGM-SoC participant

[2021-06-11 11:38] girija0707 commented on #548
sir please assign this to me in python

[2021-06-11 11:39] Jagannath8 commented on #453
I can do it in Java
I'm LGM-SoC participant

[2021-06-11 11:41] Jagannath8 commented on #551
I can do it in Java
I'm LGM-SoC participant

[2021-06-11 11:43] Jagannath8 commented on #322
I can do it in Java
I'm LGM-SoC participant

[2021-06-11 12:14] RiyaGupta89 opened #558 "Kadane's Algorithm"
**Is your feature request related to a problem? Please describe.**
Maximum sum of sub array is one of the interesting problem also it is being asked by the top MNCs, I would like to add it to the list. Please assign me this issue sir.

**Describe alternatives you've considered**
Maximum sum of sub array, the most optimised way with the help of Kadane's Algorithm.

### Programming language

- [ ] C

[2021-06-11 12:27] radhikaaojha commented on #522
Please assign this to me (LGM-SOC) @Amit366

[2021-06-11 12:41] radhikaaojha opened #559 "Dijsktra Algorithm Implementation"
**Is your feature request related to a problem? Please describe.**
Dijkstra's Algorithm Implementation in C

**Describe the solution you'd like**
Implementation using array

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request her

[2021-06-11 12:41] radhikaaojha commented on #559
@Amit366 @Ayush7614 Kindly assign this to me.

[2021-06-11 12:47] radhikaaojha commented on #216
@Ayush7614 I can add the implementation of the same through C ,Kindly Assign.

[2021-06-11 13:22] anubhav201241 opened #564 "Occurrence of an integer in a Linked List"
**Is your feature request related to a problem? Please describe.**
I want to add my code to your repository using CPP

**Describe the solution you'd like**
Want to add an answer to GFG's Linked List question

**Describe alternatives you've considered**
I can modify it and can add more code

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-11 13:23] suketupiprotar commented on #429
I can do this in c++.
kindly assign me

[2021-06-11 13:28] Simar05519 commented on #329
Till which date I have to submit?

[2021-06-11 13:31] Simar05519 commented on #323
Till which date I have to submit this code?

[2021-06-11 13:40] Kashish05 commented on #502
I want to work on it with c++ language. pls, assign it to me.

[2021-06-11 14:14] rajeshkumar2024 commented on #316
@Ayush7614 I have raised a PR review regarding this issue. Please check.

[2021-06-11 14:18] suy1968 commented on #532
Problem name : Smart Phone
Problem Code : ZCO14003
Problem link : https://www.codechef.com/LRNDSA01/problems/ZCO14003

Please assign me this issue
LGM-SOC Participant

Programming language
Python3

[2021-06-11 14:35] AliHaider20 commented on #322
Hi, I'm done with the Python solution. Let me know how to add it.

[2021-06-11 14:41] Kartikey0205 commented on #559
@Amit366 @Ayush7614 please assign me this in C++ Language under Lgm-soc'21

[2021-06-11 14:41] suy1968 commented on #513
I will do using python , please assign me

[2021-06-11 14:50] Debargha-arch commented on #280
@Amit366 why is my PR closed?

[2021-06-11 14:52] Amit366 commented on #280
@Debargha-arch it is not closed

[2021-06-11 14:55] Sriram-bb63 commented on #340
I would like to solve this in python

[2021-06-11 14:58] Jagannath8 commented on #558
I can implement in Java
I'm a LGM-SoC'21 participant

[2021-06-11 14:59] Debargha-arch opened #574 "Hoop Jump"
# Aim

- You and your friend are playing a game with hoops. There are N hoops (where N is odd) in a row. You jump into hoop 1, and your friend jumps into hoop N. Then you jump into hoop 2, and after that, your friend jumps into hoop N−1, and so on.

The process ends when someone cannot make the next jump because the hoop is occupied by the other person. Find the last hoop that will be jumped into.

[2021-06-11 15:01] Debargha-arch commented on #280
Please merge my PR

[2021-06-11 15:05] PurviGoyal7 opened #575 "Sliding Window Technique"
# Aim

- To calculate maximum sum of 'k' consecutive elements in an array of size 'n' in C++.

# Details

- Above problem will be solved using O(n) time complexity.
- I am a participant in LGM-SOC'21.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-11 15:06] siddhi-244 commented on #558
Can I try in python ? I am lgmsoc participant

[2021-06-11 15:12] TasnimAnas commented on #238
@Amit366 I've send PR #451 check it

[2021-06-11 15:14] TasnimAnas commented on #389
@Amit366 Check PR #439 I've sent

[2021-06-11 15:25] agamgupta2015 commented on #367
@Amit366 please assign this issue to me I will do it C++ language

[2021-06-11 15:27] Amit366 commented on #235
@Ayan-thecodeking its solved in cpp

[2021-06-11 15:28] shreyansh30saxena commented on #367
@Amit366 this issue has already been assigned to me.
I also made PR but I made a combined PR, so that's why I raised it again so that I can have separate PRs.

[2021-06-11 15:28] #235 closed

[2021-06-11 15:30] PurviGoyal7 commented on #546
-**I can do it in C language**
-Can you please assign this to me.
-I am a LGM-SOC'21 participant.

[2021-06-11 15:31] agamgupta2015 commented on #367
Ok i will do it Java Language

[2021-06-11 15:35] #378 closed

[2021-06-11 15:36] Pratik57 commented on #524
**Hey,
I have solved this issue and rearrange all the files without deleting any of them**
@Ayush7614 please check the pull request. https://github.com/Ayush7614/Daily-Coding-DS-ALGO-Practice/pull/579#issue-668271197

![Screenshot from 2021-06-11 20-20-29](https://user-images.githubusercontent.com/39158589/121706533-582add80-caf3-11eb-834c-26c797c4886b.png)

![Screenshot from 2021-06-11 20-20-48](

[2021-06-11 15:39] arpitgoyal27 opened #581 "Hamming Distance (Leet code)"
The Hamming distance between two integers is the number of positions at which the corresponding bits are different.

Given two integers x and y, return the Hamming distance between them.

I will use c++ in this question.

**_Porblem Link_**: https://leetcode.com/problems/hamming-distance/

[2021-06-11 15:44] arpitgoyal27 commented on #581
@Amit-45  assign it to me.

[2021-06-11 15:51] Ayush7614 commented on #408
Sorry we have closed this issue first you have to work on one issue

[2021-06-11 15:51] #408 closed

[2021-06-11 15:52] #173 closed

[2021-06-11 15:52] Ayush7614 commented on #558
Issue was already opened

[2021-06-11 15:52] #558 closed

[2021-06-11 15:53] Ayush7614 commented on #477
Question was already exist in the repo

[2021-06-11 15:53] #477 closed

[2021-06-11 15:55] Ayush7614 commented on #414
First all of you complete your previous issue then we will assign you

[2021-06-11 15:57] siddhi-244 commented on #414
I have completed all issues assigned ! @Ayush7614

[2021-06-11 15:59] Shaishav0507 opened #584 "LCS for 3 strings"
# Aim

Hey @Ayush7614
I would like to add LCS 3 strings code.
Please assign me.
Thanks

# Details

It a very important from competitive point of view.

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-11 16:00] jahnvisrivastava100 opened #585 "Number of Islands"
**Aim**

An island is surrounded by water and is formed by connecting adjacent lands horizontally or vertically. You may assume all four edges of the grid are all surrounded by water.

**Details**

[code]

Problem Link :https://leetcode.com/problems/number-of-islands/
I will be using C++.
Please assign me the problem under LGM_SOC'21
### **Programming language**

- [ ] C
- [ ] C++
- [ ] Java
- [ ]

[2021-06-11 16:03] Jagannath8 commented on #575
I can implement in Java
I'm a LGM-SoC'21 participant

[2021-06-11 16:12] jahnvisrivastava100 commented on #585
@Amit-45  @Ayush7614 Kindly assign this to me.

[2021-06-11 16:21] kumarshobhit commented on #162
I would like to contribute in java language

[2021-06-11 16:23] kumarshobhit commented on #585
I would like to contribute in java languageage

[2021-06-11 16:23] kumarshobhit commented on #559
I would like to contribute in java language

[2021-06-11 16:25] kumarshobhit commented on #537
I would like to contribute in java langauge

[2021-06-11 16:27] vaishnavi1011 opened #588 "Division Problem"
**Objective of problem**
You are given two positive integers a and b. In one move you can increase a by 1 (replace a with a+1). Your task is to find the minimum number of moves you need to do in order to make a divisible by b. It is possible, that you have to make 0 moves, as a is already divisible by b.
For each test case print the answer — the minimum number of moves you need to do in order to m

[2021-06-11 16:28] kumarshobhit commented on #376
I would like to contribute in java language

[2021-06-11 16:28] kumarshobhit commented on #359
I would like to contribute in java language

[2021-06-11 16:49] #280 closed

[2021-06-11 17:00] PurviGoyal7 opened #590 "Find Minimum in Rotated Sorted Array (Leetcode Question)"
# Aim

- Given the sorted rotated array nums of unique elements, return the minimum element of this array in O(log n) time in C++ language.

# Details

- Link : https://leetcode.com/problems/find-minimum-in-rotated-sorted-array/
- I am a LGM-SOC'21 participant.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-11 18:07] Ayan-thecodeking commented on #546
I want to add this solution in **python** language
- please assign me this task

[2021-06-11 18:14] harsh6768-svg opened #593 "Count the pair with given target in O(n) approach"
# Aim

This is the most famous question of GFG count the pair with given target in O(n) time complexity .

# Details

If we go with the normal approach it would lead to O(n^2) time complexity so to avoid these we will go with O(n) approach using unordered_map .

### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-11 18:21] RHEA211 commented on #508
I can do this in C++
LGM-SoC'21

[2021-06-11 18:22] RHEA211 commented on #430
This can be done by me in C++
Kindly assign this to me

[2021-06-11 18:37] PurviGoyal7 opened #596 "Friends and Candies codeforces solution"
# Aim

- To solve Codeforces Question **Friends and Candies**'s solution.

# Details

- Written in C++ language.
- I am LGM-SOC'21 participant.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-11 18:40] singhmansi25 opened #597 "Fenced Matrix (Python)"
### **Description :**
You will be given two positive integers m and n. You have to make a list of lists (which can be visualised as a matrix) of size m*n, that is m sublists (rows), with each sublists having n integers (columns). The matrix should be such that it should have 1 on the border and 0 everywhere else.

**_Solution :_**
Using Concept of List Comprehension and Shallow copying in Python

[2021-06-11 18:51] ambalika24 commented on #530
I can solve this in c and c++. Please assign me this issue under LGMSOC 21

[2021-06-11 18:58] Myself-Rohit-Dey opened #598 "Codechef Destroy the EMP (CHAOSEMP)"
_This is an interactive problem._

A mysterious organisation has stolen an EMP chip prototype from a high-tech US facility. IGI knows the consequences of the chip falling into the wrong hands. Since it is just a prototype, they wish to destroy it completely instead of attempting to retrieve it. The best opportunity to do so is when the chip is being transferred from one base to another in a secure

[2021-06-11 19:03] Myself-Rohit-Dey commented on #598
@Amit366 can you assign this issue.

[2021-06-11 19:11] Bhuvanaa28 opened #599 "AVL TREE"
Hello Sir,
I am an LGMSOC'21 participant. I want to implement AVL Tree in c++. Please assign this issue to me.

[2021-06-11 19:13] Bhuvanaa28 commented on #599
I have one more doubt. If I can implement in other languages too should I create a separate issue for the same? Or should I submit both in the same issue?

[2021-06-11 19:33] ritik-vashist commented on #249
@Ayush7614 , @Amit366 Sir,
I request you to review my PR and give your valuable feedback.

[2021-06-11 19:47] Amit-45 opened #602 "Birthday paradox"
Problem:  program to approximate number of people for a given probability.

[2021-06-11 19:48] Amit-45 commented on #602
@Ayush7614 @Amit366 Please assign me this issue I would like to solve this question as a part of the LGM-SOC'21 contest.

Language : C++

[2021-06-11 21:02] Kartikey0205 commented on #206
Please assign @Amit366 to do this with C-language!

[2021-06-11 21:07] Kartikey0205 commented on #428
@Amit366 please assign me this!

[2021-06-11 21:07] Kartikey0205 commented on #427
@Amit366 please assign me this!

[2021-06-11 21:09] Kartikey0205 commented on #430
Assign me this task with python @Amit366

[2021-06-12 04:53] kamleshjoshi8102 commented on #408
I have Merged it sir can I Work on this Issue now ?

[2021-06-12 04:58] rajat1701 opened #604 "Friends Pairing Problem"
**Is your feature request related to a problem? Please describe.**
      Friends Pairing Problem (Using Dynamic Programming)
**Describe the solution you'd like**
      Implementation using array in language C++
      The problem is simplified version of how many ways we can divide n elements into multiple groups.

**Describe alternatives you've considered**
A clear and concise description of any a

[2021-06-12 04:58] #445 closed

[2021-06-12 04:58] Priya23Singh opened #605 "Ugly Numbers"
**Is your feature request related to a problem? Please describe.**
Ugly Numbers Problem

**Describe the solution you'd like**
Implementation of ugly numbers using python.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-06-12 04:59] Priya23Singh commented on #605
@Amit366 @Ayush7614 Kindly assign me this issue.

[2021-06-12 05:00] rajat1701 commented on #604
@Amit366 @Ayush7614
Kindly assign me this issue

[2021-06-12 05:00] kamleshjoshi8102 opened #607 "Basics Operations in a Binary Tree"
# Aim

Basic Tree  Implementation
-> Traversals (In-order , Post-order , pre-order , level-order )
-> height of a Tree
-> Count of Nodes in a Tree
-> Count of leaf Nodes in a Tree
-> Count of Nodes of Two Degree
-> Count of Nodes of One Degree

# Details

I will be adding a beginner friendly code  C++ Under LGMSOC

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-12 05:04] radhikaaojha commented on #605
@Amit366 @Ayush7614 I can implement the same using C++ under LGM-SOC'21

[2021-06-12 05:13] Ayush7614 commented on #559
We have Already in repo

[2021-06-12 05:16] Hanesh-Jogani opened #609 "Addition of Designer PDF Viewer problem under HackerRank"
**Is your feature request related to a problem? Please describe.**
**Problem Link**:- https://www.hackerrank.com/challenges/designer-pdf-viewer/problem
**Problem Description**:- When a contiguous block of text is selected in a PDF viewer, the selection is highlighted with a blue rectangle. In this PDF viewer, each word is highlighted independently. For example:
There is a list of 26 character heig

[2021-06-12 05:17] kamleshjoshi8102 commented on #241
@Ayush7614 @Amit366 Please Assign me This Issue Under LGMSOC in C++ or Java

[2021-06-12 05:17] #268 closed

[2021-06-12 05:21] Amit366 commented on #414
@siddhi-244 choose different language

[2021-06-12 05:22] siddhi-244 commented on #414
Can I try in python?

[2021-06-12 05:23] Amit366 commented on #427
@TasnimAnas do in C

[2021-06-12 05:24] Amit366 commented on #428
@Kartikey0205 mention the language

[2021-06-12 05:24] Ayush7614 commented on #599
Seperate issue

[2021-06-12 05:25] Bhuvanaa28 commented on #599
Thank you Sir

[2021-06-12 05:27] Amit366 commented on #429
@TasnimAnas do in C

[2021-06-12 05:27] Amit366 commented on #430
@sonalsingh25 u already have 5 assigned issues

[2021-06-12 05:28] Amit366 commented on #430
@Ritikkumar992 mention the language

[2021-06-12 05:28] Amit366 commented on #430
@TasnimAnas do in C

[2021-06-12 05:28] Kartikey0205 commented on #428
@Amit-45 you can assign me this in any language you want except Java as it already mention!!

[2021-06-12 05:30] Amit366 commented on #430
@Ritikkumar992 do in Cpp

[2021-06-12 05:31] Amit366 commented on #453
@TasnimAnas do in C

[2021-06-12 05:33] Amit366 commented on #428
@Kartikey0205 how can I assign u with any language. U should mention the language

[2021-06-12 05:34] Amit366 commented on #458
@Wittty-Panda mention the language

[2021-06-12 05:34] Ayush7614 commented on #588
Do in One language only for One Pr

[2021-06-12 05:34] Amit366 commented on #474
@predator-24 u can add one question in one issue

[2021-06-12 05:35] Sriram-bb63 commented on #249
Can I get assigned to this issue please. I have commented 2 days ago but I got no response. I would like to solve it using python :)

[2021-06-12 05:35] Ayush7614 commented on #584
Mention your language

[2021-06-12 05:35] Amit366 commented on #483
@anshyyy mention the language

[2021-06-12 05:35] siddhi-244 commented on #414
@Amit366 python ?

[2021-06-12 05:37] Amit366 commented on #485
@predator-24 add separately

[2021-06-12 05:37] Ayush7614 commented on #564
Already in project

[2021-06-12 05:37] #564 closed

[2021-06-12 05:37] Shaishav0507 commented on #584
In c++

[2021-06-12 05:37] Kartikey0205 commented on #428
@Amit366  assign me this in C language

[2021-06-12 05:37] radhikaaojha opened #610 "Implementation of Fenwick Tree using C"
**Is your feature request related to a problem? Please describe.**
Implementation of Fenwick Tree using C

**Describe the solution you'd like**
Using C language through array

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request h

[2021-06-12 05:38] #546 closed

[2021-06-12 05:38] radhikaaojha commented on #610
@Ayush7614 @Amit366 Kindly,Assign me this issue.

[2021-06-12 05:38] Amit366 commented on #502
@apran-vs do in python

[2021-06-12 05:39] Ayush7614 commented on #532
@manuvarghese0603 @suy1968 go ahead

[2021-06-12 05:39] Shaishav0507 commented on #584
Can I go ahead ?

[2021-06-12 05:40] Amit366 commented on #508
@TasnimAnas do in Java and @RHEA211 can u implement in C??

[2021-06-12 05:40] #448 closed

[2021-06-12 05:40] Priya23Singh opened #611 "Gold Mine"
**Is your feature request related to a problem? Please describe.**
Gold Mine Problem

**Describe the solution you'd like**
Implementation of gold mine problem and find out the maximum amount of gold that can be collected.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other con

[2021-06-12 05:41] Amit366 commented on #521
@TasnimAnas do in one language

[2021-06-12 05:42] Priya23Singh commented on #611
@Ayush7614 @Amit366 Please assign me this problem.

[2021-06-12 05:42] Amit366 commented on #524
@shantamsultania if u want u can go ahead

[2021-06-12 05:42] AnkitaKataria22 commented on #610
@Ayush7614 and @Amit366 assign me this issue

[2021-06-12 05:43] Ayush7614 commented on #530
Already Exist

[2021-06-12 05:46] AnkitaKataria22 commented on #531
@Amit366 @Ayush7614 assign me this issue

[2021-06-12 05:46] Amit366 commented on #575
@PurviGoyal7 this already exists

[2021-06-12 05:46] #575 closed

[2021-06-12 05:49] #531 closed

[2021-06-12 05:50] #485 closed

[2021-06-12 05:50] AnkitaKataria22 commented on #414
assign me this issue

[2021-06-12 05:51] Ayush7614 commented on #522
Go Ahead @radhikaaojha

[2021-06-12 05:52] AnkitaKataria22 commented on #357
pls assign me

[2021-06-12 05:53] kamleshjoshi8102 commented on #611
Please Assign me this Problem in C++ under LGMSOC

[2021-06-12 05:53] TasnimAnas commented on #429
@Amit366 check PR #613

[2021-06-12 05:53] Amit366 commented on #559
@Kartikey0205 we have Cpp code

[2021-06-12 05:54] AnkitaKataria22 commented on #222
@Ayush7614  pls assign me

[2021-06-12 05:54] Amit366 commented on #607
@kamleshjoshi8102 WE ALREADY have it

[2021-06-12 05:54] #607 closed

[2021-06-12 05:55] Amit366 commented on #610
@AnkitaKataria22 mention the language

[2021-06-12 05:56] Amit366 commented on #611
@kamleshjoshi8102 first finish other issues

[2021-06-12 05:56] siddhi-244 commented on #429
@Amit366  pr #614

[2021-06-12 05:56] AnkitaKataria22 commented on #184
kindly assign me this issue

[2021-06-12 05:57] AnkitaKataria22 commented on #147
@Ayush7614 @Amit366 pls assign me

[2021-06-12 05:59] Amit366 commented on #147
@AnkitaKataria22 mention the language

[2021-06-12 06:02] siddhi-244 commented on #530
@Amit366 plz reopen this issue !

[2021-06-12 06:03] samarth533 opened #616 "Implementation Morris Order Traversal"
**Is your feature request related to a problem? Please describe.**
The implementation of Morris Order Traversal in C

**Describe the solution you'd like**
Using Tree data structure in C

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the featur

[2021-06-12 06:03] samarth533 commented on #616
@Ayush7614 @Amit366 Kindly assign me this issue.

[2021-06-12 06:11] samarth533 commented on #391
I can implement the same using c language @Amit366 @Ayush7614

[2021-06-12 06:13] TasnimAnas commented on #430
Check PR #618

[2021-06-12 06:19] Debargha-arch commented on #177
Previous PR closed and created  a new PR for the same issue.

[2021-06-12 06:22] Komal-99 commented on #430
I am doing it in python

[2021-06-12 06:32] TasnimAnas commented on #427
Check PR #621

[2021-06-12 06:34] suy1968 commented on #513
Sir, please check I already send PR

[2021-06-12 06:36] suy1968 commented on #532
Sir, already send PR

[2021-06-12 06:36] mrunankpawar opened #622 "Kruskal's algorithm"
Kruskal's minimum spanning algorithm.

Kruskal's minimum spanning algorithm implemented in Python

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [x ] Python

[2021-06-12 06:37] geekySapien commented on #622
I can do this in C++. Please assign me this issue

[2021-06-12 06:39] geekySapien commented on #427
I can do this in C++, sir could you please assign this issue

[2021-06-12 06:41] akash435 opened #623 "Rank List ques of codeforces"
Want to add Rank List ques of codeforces in codeforces folder
Ques - Rank List ,  166_A
### Programming language

- [ ] C
- [x] C++
- [ ] Java
- [ ] Python

[2021-06-12 06:42] akash435 commented on #623
@Ayush7614 , please assign me this under LGM SOC, I want to add solution of this ques in codeforces folder.

[2021-06-12 06:43] unnati914 opened #624 "Move negative numbers in front of positive numbers using swapping in java"

[2021-06-12 06:45] ishitakapoor26 commented on #391
Hey @samarth533 I'm already doing it in c too.

[2021-06-12 06:46] Anupam-Panwar opened #625 "Add Find and Replace Pattern(Leetcode Medium)"
# Aim

- Add one [question of leetcode](https://leetcode.com/problems/find-and-replace-pattern/) to the repo

# Details

- This question is related to String manipulation
- This question also involve the use of hash map for achieving lower complexity

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-12 06:47] Anupam-Panwar commented on #625
I would add this question in C++ language

[2021-06-12 06:51] Anupam-Panwar opened #626 "Add Peak Index in a Mountain Array(Leetcode)"
# Aim

- Add [a question](https://leetcode.com/problems/peak-index-in-a-mountain-array/) of leetcode

# Details

- This question deals with finding index in an array
- The main aim of the solution is to achieve the O(log n) time complexity

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-12 06:52] Anupam-Panwar commented on #626
I would like to add this question in C++ language

[2021-06-12 06:54] hr1shu opened #627 "Implementation of Data Structures and Algorithms with Python"
**Is your feature request related to a problem? Please describe.**
Data Structures -
Arrays
Graphs
Hashtables (dictionary)
Linked Lists
Stack and Queues

Algorithms -
Dynamic Programming
Recursion
Sorting
Traversals
BFS
DFS

**Describe the solution you'd like**
I have implemented all of them in python

**Describe alternatives you've considered**
A clear and concise description of any alternative s

[2021-06-12 06:55] mrunankpawar commented on #622
I have already solved this issue using python

[2021-06-12 07:02] Kartikey0205 commented on #479
@Amit366  please mark the level in it !

[2021-06-12 07:05] siddhi-244 commented on #584
Shall I try in python ? @Amit366

[2021-06-12 07:07] Komal-99 commented on #430
In which folder I have to add the code for this?

[2021-06-12 07:09] Komal-99 opened #630 "Bubble sort in python"
# Aim

- Add bubble Sorting method using Python

# Details

- Sorting Algorithm

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-12 07:11] vineet2508 commented on #389
I am participant of LGM SOC-21
Please assign me

[2021-06-12 07:11] chandu6111 opened #631 "Beginner friendly patterns questions"
**Is your feature request related to a problem? Please describe.**
It would be good to have some beginner friendly patterns questions. Like a "*" pattern or alphabetical or numerical patterns.

**Describe the solution you'd like**
I would like to solve various patterns questions using Java.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-12 07:11] TasnimAnas commented on #430
GFG has this problem listed on their site. I've added it in gfg folder. ( https://practice.geeksforgeeks.org/problems/armstrong-numbers2727/1 )

[2021-06-12 07:12] chandu6111 commented on #631
Please assign me this issue under LGM-SOC'21

[2021-06-12 07:16] Anupam-Panwar opened #632 "Added Adjacency Matrix Graph representation"
# Aim

- To demonstrate how Graph can be presented in Adjacency Matrix form

# Details

- Program will take edges and vertices as an input from the user
- Output of the program will be Adjacency Matrix representation

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-12 07:17] Anupam-Panwar commented on #632
I would like to add this in C++ language

[2021-06-12 07:18] Anupam-Panwar opened #634 "Added Adjacency list Graph representation"
# Aim

- To demonstrate how Graph can be presented in Adjacency List form

# Details

- Program will take edges and vertices as an input from the user
- Output of the program will be Adjacency list representation

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-12 07:19] Anupam-Panwar commented on #634
I would like to add this in C++ language

[2021-06-12 07:20] Anupam-Panwar commented on #631
I would also like to add some pattern in C++ language

[2021-06-12 07:21] nisha331 commented on #521
project admin and mentors kindly  assign it to me.

[2021-06-12 07:24] Kashish05 commented on #432
I want to contribute solution for it in C++. Pls assign it to me.

[2021-06-12 07:27] harshit-dugar commented on #389
sir please check my pr #637

[2021-06-12 07:29] KishkinJ10 commented on #604
Can i also work on this issue?

[2021-06-12 07:35] Kashish05 opened #638 "Implement two stacks in an array"
It is one of the important question of stack data structure and I want to add it to this repo.

I can provide its C++ solution. Pls assign it to me.

### Programming language

- [ ] C
- [ ] C++
- [ ] Java
- [ ] Python

[2021-06-12 07:38] sakshisingh12 commented on #195
Sir I have created the pull request for Stack using array in Java.
File named StackArray.java

[2021-06-12 07:42] agamgupta2015 commented on #503
@Amit366 please review

[2021-06-12 07:49] dpshikha476 commented on #191
Please merge the pull request. @Ayush7614

[2021-06-12 07:52] Amit-45 opened #642 "swap numbers using bit manipulation"
If we use bit manipulation to swap the numbers the execution time will be much lower.

@Ayush7614 @Amit366 Please assign me this issue I would like to solve this question as a part of the LGM-SOC'21 contest.

Language : C++

[2021-06-12 07:52] ishitakapoor26 opened #643 "Z algorithm in C++"
-->
- [ ] C
- [x] C++
- [ ] Java
- [ ] Python